// Reference Mark

.reference-mark {
	display: inline-block;
	font-size: $reference-mark-font-size;
	position: relative;
	vertical-align: $reference-mark-vertical-align;
}

// Marked Text

mark,
.mark {
	@include clay-highlight-text($mark-bg, $mark-color);
}

// Kbd

.c-kbd-group {
	@include clay-css($c-kbd-group);
}

.c-kbd {
	@include clay-css($c-kbd);
}

.c-kbd-monospaced {
	@include clay-css($c-kbd-monospaced);
}

.c-kbd-inline {
	@include clay-css($c-kbd-inline);
}

// Kbd Sizes

.c-kbd-group-sm {
	@include clay-css($c-kbd-group-sm);

	.c-kbd {
		font-size: inherit;
	}
}

.c-kbd-group-lg {
	@include clay-css($c-kbd-group-lg);

	.c-kbd {
		font-size: inherit;
	}
}

.c-kbd.c-kbd-sm {
	@include clay-css($c-kbd-sm);
}

.c-kbd.c-kbd-lg {
	@include clay-css($c-kbd-lg);
}

// Kbd Light

.c-kbd-group-light {
	@include clay-css($c-kbd-group-light);
}

.c-kbd-light {
	@include clay-css($c-kbd-light);
}

// Kbd Dark

.c-kbd-group-dark {
	@include clay-css($c-kbd-group-dark);
}

.c-kbd-dark {
	@include clay-css($c-kbd-dark);
}

// Text Truncate

.text-truncate {
	display: block;
}

.text-truncate-inline {
	display: inline-flex;
	max-width: 100%;

	.text-truncate {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: bottom;
		white-space: nowrap;
		word-wrap: normal;
	}
}
