.clay-color-picker {
	position: relative;

	button.active {
		background: #f1f2f5;
	}

	label {
		color: #6b6c7e;
		font-size: 14px;
	}

	> .input-group {
		max-width: 157px;

		.input-group-text {
			padding: 0;
		}
	}

	.hex-info {
		margin-top: 20px;
	}

	.hue-selector {
		background: linear-gradient(
			270deg,
			#fc0d1b 0%,
			#fc22d6 18.23%,
			#1824fb 34.25%,
			#2bf6fd 50.28%,
			#2bfd2e 67.58%,
			#fcfd37 81.22%,
			#fc121b 100%
		);
		border-radius: 4px;
		margin: 4px;
		height: 8px;
		position: relative;

		.pointer {
			top: -50%;
			border: 2px solid #fff;
			height: 14px;
			border-radius: 50%;
			width: 14px;
			position: absolute;
		}
	}

	.gradient-info {
		display: flex;
		margin: 20px 0;
	}

	.gradient-selector {
		position: relative;
		width: 144px;
		height: 128px;

		.dark-gradient,
		.light-gradient {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.dark-gradient {
			background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
		}

		.light-gradient {
			background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
		}

		.pointer {
			border-radius: 50%;
			border: 2px solid #fff;
			height: 14px;
			position: absolute;
			width: 14px;
		}
	}

	.label-container {
		display: flex;
		justify-content: space-between;
		margin: 16px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.picker-overlay {
		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(39, 40, 51, 0.12);
		display: inline-block;
		padding: 24px;
		position: absolute;
		border-radius: 4px;
		z-index: 5000;
	}

	.rgb-info {
		margin-left: 16px;
		margin-bottom: 16px;

		.input-group-prepend .input-group-text {
			font-size: 14px;
			height: 32px;
			line-height: 25px;
			min-width: 24px;
			padding: 8px;
		}

		input {
			font-size: 14px;
			height: 32px;
			padding: 8px;
			width: 60px;
		}
	}

	.splotch {
		border-radius: 4px;
		cursor: pointer;
		padding: 0;
	}

	.splotch-grid {
		grid-gap: 16px;
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(6, 24px);
		-ms-grid-columns: 24px 16px 24px 16px 24px 16px 24px 16px 24px 16px 24px;
	}
}
