$badge-border-radius: 10em !default;
$badge-font-size: 0.75rem !default; // 12px
$badge-font-weight: 600 !default;
$badge-lexicon-icon-height: 0.8em !default;
$badge-padding-x: 0.25rem !default; // 4px
$badge-padding-y: 0.0625rem !default; // 1px

$badge-pill-border-radius: $border-radius !default;
$badge-pill-padding-x: 0.25rem !default; // 4px

// Badge Variants

$badge-primary-color: #FFF !default;
$badge-primary-bg: map-get($theme-colors, primary) !default;
$badge-primary-hover-bg: $badge-primary-bg !default;
$badge-primary-hover-color: $badge-primary-color !default;

$badge-secondary-color: $body-color !default;
$badge-secondary-bg: lighten(map-get($theme-colors, secondary), 46%) !default;
$badge-secondary-hover-bg: $badge-secondary-bg !default;
$badge-secondary-hover-color: $badge-secondary-color !default;
$badge-secondary-link-color: $badge-secondary-color !default;

$badge-success-color: #FFF !default;
$badge-success-bg: map-get($theme-colors, success) !default;
$badge-success-hover-bg: $badge-success-bg !default;
$badge-success-hover-color: $badge-success-color !default;

$badge-info-color: #FFF !default;
$badge-info-bg: map-get($theme-colors, info) !default;
$badge-info-hover-bg: $badge-info-bg !default;
$badge-info-hover-color: $badge-info-color !default;

$badge-warning-color: #FFF !default;
$badge-warning-bg: map-get($theme-colors, warning) !default;
$badge-warning-hover-bg: $badge-warning-bg !default;
$badge-warning-hover-color: $badge-warning-color !default;

$badge-danger-color: #FFF !default;
$badge-danger-bg: map-get($theme-colors, danger) !default;
$badge-danger-hover-bg: $badge-danger-bg !default;
$badge-danger-hover-color: $badge-danger-color !default;

$badge-light-color: $body-color !default;
$badge-light-bg: map-get($theme-colors, light) !default;
$badge-light-hover-bg: $badge-light-bg !default;
$badge-light-hover-color: $badge-light-color !default;
$badge-light-link-color: $badge-light-color !default;

$badge-dark-bg: map-get($theme-colors, dark) !default;
$badge-dark-hover-bg: $badge-dark-bg !default;
$badge-dark-color: #FFF !default;
$badge-dark-hover-color: $badge-dark-color !default;