$management-bar-light: (
	bg: #FFF,
	link-border-radius: $border-radius,
	link-hover-color: $body-color,
	link-hover-bg: rgba(0, 0, 0, 0.02),
	link-active-bg: rgba(0, 0, 0, 0.04)
) !default;

$management-bar-primary: (
	link-border-radius: $border-radius,
	link-hover-color: $body-color,
	link-hover-bg: rgba(0, 0, 0, 0.02),
	link-active-bg: rgba(0, 0, 0, 0.04)
) !default;