$navbar-size: (
	height: 4rem,
	height-mobile: 3rem,
	border-bottom-width: 0.0625rem,
	padding-x: 0,
	padding-y: 0,
	link-padding-x: 1rem,
	link-padding-x-mobile: 0.875rem,
	toggler-margin-x: 0.5rem,
	nav-item-dropdown-margin-top: 0
) !default;

$navbar-brand-color: $nav-link-color !default;
$navbar-brand-hover-color: $nav-link-hover-color !default;

$navbar-collapse-absolute-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.7) !default;

// Navbar Light

$navbar-light-bg: #FCFEFF !default;
$navbar-light-hover-bg: transparent !default;
$navbar-light-active-bg: transparent !default;
$navbar-light-disabled-bg: transparent !default;

$navbar-light-border-color: #E3E6E8 !default;

$navbar-light-color: map-get($theme-colors, secondary) !default;
$navbar-light-hover-color: map-get($theme-colors, secondary) !default;
$navbar-light-active-color: map-get($theme-colors, secondary) !default;
$navbar-light-disabled-color: #CACDD2 !default;

$navbar-light-brand-bg: transparent !default;
$navbar-light-brand-hover-bg: transparent !default;
$navbar-light-brand-color: $navbar-light-color !default;
$navbar-light-brand-hover-color: $navbar-light-hover-color !default;

$navbar-light-active-highlight: map-get($theme-colors, primary) !default;

$navbar-light-toggler-border-color: $navbar-light-border-color !default;

// Navbar Dark

$navbar-dark-bg: map-get($theme-colors, secondary) !default;

$navbar-dark-color: #FFF !default;
$navbar-dark-hover-color: $navbar-dark-color !default;
$navbar-dark-active-color: $navbar-dark-color !default;
$navbar-dark-disabled-color: #CACDD2 !default;

$navbar-dark-brand-color: $navbar-dark-color !default;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color !default;

$navbar-dark-active-highlight: #2B4259 !default;

$navbar-dark-toggler-border-color: #FFF !default;