$sheet-border-color: lighten(saturate(adjust-hue($secondary, 3), 6.13), 46.08) !default;

// Sheet Header

$sheet-header-color: $secondary !default;
$sheet-header-border-color: lighten(saturate(adjust-hue($secondary, -2), 5.48), 37.06) !default;
$sheet-header-padding-y: 0.46875rem !default; // 7.5px