// Sidebar Light

$sidebar-light: (
	link-color: $body-color,
	header-title-color: $body-color,
	subtitle-color: $secondary,
	caption-color: $secondary,
	actions-link-color: $secondary,
	dt-color: $secondary
) !default;