$toggle-card-bg: #FFF !default;
$toggle-card-border-color: lighten(map-get($theme-colors, secondary), 37%) !default;
$toggle-card-border-radius: 2px !default;
$toggle-card-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !default;
$toggle-card-color: map-get($theme-colors, secondary) !default;

$toggle-card-icon-bg: transparent !default;
$toggle-card-icon-border-color: map-get($theme-colors, secondary) !default;
$toggle-card-icon-font-size: 24px !default;

// Toggle Card On Styles

$toggle-card-on-border-width: 2px !default;