.label {
	display: inline-block;

	.icon-monospaced {
		@include monospace($label-monospaced-size);
	}
}

.label-lg {
	font-size: 16px;
	line-height: $label-lg-height;
	padding: 3px 18px;

	.icon-monospaced {
		margin-right: -9px;

		@include monospace($label-lg-monospaced-size);
	}
}

.label-sm {
	font-size: 9px;
	padding-bottom: 1px;
	padding-top: 1px;

	.icon-monospaced {
		@include monospace($label-sm-monospaced-size);
	}
}

// Skin

.label {
	a {
		color: $label-color;

		&:focus,
		&:hover {
			color: $label-link-hover-color;
			text-decoration: none;
		}
	}
}