*.d.ts
bower_components
build
clay-css
clayui.com
copyright.js
coverage
lib
next.clayui.com/public
next.clayui.com/static
node_modules
package-lock.json
packages/generator-clay-component/app/templates
yarn.lock