{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		}
	},
	"extends": "liferay",
	"plugins": ["notice", "no-for-of-loops", "react"],
	"rules": {
		"no-for-of-loops/no-for-of-loops": 2,
		"no-unused-vars": ["error", {"ignoreRestSiblings": true}],
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"notice/notice": [
			"error",
			{
				"template": "/**\n * © 2018 Liferay, Inc. <https://liferay.com>\n *\n * SPDX-License-Identifier: BSD-3-Clause\n */\n"
			}
		]
	}
}
