*.d.ts
*.mock.json
.git
bower_components
copyright.js
coverage
lib
/clayui.com/.cache
/clayui.com/public
/clayui.com/react-docgen
/clayui.com/static
node_modules
package-lock.json
/packages/clay-css/**/*.md
/packages/clay-css/src/js/**/*.js
/packages/clay-css/src/scss/bootstrap/**/*.scss
/packages/generator-clay-component/app/templates
yarn.lock
.next