{
	"bracketSpacing": false,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"plugins": ["@liferay/prettier-plugin"],
	"quoteProps": "consistent",
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true
}
