*.d.ts
*.mock.json
.git
bower_components
copyright.js
coverage
lib
node_modules
package-lock.json
/packages/clay-css/**/*.md
/packages/clay-css/src/js/**/*.js
/packages/clay-css/src/scss/bootstrap/**/*.scss
yarn.lock
.next