.input-group {
	.btn:hover {
		z-index: $zindex-input-group-hover;
	}

	.btn:focus,
	.form-control:focus {
		z-index: $zindex-input-group-focus;
	}

	.btn-unstyled {
		color: inherit;
	}
}

// Input Group Item

.input-group-item {
	display: flex;
	flex-grow: 1;
	margin-left: 0.5rem;
	width: 1%;

	&:first-child {
		margin-left: 0;
	}
}

.input-group-item-shrink {
	flex-grow: 0;
	width: auto;
}

// Input Group Prepend

.input-group-prepend {
	align-items: stretch;
	margin-right: -$input-border-left-width;

	+ .input-group-prepend,
	+ .input-group-append,
	+ .input-group-item:not(.input-group-append) {
		margin-left: 0;
	}

	+ .input-group-item:not(.input-group-append) .form-control {
		@include border-left-radius(0);
	}
}

.input-group > .input-group-prepend {
	&:not(:first-child) > .form-control {
		@include border-left-radius(0);
	}

	> .form-control {
		@include border-right-radius(0);
	}
}

.input-group-item:not(.input-group-prepend) + .input-group-prepend {
	.btn {
		@include border-left-radius($btn-border-radius);
	}

	.form-control,
	.input-group-text {
		@include border-left-radius($input-border-radius);
	}
}

// Input Group Append

.input-group-append {
	align-items: stretch;
	margin-left: -$input-border-right-width;
}

.input-group > .input-group-append {
	&:not(:last-child) > .form-control,
	&:last-child > .form-control:not(:last-child) {
		@include border-right-radius(0);
	}

	> .form-control {
		@include border-left-radius(0);
	}
}

// Input Group Text

.input-group-text {
	align-items: center;
	border-width: $input-border-width;
	color: $input-group-addon-color;
	display: flex;
	font-weight: $input-group-addon-font-weight;
	height: $input-height;
	justify-content: center;
	min-width: 40px;
	padding-bottom: $input-group-addon-padding-y;
	padding-left: $input-group-addon-padding-x;
	padding-right: $input-group-addon-padding-x;
	padding-top: $input-group-addon-padding-y;

	@include clay-scale-component {
		height: $input-height-mobile;
	}

	label {
		color: $input-group-addon-color;
	}

	.custom-control,
	.form-check {
		margin-bottom: 0;
	}
}

.input-group-text-secondary {
	background-color: $input-group-secondary-addon-bg;
	border-color: $input-group-secondary-addon-border-color;
	border-width: $input-group-secondary-addon-border-width;
	color: $input-group-secondary-addon-color;
	z-index: 2;

	label {
		color: $input-group-secondary-addon-color;
	}
}

// Input Group Inset

.input-group-inset {
	.form-control {
		padding-right: 3.25rem;
	}
}

.input-group-inset-start {
	.form-control {
		padding-left: 3.25em;
		padding-right: $input-padding-x;
	}

	.input-group-inset-item {
		left: ($input-height-inner - ($input-height-inner * 0.75)) / 2;
		right: auto;

		@if ($input-height-inner-mobile) {
			@include clay-scale-component {
				left: ($input-height-inner-mobile - ($input-height-inner-mobile * 0.75)) / 2;
			}
		}
	}
}

.input-group-inset-item {
	align-items: center;
	color: $input-group-inset-item-color;
	display: flex;
	height: 100%;
	right: ($input-height-inner - ($input-height-inner * 0.75)) / 2;
	position: absolute;
	z-index: 5;

	@if ($input-height-inner-mobile) {
		@include clay-scale-component {
			left: ($input-height-inner-mobile - ($input-height-inner-mobile * 0.75)) / 2;
		}
	}

	.btn {
		height: 75%;
		padding-bottom: 0;
		padding-top: 0;
		padding-left: ($btn-padding-x - 0.1875rem);
		padding-right: ($btn-padding-x - 0.1875rem);
	}
}

// Input Group Sizes

.input-group-lg {}

.input-group-sm {}