.sheet {
	background-color: $sheet-bg;
	border-color: $sheet-border-color;
	border-style: $sheet-border-style;
	border-width: $sheet-border-width;

	@include border-radius($sheet-border-radius);

	padding-bottom: $sheet-padding-y;
	padding-left:  $sheet-padding-x;
	padding-right:  $sheet-padding-x;
	padding-top: $sheet-padding-y;

	.panel-group-flush .panel-body {
		margin-bottom: 3rem;
	}
}

.sheet-title {
	color: $sheet-title-color;
	font-size: $sheet-title-font-size;
	font-weight: $sheet-title-font-weight;
	margin-bottom: $sheet-title-margin-bottom;

	@include clay-scale-component {
		font-size: $sheet-title-font-size-mobile;
		margin-bottom: $sheet-title-margin-bottom-mobile;
	}
}

.sheet-header {
	border-color: $sheet-header-border-color;
	border-style: $sheet-header-border-style;
	border-width: $sheet-header-border-width;
	color: $sheet-header-color;
	font-size: $sheet-header-font-size;
	font-weight: $sheet-header-font-weight;
	line-height: $sheet-header-line-height;
	margin-bottom: $sheet-header-margin-bottom;
	padding-bottom: $sheet-header-padding-y;
	padding-left: $sheet-header-padding-x;
	padding-right: $sheet-header-padding-x;
	padding-top: $sheet-header-padding-y;
	position: relative;
	text-transform: $sheet-header-text-transform;
	word-wrap: break-word;

	&.collapse-icon {
		padding-left: $sheet-header-collapse-icon-padding-left;
		padding-right: $sheet-header-collapse-icon-padding-right;
	}

	.collapse-icon-closed,
	.collapse-icon-open {
		bottom: $sheet-header-collapse-icon-bottom;
		left: $sheet-header-collapse-icon-left;
		right: $sheet-header-collapse-icon-right;
		top: $sheet-header-collapse-icon-top;
	}
}

a.sheet-header {
	color: $sheet-header-link-color;
	text-decoration: $sheet-header-link-text-decoration;

	@include hover {
		color: $sheet-header-link-hover-color;
		text-decoration: $sheet-header-link-hover-text-decoration;
	}
}

.sheet-tertiary-title {
	color: $sheet-tertiary-title-color;
	font-size: $sheet-tertiary-title-font-size;
	font-weight: $sheet-tertiary-title-font-weight;
	line-height: $sheet-tertiary-title-line-height;
	margin-bottom: $sheet-tertiary-title-margin-bottom;
	padding-bottom: $sheet-tertiary-title-padding-y;
	padding-left: $sheet-tertiary-title-padding-x;
	padding-right: $sheet-tertiary-title-padding-x;
	padding-top: $sheet-tertiary-title-padding-y;
	text-transform: $sheet-tertiary-title-text-transform;
	word-wrap: break-word;
}

.sheet-text {
	color: $sheet-text-color;
	font-size: $sheet-text-font-size;
	font-weight: $sheet-text-font-weight;
	margin-bottom: $sheet-text-margin-bottom;
	word-wrap: break-word;

	@include clay-scale-component {
		font-size: $sheet-text-font-size-mobile;
		margin-bottom: $sheet-text-margin-bottom-mobile;
	}
}

.sheet-section {
	margin-bottom: 3rem;
}