.widget {
	@include border-radius($widget-border-radius);

	box-shadow: 0 0 0 $widget-border-width $widget-border-color;
}

.widget-toolbar {
	align-items: center;
	background-color: $widget-toolbar-bg;
	border-color: $widget-border-color;
	border-style: solid;
	border-width: $widget-toolbar-border-width;

	@include border-top-radius($widget-border-radius);

	display: flex;
	padding-bottom: $widget-toolbar-padding-y;
	padding-left: $widget-toolbar-padding-x;
	padding-right: $widget-toolbar-padding-x;
	padding-top: $widget-toolbar-padding-y;
}

.widget-header {
	@include clearfix;

	padding-bottom: $widget-header-padding-y;
	padding-left: $widget-header-padding-x;
	padding-right: $widget-header-padding-x;
	padding-top: $widget-header-padding-y;
}

.widget-header-title {
	color: $widget-header-title-color;
	display: inline-block;
	font-size: $widget-header-title-font-size;
	margin-bottom: $widget-header-title-margin-bottom;
	margin-bottom: 0;
	margin-top: $widget-header-title-margin-top;
	max-width: 100%;
	text-transform: $widget-header-title-text-transform;
}

.widget-controls {
	float: right;
	margin-left: $widget-controls-margin-left;
}

.widget-body {
	@include clearfix;

	padding-bottom: $widget-body-padding-bottom;
	padding-left: $widget-body-padding-left;
	padding-right: $widget-body-padding-right;
	padding-top: $widget-body-padding-top;
}

// Widget Article

.widget-article {
	margin-bottom: $widget-article-margin-bottom;
}

.widget-article-title {
	color: $widget-article-title-color;
	display: inline-block;
	font-size: $widget-article-title-font-size;
	margin-bottom: $widget-article-title-margin-bottom;
	margin-bottom: 0;
	margin-top: $widget-article-title-margin-top;
	max-width: 100%;
}

.widget-article-subtitle {
	color: $widget-article-subtitle-color;
	display: block;
	font-size: $widget-article-subtitle-font-size;
	margin-top: $widget-article-subtitle-margin-top;
	word-wrap: break-word;
}

.widget-article-header {
	@include clearfix;

	margin-bottom: $widget-article-margin-bottom;
}

.widget-article-body {
	@include clearfix;

	margin-bottom: $widget-article-body-margin-bottom;
}

.widget-article-footer {
	@include clearfix;
}