/**
* Clay 2.0.0-alpha.7
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
@mixin component-btn-link {
	border-width: 0;
	cursor: pointer;
	font-size: inherit;
	font-weight: inherit;
	max-width: 100%;
	padding: 0;
	text-align: left;
}