@if (variable-exists(atlas-theme)) {
	.alert {
		border-width: $alert-border-width;
		font-size: $alert-font-size;

		.close {
			color: $alert-close-color;
			opacity: 1;
			top: -1px;
		}

		.lead {
			font-size: $alert-lead-font-size;
			font-weight: $alert-lead-font-weight;
			margin-bottom: 0;
			margin-right: 16px;
		}
	}

	.alert-link {
		text-decoration: underline;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	// Alert Skins

	.alert-danger {
		color: $alert-danger-text;

		.alert-link,
		.close,
		.lead {
			color: $alert-danger-text-bold;
		}
	}

	.alert-info {
		color: $alert-info-text;

		.alert-link,
		.close,
		.lead {
			color: $alert-info-text-bold;
		}
	}

	.alert-success {
		color: $alert-success-text;

		.alert-link,
		.close,
		.lead {
			color: $alert-success-text-bold;
		}
	}

	.alert-warning {
		color: $alert-warning-text;

		.alert-link,
		.close,
		.lead {
			color: $alert-warning-text-bold;
		}
	}
}

// Alert Notifications

.alert-notification {
	width: 100%;

	@include media-breakpoint-up(md) {
		max-width: $alert-notification-max-width;
	}
}