.breadcrumb-item {
	font-size: $breadcrumb-font-size;
	font-weight: $breadcrumb-font-weight;
	max-width: 300px;

	@include text-truncate;

	text-transform: $breadcrumb-text-transform;

	@include scale-component {
		max-width: 150px;
	}

	&.active {
		font-weight: $breadcrumb-active-font-weight;
	}

	> a {
		color: $breadcrumb-link-color;
		text-decoration: $breadcrumb-link-text-decoration;

		&:focus,
		&:hover {
			color: $breadcrumb-link-hover-color;
			text-decoration: $breadcrumb-link-hover-text-decoration;
		}

		> .text-truncate {
			display: inline-block;
			max-width: calc(300px - 20px);

			@include text-truncate;

			vertical-align: bottom;

			@include scale-component {
				max-width: calc(150px - 20px);
			}
		}
	}

	&.dropdown {
		overflow: visible;
	}

	.dropdown-toggle {
		text-decoration: none;
	}

	+ .breadcrumb-item:before {
		content: $breadcrumb-divider;
		float: left;
		font-family: $breadcrumb-divider-font-family;
		font-weight: $breadcrumb-divider-font-weight;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}
}

.breadcrumb {
	border-radius: $breadcrumb-border-radius;
}

.breadcrumb-horizontal {
	.breadcrumb-item {
		margin-right: 0.5em;
		position: relative;

		+ .breadcrumb-item {
			padding-left: 1em;
		}

		+ .breadcrumb-item:before {
			background-image: $breadcrumb-divider-svg-icon;
			background-repeat: no-repeat;
			background-size: 100%;
			content: '';
			display: block;
			float: left;
			height: $breadcrumb-divider-svg-icon-height;
			left: 0;
			margin-top: -$breadcrumb-divider-svg-icon-height / 2;
			padding: 0;
			position: absolute;
			top: 50%;
			width: $breadcrumb-divider-svg-icon-width;
		}
	}
}

.breadcrumb-vertical {
	.breadcrumb-item {
		display: block;
		float: none;
		max-width: none;
	}

	.breadcrumb-item:before,
	.breadcrumb-item + .breadcrumb-item:before {
		color: $breadcrumb-divider-color;
		content: $breadcrumb-vertical-divider;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}