.btn {
	border-width: $input-btn-border-width;

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		opacity: $btn-disabled-opacity;
	}

	@if (variable-exists(atlas-theme)) {
		@include button-size($input-btn-padding-y, $input-btn-padding-x, $input-btn-font-size, $input-btn-line-height, $btn-border-radius);

		@include media-breakpoint-up(md) {
			@include button-size($input-btn-padding-y-desktop, $input-btn-padding-x-desktop, $input-btn-font-size-desktop, $input-btn-line-height, $btn-border-radius);
		}
	}
}

.btn-primary {
	&:hover {
		background-color: $btn-primary-hover-bg;
		border-color: $btn-primary-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-primary-hover-bg;
		border-color: $btn-primary-hover-border;
		box-shadow: $btn-primary-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-primary-active-bg;
		border-color: $btn-primary-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-primary-bg;
		border-color: $btn-primary-border-color;
		color: $btn-primary-color;
	}
}

.btn-secondary {
	&:hover {
		background-color: $btn-secondary-hover-bg;
		border-color: $btn-secondary-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-secondary-hover-bg;
		border-color: $btn-secondary-hover-border;
		box-shadow: $btn-secondary-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-secondary-active-bg;
		border-color: $btn-secondary-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-secondary-bg;
		border-color: $btn-secondary-border-color;
		color: $btn-secondary-color;
	}
}

.btn-success {
	&:hover {
		background-color: $btn-success-hover-bg;
		border-color: $btn-success-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-success-hover-bg;
		border-color: $btn-success-hover-border;
		box-shadow: $btn-success-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-success-active-bg;
		border-color: $btn-success-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-success-bg;
		border-color: $btn-success-border-color;
		color: $btn-success-color;
	}
}

.btn-info {
	&:hover {
		background-color: $btn-info-hover-bg;
		border-color: $btn-info-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-info-hover-bg;
		border-color: $btn-info-hover-border;
		box-shadow: $btn-info-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-info-active-bg;
		border-color: $btn-info-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-info-bg;
		border-color: $btn-info-border-color;
		color: $btn-info-color;
	}
}

.btn-warning {
	&:hover {
		background-color: $btn-warning-hover-bg;
		border-color: $btn-warning-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-warning-hover-bg;
		border-color: $btn-warning-hover-border;
		box-shadow: $btn-warning-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-warning-active-bg;
		border-color: $btn-warning-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-warning-bg;
		border-color: $btn-warning-border-color;
		color: $btn-warning-color;
	}
}

.btn-danger {
	&:hover {
		background-color: $btn-danger-hover-bg;
		border-color: $btn-danger-hover-border;
	}

	&:focus,
	&.focus {
		background-color: $btn-danger-hover-bg;
		border-color: $btn-danger-hover-border;
		box-shadow: $btn-danger-focus-box-shadow;
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		background-color: $btn-danger-active-bg;
		border-color: $btn-danger-active-border;
	}

	&:disabled,
	&.disabled {
		background-color: $btn-danger-bg;
		border-color: $btn-danger-border-color;
		color: $btn-danger-color;
	}
}

@if (variable-exists(atlas-theme)) {
	.btn-lg {
		@include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $input-btn-font-size-lg, $input-btn-line-height, $btn-border-radius-lg);

		@include media-breakpoint-up(md) {
			@include button-size($input-btn-padding-y-lg-desktop, $input-btn-padding-x-lg-desktop, $input-btn-font-size-lg-desktop, $input-btn-line-height, $btn-border-radius-lg);
		}
	}

	.btn-sm {
		@include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $input-btn-font-size-sm, $input-btn-line-height, $btn-border-radius-sm);

		@include media-breakpoint-up(md) {
			@include button-size($input-btn-padding-y-sm-desktop, $input-btn-padding-x-sm-desktop, $input-btn-font-size-sm-desktop, $input-btn-line-height, $btn-border-radius-sm);
		}
	}
}

// Action Buttons

.btn-action,
.btn-action-secondary {
	z-index: $zindex-btn-action;
}

.btn-action,
.btn-action-secondary .btn {
	height: $btn-action-size;
	padding: 0;
	position: relative;
	width: $btn-action-size;

	@if (variable-exists(btn-action-size-desktop)) {
		@include media-breakpoint-up(md) {
			height: $btn-action-size-desktop;
			width: $btn-action-size-desktop;
		}
	}
}

.btn-action .lexicon-icon {
	display: block;
	height: 100%;
	margin: auto;
}

.btn-action-secondary {
	display: inline-block;

	.dropdown-menu-left-side,
	.dropdown-menu-left-side-bottom {
		margin-right: $btn-action-dropdown-spacer;
	}

	.dropdown-menu-right-side,
	.dropdown-menu-right-side-bottom {
		margin-left: $btn-action-dropdown-spacer;
	}
}

.btn-bottom-left {
	bottom: $btn-fixed-spacer-y;
	left: $btn-fixed-spacer-x;
	position: fixed;
}

.btn-bottom-right {
	bottom: $btn-fixed-spacer-y;
	position: fixed;
	right: $btn-fixed-spacer-x;
}

.btn-top-left {
	left: $btn-fixed-spacer-x;
	position: fixed;
	top: $btn-fixed-spacer-y;
}

.btn-top-right {
	position: fixed;
	right: $btn-fixed-spacer-x;
	top: $btn-fixed-spacer-y;
}