.card,
.card-horizontal {
	border-style: $card-border-style;

	@if (variable-exists(card-box-shadow)) {
		box-shadow: $card-box-shadow;
	}

	margin-bottom: $card-margin-bottom;
	position: relative;

	@if (variable-exists(card-link-color)) {
		a {
			color: $card-link-color;
		}
	}

	@if ($card-border-radius > 0) {
		.card-col-content,
		.card-col-field {
			&:first-child {
				border-bottom-left-radius: $card-border-radius;
				border-top-left-radius: $card-border-radius;
			}

			&:last-child {
				border-bottom-right-radius: $card-border-radius;
				border-top-right-radius: $card-border-radius;
			}
		}
	}

	.divider {
		background-color: $card-divider-bg;
		border-width: 0;
		height: $card-divider-height;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.figure {
		margin-bottom: 0;
		overflow: visible;
	}
}

.card-block {
	padding: $card-gutter-width;
	word-wrap: break-word;
}

// Card Simple Grid

.card-col-content {
	display: table-cell;
	max-width: 10px;
	position: relative;
	vertical-align: middle;
	width: auto;
	word-wrap: break-word;
}

.card-col-field {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	width: 1%;
}

.card-row {
	display: table;
	height: 100%;
	width: 100%;

	&.card-row-padded .card-col-gutters {
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		.divider {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.card-col-gutters {
		padding: 0 10px;

		.divider {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}

.card-row-layout-fixed {
	table-layout: fixed;

	.card-col-content {
		word-wrap: break-word;
	}

	.card-col-field {
		width: auto;
		word-wrap: break-word;
	}
}

.card-row-padded {
	padding: $card-gutter-width;
}

// Card Row Vertical Alignment

.card-row-valign-top {
	.card-col-content,
	.card-col-field {
		vertical-align: top;
	}
}

.card-row-valign-bottom {
	.card-col-content,
	.card-col-field {
		vertical-align: bottom;
	}
}

// Card Border Helpers

@if not ($card-border-radius == $card-circle-border-radius) {
	.card-circle {
		border-radius: $card-circle-border-radius;

		.card-col-content,
		.card-col-field {
			&:first-child {
				border-bottom-left-radius: $card-circle-border-radius;
				border-top-left-radius: $card-circle-border-radius;
			}

			&:last-child {
				border-bottom-right-radius: $card-circle-border-radius;
				border-top-right-radius: $card-circle-border-radius;
			}
		}
	}
}

@if not ($card-border-radius == $card-rounded-border-radius) {
	.card-rounded {
		border-radius: $card-rounded-border-radius;

		.card-col-content,
		.card-col-field {
			&:first-child {
				border-bottom-left-radius: $card-rounded-border-radius;
				border-top-left-radius: $card-rounded-border-radius;
			}

			&:last-child {
				border-bottom-right-radius: $card-rounded-border-radius;
				border-top-right-radius: $card-rounded-border-radius;
			}
		}
	}
}

@if not ($card-border-radius == $card-square-border-radius) {
	.card-square {
		border-radius: $card-square-border-radius;

		.card-col-content,
		.card-col-field {
			&:first-child {
				border-bottom-left-radius: $card-square-border-radius;
				border-top-left-radius: $card-square-border-radius;
			}

			&:last-child {
				border-bottom-right-radius: $card-square-border-radius;
				border-top-right-radius: $card-square-border-radius;
			}
		}
	}
}

// Checkbox and Radio Cards

.form-check-card {
	margin-bottom: 0;
	margin-top: 0;

	.form-check-input {
		margin-left: 0;
		margin-top: 0;
		position: absolute;
		z-index: 1;
	}

	.form-check-label {
		color: $body-color;
		cursor: pointer;
		display: inline;
		padding-left: 0;
	}
}

.form-check-bottom-left,
.form-check-middle-left,
.form-check-top-left {
	.card-horizontal {
		> .card-row {
			padding-left: $checkbox-left-card-padding;
		}
	}
}

.form-check-bottom-right,
.form-check-middle-right,
.form-check-top-right {
	.card-horizontal {
		> .card-row {
			padding-right: $checkbox-right-card-padding;
		}
	}
}

.form-check-bottom-left .form-check-input {
	bottom: $checkbox-position;
	left: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-bottom-right .form-check-input {
	bottom: $checkbox-position;
	right: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-middle-left .form-check-input {
	left: $checkbox-position;
	margin-top: 0;
	top: 50%;

	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-check-middle-right .form-check-input {
	margin-top: 0;
	right: $checkbox-position;
	top: 50%;

	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-check-top-left .form-check-input {
	left: $checkbox-position;
	top: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-top-right .form-check-input {
	right: $checkbox-position;
	top: $checkbox-position;

	-ms-transform: none;
	transform: none;
}