.control-menu {
	bottom: 0;
	color: $control-menu-color;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 500;
}

.control-menu-level-1,
.control-menu-level-2 {
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
}

.control-menu-level-1 {
	background-color: $control-menu-bg;

	.control-menu-nav {
		@media screen and (max-width: 279px) {
			@include flex-wrap(wrap);
		}

		> li {
			@media screen and (max-width: 279px) {
				margin-bottom: 2px;
				margin-left: 2px;
			}

			&:first-child {
				@include flex(1);

				margin-left: 0;

				@media screen and (max-width: 279px) {
					@include flex(0 1 auto);
				}
			}

			&:nth-last-child(2) {
				@include flex(1);

				@media screen and (max-width: 279px) {
					@include flex(0 1 auto);
				}
			}
		}
	}
}

.control-menu-level-2 {
	background-color: $control-menu-level-2-bg;
	border-bottom: 1px solid $control-menu-level-2-border;

	.control-menu-nav {
		@include justify-content(space-between);
		@include flex-wrap(wrap);

		> li {
			margin-bottom: 5px;
			text-align: center;

			@media screen and (min-width: $grid-float-breakpoint) {
				margin-bottom: 0;
			}
		}
	}
}

.control-menu-nav {
	@include display(flex);

	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	> li {
		@include align-self(center);

		display: block;
		float: left;
		margin-left: 16px;
	}

	> .active .control-menu-icon {
		&,
		&:focus,
		&:hover {
			color: $control-menu-link-active-color;
		}
	}
}

.control-menu-icon {
	color: $control-menu-link-color;
	display: inline-block;
	font-size: $font-size-large;

	&:focus,
	&:hover {
		color: $control-menu-link-hover-color;
		text-decoration: none;
	}
}

.control-menu-icon-label {
	display: block;
	font-size: $font-size-base;
}