.input-group .form-control:focus {
	z-index: $zindex-input-group-focus;
}

// Input Group Btn

.input-group-btn .btn:hover {
	z-index: $zindex-input-group-hover;
}

.input-group-btn .btn:focus {
	z-index: $zindex-input-group-focus;
}

.input-group-btn {
	> .btn + .btn {
		margin-left: 0;
	}

	&:first-child {
		text-align: right;

		> .btn {
			@if ($input-btn-border-width > 1) {
				margin-right: -($input-btn-border-width);
			}
		}
	}

	&:last-child > .btn {
		margin-left: -$input-btn-border-width;
	}

	&:not(:first-child) > .form-file .btn {
		@include border-left-radius(0);
	}

	&:not(:last-child) > .form-file .btn {
		@include border-right-radius(0);
	}
}

// Input Group Addon

.input-group .input-group-addon {
	&:first-child {
		border-bottom-left-radius: $input-group-addon-border-radius;
		border-top-left-radius: $input-group-addon-border-radius;
	}

	&:last-child {
		border-bottom-right-radius: $input-group-addon-border-radius;
		border-top-right-radius: $input-group-addon-border-radius;
	}
}

.input-group-addon {
	border-width: $input-border-width;
	color: $input-group-addon-color;
	padding-bottom: $input-group-addon-padding-y;
	padding-left: $input-group-addon-padding-x;
	padding-right: $input-group-addon-padding-x;
	padding-top: $input-group-addon-padding-y;
}

// Input Group Input

.input-group-input {
	display: flex;

	.form-control {
		display: block;
	}
}

// Input Group Constrain

.input-group-constrain {
	border-bottom-width: 0;
	line-height: $input-height - $input-border-bottom-width - $input-border-top-width;
	max-width: 300px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 0 $input-border-bottom-width 0;

	@include scale-component {
		max-width: 150px;
	}
}

.input-group-constrain-text {
	padding-left: $input-padding-x;
	padding-right: $input-padding-x;
}

// Input Group Insert

.input-group-insert {
	border-left-width: 0;
	border-right-width: 0;

	> .btn {
		border-radius: 0;
		margin-right: -($input-btn-border-width);
	}
}

// Input Group Light

.input-group-light {
	@if ($input-group-light-addon-border-width == 0) {
		.form-control {
			&:not(:first-child),
			&:not(:last-child),
			&:not(:first-child):not(:last-child) {
				@include border-radius($input-border-radius);
			}
		}

		&.input-group-lg .form-control:not(:first-child):not(:last-child) {
			@include border-radius($input-border-radius-lg);
		}

		&.input-group-sm .form-control:not(:first-child):not(:last-child) {
			@include border-radius($input-border-radius-lg);
		}
	}

	.input-group-addon {
		background-color: $input-group-light-addon-bg;
		border-color: $input-group-light-addon-border-color;
		border-width: $input-group-light-addon-border-width;
		color: $input-group-light-addon-color;
	}

	.input-group-btn-inset {
		margin-left: -40px;

		.btn {
			@include border-radius($btn-border-radius);

			padding: 3px 10px;

			&,
			&:hover {
				z-index: 4;
			}
		}
	}

	.form-control .input-group-inset {
		margin-left: -40px;
	}

	.help-icon {
		@include monospace(28px);
	}
}

// Input Group Inset
// TODO: Don't use fixed values

.input-group-inset {
	align-items: center;

	.form-control {
		padding-right: 45px;
	}

	.input-group-input {
		width: 100%;
	}
}

.input-group-inset-item {
	left: 3px;
	position: absolute;
	z-index: 5;

	.btn {
		padding: ($input-btn-padding-y - 0.3125rem) ($input-btn-padding-x - 0.1875rem);
	}

	.btn-link {
		box-shadow: none;
	}

	+ .input-group-input .form-control {
		padding-left: 45px;
		padding-right: $input-padding-x;
	}
}

.input-group-input + .input-group-inset-item {
	left: auto;
	position: absolute;
	right: 3px;
}

// Input Group Sizes

.input-group-lg {
	> .input-group-addon {
		padding-bottom: $input-group-addon-padding-y-lg;
		padding-left: $input-group-addon-padding-x-lg;
		padding-right: $input-group-addon-padding-x-lg;
		padding-top: $input-group-addon-padding-y-lg;

		&:first-child {
			border-bottom-left-radius: $input-group-addon-border-radius-lg;
			border-top-left-radius: $input-group-addon-border-radius-lg;
		}

		&:last-child {
			border-bottom-right-radius: $input-group-addon-border-radius-lg;
			border-top-right-radius: $input-group-addon-border-radius-lg;
		}
	}

	.input-group-addon.input-group-constrain {
		height: auto;
		line-height: $input-height-lg - $input-border-bottom-width - $input-border-top-width;
		padding: 0 0 $input-border-bottom-width 0;
	}

	> .input-group-btn > .btn {
		padding-bottom: $input-btn-padding-y-lg;
		padding-left: $input-btn-padding-x-lg;
		padding-right: $input-btn-padding-x-lg;
		padding-top: $input-btn-padding-y-lg;

		@include scale-component {
			padding-bottom: $input-btn-padding-y-lg-mobile;
			padding-left: $input-btn-padding-x-lg-mobile;
			padding-right: $input-btn-padding-x-lg-mobile;
			padding-top: $input-btn-padding-y-lg-mobile;
		}
	}

	@if (variable-exists(atlas-theme)) {
		> .input-group-btn {
			&:first-child > .btn:first-child {
				border-bottom-left-radius: $btn-border-radius-lg;
				border-top-left-radius: $btn-border-radius-lg;
			}

			&:last-child > .btn:last-child {
				border-bottom-right-radius: $btn-border-radius-lg;
				border-top-right-radius: $btn-border-radius-lg;
			}
		}
	}

	.help-icon {
		@include monospace(35px);
	}
}

.input-group-sm {
	> .input-group-addon {
		padding-bottom: $input-group-addon-padding-y-sm;
		padding-left: $input-group-addon-padding-x-sm;
		padding-right: $input-group-addon-padding-x-sm;
		padding-top: $input-group-addon-padding-y-sm;

		&:first-child {
			border-bottom-left-radius: $input-group-addon-border-radius-sm;
			border-top-left-radius: $input-group-addon-border-radius-sm;
		}

		&:last-child {
			border-bottom-right-radius: $input-group-addon-border-radius-sm;
			border-top-right-radius: $input-group-addon-border-radius-sm;
		}
	}

	.input-group-addon.input-group-constrain {
		height: auto;
		line-height: $input-height-sm - $input-border-bottom-width - $input-border-top-width;
		padding: 0 0 $input-border-bottom-width 0;
	}

	> .input-group-btn > .btn {
		padding-bottom: $input-btn-padding-y-sm;
		padding-left: $input-btn-padding-x-sm;
		padding-right: $input-btn-padding-x-sm;
		padding-top: $input-btn-padding-y-sm;

		@include scale-component {
			padding-bottom: $input-btn-padding-y-sm-mobile;
			padding-left: $input-btn-padding-x-sm-mobile;
			padding-right: $input-btn-padding-x-sm-mobile;
			padding-top: $input-btn-padding-y-sm-mobile;
		}
	}

	@if (variable-exists(atlas-theme)) {
		> .input-group-btn {
			&:first-child > .btn:first-child {
				border-bottom-left-radius: $btn-border-radius-sm;
				border-top-left-radius: $btn-border-radius-sm;
			}

			&:last-child > .btn:last-child {
				border-bottom-right-radius: $btn-border-radius-sm;
				border-top-right-radius: $btn-border-radius-sm;
			}
		}
	}

	.help-icon {
		@include monospace(20px);
	}
}