.label {
	border-style: $label-border-style;
	border-width: $label-border-width;
	display: inline-block;
	font-size: $label-font-size;
	font-weight: $label-font-weight;
	margin-bottom: 2px;
	margin-top: 2px;
	max-width: 100%;
	padding: $label-padding-y $label-padding-x;
	white-space: normal;
	word-wrap: break-word;

	@if ($enable-mobile-desktop-sizes) {
		@include media-breakpoint-up($mobile-desktop-breakpoint) {
			@if (variable-exists(label-font-size-desktop)) {
				font-size: $label-font-size-desktop;
			}
		}
	}

	a {
		color: $label-color;
		display: inline-block;
		text-decoration: $label-link-text-decoration;

		@include hover-focus {
			color: $label-link-hover-color;
			text-decoration: $label-link-hover-text-decoration;
		}
	}
}

.label-lg {
	font-size: $label-font-size-lg;
	padding: $label-padding-y-lg $label-padding-x-lg;

	@if ($enable-mobile-desktop-sizes) {
		@include media-breakpoint-up($mobile-desktop-breakpoint) {
			@if (variable-exists(label-font-size-lg-desktop)) {
				font-size: $label-font-size-lg-desktop;
			}
		}
	}
}

.label-sm {
	font-size: $label-font-size-sm;
	padding: $label-padding-y-sm $label-padding-x-sm;

	@if ($enable-mobile-desktop-sizes) {
		@include media-breakpoint-up($mobile-desktop-breakpoint) {
			@if (variable-exists(label-font-size-sm-desktop)) {
				font-size: $label-font-size-sm-desktop;
			}
		}
	}
}

// Lexicon Icons in Labels

.label .lexicon-icon {
	height: $label-lexicon-icon-height;
	margin-left: 2px;
	width: $label-lexicon-icon-width;
}

.label-lg .lexicon-icon {
	height: $label-lexicon-icon-height-lg;
	margin-left: 4px;
	width: $label-lexicon-icon-width-lg;
}

.label-sm .lexicon-icon {
	height: $label-lexicon-icon-height-sm;
	width: $label-lexicon-icon-width-sm;
}

// Skin

.label-danger {
	border-color: $label-danger-border-color;
	color: $label-danger-color;

	&[href] {
		@include hover-focus {
			background-color: $label-danger-hover-bg;
			border-color: $label-danger-hover-border-color;
			color: $label-danger-hover-color;
		}
	}

	a {
		color: $label-danger-color;

		@include hover-focus {
			color: $label-danger-hover-color;
		}
	}
}

.label-default {
	border-color: $label-secondary-border-color;
	color: $label-secondary-color;

	&[href] {
		@include hover-focus {
			background-color: $label-secondary-hover-bg;
			border-color: $label-secondary-hover-border-color;
			color: $label-secondary-hover-color;
		}
	}

	a {
		color: $label-secondary-color;

		@include hover-focus {
			color: $label-secondary-hover-color;
		}
	}
}

.label-info {
	border-color: $label-info-border-color;
	color: $label-info-color;

	&[href] {
		@include hover-focus {
			background-color: $label-info-hover-bg;
			border-color: $label-info-hover-border-color;
			color: $label-info-hover-color;
		}
	}

	a {
		color: $label-info-color;

		@include hover-focus {
			color: $label-info-hover-color;
		}
	}
}

.label-primary {
	border-color: $label-primary-border-color;
	color: $label-primary-color;

	&[href] {
		@include hover-focus {
			background-color: $label-primary-hover-bg;
			border-color: $label-primary-hover-border-color;
			color: $label-primary-hover-color;
		}
	}

	a {
		color: $label-primary-color;

		@include hover-focus {
			color: $label-primary-hover-color;
		}
	}
}

.label-success {
	border-color: $label-success-border-color;
	color: $label-success-color;

	&[href] {
		@include hover-focus {
			background-color: $label-success-hover-bg;
			border-color: $label-success-hover-border-color;
			color: $label-success-hover-color;
		}
	}

	a {
		color: $label-success-color;

		@include hover-focus {
			color: $label-success-hover-color;
		}
	}
}

.label-warning {
	border-color: $label-warning-border-color;
	color: $label-warning-color;

	&[href] {
		@include hover-focus {
			background-color: $label-warning-hover-bg;
			border-color: $label-warning-hover-border-color;
			color: $label-warning-hover-color;
		}
	}

	a {
		color: $label-warning-color;

		@include hover-focus {
			color: $label-warning-hover-color;
		}
	}
}