.list-group-heading {
	background-color: $list-group-bg;
	border: 1px solid $list-group-border;
	display: block;
	font-weight: $list-group-header-font-weight;
	margin-bottom: -1px;
	overflow: hidden;
	padding: 10px 15px;
	position: relative;

	@include word-wrap;

	&:first-child {
		border-top-left-radius: $list-group-border-radius;
		border-top-right-radius: $list-group-border-radius;
	}

	&:last-child {
		border-bottom-left-radius: $list-group-border-radius;
		border-bottom-right-radius: $list-group-border-radius;
		margin-bottom: 0;
	}
}

a.list-group-heading,
button.list-group-heading,
.list-group-heading[data-toggle="collapse"] {
	color: $list-group-link-color;

	&:focus,
	&:hover {
		background-color: $list-group-hover-bg;
		color: $list-group-link-hover-color;
	}
}

.list-group-heading.collapse-icon {
	&:before {
		content: $list-group-header-icon-open;
		font-family: $list-group-header-icon-font-family;
		font-size: $list-group-header-icon-font-size;
		right: 15px;
	}

	&.collapsed:before {
		content: $list-group-header-icon-closed;
	}
}

// Collapsible List Group

.list-group {
	.collapse,
	.collapsing {
		&:last-child {
			border-bottom-left-radius: $list-group-border-radius;
			border-bottom-right-radius: $list-group-border-radius;
			overflow: hidden;

			.list-group-item:last-child {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}

		.list-group-item {
			&:first-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:last-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	.list-group-heading {
		margin-top: -1px;

		&:first-child {
			margin-top: 0;
		}

		&.collapsed {
			&:nth-last-child(2) {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}
	}
}

// List Group Card

.list-group-card {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 5px;
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.card {
		border-color: $list-group-border;
		border-radius: 0;
		border-width: 1px;
		box-shadow: none;
		margin: 0;
	}

	.card-col-content,
	.card-col-field {
		vertical-align: top;
	}

	.card-row {
		width: 100%;
	}

	.checkbox input[type="checkbox"] {
		&:checked {
			+ .card {
				background-color: $list-group-card-active-bg;
				color: $list-group-card-active-color;

				.dropdown-toggle {
					color: $list-group-card-active-color;
				}
			}
		}
	}

	.list-group-card-icon {
		font-size: 2.4em;

		@media screen and (min-width: $grid-float-breakpoint) {
			font-size: 3em;
		}

		> [class^="icon-"],
		> [class*=" icon-"],
		> .user-icon {
			display: block;

			@include monospace(34px);

			text-align: center;

			@media screen and (min-width: $grid-float-breakpoint) {
				@include monospace(45px);
			}
		}
	}

	.list-group-item {
		border-width: 0;
		margin-bottom: 0;
		margin-top: -1px;
		padding: 0;

		&:last-child {
			.card {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}

		&.active {
			&,
			&:focus,
			&:hover {
				z-index: auto;
			}
		}
	}
}

.list-group-card-checkbox-hidden-xs {
	.checkbox input[type="checkbox"] {
		display: none;

		@media screen and (min-width: $grid-float-breakpoint) {
			display: block;
		}

		&:checked + .card .list-group-card-icon {
			&:after {
				color: $list-group-active-color;
				content: $list-group-card-checkbox-hidden-icon;
				display: block;
				font-family: 'fontawesome-alloy';
				font-size: 16px;

				@include monospace(34px);

				text-align: center;
				vertical-align: middle;

				@media screen and (min-width: $grid-float-breakpoint) {
					content: normal;
				}
			}

			> [class^="icon-"],
			> [class*=" icon-"],
			> .user-icon {
				display: none;
			}

			> [class^="icon-"],
			> [class*=" icon-"] {
				@media screen and (min-width: $grid-float-breakpoint) {
					display: block;
				}
			}

			> .user-icon {
				@media screen and (min-width: $grid-float-breakpoint) {
					display: block;
				}
			}
		}
	}

	.checkbox-bottom-left,
	.checkbox-middle-left,
	.checkbox-top-left {
		.card.flex-container {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-left: 20px;
			}
		}

		.card-row {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-left: 20px;
			}
		}
	}

	.checkbox-bottom-right,
	.checkbox-middle-right,
	.checkbox-top-right {
		.card.flex-container {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-right: 20px;
			}
		}

		.card-row {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-right: 20px;
			}
		}
	}
}