.management-bar {
	@extend .navbar;

	border-radius: 0;
	padding-left: $management-bar-padding-horizontal;
	padding-right: $management-bar-padding-horizontal;

	label {
		margin-bottom: 0;
	}
}

.management-bar .management-bar-nav > li > .btn,
.management-bar .management-bar-nav > .dropdown > .btn,
.management-bar-header > .btn,
.management-bar-header-right > .btn {
	margin: $management-bar-btn-padding-vertical 0 $management-bar-btn-padding-vertical $management-bar-btn-padding-horizontal;
	padding: 0;
}

.management-bar-right {
	float: right;
}

// management bar headers

.management-bar-header,
.management-bar-header-right {
	> .checkbox-default {
		padding: $management-bar-padding-vertical $management-bar-padding-horizontal;
	}
}

.management-bar-header {
	@extend .navbar-header;

	float: left;

	.checkbox-default {
		margin-bottom: 0;
	}
}

.management-bar-header-right {
	> a {
		display: block;
		float: left;
		padding: $management-bar-padding-vertical $management-bar-padding-horizontal;
	}
}

.management-bar-header-item {
	@extend .navbar-brand;
}

.management-bar-header-right {
	@extend .navbar-header-right;

	float: right;
}

.management-bar-item-title {
	display: inline-block;
	float: left;
	margin-right: 5px;
	max-width: 100%;

	@include text-overflow();

	@media screen and (min-width: $grid-float-breakpoint) {
		max-width: 150px;
	}
}

.management-bar-toggle {
	@extend .navbar-toggle;
}

.management-bar-toggle-link {
	border-radius: 0;
	border-width: 0;

	&.management-bar-toggle {
		margin: 0;
		padding: $management-bar-padding-vertical $management-bar-padding-horizontal;
	}

	&:focus,
	&:hover {
		background-color: $nav-link-hover-bg;
		text-decoration: none;
	}
}

.management-bar-toggle-left {
	@extend .navbar-toggle-left;
}

// management bar collapse

.management-bar-collapse {
	@extend .navbar-collapse;

	background-color: $management-bar-collapse-bg;
	clear: both;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1001;

	@media screen and (min-width: $grid-float-breakpoint) {
		clear: none;
		margin-top: 0;
		position: static;
	}
}

.management-bar-no-collapse .management-bar-nav {
	float: left;
	margin: 0;

	&.management-bar-right {
		float: right;
	}

	> li {
		float: left;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}

		> a {
			padding-bottom: $management-bar-padding-vertical;
			padding-top: $management-bar-padding-vertical;
		}
	}

	.dropdown-menu {
		border: 1px solid $dropdown-border;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		position: absolute;
	}
}

.management-bar-nav {
	@extend .navbar-nav;

	> li {
		> .checkbox-default,
		.management-bar-text {
			padding: $management-bar-padding-vertical $management-bar-padding-horizontal;
		}

		.management-bar-text {
			display: inline-block;
		}
	}
}

// Management Bar Skins

.management-bar-default {
	background-color: $management-bar-default-bg;
	color: $management-bar-default-color;

	.management-bar-collapse {
		background-color: $management-bar-default-bg;
	}

	.management-bar-nav > li > .btn,
	.management-bar-nav > li > .dropdown > .btn,
	.management-bar-header > .btn,
	.management-bar-header-right > .btn {
		box-shadow: none;

		&:focus {
			background-color: $management-bar-default-link-active-bg;
			color: $management-bar-default-link-active-color;
		}
	}

	.management-bar-header,
	.management-bar-header-right {
		a {
			color: $management-bar-default-link-color;

			&:focus,
			&:hover {
				background-color: $management-bar-default-link-hover-bg;
				color: $management-bar-default-link-hover-color;
			}
		}
	}

	.nav {
		> li > a,
		> .dropdown > a {
			color: $management-bar-default-link-color;

			&:hover {
				background-color: $management-bar-default-link-hover-bg;
				color: $management-bar-default-link-hover-color;
			}

			&:focus {
				background-color: $management-bar-default-link-active-bg;
				color: $management-bar-default-link-active-color;
			}
		}

		> .open > a {
			border-color: $management-bar-default-border;
		}

		.open > a {
			&,
			&:focus {
				background-color: $management-bar-default-link-active-bg;
			}
		}
	}
}