.nav-tabs {
	.nav-item[class*='col-'] {
		padding-left: 0;
		padding-right: 0;
		text-align: center;

		&:first-child {
			> .dropdown-menu {
				margin-left: 0;
			}
		}

		&:last-child {
			float: right;
		}

		.nav-link {
			margin-left: 2px;
			margin-right: 0;

			@include text-truncate;
		}

		> .dropdown-menu {
			margin-left: 2px;
		}
	}

	.nav-item.show .nav-link {
		@if (variable-exists(atlas-theme)) {
			border-color: transparent transparent $nav-tabs-border-color transparent;
			color: inherit;
		}
	}

	.nav-link {
		white-space: nowrap;
	}
}

// Nav Tabs Default

.nav-tabs-default {
	border-bottom-color: transparent;

	.nav-item {
		padding-bottom: $nav-tabs-default-padding-y;
		padding-top: $nav-tabs-default-padding-y;

		@if ($enable-mobile-desktop-sizes) {
			@include media-breakpoint-up($mobile-desktop-breakpoint) {
				padding-bottom: $nav-tabs-default-padding-y-desktop;
				padding-top: $nav-tabs-default-padding-y-desktop;
			}
		}
	}

	.nav-item:first-child .nav-link {
		&,
		&:focus,
		&:hover {
			border-left-color: transparent;
		}
	}

	.nav-link {
		border-left-color: $nav-tabs-border-color;
		border-radius: 0;
		border-width: 0 0 0 1px;
		line-height: $nav-tabs-default-line-height;
		margin-right: 0;
		padding-bottom: 0;
		padding-top: 0;

		@if ($enable-mobile-desktop-sizes) {
			@include media-breakpoint-up($mobile-desktop-breakpoint) {
				line-height: $nav-tabs-default-line-height-desktop;
			}
		}

		&:hover {
			border-color: transparent transparent transparent $nav-tabs-border-color;
		}
	}

	.nav-link.disabled {
		border-color: transparent transparent transparent $nav-tabs-border-color;
	}

	.nav-item.show .nav-link {
		border-left-color: $nav-tabs-border-color;
	}
}