.nav-tabs {
	.nav-item.show .nav-link {
		@if (variable-exists(atlas-theme)) {
			border-color: transparent transparent $nav-tabs-border-color transparent;
			color: inherit;
		}
	}

	.nav-link {
		white-space: nowrap;
	}
}