.panel-title {
	font-size: $panel-title-font-size;
	font-weight: $panel-title-font-weight;
	overflow-wrap: break-word;
	word-wrap: break-word;

	@if (variable-exists(atlas-theme)) {
		a {
			text-decoration: none;
		}
	}
}

.panel-group {
	.panel-heading {
		padding: 0;

		.collapse-icon {
			padding-right: 45px;
		}

		@if (variable-exists(atlas-theme)) {
			border-bottom-width: $panel-border-bottom-width;

			+ .panel-collapse > .panel-body {
				border-top-width: 2px;
			}
		}
	}

	.panel-title {
		> a,
		> span {
			display: block;
			padding: $panel-heading-padding;
			position: relative;
		}
	}

	@if (variable-exists(atlas-theme)) {
		.panel + .panel {
			margin-top: 0;
		}
	}
}

@if (variable-exists(atlas-theme)) {
	.panel {
		border: $panel-border-width solid transparent;
		box-shadow: $panel-box-shadow;
	}

	.panel-footer {
		border-top-width: $panel-border-top-width;
	}

	.panel-heading {
		border-bottom-width: 2px;
	}
}

// Skins

.panel-blank {
	box-shadow: none;

	@include panel-variant($panel-blank-border, $panel-blank-text, $panel-blank-heading-bg, $panel-blank-border);

	> .panel-footer {
		background-color: $panel-blank-heading-bg;
		border-color: $panel-blank-border;
	}

	@if (variable-exists(atlas-theme)) {
		> .panel-heading {
			a {
				color: $panel-blank-heading-link-open-color;

				&:focus,
				&:hover {
					text-decoration: none;
				}

				&.collapsed {
					color: $panel-blank-heading-link-color;
				}
			}
		}
	}
}

.panel-group .panel-blank .panel-heading {
	+ .panel-collapse > .panel-body,
	+ .panel-collapse > .list-group {
		border-top-color: $panel-blank-heading-bg;
	}
}

.panel-primary {
	> .panel-footer {
		background-color: $panel-primary-heading-bg;
		border-color: $panel-primary-border;
		color: $panel-bg;
	}
}

.panel-success {
	> .panel-footer {
		background-color: $panel-success-heading-bg;
		border-color: $panel-success-border;
		color: $brand-success;
	}
}

.panel-warning {
	> .panel-footer {
		background-color: $panel-warning-heading-bg;
		border-color: $panel-warning-border;
		color: $brand-warning;
	}
}

.panel-danger {
	> .panel-footer {
		background-color: $panel-danger-heading-bg;
		border-color: $panel-danger-border;
		color: $brand-danger;
	}
}

@if (variable-exists(atlas-theme)) {
	.panel-default {
		> .panel-footer {
			color: $panel-default-text;
		}
	}
}