.flex-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-flow: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-container-stacked {
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-row-vertical {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-item-expand {
	-ms-flex: 1;
	flex: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-width: 0;
}

.flex-item-full {
	-ms-flex: 1 100%;
	flex: 1 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	+ .flex-item-expand {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
}

.flex-item-bottom {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.flex-item-center {
	-ms-flex-item-align: center;
	align-self: center;
}

.flex-item-top {
	-ms-flex-item-align: start;
	align-self: flex-start;
}

// Stacking Flex Container

.flex-container-stacked-xxs {
	@media (max-width: 479px) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-xs {
	@include media-breakpoint-down(xs) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-sm {
	@include media-breakpoint-down(md) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-md {
	@include media-breakpoint-down(lg) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-lg {
	@include media-breakpoint-up(xl) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-xs-only {
	@include media-breakpoint-between(xs, md) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-sm-only {
	@include media-breakpoint-only(md) {
		@include stack-flex-container;
	}
}

.flex-container-stacked-md-only {
	@include media-breakpoint-only(lg) {
		@include stack-flex-container;
	}
}

// Flex Item Break

.flex-item-break-xxs {
	@media (max-width: 479px) {
		@include break-flex-item;
	}
}

.flex-item-break-xs {
	@include media-breakpoint-down(xs) {
		@include break-flex-item;
	}
}

.flex-item-break-sm {
	@include media-breakpoint-down(md) {
		@include break-flex-item;
	}
}

.flex-item-break-md {
	@include media-breakpoint-down(lg) {
		@include break-flex-item;
	}
}

.flex-item-break-lg {
	@include media-breakpoint-up(xl) {
		@include break-flex-item;
	}
}

.flex-item-break-xs-only {
	@include media-breakpoint-between(xs, md) {
		@include break-flex-item;
	}
}

.flex-item-break-sm-only {
	@include media-breakpoint-only(md) {
		@include break-flex-item;
	}
}

.flex-item-break-md-only {
	@include media-breakpoint-only(lg) {
		@include break-flex-item;
	}
}