th {
	height: 20px;
}

.table {
	> thead,
	> tbody,
	> tfoot {
		tr td {
			&:first-child {
				> .checkbox,
				> input[type="checkbox"] {
					margin-bottom: 0;
					margin-top: 0;
				}
			}
		}
	}

	th {
		font-size: $table-header-font-size;
		font-weight: $table-header-font-weight;
		height: $table-header-min-height;
	}

	tr {
		td,
		th {
			&:first-child {
				padding-left: $table-cell-gutters;
			}

			&:last-child {
				padding-right: $table-cell-gutters;
			}
		}
	}
}

.table-cell-content {
	display: table-cell;
	max-width: 100px;
	min-width: 100px;
	position: relative;
	width: auto;
	word-wrap: break-word;
}

.table-cell-field {
	display: table-cell;
	width: 1%;
}

// Will be safe to remove once https://github.com/twbs/bootstrap/pull/22804 is merged

.table-responsive {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);

		&#{$infix} {
			@include media-breakpoint-down($breakpoint) {
				display: block;
				width: 100%;
				overflow-x: auto;

				-ms-overflow-style: -ms-autohiding-scrollbar;
				-webkit-overflow-scrolling: touch;

				&.table-bordered {
					border: 0;
				}
			}
		}
	}
}

// Table List Skin

.table-list {
	color: $table-list-color;
	font-size: $table-list-font-size;

	a {
		color: $table-list-link-color;

		&:focus,
		&:hover {
			color: $table-list-link-color-hover;
		}
	}

	> thead > tr > td,
	> thead > tr > th {
		background-color: $table-list-header-bg;
		border-bottom-width: $table-list-header-border-bottom-width;
		font-size: $table-list-header-font-size;
		font-weight: $table-list-header-font-weight;
		height: $table-list-header-min-height;
		vertical-align: $table-list-header-vertical-alignment;
	}

	> tbody > tr {
		height: $table-list-row-height;
	}

	> tbody > tr > td,
	> tbody > tr > th,
	> tfoot > tr > td,
	> tfoot > tr > th {
		// Chrome rendering issue with responsive-tables and td position relative
		background-color: $table-list-body-row-bg;
		border-top-width: 0;
		vertical-align: middle;
	}

	> tbody,
	> tfoot {
		td {
			box-shadow: inset 0 #{-$table-list-row-border-bottom-width} $table-list-row-border-color;
		}

		> tr:hover td {
			box-shadow: inset 0 #{-$table-list-row-border-bottom-width} $table-list-row-border-color;
		}

		> tr.active td {
			box-shadow: inset 0 #{-$table-list-row-active-border-bottom-width} $table-list-row-active-border-color;
		}
	}

	.checkbox,
	.radio {
		float: left;

		label {
			display: block;
		}
	}
}

@if (variable-exists(atlas-theme)) {
	// Chrome rendering issue with responsive-tables and td position relative

	.table-striped > tbody > tr:nth-of-type(odd) > td {
		background-color: $table-bg-accent;
	}

	.table-hover > tbody > tr:hover > td {
		background-color: $table-bg-hover;
	}
}

// Table Helpers

.table-autofit {
	> thead,
	> tbody {
		> tr {
			> th,
			> td {
				width: 1%;
			}
		}
	}

	.table-cell-content {
		width: auto;
	}
}

.table-heading-nowrap > thead > tr {
	> th,
	> td {
		white-space: nowrap;
	}
}

.table-overflow,
.table-responsive {
	.table-heading-nowrap > thead > tr > .table-cell-content {
		white-space: nowrap;
	}
}

// Table Vertical Align

.table-valign-bottom {
	> thead > tr > th,
	> tbody > tr > td,
	> tfoot > tr > td {
		vertical-align: bottom;
	}
}

.table-valign-middle {
	> thead > tr > th,
	> tbody > tr > td,
	> tfoot > tr > td {
		vertical-align: middle;
	}
}

.table-valign-top {
	> thead > tr > th,
	> tbody > tr > td,
	> tfoot > tr > td {
		vertical-align: top;
	}
}

// Tbody Vertical Align

.tbody-valign-bottom {
	> tbody > tr > td {
		vertical-align: bottom;
	}
}

.tbody-valign-middle {
	> tbody > tr > td {
		vertical-align: middle;
	}
}

.tbody-valign-top {
	> tbody > tr > td {
		vertical-align: top;
	}
}

// Thead Vertical Align

.thead-valign-bottom {
	> thead > tr {
		> td,
		> th {
			vertical-align: bottom;
		}
	}
}

.thead-valign-middle {
	> thead > tr {
		> td,
		> th {
			vertical-align: middle;
		}
	}
}

.thead-valign-top {
	> thead > tr {
		> td,
		> th {
			vertical-align: top;
		}
	}
}