.sticker {
	@include clay-sticker-variant($cadmin-sticker);
}

.sticker-img {
	@extend %aspect-ratio-item-center-middle !optional;
	@extend %aspect-ratio-item-fluid !optional;
}

.sticker-overlay {
	@include clay-css($cadmin-sticker-overlay);
}

// Sticker Positions

.sticker-bottom-left {
	@include clay-css($cadmin-sticker-bottom-left);
}

.sticker-bottom-right {
	@include clay-css($cadmin-sticker-bottom-right);
}

.sticker-top-left {
	@include clay-css($cadmin-sticker-top-left);
}

.sticker-top-right {
	@include clay-css($cadmin-sticker-top-right);
}

.sticker-outside {
	@include clay-css($cadmin-sticker-outside);

	&.sticker-bottom-left {
		$bottom-left: setter(
			map-get($cadmin-sticker-outside, sticker-bottom-left),
			()
		);

		@include clay-css($bottom-left);
	}

	&.sticker-bottom-right {
		$bottom-right: setter(
			map-get($cadmin-sticker-outside, sticker-bottom-right),
			()
		);

		@include clay-css($bottom-right);
	}

	&.sticker-top-right {
		$top-right: setter(
			map-get($cadmin-sticker-outside, sticker-top-right),
			()
		);

		@include clay-css($top-right);
	}
}

// Sticker User Icon

.sticker-user-icon {
	@include clay-sticker-variant($cadmin-sticker-user-icon);
}

// Sticker Sizes

@each $cadmin-selector, $cadmin-value in $cadmin-sticker-sizes {
	%#{$cadmin-selector} {
		@include clay-sticker-variant($cadmin-value);
	}

	.#{$cadmin-selector} {
		@extend %#{$cadmin-selector} !optional;
	}
}

// Sticker Variants

@each $cadmin-color, $cadmin-value in $cadmin-sticker-palette {
	%sticker-#{$cadmin-color} {
		@include clay-sticker-variant($cadmin-value);
	}

	.sticker-#{$cadmin-color} {
		@extend %sticker-#{$cadmin-color} !optional;
	}
}

// Sticker Circle

.sticker-circle {
	@include clay-sticker-variant($cadmin-sticker-circle);
}
