$application-bar-size: () !default;
$application-bar-size: map-deep-merge(
	(
		scaling-navbar: true,
		font-size: $navbar-font-size,
		height: 3.5rem,
		height-mobile: 3rem,
		btn-monospaced-font-size: 1rem,
		link-height: 2rem,
		link-height-mobile: 2rem,
		link-margin-x: 0.5rem,
		link-padding-x: 0.25rem,
		padding-x: 0,
		padding-y: 0,
	),
	$application-bar-size
);

$application-bar-base: () !default;

$application-bar-dark: () !default;
$application-bar-dark: map-deep-merge(
	(
		background-color: $dark,
		color: $navbar-dark-color,
		navbar-nav: (
			nav-link: (
				color: $navbar-dark-color,
				hover: (
					color: $navbar-dark-hover-color,
				),
				active: (
					color: $navbar-dark-active-color,
				),
				disabled: (
					color: $navbar-dark-disabled-color,
					opacity: 1,
				),
			),
		),
		media-breakpoint-down: (),
		media-breakpoint-up: (),
	),
	$application-bar-dark
);
