$date-picker-body-margin-top: 16px !default;
$date-picker-body-width: 100% !default;

$date-picker-caption-width: 100% !default;

$date-picker-day-active-background-color: #0B5FFF !default;
$date-picker-day-active-color: #ffffff !default;
$date-picker-day-border-radius: 100% !default;
$date-picker-day-color: #6B6C7E !default;
$date-picker-day-font-weight: 600 !default;
$date-picker-day-hover-background-color: #F7F8F9 !default;
$date-picker-day-margin-bottom: 0 !default;
$date-picker-day-margin-left: 8px !default;
$date-picker-day-margin-right: 8px !default;
$date-picker-day-margin-top: 0 !default;
$date-picker-day-outside-color: #A7A9BC !default;
$date-picker-day-width: 32px !important;

$date-picker-days-row-height: 32px !default;
$date-picker-days-row-margin-bottom: 4px !default;
$date-picker-days-row-margin-left: 0 !default;
$date-picker-days-row-margin-right: 0 !default;
$date-picker-days-row-margin-top: 4px !default;
$date-picker-days-row-width: 100% !default;

$date-picker-form-control-background-color: transparent !default;
$date-picker-form-control-border-color: transparent !default;
$date-picker-form-control-color: #6B6C7E !default;
$date-picker-form-control-font-weight: 600 !default;

$date-picker-header-height: 21px !default;
$date-picker-header-margin-top: 16px !default;
$date-picker-header-padding-x: 8px !default;
$date-picker-header-padding-y: 0 !default;
$date-picker-header-weekday-color: #272833 !default;
$date-picker-header-weekday-font-weight: 600 !default;
$date-picker-header-weekday-width: 32px !default;
$date-picker-header-width: 100% !default;

$date-picker-input-month-min-width: 127px !default;
$date-picker-input-year-min-width: 80px !default;

$date-picker-navigation-button-color: #6B6C7E !default;
$date-picker-navigation-button-font-size: 1rem !default;
$date-picker-navigation-button-margin-bottom: 0 !default;
$date-picker-navigation-button-margin-left: 4px !default;
$date-picker-navigation-button-margin-right: 4px !default;
$date-picker-navigation-button-margin-top: 0 !default;

$date-picker-padding-x: 16px !default;
$date-picker-padding-y: 16px !default;

$date-picker-timer-border-color: #E7E7ED !default;
$date-picker-timer-icon-color: #6B6C7E !default;
$date-picker-timer-icon-font-size: 1rem !default;
$date-picker-timer-icon-margin-right: 16px !default;
$date-picker-timer-icon-margin-top: 1px !default;
$date-picker-timer-padding-x: 32px !default;
$date-picker-timer-padding-y: 12px !default;

$dropdown-date-picker-max-width: 384px !default;