$management-bar-size: () !default;
$management-bar-size: map-merge((
	scaling-navbar: true,
	font-size: $navbar-font-size,
	height: $font-size-base * 4,
	height-mobile: $font-size-base * 3,
	border-bottom-width: $font-size-base * 0.0625,
	padding-x: 0,
	padding-y: 0,
	btn-monospaced-font-size: $font-size-base * 1,
	link-height: $font-size-base * 2,
	link-height-mobile: $font-size-base * 2,
	link-margin-x: $font-size-base * 0.5,
	link-margin-x-mobile: $font-size-base * 0.25,
	link-padding-x-mobile: $font-size-base * 0.25,
	form-control-height-mobile: $font-size-base * 2,
	toggler-margin-x: $font-size-base * 0.875,
	active-border-bottom-width: $font-size-base * 0.25,
	nav-item-dropdown-margin-top: 0
), $management-bar-size);

$management-bar-light: () !default;
$management-bar-light: map-merge((
	bg: $light,
	link-color: $navbar-light-color,
	link-hover-color: $navbar-light-hover-color,
	link-active-color: $navbar-light-active-color,
	link-disabled-color: $navbar-light-disabled-color,
	link-disabled-opacity: 1
), $management-bar-light);

$management-bar-primary: () !default;
$management-bar-primary: map-merge((
	bg: lighten($primary, 44.90),
	border-color: $primary,
	color: $navbar-light-color,
	link-color: $navbar-light-color,
	link-hover-color: $navbar-light-hover-color,
	link-active-color: $navbar-light-active-color,
	link-disabled-color: $navbar-light-disabled-color,
	link-disabled-opacity: 1
), $management-bar-primary);
