$tbar-item-padding-x: $font-size-base * 0.25 !default;
$tbar-item-padding-y: null !default;

// Tbar Inline {xs|sm|md|lg|xl} Down

$tbar-inline-xs-down: () !default;
$tbar-inline-xs-down: map-merge((
	breakpoint-down: nth(map-keys($grid-breakpoints), 1),
	item-padding-left: 0
), $tbar-inline-xs-down);

$tbar-inline-sm-down: () !default;
$tbar-inline-sm-down: map-merge((
	breakpoint-down: nth(map-keys($grid-breakpoints), 2),
	item-padding-left: 0
), $tbar-inline-sm-down);

$tbar-inline-md-down: () !default;
$tbar-inline-md-down: map-merge((
	breakpoint-down: nth(map-keys($grid-breakpoints), 3),
	item-padding-left: 0
), $tbar-inline-md-down);

$tbar-inline-lg-down: () !default;
$tbar-inline-lg-down: map-merge((
	breakpoint-down: nth(map-keys($grid-breakpoints), 4),
	item-padding-left: 0
), $tbar-inline-lg-down);

$tbar-inline-xl-down: () !default;
$tbar-inline-xl-down: map-merge((
	breakpoint-down: nth(map-keys($grid-breakpoints), 5),
	item-padding-left: 0
), $tbar-inline-xl-down);

// Component Tbar

$component-tbar: () !default;
$component-tbar: map-merge((
	border-color: $gray-300,
	border-style: solid,
	border-width: 0 0 $font-size-base * 0.0625 0,
	height: $font-size-base * 3.5
), $component-tbar);

// Subnav Tbar

$subnav-tbar-component-title: () !default;
$subnav-tbar-component-title: map-merge((
	display: inline-block,
	font-size: $font-size-base * 0.875,
	font-weight: $font-weight-semi-bold,
	line-height: 1.45,
	margin-bottom: $font-size-base * 0.25,
	margin-top: $font-size-base * 0.25,
	max-width: 100%
), $subnav-tbar-component-title);

$subnav-tbar-component-link: () !default;
$subnav-tbar-component-link: map-merge((
	color: $link-color,
	hover-color: $link-hover-color,
	font-weight: $font-weight-semi-bold
), $subnav-tbar-component-link);

$subnav-tbar-component-text: () !default;
$subnav-tbar-component-text: map-merge((
	display: inline-block,
	line-height: 1.45,
	margin-bottom: $font-size-base * 0.25,
	margin-top: $font-size-base * 0.25,
	max-width: 100%
), $subnav-tbar-component-text);

$subnav-tbar: () !default;
$subnav-tbar: map-merge((
	font-size: $font-size-base * 0.875,
	section-text-align: left,
	strong-font-weight: $font-weight-semi-bold,
	item-padding-x: $font-size-base * 0.5,
	btn-height: $font-size-base * 1.5,
	btn-line-height: 1,
	btn-margin-y: $font-size-base * 0.125,
	btn-padding-y: 0,
	btn-monospaced-margin-y: $font-size-base * 0.125,
	btn-monospaced-padding: $font-size-base * 0.25,
	component-link: $subnav-tbar-component-link,
	component-title: $subnav-tbar-component-title,
	component-text: $subnav-tbar-component-text,
	link-margin-y: $font-size-base * 0.125,
	link-padding-x: $font-size-base * 0.25,
	link-padding-y: $font-size-base * 0.09375,
	link-monospaced-margin-y: $font-size-base * 0.125,
	link-monospaced-size: $font-size-base * 1.5
), $subnav-tbar);

// Subnav Tbar Variants

$subnav-tbar-light: () !default;
$subnav-tbar-light: map-merge((
	bg-color: $light,
	color: $navbar-light-color,
	padding-y: $font-size-base * 0.125
), $subnav-tbar-light);

// Subnav Tbar Primary

$subnav-tbar-primary-component-link: () !default;
$subnav-tbar-primary-component-link: map-merge((
	color: $body-color,
	hover-color: $body-color,
	disabled-color: $secondary,
	disabled-cursor: $disabled-cursor,
	disabled-opacity: $btn-disabled-opacity,
	disabled-text-decoration: none
), $subnav-tbar-primary-component-link);

$subnav-tbar-primary-component-label-close: () !default;
$subnav-tbar-primary-component-label-close: map-merge((
	focus-color: inherit,
	disabled-color: $secondary,
	disabled-opacity: $btn-disabled-opacity
), $subnav-tbar-primary-component-label-close);

$subnav-tbar-primary-component-label: () !default;
$subnav-tbar-primary-component-label: map-merge((
	close: $subnav-tbar-primary-component-label-close
), $subnav-tbar-primary-component-label);

$subnav-tbar-primary-tbar-label-size: () !default;
$subnav-tbar-primary-tbar-label-size: map-merge((
	font-size: $font-size-base * 0.75,
	margin-right: 0,
	padding-x: $font-size-base * 0.625,
	padding-y: $font-size-base * 0.3125,
	text-transform: none
), $subnav-tbar-primary-tbar-label-size);

$subnav-tbar-primary: () !default;
$subnav-tbar-primary: map-merge((
	bg-color: lighten($primary, 32.94),
	padding-x: $font-size-base * 0.25,
	padding-y: $font-size-base * 0.625,
	item-justify-content: flex-start,
	item-padding-x: $font-size-base * 0.25,
	link-monospaced-border-radius: 0,
	link-monospaced-border-width: 0,
	link-monospaced-margin-y: -$font-size-base * 0.625,
	link-monospaced-size: $font-size-base * 3,
	component-link: $subnav-tbar-primary-component-link,
	component-label: $subnav-tbar-primary-component-label,
	tbar-label-size: $subnav-tbar-primary-tbar-label-size
), $subnav-tbar-primary);

// Subnav Tbar Primary Disabled

$subnav-tbar-primary-disabled-component-label: () !default;
$subnav-tbar-primary-disabled-component-label: map-merge((
	border-color: #6C757D
), $subnav-tbar-primary-disabled-component-label);

$subnav-tbar-primary-disabled: () !default;
$subnav-tbar-primary-disabled: map-merge((
	bg-color: lighten(desaturate($primary, 27.03), 37.06),
	color: #6C757D,
	component-label: $subnav-tbar-primary-disabled-component-label
), $subnav-tbar-primary-disabled);
