$html: () !default;
$html: map-merge((
	// Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.

	-webkit-text-size-adjust: 100%,

	// Change the default tap highlight to be completely transparent in iOS.

	-webkit-tap-highlight-color: rgba($black, 0),
), $html);

$body-moz-osx-font-smoothing: $moz-osx-font-smoothing !default;
$body-webkit-font-smoothing: $webkit-font-smoothing !default;
$body-text-align: inherit !default;

$body: () !default;
$body: map-merge((
	background-color: $body-bg,
	color: $body-color,
	font-family: $font-family-base,
	font-size: $font-size-base,

	-moz-osx-font-smoothing: $body-moz-osx-font-smoothing,
	-webkit-font-smoothing: $body-webkit-font-smoothing,

	font-weight: $font-weight-base,
	line-height: $line-height-base,
	margin: 0,

	// Display traditional scrollbar in IE

	-ms-overflow-style: scrollbar,

	text-align: $body-text-align,
), $body);

$body-mobile: () !default;
$body-mobile: map-merge((
	font-size: $font-size-base-mobile,
), $body-mobile);

$hr: () !default;
$hr: map-merge((
	border-color: $hr-border-color,
	border-style: solid,
	border-width: $hr-border-width 0 0 0,

	margin-bottom: $hr-margin-y,
	margin-top: $hr-margin-y,

	// Show the overflow in Edge and IE.

	overflow: visible,
), $hr);

$headings: () !default;
$headings: map-merge((
	color: $headings-color,
	font-family: $headings-font-family,
	font-weight: $headings-font-weight,
	line-height: $headings-line-height,
	margin-bottom: $headings-margin-bottom,
	margin-top: 0,
), $headings);

$h1-font-size-mobile: null !default;
$h2-font-size-mobile: null !default;
$h3-font-size-mobile: null !default;
$h4-font-size-mobile: null !default;
$h5-font-size-mobile: null !default;
$h6-font-size-mobile: null !default;

$h1: () !default;
$h1: map-merge((
	font-size: $h1-font-size,
), $h1);

$h2: () !default;
$h2: map-merge((
	font-size: $h2-font-size,
), $h2);

$h3: () !default;
$h3: map-merge((
	font-size: $h3-font-size,
), $h3);

$h4: () !default;
$h4: map-merge((
	font-size: $h4-font-size,
), $h4);

$h5: () !default;
$h5: map-merge((
	font-size: $h5-font-size,
), $h5);

$h6: () !default;
$h6: map-merge((
	font-size: $h6-font-size,
), $h6);

$h1-mobile: () !default;
$h1-mobile: map-merge((
	font-size: $h1-font-size-mobile,
), $h1-mobile);

$h2-mobile: () !default;
$h2-mobile: map-merge((
	font-size: $h2-font-size-mobile,
), $h2-mobile);

$h3-mobile: () !default;
$h3-mobile: map-merge((
	font-size: $h3-font-size-mobile,
), $h3-mobile);

$h4-mobile: () !default;
$h4-mobile: map-merge((
	font-size: $h4-font-size-mobile,
), $h4-mobile);

$h5-mobile: () !default;
$h5-mobile: map-merge((
	font-size: $h5-font-size-mobile,
), $h5-mobile);

$h6-mobile: () !default;
$h6-mobile: map-merge((
	font-size: $h6-font-size-mobile,
), $h6-mobile);

$paragraph: () !default;
$paragraph: map-merge((
	margin-bottom: $paragraph-margin-bottom,
	margin-top: 0,
), $paragraph);

// Builds on `abbr`

$initialism: () !default;
$initialism: map-merge((
	font-size: 90%,
	text-transform: uppercase,
), $initialism);

$address: () !default;
$address: map-merge((
	font-style: normal,
	line-height: inherit,
	margin-bottom: 1rem,
), $address);

$ol: () !default;
$ol: map-merge((
	margin-bottom: 1rem,
	margin-top: 0,
), $ol);

$ul: () !default;
$ul: map-merge((
	margin-bottom: 1rem,
	margin-top: 0,
), $ul);

$dl: () !default;
$dl: map-merge((
	margin-bottom: 1rem,
	margin-top: 0,
), $dl);

$dt: () !default;
$dt: map-merge((
	font-weight: $dt-font-weight,
), $dt);

$dd: () !default;
$dd: map-merge((
	margin-bottom: 0.5rem,
	margin-left: 0,
), $dd);

$list-unstyled: () !default;
$list-unstyled: map-merge((
	list-style: none,
	padding-left: 0,
), $list-unstyled);

$list-inline: () !default;
$list-inline: map-merge((
	list-style: none,
	padding-left: 0,
), $list-inline);

$list-inline-item: () !default;
$list-inline-item: map-merge((
	display: inline-block,
	margin-right: $list-inline-padding,
), $list-inline-item);

$list-inline-item-last: () !default;
$list-inline-item-last: map-merge((
	margin-right: 0,
), $list-inline-item-last);

$blockquote: () !default;
$blockquote: map-merge((
	font-size: $blockquote-font-size,
	margin: 0 0 $spacer,
), $blockquote);

$blockquote-footer: () !default;
$blockquote-footer: map-merge((
	color: $blockquote-small-color,
	display: block,
	font-size: $blockquote-small-font-size,
), $blockquote-footer);

$blockquote-footer-before: () !default;
$blockquote-footer-before: map-merge((
	content: '\2014\00A0',
), $blockquote-footer-before);

$b-font-weight: null !default;

$b: () !default;
$b: map-merge((
	font-weight: $b-font-weight,
), $b);

$strong-font-weight: null !default;

$strong: () !default;
$strong: map-merge((
	font-weight: $strong-font-weight,
), $strong);

$small: () !default;
$small: map-merge((
	font-size: $small-font-size,
	font-weight: $font-weight-normal,
), $small);

$sub: () !default;
$sub: map-merge((
	bottom: -0.25em,
	font-size: 75%,
	line-height: 0,
	position: relative,
	vertical-align: baseline,
), $sub);

$sup: () !default;
$sup: map-merge((
	font-size: 75%,
	line-height: 0,
	position: relative,
	top: -0.5em,
	vertical-align: baseline,
), $sup);

$link: () !default;
$link: map-merge((
	// Remove the gray background on active links in IE 10.

	background-color: transparent,

	color: $link-color,
	cursor: $link-cursor,
	text-decoration: $link-decoration,
	hover: (
		color: $link-hover-color,
		text-decoration: $link-hover-decoration,
	),
), $link);

$code: () !default;
$code: map-merge((
	color: $code-color,
	font-family: $font-family-monospace,
	font-size: $code-font-size,
	word-wrap: break-word,
), $code);

$kbd: () !default;
$kbd: map-merge((
	background-color: $kbd-bg,
	border-radius: clay-enable-rounded($border-radius-sm),
	box-shadow: clay-enable-shadows($kbd-box-shadow),
	color: $kbd-color,
	font-family: $font-family-monospace,
	font-size: $kbd-font-size,
	padding-bottom: $kbd-padding-y,
	padding-left: $kbd-padding-x,
	padding-right: $kbd-padding-x,
	padding-top: $kbd-padding-y,
), $kbd);

$kbd-kbd: () !default;
$kbd-kbd: map-merge((
	box-shadow: clay-enable-shadows(none),
	font-size: 100%,
	font-weight: $nested-kbd-font-weight,
	padding: 0,
), $kbd-kbd);

$samp: () !default;
$samp: map-merge((
	font-family: $font-family-monospace,
	font-size: 1em,
), $samp);

$pre: () !default;
$pre: map-merge((
	color: $pre-color,
	display: block,
	font-family: $font-family-monospace,
	font-size: $code-font-size,
	margin-bottom: 1rem,
	margin-top: 0,
	overflow: auto,
), $pre);

$pre-code: () !default;
$pre-code: map-merge((
	font-size: inherit,
	color: inherit,
	word-break: normal,
), $pre-code);

$pre-scrollable: () !default;
$pre-scrollable: map-merge((
	max-height: $pre-scrollable-max-height,
	overflow-y: scroll,
), $pre-scrollable);

$lead: () !default;
$lead: map-merge((
	font-size: $lead-font-size,
	font-weight: $lead-font-weight,
), $lead);

$display-1: () !default;
$display-1: map-merge((
	font-size: $display1-size,
	font-weight: $display1-weight,
	line-height: $display-line-height,
), $display-1);

$display-2: () !default;
$display-2: map-merge((
	font-size: $display2-size,
	font-weight: $display2-weight,
	line-height: $display-line-height,
), $display-2);

$display-3: () !default;
$display-3: map-merge((
	font-size: $display3-size,
	font-weight: $display3-weight,
	line-height: $display-line-height,
), $display-3);

$display-4: () !default;
$display-4: map-merge((
	font-size: $display4-size,
	font-weight: $display4-weight,
	line-height: $display-line-height,
), $display-4);

$reference-mark-font-size: 0.75rem !default;
$reference-mark-vertical-align: super !default;

$mark-color: null !default;

$mark: () !default;
$mark: map-merge((
	padding: $mark-padding,
), $mark);

$c-kbd-group: () !default;
$c-kbd-group: map-deep-merge(
	(
		font-size: 0.875rem,
	),
	$c-kbd-group
);

$c-kbd: () !default;
$c-kbd: map-deep-merge(
	(
		background-color: transparent,
		border-radius: 2px,
		border-color: transparent,
		border-style: solid,
		border-width: 1px,
		box-shadow: none,
		color: inherit,
		display: inline-block,
		font-family: $font-family-sans-serif,
		font-size: 0.875rem,
		font-weight: $font-weight-semi-bold,
		height: 1.5rem,
		line-height: 1.375rem,
		min-width: 1.5rem,
		padding: 0 0.3125rem,
		text-align: center,
		text-transform: capitalize,
	),
	$c-kbd
);

$c-kbd-monospaced: () !default;
$c-kbd-monospaced: map-deep-merge(
	(
		padding: 0,
	),
	$c-kbd-monospaced
);

$c-kbd-inline: () !default;
$c-kbd-inline: map-deep-merge(
	(
		border-width: 0,
		font-weight: $font-weight-light,
		height: auto,
		line-height: inherit,
		min-width: 0,
		padding: 0,
	),
	$c-kbd-inline
);

// Kbd Sizes

$c-kbd-group-sm: () !default;
$c-kbd-group-sm: map-deep-merge(
	(
		font-size: 0.75rem,
	),
	$c-kbd-group-sm
);

$c-kbd-sm: () !default;
$c-kbd-sm: map-deep-merge(
	(
		font-size: 0.75rem,
	),
	$c-kbd-sm
);

$c-kbd-group-lg: () !default;
$c-kbd-group-lg: map-deep-merge(
	(
		font-size: 1rem,
	),
	$c-kbd-group-lg
);

$c-kbd-lg: () !default;
$c-kbd-lg: map-deep-merge(
	(
		font-size: 1rem,
	),
	$c-kbd-lg
);

// Kbd Variants

$c-kbd-group-light: () !default;
$c-kbd-group-light: map-deep-merge(
	(
		color: $secondary,
	),
	$c-kbd-group-light
);

$c-kbd-light: () !default;
$c-kbd-light: map-deep-merge(
	(
		background-color: $white,
		border-color: $gray-400,
		color: $secondary,
	),
	$c-kbd-light
);

$c-kbd-group-dark: () !default;
$c-kbd-group-dark: map-deep-merge(
	(
		color: $white,
	),
	$c-kbd-group-dark
);

$c-kbd-dark: () !default;
$c-kbd-dark: map-deep-merge(
	(
		background-color: $dark-l2,
		border-color: $dark-l2,
		color: $white,
	),
	$c-kbd-dark
);
