.bb {
  svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  path, line {
    fill: none;
    stroke: #e5e5eb;
  }

  text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    tspan {
      fill: #6b6c7e;
    }
  }

}

.bb-legend-item-tile,
.bb-xgrid-focus,
.bb-ygrid,
.bb-event-rect,
.bb-bars path {
  shape-rendering: crispEdges;
}

.bb-chart-arc {
  path {
    stroke: #fff;
  }

  text {
    fill: #fff;
    font-size: 13px;
  }
}
