.bb-chart-radars {
	.bb-levels {
		polygon {
			fill: none;
			stroke: #848282;
			stroke-width: 0.5px;
		}

		text {
			fill: #848282;
		}
	}

	.bb-axis {
		line {
			stroke: #848282;
			stroke-width: 0.5px;
		}

		text {
			cursor: default;
			font-size: 1.15em;
		}
	}

	.bb-shapes {
		polygon {
			fill-opacity: 0.2;
			stroke-width: 1px;
		}
	}
}
