.breadcrumb > li {
	float: left;
	text-transform: uppercase;

	&.active {
		color: $breadcrumb-active-color;
	}
}

.breadcrumb > li + li::before {
	display: inline-block; // Suppress underlining of the separator in modern browsers
	padding-right: $breadcrumb-item-padding;
	padding-left: $breadcrumb-item-padding;
	color: $breadcrumb-divider-color;
	content: "#{$breadcrumb-divider}";
}

.breadcrumb > li + li:hover::before {
	text-decoration: underline;
}

.breadcrumb > li + li:hover::before {
	text-decoration: none;
}

.breadcrumb-vertical {
	.breadcrumb-item {
		display: block;
		float: none;
		max-width: none;
	}

	.breadcrumb-item:before,
	.breadcrumb-item + .breadcrumb-item:before {
		color: $gray-600;
		content: normal;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}