.help-block {
	display: block; // account for any element using help-block
	margin-top: 5px;
	margin-bottom: 10px;
	color: lighten($body-color, 25%); // lighten the text some for contrast
}

.has-error {
	@extend .is-invalid;
}

.has-feedback {
	position: relative;

	label,
	.form-control {
		+ .form-control-feedback {
			position: absolute;
			top: ($line-height-base + 5); // Height of the `label` and its margin
			right: 0;
			z-index: 2; // Ensure icon is above input groups
			display: block;
			width: $input-height;
			height: $input-height;
			line-height: $input-height;
			text-align: center;
			pointer-events: none;
			margin-top: 0;
		}

		&.sr-only ~ .form-control-feedback {
			 top: 0;
		}
	}
}