@mixin make-eqh-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}

	#{$list} {
		padding-left: 0;
		padding-right: 0;
	}
}

%equal-height-column-cell {
	display: table-cell;
	vertical-align: top;
}

%equal-height-column-row {
	display: table-row;
}

%equal-height-columns {
	display: table;
	width: 100%;
}