@mixin clay-label-size($map) {
	$border-width: setter(map-get($map, border-width), $label-border-width);
	$font-size: map-get($map, font-size);
	$height: map-get($map, height);
	$padding-x: map-get($map, padding-x);
	$padding-y: map-get($map, padding-y);
	$text-transform: map-get($map, text-transform);

	$close-margin-left: map-get($map, close-margin-left);
	$close-vertical-align: map-get($map, close-vertical-align);

	$lexicon-icon-height: setter(map-get($map, lexicon-icon-height), map-get($map, lexicon-icon-width));
	$lexicon-icon-width: map-get($map, lexicon-icon-width);

	border-width: $border-width;
	font-size: $font-size;

	@if ($height) {
		line-height: $height - ($border-width * 2);
	}

	padding-bottom: $padding-y;
	padding-left: $padding-x;
	padding-right: $padding-x;
	padding-top: $padding-y;
	text-transform: $text-transform;

	.close {
		margin-left: $close-margin-left;
		vertical-align: $close-vertical-align;

		.lexicon-icon {
			height: $lexicon-icon-height;
			width: $lexicon-icon-width;
		}
	}
}