@mixin sticker {
	font-size: $sticker-font-size;

	@include monospace($sticker-size);
}

@mixin sticker-sm {
	font-size: $sticker-font-size-sm;

	@include monospace($sticker-size-sm);
}

@mixin sticker-lg {
	font-size: $sticker-font-size-lg;

	@include monospace($sticker-size-lg);
}

@mixin sticker-xl {
	font-size: $sticker-font-size-xl;

	@include monospace($sticker-size-xl);
}

@mixin sticker-xxl {
	font-size: $sticker-font-size-xxl;

	@include monospace($sticker-size-xxl);
}

@mixin sticker-size($size: '') {
	@if ($size == sm) {
		@include sticker-sm;
	}
	@else if ($size == lg) {
		@include sticker-lg;
	}
	@else if($size == xl) {
		@include sticker-xl;
	}
	@else if($size == xxl) {
		@include sticker-xxl;
	}
	@else {
		@include sticker;
	}
}