/**
* Lexicon 0.1.25
*
* Copyright 2015, Liferay, Inc.
* All rights reserved.
* MIT license
*/
.list-group-heading {
	background-color: $list-group-bg;
	border: 1px solid $list-group-border;
	display: block;
	font-weight: $list-group-header-font-weight;
	margin-bottom: -1px;
	overflow: hidden;
	padding: 10px 15px;
	position: relative;
	word-wrap: break-word;

	&:first-child {
		border-top-left-radius: $list-group-border-radius;
		border-top-right-radius: $list-group-border-radius;
	}

	&:last-child {
		border-bottom-left-radius: $list-group-border-radius;
		border-bottom-right-radius: $list-group-border-radius;
		margin-bottom: 0;
	}


}

a.list-group-heading,
button.list-group-heading,
.list-group-heading[data-toggle="collapse"] {
	color: $list-group-link-color;

	&:focus,
	&:hover {
		background-color: $list-group-hover-bg;
		color: $list-group-link-hover-color;
	}
}

.list-group-heading.collapse-icon {
	&:before {
		content: $list-group-header-icon-open;
		font-size: $list-group-header-icon-font-size;
		font-family: $list-group-header-icon-font-family;
		right: 15px;
	}

	&.collapsed:before {
		content: $list-group-header-icon-closed;
	}
}

// Collapsible List Group

.list-group {
	.collapse,
	.collapsing {
		&:last-child {
			border-bottom-left-radius: $list-group-border-radius;
			border-bottom-right-radius: $list-group-border-radius;
			overflow: hidden;

			.list-group-item:last-child {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}

		.list-group-item {
			&:first-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:last-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.tabular-list-group {
			margin-bottom: 0;
		}
	}

	.list-group-heading {
		margin-top: -1px;

		&:first-child {
			margin-top: 0;
		}

		&.collapsed {
			&:nth-last-child(2) {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}
	}
}

// Tabular List Group

.tabular-list-group {
	border-collapse: separate;
	display: table;
	margin-bottom: 20px;
	padding: 0;

	a {
		color: $list-group-link-color;

		&:focus,
		&:hover {
			color: $list-group-link-hover-color;
		}
	}

	> li,
	.list-group-item {
		border-width: 0;
		display: table-row;
		height: $tabular-list-group-item-height;
		padding: 0;

		&:first-child {
			.list-group-item-content,
			.list-group-item-field {
				border-top: $tabular-list-group-border-width solid $list-group-border;
			}
		}
	}

	.active {
		a {
			&,
			&:focus,
			&:hover {
				color: $list-group-active-color;
			}
		}
	}

	.list-group-item-content,
	.list-group-item-field {
		border: $tabular-list-group-border-width solid $list-group-border;
		border-left-width: 0;
		border-right-width: 0;
		border-top-width: 0;
		padding: 1em 0.3em;
		position: relative;
		word-break: break-all; // IE
		word-break: break-word;

		&:first-child {
			border-left-width: $tabular-list-group-border-width;
			padding-left: 1em;
		}

		&:last-child {
			border-right-width: $tabular-list-group-border-width;
			padding-right: 1em;
		}
	}

	.list-group-item-content {
		h1, h2, h3, h4, h5, h6 {
			margin: 0.5em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.list-group-item-field {
		text-align: center;
	}
}

.tabular-list-group.no-borders {
	> li,
	.list-group-item {
		&:first-child {
			.list-group-item-content,
			.list-group-item-field {
				border-top-width: 0;
			}
		}
	}

	.list-group-item-content,
	.list-group-item-field {
		border-width: 0;
	}
}

.tabular-list-group.full-borders {
	.list-group-item-content,
	.list-group-item-field {
		&,
		&:last-child {
			border-right-width: $tabular-list-group-border-width;
		}

		&:first-child {
			border-left-width: $tabular-list-group-border-width;
		}
	}
}

.list-group-item-content,
.list-group-item-field {
	display: table-cell;
	padding: 0 0.3em;
	vertical-align: middle;
}

.list-group-item-field {
	width: 1%;
}

// min width 992px

@media (min-width: $screen-md-min) {
	.tabular-list-group {
		.list-group-item-content,
		.list-group-item-field {
			padding: 1em 0.8em;
		}
	}
}

@media screen and (max-width: 279px) {
	.tabular-list-group {
		> li,
		.list-group-item {
			display: block;
			height: auto;
		}

		.list-group-item-content,
		.list-group-item-field {
			display: block;
			width: 100%;
		}
	}
}

// Tabular List Group Skins

.detailed-list-view {
	.list-group-item {
		cursor: pointer;
	}

	.list-group-item-field {
		&:first-child + .list-group-item-field {
			border-left-width: $tabular-list-group-border-width;
			padding-left: 12px;
			padding-right: 16px;

			@media screen and (min-width: $grid-float-breakpoint) {
				border-left-width: 0;
			}
		}

		&:last-child {
			padding-left: 8px;
			padding-right: 12px;
		}
	}

	.list-group-item-content,
	.list-group-item-field {
		vertical-align: middle;

		@media screen and (min-width: $grid-float-breakpoint) {
			vertical-align: top;
		}
	}
}

.detailed-list-view > .active .detailed-list-view-icon {
	&:after {
		color: $list-group-active-color;
		content: '\f00c';
		font-family: 'fontawesome-alloy';
		font-size: 16px;
		vertical-align: middle;

		@media screen and (min-width: $grid-float-breakpoint) {
			content: normal;
		}
	}

	> [class^="icon-"],
	> [class*=" icon-"],
	> .user-icon {
		display: none;
	}

	> [class^="icon-"],
	> [class*=" icon-"] {
		@media screen and (min-width: $grid-float-breakpoint) {
			display: inline;
		}
	}

	> .user-icon {
		@media screen and (min-width: $grid-float-breakpoint) {
			display: block;
		}
	}
}

.detailed-list-view-icon {
	@include monospace(34px);

	@media screen and (min-width: $grid-float-breakpoint) {
		@include monospace(48px);
	}

	[class^="icon-"],
	[class*=" icon-"] {
		font-size: 28px;

		@media screen and (min-width: $grid-float-breakpoint) {
			font-size: 38px;
		}
	}
}

@media screen and (max-width: 279px) {
	.detailed-list-view {
		.dropdown {
			display: inline-block;
		}

		.dropdown-menu {
			left: 50%;
			right: auto;

			@include transform(translateX(-50%));

			top: 100%;
		}

		.detailed-list-view-icon {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// List Group Card

.list-group-card {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 5px;
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.card {
		border-color: $list-group-border;
		border-radius: 0;
		border-width: 1px;
		box-shadow: none;
		margin: 0;
	}

	.card-col-content,
	.card-col-field {
		vertical-align: top;
	}

	.checkbox input[type="checkbox"] {
		&:checked {
			+ .card {
				background-color: $list-group-card-active-bg;
				color: $list-group-card-active-color;

				.dropdown-toggle {
					color: $list-group-card-active-color;
				}
			}
		}
	}

	.list-group-card-icon {
		font-size: 2.4em;

		@media screen and (min-width: $grid-float-breakpoint) {
			font-size: 3em;
		}

		> [class^="icon-"],
		> [class*=" icon-"],
		> .user-icon {
			display: block;

			@include monospace(34px);

			text-align: center;

			@media screen and (min-width: $grid-float-breakpoint) {
				@include monospace(45px);
			}
		}
	}

	.list-group-item {
		border-width: 0;
		margin-bottom: 0;
		margin-top: -1px;
		padding: 0;

		&:last-child {
			.card {
				border-bottom-left-radius: $list-group-border-radius;
				border-bottom-right-radius: $list-group-border-radius;
			}
		}
	}
}

.list-group-card-checkbox-hidden-xs {
	.checkbox input[type="checkbox"] {
		display: none;

		@media screen and (min-width: $grid-float-breakpoint) {
			display: block;
		}

		&:checked + .card .list-group-card-icon {
			&:after {
				color: $list-group-active-color;
				content: $list-group-card-checkbox-hidden-icon;
				display: block;
				font-family: 'fontawesome-alloy';
				font-size: 16px;

				@include monospace(34px);

				text-align: center;
				vertical-align: middle;

				@media screen and (min-width: $grid-float-breakpoint) {
					content: normal;
				}
			}

			> [class^="icon-"],
			> [class*=" icon-"],
			> .user-icon {
				display: none;
			}

			> [class^="icon-"],
			> [class*=" icon-"] {
				@media screen and (min-width: $grid-float-breakpoint) {
					display: block;
				}
			}

			> .user-icon {
				@media screen and (min-width: $grid-float-breakpoint) {
					display: block;
				}
			}
		}
	}

	.checkbox-bottom-left,
	.checkbox-middle-left,
	.checkbox-top-left {
		.card.flex-container {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-left: 20px;
			}
		}

		.card-row {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-left: 20px;
			}
		}
	}

	.checkbox-bottom-right,
	.checkbox-middle-right,
	.checkbox-top-right {
		.card.flex-container {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-right: 20px;
			}
		}

		.card-row {
			@media screen and (max-width: $grid-float-breakpoint-max) {
				padding-right: 20px;
			}
		}
	}
}