$cadmin-thumbnail-bg: $cadmin-body-bg !default;
$cadmin-thumbnail-border-color: $cadmin-gray-300 !default;
$cadmin-thumbnail-border-width: $cadmin-border-width !default;

$cadmin-thumbnail-border-radius: $cadmin-border-radius !default;
$cadmin-thumbnail-box-shadow: 0 1px 2px rgba($cadmin-black, 0.075) !default;
$cadmin-thumbnail-padding: 4px !default;

$cadmin-figure-caption-color: $cadmin-gray-600 !default;
$cadmin-figure-caption-font-size: 90% !default;
