$cadmin-progress-bg: $cadmin-gray-200 !default;
$cadmin-progress-border-radius: 100px !default;
$cadmin-progress-box-shadow: none !default;
$cadmin-progress-font-size: 9px !default;
$cadmin-progress-height: 8px !default;
$cadmin-progress-min-width: 100px !default;

$cadmin-progress-bar-animation-timing: 1s linear infinite !default;
$cadmin-progress-bar-bg: $cadmin-primary !default;
$cadmin-progress-bar-box-shadow: null !default;
$cadmin-progress-bar-color: $cadmin-white !default;
$cadmin-progress-bar-transition: width 0.6s ease !default;

// Progress Sizes

$cadmin-progress-border-radius-lg: 100px !default;
$cadmin-progress-font-size-lg: $cadmin-font-size-lg !default;
$cadmin-progress-height-lg: $cadmin-progress-height * 2 !default;

// Progress Group

$cadmin-progress-group-subtitle: () !default;
$cadmin-progress-group-subtitle: map-deep-merge(
	(
		font-size: 12px,
		font-weight: $cadmin-font-weight-normal,
	),
	$cadmin-progress-group-subtitle
);

$cadmin-progress-group-addon-font-size: 14px !default;
$cadmin-progress-group-addon-font-weight: $cadmin-font-weight-semi-bold !default;
$cadmin-progress-group-addon-spacer-x: 16px !default;

$cadmin-progress-group-addon: () !default;
$cadmin-progress-group-addon: map-deep-merge(
	(
		font-size: $cadmin-progress-group-addon-font-size,
		font-weight: $cadmin-progress-group-addon-font-weight,
		margin-right: $cadmin-progress-group-addon-spacer-x,
		min-width: 32px,
		text-align: center,
		first-child: (
			padding-left: 0,
		),
		last-child: (
			padding-right: 0,
		),
	),
	$cadmin-progress-group-addon
);

$cadmin-progress-group-stacked-progress-margin-bottom: 4px !default;
$cadmin-progress-group-stacked-progress-margin-top: 4px !default;

// Progress Variants

$cadmin-progress-group-feedback-color: $cadmin-primary !default;

$cadmin-progress-bar-danger-bg: $cadmin-danger !default;
$cadmin-progress-group-feedback-danger-color: $cadmin-progress-bar-danger-bg !default;

$cadmin-progress-bar-info-bg: $cadmin-info !default;
$cadmin-progress-group-feedback-info-color: $cadmin-progress-bar-info-bg !default;

$cadmin-progress-bar-success-bg: $cadmin-success !default;
$cadmin-progress-group-feedback-success-color: $cadmin-progress-bar-success-bg !default;

$cadmin-progress-bar-warning-bg: $cadmin-warning !default;
$cadmin-progress-group-feedback-warning-color: $cadmin-progress-bar-warning-bg !default;

$cadmin-progress-palette: () !default;
$cadmin-progress-palette: map-deep-merge(
	(
		success: (
			bar-bg: $cadmin-progress-bar-success-bg,
			group-feedback-color: $cadmin-progress-group-feedback-success-color,
		),
		info: (
			bar-bg: $cadmin-progress-bar-info-bg,
			group-feedback-color: $cadmin-progress-group-feedback-info-color,
		),
		warning: (
			bar-bg: $cadmin-progress-bar-warning-bg,
			group-feedback-color: $cadmin-progress-group-feedback-warning-color,
		),
		danger: (
			bar-bg: $cadmin-progress-bar-danger-bg,
			group-feedback-color: $cadmin-progress-group-feedback-danger-color,
		),
	),
	$cadmin-progress-palette
);
