.btn-group {
	.btn + .btn,
	.btn + .btn-group,
	.btn-group + .btn,
	.btn-group + .btn-group {
		margin-left: -$btn-border-width;
	}
}

.btn-group > .btn + .dropdown-toggle {
	padding-left: 15px;
	padding-right: 15px;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.btn-group {
	.btn-danger,
	.btn-info,
	.btn-primary,
	.btn-success,
	.btn-warning {
		&:first-child {
			border-right: 1px solid #FFF;
		}

		+ .btn-danger,
		+ .btn-info,
		+ .btn-primary,
		+ .btn-success,
		+ .btn-warning {
			border-left: 1px solid #FFF;
			margin-left: -1px;

			&:focus,
			&:hover {
				border-left-color: #FFF;
			}
		}
	}
}

.btn-group-vertical {
	> .btn + .btn,
	> .btn + .btn-group,
	> .btn-group + .btn,
	> .btn-group + .btn-group {
		margin-top: -$btn-border-width;
	}
}

.btn-group-vertical > .btn {
	&:first-child:not(:last-child) {
		border-top-right-radius: $btn-border-radius;
	}
}