.panel {
	border: $panel-border-width solid transparent;
	box-shadow: $panel-box-shadow;
}

.panel-footer {
	border-top-width: 0;
}

.panel-heading {
	border-bottom-width: 2px;
}

.panel-default {
	> .panel-heading,
	> .panel-footer {
		color: $brand-default;
	}
}

.panel-group .panel-heading {
	border-bottom-width: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top-width: 2px;
}