.panel {
	border: $panel-border-width solid transparent;
	box-shadow: $panel-box-shadow;
}

.panel-footer {
	border-top-width: 0;
}

.panel-heading {
	border-bottom-width: 2px;
}

.panel-blank {
	box-shadow: none;

	> .panel-heading {
		a {
			color: $panel-blank-heading-link-open-color;

			&:focus,
			&:hover {
				text-decoration: none;
			}

			&.collapsed {
				color: $panel-blank-heading-link-color;
			}
		}
	}
}

.panel-default {
	> .panel-heading,
	> .panel-footer {
		color: $brand-default;
	}
}

.panel-group .panel-heading {
	border-bottom-width: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top-width: 2px;
}