.search-bar {
	.btn {
		border-radius: 0;
		padding: 2px;

		@media screen and (min-width: $grid-float-breakpoint) {
			padding: 6px 2px;
		}
	}
}

.sidebar-inverse {
	@include color-placeholder('input', $brand-default);

	.form-control {
		background-color: $sidebar-inverse-input-bg;
		border-width: 0;
		color: $brand-default;
		padding: 8px 12px;

		&,
		+ .input-group-btn .btn {
			opacity: 0.65;
		}

		&:focus {
			&,
			+ .input-group-btn .btn {
				opacity: 1;
			}
		}
	}

	.search-bar {
		.btn {
			background-color: $sidebar-inverse-input-bg;
			border-width: 1px;
			color: $brand-default
		}
	}
}

// Sidebar Product Menu

.product-menu {
	.list-group-heading,
	.list-group-item {
		padding-left: 10px;
	}

	.list-group-heading {
		min-height: 47px;

		&.show-collapse-icon:before {
			top: 0;

			@include transform(none);
		}

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
			margin-top: 0;
		}

		small {
			display: block;
			margin-top: 5px;
		}
	}
}

.product-menu-tabs {
	border-bottom-width: 0;

	> li > a {
		font-size: 12px;
		padding: 10px 0;
	}

	.badge-monospaced {
		border-radius: 4px;
		position: absolute;
		right: 5px;
		top: 0;
	}
}

// Product Menu Skins

.product-menu {
	.sidebar-header {
		background-color: $product-menu-header-bg;

		a {
			color: $product-menu-header-link-color;

			&:focus,
			&:hover {
				color: $product-menu-header-link-hover-color;
			}
		}
	}
}

.product-menu {
	.list-group {
		box-shadow: none;
	}

	a.list-group-heading,
	a.list-group-heading:focus,
	a.list-group-heading:hover,
	.list-group-heading,
	.list-group-heading:after,
	.list-group-heading.collapsed:after,
	.list-group-item {
		background-color: transparent;
	}
}

.product-menu-tabs {
	> li {
		&.active {
			> a {
				&,
				&:focus,
				&:hover {
					background-color: $brand-default;
					border-color: transparent;
					color: #FFF;
				}
			}
		}

		> a {
			background-color: #1A242A;
			border-radius: $border-radius-base;
			color: $brand-default;

			&:focus,
			&:hover {
				background-color: #1A242A;
				border-color: transparent;
				color: $brand-default;
			}
		}
	}
}