// Button Border Radius
$btn-border-radius: 30px;
$btn-lg-border-radius: round($btn-border-radius * 1.5);
$btn-sm-border-radius: round($btn-border-radius * 0.75);
$btn-xs-border-radius: round($btn-border-radius * 0.5);

// Button Sizes
/* When changing any settings below, make sure to match the corresponding 
		input-height to the button height. */
$btn-border-width: 2px;

$btn-font-size: 16px;
$btn-padding-vertical: 12px;
$btn-padding-horizontal: round($btn-padding-vertical * 4);

$btn-mobile-font-size: 14px;
$btn-mobile-padding-vertical: 8px;
$btn-mobile-padding-horizontal: round($btn-mobile-padding-vertical * 3);

$btn-lg-font-size: 18px;
$btn-lg-padding-vertical: 16px;
$btn-lg-padding-horizontal: round($btn-lg-padding-vertical * 4);

$btn-mobile-lg-font-size: 16px;
$btn-mobile-lg-padding-vertical: 12px;
$btn-mobile-lg-padding-horizontal: round($btn-mobile-lg-padding-vertical * 3);

$btn-sm-font-size: 12px;
$btn-sm-padding-vertical: 8px;
$btn-sm-padding-horizontal: round($btn-sm-padding-vertical * 4);

$btn-mobile-sm-font-size: 12px;
$btn-mobile-sm-padding-vertical: 6px;
$btn-mobile-sm-padding-horizontal: round($btn-mobile-sm-padding-vertical * 3);

$btn-xs-font-size: 10px;
$btn-xs-padding-vertical: 4px;
$btn-xs-padding-horizontal: round($btn-xs-padding-vertical * 4);

$btn-mobile-xs-font-size: 10px;
$btn-mobile-xs-padding-vertical: 4px;
$btn-mobile-xs-padding-horizontal: round($btn-mobile-xs-padding-vertical * 3);

// Button Colors
$btn-default-color:                        $brand-default;
$btn-default-bg:                           #FFF;
$btn-default-border:                       $brand-default;
$btn-default-hover-color: $btn-default-color;
$btn-default-hover-bg: $btn-default-bg;
$btn-default-hover-border: $brand-primary;
$btn-default-active-color: $btn-default-color;
$btn-default-active-bg: $btn-default-bg;
$btn-default-active-border: darken($btn-default-hover-border, 8%);

$btn-primary-color:                        #FFF;
$btn-primary-bg:                           $brand-primary;
$btn-primary-border:                       $btn-primary-bg;
$btn-primary-hover-color: $btn-primary-color;
$btn-primary-hover-bg: darken($btn-primary-bg, 8%);
$btn-primary-hover-border: $btn-primary-hover-bg;
$btn-primary-active-color: $btn-primary-color;
$btn-primary-active-bg: darken($btn-primary-hover-bg, 12%);
$btn-primary-active-border: $btn-primary-active-bg;


$btn-success-color:                        #FFF;
$btn-success-bg:                           $brand-success;
$btn-success-border:                       $btn-success-bg;
$btn-success-hover-color: $btn-success-color;
$btn-success-hover-bg: darken($btn-success-bg, 8%);
$btn-success-hover-border: $btn-success-hover-bg;
$btn-success-active-color: $btn-success-color;
$btn-success-active-bg: darken($btn-success-hover-bg, 12%);
$btn-success-active-border: $btn-success-active-bg;

$btn-info-color:                           #FFF;
$btn-info-bg:                              $brand-info;
$btn-info-border:                          $btn-info-bg;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: darken($btn-info-bg, 8%);
$btn-info-hover-border: $btn-info-hover-bg;
$btn-info-active-color: $btn-info-color;
$btn-info-active-bg: darken($btn-info-hover-bg, 12%);
$btn-info-active-border: $btn-info-active-bg;

$btn-warning-color:                        #FFF;
$btn-warning-bg:                           $brand-warning;
$btn-warning-border:                       $btn-warning-bg;
$btn-warning-hover-color: $btn-warning-color;
$btn-warning-hover-bg: darken($btn-warning-bg, 8%);
$btn-warning-hover-border: $btn-warning-hover-bg;
$btn-warning-active-color: $btn-warning-color;
$btn-warning-active-bg: darken($btn-warning-hover-bg, 12%);
$btn-warning-active-border: $btn-warning-active-bg;

$btn-danger-color:                         #FFF;
$btn-danger-bg:                            $brand-danger;
$btn-danger-border:                        $btn-danger-bg;
$btn-danger-hover-color: $btn-danger-color;
$btn-danger-hover-bg: darken($btn-danger-bg, 8%);
$btn-danger-hover-border: $btn-danger-hover-bg;
$btn-danger-active-color: $btn-danger-color;
$btn-danger-active-bg: darken($btn-danger-hover-bg, 12%);
$btn-danger-active-border: $btn-danger-active-bg;

$btn-link-disabled-color:                  #FFF;