$form-control-border-radius: 0;

$form-control-border-width: 0 0 2px 0;

$form-control-box-shadow: none;
$form-control-focus-box-shadow: none;

$form-control-font-size: 14px;
$form-control-desktop-font-size: 16px;

$form-control-padding-horizontal: 0;
$form-control-padding-vertical: 0;

$input-label-font-size: 12px;
$input-label-desktop-font-size: 14px;

$input-bg:                                 #FFF;
$input-bg-disabled:                        $input-bg;

$input-color:                              $text-color;
$input-color-focus: $brand-primary;

$input-border:                             $brand-default;
$input-border-focus:                       $input-color-focus;
$input-border-disabled: #CFD7DE;

$input-border-radius: 0;
$input-border-radius-large: $input-border-radius;
$input-border-radius-small: $input-border-radius;

$input-border-top-width: 0;
$input-border-right-width: 0;
$input-border-bottom-width: 2px;
$input-border-left-width: 0;
$input-border-width: $input-border-top-width $input-border-right-width $input-border-bottom-width $input-border-left-width;

$input-color-placeholder:                  lighten($text-color, 12%);
$input-color-placeholder-focus: $input-border-focus;

$input-readonly-bg: #FAFAFA;
$input-readonly-border: $input-border;
$input-readonly-color: $text-color;

$input-font-size-base: 16px;
$input-font-size-large: 18px;
$input-font-size-small: 13px;

/*** When changing input, make sure to match the corresponding
		 btn settings to the input height. ***/
$input-height-base:                        48px;
$input-height-large:                       61px;
$input-height-small:                       37px;

$input-mobile-height-base: 40px;
$input-mobile-height-large: 61px;
$input-mobile-height-small: 37px;

$legend-border-color:                      #B0B4BB;

$input-group-addon-bg:                     $brand-default;
$input-group-addon-border-color:           $input-group-addon-bg;

$input-danger: $brand-danger;
$input-success: $brand-success;
$input-warning: $brand-warning;

$checkbox-size: 20px;

$checkbox-color: $brand-primary;
$checkbox-bg: #FFF;
$checkbox-border: #B0B4BB;
$checkbox-border-focus: $brand-default;
$checkbox-check: "\f00c";

$checkbox-active-color: #2B4259;
$checkbox-active-bg: #FFF;
$checkbox-active-border: $checkbox-active-color;
$checkbox-checked-border: $checkbox-active-border;
$checkbox-checked-color: $checkbox-color;
$checkbox-disabled-color: #FFF;
$checkbox-disabled-bg: lighten(#B0B4BB, 20%);
$checkbox-disabled-border: $checkbox-disabled-bg;
$checkbox-hover-color: lighten($brand-primary, 20%);
$checkbox-hover-bg: #FFF;
$checkbox-hover-border: $checkbox-hover-color;

$radio-color: $checkbox-color;
$radio-bg: $checkbox-bg;
$radio-border: $checkbox-border;
$radio-check-color: $checkbox-color;
$radio-active-color: #2B4259;
$radio-active-bg: $radio-bg;
$radio-active-border: $checkbox-active-color;
$radio-checked-border: $checkbox-active-border;
$radio-checked-color: $checkbox-color;
$radio-disabled-color: $checkbox-disabled-color;
$radio-disabled-bg: $checkbox-disabled-bg;
$radio-disabled-border: $checkbox-disabled-border;
$radio-focus-color: #2B4259;
$radio-focus-border: #2B4259;
$radio-focus-bg: #FFF;
$radio-hover-color: lighten($brand-primary, 20%);
$radio-hover-bg: #FFF;
$radio-hover-border: $radio-hover-color;