// $pager-bg:                                 #FFF;
// $pager-color: $brand-default;

$pager-border:                             $pagination-border;
$pager-border-radius:                      $pagination-border-radius;
$pager-border-width: $pagination-border-width;

$pager-item-height: $pagination-item-height - ($pager-border-width * 2);

$pager-padding-base-horizontal: 20px;
$pager-padding-base-vertical: 0;

$pager-color: $pagination-color;

$pager-hover-bg: $pagination-hover-bg;
$pager-hover-border: $pagination-hover-border;
$pager-hover-color: $pagination-hover-color;

$pager-disabled-bg: $pagination-disabled-bg;
$pager-disabled-border: $pagination-disabled-border;
$pager-disabled-color:                     $pagination-disabled-color;