$pagination-border-radius: 4px;

$pagination-item-height: 32px;
$pagination-item-width: $pagination-item-height;

$pagination-border-width: 0;

$pagination-color:                         $brand-default;
$pagination-bg:                            transparent;
$pagination-border:                        $pagination-bg;

$pagination-hover-color:                   $brand-default;
$pagination-hover-bg:                      transparent;
$pagination-hover-border:                  $pagination-hover-bg;

$pagination-active-color:                  $brand-default;
$pagination-active-bg:                     lighten($brand-default, 30%);
$pagination-active-border:                 $brand-default;

$pagination-disabled-color:                $brand-default;
$pagination-disabled-bg:                   transparent;
$pagination-disabled-border:               $pagination-disabled-bg;

$pagination-ellipsis-hover-color: $link-hover-color;
$pagination-ellipsis-hover-bg: transparent;

$pagination-items-per-page-color: $pagination-color;

$pagination-results-color: $pagination-color;

$pagination-lg-font-size: 18px;
$pagination-lg-item-height: 44px;
$pagination-lg-item-width: $pagination-lg-item-height;

$pagination-sm-font-size: 12px;
$pagination-sm-item-height: 24px;
$pagination-sm-item-width: $pagination-sm-item-height;