.monospace {
	font-family: $font-family-monospace;
}

.sans-serif {
	font-family: $font-family-sans-serif;
}

.serif {
	font-family: $font-family-serif;
}

.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
	font-weight: 500;
	margin: 0;
}

.heading1 {
	font-size: $font-size-h1;
}

.heading2 {
	font-size: $font-size-h2;
}

.heading3 {
	font-size: $font-size-h3;
}

.heading4 {
	font-size: $font-size-h4;
}

.heading5 {
	font-size: $font-size-h5;
}

.heading6 {
	font-size: $font-size-h6;
}

.sub-heading {
	font-size: $font-size-small;
	font-weight: 500;
	margin: 0;
}

// Icon Sizes

.icon-xs {
	font-size: 0.6em;
}

.icon-sm {
	font-size: 0.8em;
}

.icon-lg {
	font-size: 1.667em;
}

.icon-xl {
	font-size: 3.334em;
}

.icon-xxl {
	font-size: 5em;
}

// Contextual backgrounds

@include bg-variant('.bg-default', $gray-lighter);

// Anchor Tags

.link-group {
	margin: 10px 0;

	a {
		line-height: 2em;
		padding: 0.25em;

		&:first-child {
			margin-left: 0;
		}

		&.btn {
			line-height: normal;
		}
	}
}

// Marked Text

mark, .mark {
	@include highlight-text();
}

// Blockquote Variations

.blockquote-xs {
	border-left: 1px solid $blockquote-border-color;
	font-size: $blockquote-font-size * 0.7;
	padding: ($line-height-computed / 2) ($line-height-computed * 0.7);
}

.blockquote-sm {
	border-left: 3px solid $blockquote-border-color;
	font-size: $blockquote-font-size * 0.8;
	padding: ($line-height-computed / 2) ($line-height-computed * 0.8);
}

.blockquote-lg {
	border-left: 8px solid $blockquote-border-color;
	font-size: $blockquote-font-size * 1.5;
	padding: ($line-height-computed / 2) ($line-height-computed * 1.5);
}

.blockquote-danger {
	@include color-blockquote ($brand-danger);
}

.blockquote-default {
	@include color-blockquote ($blockquote-border-color);
}

.blockquote-info {
	@include color-blockquote ($brand-info);
}

.blockquote-primary {
	@include color-blockquote ($brand-primary);
}

.blockquote-success {
	@include color-blockquote ($brand-success);
}

.blockquote-warning {
	@include color-blockquote ($brand-warning);
}