$application-bar-dark: (
	bg: lighten(desaturate(adjust-hue($dark, 1), 0.77), 3.92),
	link-border-radius: $border-radius,
	link-hover-bg: rgba(255, 255, 255, 0.04),
	link-active-bg: rgba(255, 255, 255, 0.08)
) !default;