$dropdown-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$dropdown-border-width: 0 !default;
$dropdown-box-shadow: 0 1px 10px -3px transparentize(#000, 0.7) !default;

$dropdown-font-size: $font-size-base !default; // 16px
$dropdown-padding-y: 0.375rem !default; // 6px
$dropdown-min-height: 40px !default;
$dropdown-min-width: 240px !default;
$dropdown-max-width: 240px !default;

$dropdown-item-padding-x: 1.25rem !default; // 20px
$dropdown-item-padding-y: 0.5rem !default; // 8px

$dropdown-header-color: map-get($theme-colors, secondary) !default;
$dropdown-header-font-size: $font-size-sm !default; // 14px

$dropdown-link-color: map-get($theme-colors, secondary) !default;
$dropdown-link-hover-color: $body-color !default;
$dropdown-link-hover-bg: lighten(map-get($theme-colors, primary), 44%) !default;
$dropdown-link-active-color: $dropdown-link-hover-color !default;
$dropdown-link-active-bg: $dropdown-link-hover-bg !default;
$dropdown-link-active-font-weight: $font-weight-semi-bold !default;
$dropdown-link-disabled-color: lighten($body-color, 52%) !default;

$dropdown-divider-bg: $dropdown-border-color !default;

// Dropdown Action

$dropdown-action-toggle-color: map-get($theme-colors, secondary) !default;
$dropdown-action-toggle-hover-color: $dropdown-action-toggle-color !default;