$quick-action-item-hover-bg: rgba(0, 0, 0, 0.02) !default;
$quick-action-item-hover-color: $body-color !default;

$quick-action-item-disabled-color: $body-color !default;
$quick-action-item-disabled-opacity: $btn-disabled-opacity !default;