$timeline-border-color: map-get($theme-colors, dark) !default;
$timeline-icon-border-color: map-get($theme-colors, secondary) !default;
$timeline-increment-label-color: map-get($theme-colors, secondary) !default;