/* Removes Box Shadows */

.no-shadow, .no-shadows {
	box-shadow: none;

	.dropdown-menu, .modal-content, .popover, .tooltip-inner {
		box-shadow: none;
	}

	.popover {
		&.bottom, &.left, &.right, &.top {
			> .arrow:before {
				display: none;
			}
		}
	}

	.tooltip {
		&.bottom, &.left, &.right, &.top {
			.tooltip-arrow:before {
				display: none;
			}
		}
	}
}

/* Removes Borders */

.no-borders {
	&, .list-group-item {
		border-width: 0;
	}
}

/* Removes Rounded Borders */

.square-borders {
	&, code, pre, .alert, .btn, .btn-lg, .btn-sm, .btn-xs, .container .jumbotron, .dropdown-menu, .form-control, .input-group-addon, .input-lg, .input-sm, .nav-pills > li > a, .nav-tabs > li > a, .navbar-toggle, .panel, .progress, .thumbnail, .well-lg, .well-sm {
		border-radius: 0;
	}

	.btn-group-vertical > .btn:first-child:not(:last-child) {
		border-top-right-radius: 0;
	}

	.list-group-item:first-child, .panel .panel-heading:first-child {
		@include border-top-radius(0);
	}

	.list-group-item:last-child, .panel .panel-footer {
		@include border-bottom-radius(0);
	}
}

.inline-scroller {
	height: 125px;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
}