/* Popovers */

#popovers {
	.popover {
		display: block;
		position: relative;
		margin-top: 25px;

		&.left {
			margin-left: 0;
		}
	}
}

/* Tooltips */

.tooltip-display {
	> div {
		height: 40px;
	}
}