body {
	background-color: #FFF;
	color: #555;
	font-family: $font-family-sans-serif;
}

header.row {
	margin: 0;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section.row {
	margin-bottom: 45px;
}

.box-copy > h4 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.page-title {
	font-weight: bold;
	margin-bottom: 25px;
}

.row-spacing {
	margin-bottom: 20px;
}

#headerTopBar {
	background: #0058BA url(../images/back_decoration_nav.png) no-repeat 100% 0;

	a {
		color: #FFF;
	}

	.title {
		float: left;
		margin-bottom: 14px;
		margin-top: 14px;
	}

	.navbar-toggle {
		float: left;

		.icon-bar {
			background-color: #FFF;
		}
	}
}

.animated-toggle.navbar-toggle .icon-bar {
	position: relative;
	top: 0;

	@include transition-property(background, opacity, top, transform);
	@include transition-duration(0.2s);
	@include transition-timing-function($ease-in-out-circ);
	@include transition-delay(0s 0s 0.2s 0s);
}

.main-nav-open {
	.animated-toggle.navbar-toggle {
		.icon-bar:nth-of-type(even) {
			top: 6px;

			@include transform(rotate(45deg));
			@include transition-delay(0s 0s 0s 0.2s);
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;

			@include transform(rotate(-45deg));
		}

		.icon-bar:nth-of-type(odd) {
			background-color: transparent;
			opacity: 0;
		}
	}
}

#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

#wrapper {
	overflow-x: hidden;
}

/* -------- Glyphicons -------- */

.glyphicon-class {
	display: block;
}

.glyphicons li {
	float: left;
	height: 110px;
	text-align: center;
	width: 50%;
}

.glyphicons-list {
	list-style: none;
	padding-left: 0;
}

/* -------- Grids -------- */

.grid {
	background-color: #EEE;
	border: 1px solid #717171;
	margin-bottom: 15px;
	padding: 5px 0;
	text-align: center;
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

/* Media Queries */

@media (min-width: $screen-xs-min) {
	.glyphicons li {
		width: 25%;
	}
}

@media (min-width: $screen-sm-min) {
	#wrapper {
		overflow-x: visible;
	}

	.glyphicons li {
		width: 10%;
	}
}