$sideNavWidth: 200px;

body {
	background-color: #FFF;
	color: #555;
	font-family: $font-family-sans-serif;
}

header.row {
	margin: 0;
}

section.row {
	margin-bottom: 45px;
}

.page-title {
	font-weight: bold;
	margin-bottom: 25px;
}

#headerTopBar {
	background: #0058BA url(../images/back_decoration_nav.png) no-repeat 100% 0;

	a {
		color: #FFF;
	}

	.title {
		float: left;
		margin-bottom: 14px;
		margin-top: 14px;
	}

	.navbar-toggle {
		float: left;

		.icon-bar {
			background-color: #FFF;
		}
	}
}

.animated-toggle.navbar-toggle .icon-bar {
	position: relative;
	top: 0;

	@include transition-property(background, opacity, top, transform);
	@include transition-duration(0.2s);
	@include transition-timing-function($ease-in-out-circ);
	@include transition-delay(0s 0s 0.2s 0s);
}

.main-nav-open {
	.animated-toggle.navbar-toggle {
		.icon-bar:nth-of-type(even) {
			top: 6px;

			@include transform(rotate(45deg));
			@include transition-delay(0s 0s 0s 0.2s);
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;

			@include transform(rotate(-45deg));
		}

		.icon-bar:nth-of-type(odd) {
			background-color: transparent;
			opacity: 0;
		}
	}
}

#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

#wrapper {
	overflow-x: hidden;
}

/* ------- Side Navigation ------- */

#mainContent {
	display: block;
	left: $sideNavWidth;
	padding: 15px 0;
	position: relative;
	width: 100%;

	pre {
		margin-top: 15px;
	}
}

.main-nav-closed {
	#mainContent {
		left: 0;
	}

	.side-navigation-container {
		width: 0;
	}
}

.menu-toggle {
	color: #FFF;
	display: block;
	float: left;
	padding: 10px 15px;
	text-align: left;

	.glyphicon {
		font-size: 22px;
	}
}

.side-navigation-container {
	overflow: hidden;
	width: $sideNavWidth;

	> ul {
		width: $sideNavWidth;
	}
}

.side-navigation {
	display: inline-block;
	padding-top: 35px;
	position: absolute;
	z-index: 1;

	li {
		> a {
			&:hover, &:focus {
				background-color: transparent;
				text-decoration: underline;
			}
		}

		&.child-active, &.active {
			> a {
				font-weight: bold;
			}
		}

		&.active > a {
			color: $brand-primary-active;
		}
	}

	.nav-stacked li {
		> h4 {
			color: #F3F3F3;
			padding: 10px 15px;
		}

		div > .nav-stacked li > a {
			padding-left: 35px;
		}
	}
}

.side-navigation-dropdown-container {
	&:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	> a {
		float: right;
		text-align: center;
		width: 25%;

		&:first-child {
			float: left;
			text-align: left;
			width: 75%;
		}
	}

	.collapse {
		clear: both;
	}
}

.transition {
	@include transition(all 0.5s ease);
}

/* -------- Accordions -------- */

#myToggler .badge, #myToggler .label {
	float: right;
}

/* -------- Blogs 1 Column -------- */

#blogSideColumn {
	.panel-heading {
		background-color: transparent;
	}

	ul.panel-body {
		margin-bottom: 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.blog-1-column {
	h2 {
		font-size: golden-ratio(14px, 1);
	}

	.blog-entry {
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));

		margin-bottom: 50px;
		padding: 15px;
	}

	.read-more {
		margin-bottom: 6px;
		text-align: left;
	}
}

.comment-box {
	margin-bottom: 10px;

	textarea {
		margin-bottom: 10px;
		min-height: 120px;
	}
}

.comments {
	display: table;
	margin-bottom: 10px;

	.user-comment, .user-image {
		display: table-cell;
		vertical-align: top;
	}

	.user-image {
		padding-right: 15px;

		img {
			width: 21px;
		}
	}
}

.entry-actions {
	margin: 0 0 10px;
}

.entry-body {
	.divider {
		margin-left: -3px;
		margin-right: -3px;
	}
}

.entry-media {
	.image-container {
		max-height: 300px;
		overflow: hidden;
	}
}

.entry-meta-data {
	margin: 0 0 6px;

	> span {
		&:before {
			content: "|";
			margin: 0 5px;
		}

		&:first-child:before {
			content: "";
			margin: 0;
		}
	}
}

.entry-title {
	margin: 15px 0 10px;

	h2 {
		float: left;
		margin: 0;
	}

	.taglib-flags {
		float: right;

		.taglib-text {
			color: transparent;
			font-size: 0;
			position: absolute;
		}
	}
}

.sidebar {
	margin-top: 40px;

	&:first-child {
		margin: 0;
	}

	li {
		margin-bottom: 5px;
		overflow: hidden;
	}
}

.sidebar-content {
	padding-left: 85px;
}

.sidebar-heading {
	border-bottom: 1px solid #DDD;
	margin-top: 0;
	padding-bottom: 5px;
}

.sidebar-image {
	float: left;
	width: 75px;
}

.user-comment {
	.comment-age {
			color: #7E7E7E;
	}

	.heading {
		margin: 0 0 6px;
	}

	.user-name {
		font-size: 21px;
	}
}

/* -------- Dropdowns ------- */

#dropdownDisplay {
	.dropdown-menu {
		display: block;
		float: none;
		max-width: 160px;
		position: relative;
	}

	.mega-menu .dropdown-menu {
		float: left;
		max-width: 100%;
	}
}

/* -------- Glyphicons -------- */

.glyphicon-class {
	display: block;
}

.glyphicons li {
	float: left;
	height: 110px;
	text-align: center;
	width: 50%;
}

.glyphicons-list {
	list-style: none;
	padding-left: 0;
}

/* -------- Grids -------- */

.grid {
	background-color: #EEE;
	border: 1px solid #717171;
	margin-bottom: 15px;
	padding: 5px 0;
	text-align: center;
}

/* -------- Image Gallery -------- */

#imageGalleryFeaturedPanels {
	#tab2 .featured-panel .panel-body {
		height: 130px;
	}

	#tab3 .featured-panel .panel-body {
		height: 200px;
	}

	.admin-interface a {
		color: #A4BBFF;
	}

	.featured-panel {
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
	}
}

.image-gallery {
	padding-top: 15px;

	.row {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

/* -------- Modal Page -------- */

#modalDisplays {
	.modal-dialog {
		margin: 0 0 30px 0;
	}

	.modal-lg {
		max-width: 900px;
		width: 100%;
	}
}

#openModals {
	margin: 0 0 30px 0;

	.btn {
		margin-bottom: 5px;
	}
}

/* -------- Panel Page ------- */

#myChart {
	height: 300px;
	margin: 10px auto;
	max-width: 300px;
	width: 300px;
}

#panelPage a {
	color: #333;
	text-decoration: none;

	&:hover {
		color: #777;
	}
}

/* -------- Panel Variations -------- */

#panelVariations img {
	max-width: 141px;
}

/* Popovers */

#popovers {
	.popover {
		display: block;
		position: relative;
		margin-bottom: 50px;

		&.left {
			margin-left: 0;
		}
	}
}

/* -------- Thumbnail Variations ---------*/

#thumbnailVariations {
	.img-responsive {
		width: 100%;
	}

	.user-info img {
		float: left;
		margin-right: 15px;
		margin-top: 4px;
		width: 32px;
	}
}

/* -------- Timeline -------- */

.item-center.timeline-item {
	img {
		float: none;
		padding: 0;
	}
}

.timestamp-icon {
	color: #999;
	font-size: 12px !important;
	line-height: inherit;
}

.timeline-avatar {
	width: 36px;
}

/* Typography */

#typography > div {
	margin-bottom: 40px;
}

.color-palette {
	.color-swatches {
		@include clearfix;
	}

	.color-swatch {
		@include border-radius(5px);

		color: #FFF;
		float: left;
		font-size: 11px;
		margin-right: 5px;
		padding: 22px 2px;
	}
}

/* Media Queries */

@media (min-width: 480px) {
	.glyphicons li {
		width: 25%;
	}
}

@media (min-width: 768px) {
	.glyphicons li {
		width: 10%;
	}

	/* ------- Side Navigation ------- */

	#headerTopBar .title {
		padding-left: 15px;
	}

	#mainContent {
		left: 0;
		margin-left: 15px;
		padding-left: $sideNavWidth;
		width: 100%;
	}

	.main-nav-closed .side-navigation-container {
		width: $sideNavWidth;
	}

	.menu-toggle {
		display: none;
	}

	/* -------- Blogs -------- */

	.comments .user-image img {
		width: 70px;
	}
}

@media (min-width: 1024px) {
	#wrapper {
		overflow-x: visible;
	}

	/* Typography */

	.color-palette {
		.color-swatch {
			padding: 40px 20px;
		}
	}
}