body {
	-webkit-font-smoothing: antialiased;
}

header.row {
	margin: 0;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section.row {
	margin-bottom: 45px;
}

.box-copy > h4 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.page-title {
	font-weight: bold;
	margin-bottom: 25px;

	small {
		display: block;
	}
}

.row-spacing {
	margin-bottom: 20px;
}

#headerTopBar {
	background: #0058BA url(../images/back_decoration_nav.png) no-repeat 100% 0;

	a {
		color: #FFF;
	}

	.title {
		float: left;
		margin-bottom: 14px;
		margin-top: 14px;
	}

	.navbar-toggle {
		float: left;
		margin-left: -10px;

		.icon-bar {
			background-color: #FFF;
		}
	}

	.uxgl-site-config {
		position: absolute;
		right: 15px;
		top: 5px;

		@media screen and (min-width: 768px) {
			top: 3px;
		}

		.dropdown-menu {
			width: 240px;

			a {
				color: initial;
			}
		}
	}
}

.animated-toggle.navbar-toggle .icon-bar {
	position: relative;
	top: 0;

	@include transition-property(background, opacity, top, transform);
	@include transition-duration(0.2s);
	@include transition-timing-function($ease-in-out-circ);
	@include transition-delay(0s 0s 0.2s 0s);
}

#mainNav > .sidenav-menu {
	padding-left: 3px;
	padding-right: 3px;
}

.main-nav-open {
	.animated-toggle.navbar-toggle {
		.icon-bar:nth-of-type(even) {
			top: 6px;

			@include transform(rotate(45deg));
			@include transition-delay(0s 0s 0s 0.2s);
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;

			@include transform(rotate(-45deg));
		}

		.icon-bar:nth-of-type(odd) {
			background-color: transparent;
			opacity: 0;
		}
	}
}


#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

// Alerts Page

.uxgl-alerts {
	.alert {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .alert {
		margin-top: 10px;
	}
}

// Blog Actions Page

body.fixed {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.uxgl-fullscreen-fixed {
	background-color: #F5F8FA;
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.uxgl-fullscreen-fixed.row {
	margin-left: 0;
	margin-right: 0;
}

.uxgl-fullscreen-fixed.row > .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

// Breadcrumbs Page

.uxgl-breadcrumbs {
	.breadcrumb {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .breadcrumb {
		margin-top: 10px;
	}
}

// Documents and Media Example Page

#documentsAndMediaExample {
	#addNewTagButton {
		margin-top: 20px;
	}

	.card-horizontal {
		.card-col-field {
			text-align: center;
		}

		.icon-folder-close-alt {
			background-color: #F1F5FA;
			font-size: 28px;
			line-height: 60px;
			height: 60px;
			width: 60px;
		}
	}
}

#documentsAndMediaRightSidenav {
	background-color: #F5F8FA;

	.breadcrumb {
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.card,
	.card-horizontal {
		background-color: #FFF;
	}

	> .sidenav-content {
		padding-top: 1px;
	}

	.pagination-bar {
		clear: both;
	}
}

@media screen and (min-width: 768px) {
	#documentsAndMediaSidenav .container-fluid-1280.sidenav-container {
		padding-left: 15px;
	}
}

@media screen and (min-width: 1300px) {
	#documentsAndMediaSidenav.closed .container-fluid-1280.sidenav-container {
		padding-right: 15px;
	}
}

// Figures Page

.uxgl-figures .figure {
	max-width: 300px;
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

/* Media Queries */

@media (min-width: $screen-sm-min) {
	#wrapper {
		overflow-x: visible;
	}
}

// Extending Nameplates Page

.uxgl-extending-nameplates {
	.profile-header {
		float: left;
		margin-bottom: 15px;
	}
}

// Switches Page
.uxgl-switches {
	@include clearfix;

	.form-group {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: $grid-float-breakpoint) {
	.uxgl-switches .form-group {
		width: 115px;
	}
}

// Toolbars

.uxgl-toggle-code {
	clear: both;
	padding-bottom: 5px;

	.btn {
		border-radius: 2px;
		padding: 0 5px;
	}
}

.uxgl-newline-demo blockquote {
	margin-top: 40px;
}

.uxgl-newline-demo h3:first-child + blockquote {
	margin-top: 0;
}

@media screen and (min-width: 1200px) {
	.uxgl-lg-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.uxgl-md-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.uxgl-sm-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (max-width: 768px) {
	.uxgl-xs-newline-demo {
		background-color: #FFFEDC;
	}
}