body {
	background-color: #FFF;
	color: #555;
}

a {
	color: #0058BA;
}

header.row {
	margin: 0;
}

#headerTopBar {
	background: #0058BA url(../images/back_decoration_nav.png) no-repeat 100% 0;

	a {
		color: #FFF;
	}

	.menu-toggle {
		float: left;
	}

	.title {
		float: left;
		margin-bottom: 14px;
		margin-top: 14px;
	}
}

#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

#wrapper {
	overflow-x: hidden;
}

/* ------- Side Navigation ------- */

#mainContent {
	display: table-cell;
	padding: 15px;
	width: auto;
}

#mainNav > ul.nav-stacked {
	width: 120px;
}

#secondaryNav {
	background-color: #AAA;

	> ul.nav-stacked {
		width: 120px;
	}
}

/* both navs are open */
.main-nav-open.secondary-nav-open {
	#secondaryNav {
		h4 {
			display: block;
		}

		ul.nav {
			display: block;
		}
	}
}

/* main nav is closed */
.main-nav-closed {
	#mainNav, #secondaryNav {
		display: none;
	}

	#mainContent {
		display: block;
	}
}
/**/

.menu-toggle {
	color: #FFF;
	display: block;
	padding: 10px 15px;
	text-align: left;
}

/* secondary nav is closed */
.secondary-nav-closed {
	#secondaryNav {
		width: 50px;

		ul.nav {
			display: none;
		}

		.title {
			display: none;
		}
	}
}
/**/

.side-navigation {
	display: table-cell;
	vertical-align: top;

	.nav-stacked li {
		> h4 {
			color: #F3F3F3;
			padding: 10px 15px;
		}

		div > .nav-stacked li > a {
			padding-left: 35px;
		}
	}
}

.side-navigation-dropdown-container {
	&:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	> a {
		float: right;
		text-align: center;
		width: 25%;

		&:first-child {
			float: left;
			text-align: left;
			width: 75%;
		}
	}

	.collapse {
		clear: both;
	}
}

/* -------- Accordions -------- */

#myToggler .badge, #myToggler .label {
	float: right;
}

/* -------- Blogs 1 Column -------- */

.blog-1-column {
	margin: 0 auto;
	max-width: 980px;

	.read-more {
		margin-bottom: 6px;
		text-align: left;
	}
}

.box.entry {
	padding: 15px;
}

.comment-box {
	margin-bottom: 10px;

	textarea {
		margin-bottom: 10px;
		min-height: 120px;
	}
}

.comments {
	display: table;
	margin-bottom: 10px;

	.user-comment, .user-image {
		display: table-cell;
		vertical-align: top;
	}

	.user-image {
		padding-right: 15px;

		img {
			width: 21px;
		}
	}
}

.entry-actions {
	margin: 0 0 10px;
}

.entry-body {
	margin-bottom: 15px;

	img {
		width: 100%;
	}

	.divider {
		margin-left: -3px;
		margin-right: -3px;
	}
}

.entry-meta-data {
	margin: 0 0 6px;

	> span {
		&:before {
			content: "|";
			margin: 0 5px;
		}

		&:first-child:before {
			content: "";
			margin: 0;
		}
	}
}

.entry-title {
	margin: 15px 0 10px;

	h2 {
		float: left;
		margin: 0;
	}

	.taglib-flags {
		float: right;

		.taglib-text {
			color: transparent;
			font-size: 0;
			position: absolute;
		}
	}
}

.user-comment {
	.comment-age {
			color: #7E7E7E;
	}

	.heading {
		margin: 0 0 6px;
	}

	.user-name {
		font-size: 21px;
	}
}

/* -------- Dropdowns ------- */

#dropdownDisplay {
	.dropdown-menu {
		display: block;
		float: none;
		max-width: 160px;
		position: relative;
	}

	.mega-menu .dropdown-menu {
		float: left;
		max-width: 100%;
	}
}

/* -------- Glyphicons -------- */

.glyphicon {
	font-size: 24px;

	&.form-control-feedback {
		font-size: small;
	}
}

.glyphicon-class {
	display: block;
}

.glyphicons li {
	float: left;
	height: 110px;
	text-align: center;
	width: 50%;
}

.glyphicons-list {
	list-style: none;
	padding-left: 0;
}

/* -------- Grids -------- */

.grid {
	background-color: #EEE;
	border: 1px solid #717171;
	margin-bottom: 15px;
	padding: 5px 0;
	text-align: center;
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

/* -------- Panel Page ------- */

#myChart {
	height: 300px;
	margin: 10px auto;
	max-width: 300px;
	width: 300px;
}

#panelPage a {
	color: #333;
	text-decoration: none;

	&:hover {
		color: #777;
	}
}

/* -------- Panel Variations -------- */

#panelVariations img {
	max-width: 141px;
}

/* -------- Thumbnail Variations ---------*/

#thumbnailVariations {
	.img-responsive {
		width: 100%;
	}

	.user-info img {
		float: left;
		margin-right: 15px;
		margin-top: 4px;
		width: 32px;
	}
}

/* -------- Timeline -------- */

.timestamp-icon {
	color: #999;
	font-size: 12px !important;
	line-height: inherit;
}

.timeline-avatar {
	width: 36px;
}

@media (min-width: 480px) {
	.glyphicons li {
		width: 25%;
	}

	/* ------- Side Navigation ------- */

	#mainNav > ul.nav-stacked {
		width: 200px;
	}

	#secondaryNav > ul.nav-stacked {
		width: 200px;
	}
}

@media (min-width: 768px) {
	.glyphicons li {
		width: 10%;
	}

	/* ------- Side Navigation ------- */

	#mainContent, #mainNav, #secondaryNav {
		display: table-cell;
		position: static;
		vertical-align: top;
	}

	#mainContent {
		width: 100%;
	}

	.menu-toggle {
		color: #FFF;
		display: block;
		padding: 10px 15px;
		text-align: left;
	}

	/* main nav is closed */
	.main-nav-closed {
		&.secondary-nav-open #secondaryNav {
			display: table-cell;
		}

		#mainContent {
			display: table-cell;
		}

		#mainNav {
			display: none;
		}

		#secondaryNav {
			display: table-cell;
		}

		.manage-control-panel {
			position: relative;
		}
	}
	/**/

	/* both navs are open */
	.main-nav-open.secondary-nav-open #secondaryNav {
		ul.nav {
			display: block;
		}

		h4 {
			display: block;
		}
	}
	/**/

	/* secondary nav is closed */
	.secondary-nav-closed #secondaryNav {
		width: 50px;
	}
	/**/

	/* -------- Blogs -------- */

	.comments .user-image img {
		width: 70px;
	}

	/* -------- Modals -------- */

	.modal-dialog {
		width: auto;
	}
}
@media (min-width: 1024px) {
	#wrapper {
		overflow-x: visible;
	}
}