.badge {
	border-style: $badge-border-style;
	border-width: $badge-border-width;
	margin-bottom: 2px;
	margin-top: 2px;
	max-width: 100%;
	white-space: normal;
	word-wrap: break-word;

	@include scale-component {
		font-size: $badge-font-size-mobile;
	}

	a {
		color: $badge-color;
		text-decoration: $badge-link-text-decoration;

		@include hover-focus {
			color: $badge-link-hover-color;
			text-decoration: $badge-link-hover-text-decoration;
		}
	}
}

.badge-lg {
	font-size: $badge-font-size-lg;
	padding: $badge-padding-y-lg $badge-padding-x-lg;

	@include scale-component {
		font-size: $badge-font-size-lg-mobile;
	}
}

.badge-sm {
	font-size: $badge-font-size-sm;
	padding: $badge-padding-y-sm $badge-padding-x-sm;

	@include scale-component {
		font-size: $badge-font-size-sm-mobile;
	}
}

// Lexicon Icons in Badges

.badge .lexicon-icon {
	height: $badge-lexicon-icon-height;
	margin-left: 2px;
	width: $badge-lexicon-icon-width;
}

.badge-lg .lexicon-icon {
	height: $badge-lexicon-icon-height-lg;
	margin-left: 4px;
	width: $badge-lexicon-icon-width-lg;
}

.badge-sm .lexicon-icon {
	height: $badge-lexicon-icon-height-sm;
	width: $badge-lexicon-icon-width-sm;
}

// Badge Variants

@each $color, $value in $badge-palette {
	.badge-#{$color} {
		background-color: map-get($value, bg);
		border-color: map-get($value, border-color);
		color: map-get($value, color);

		&[href] {
			@include hover-focus {
				background-color: map-get($value, hover-bg);
				border-color: map-get($value, hover-border-color);
				color: map-get($value, hover-color);
			}
		}

		a {
			color: map-get($value, link-color);

			@include hover-focus {
				color: map-get($value, link-hover-color);
			}
		}
	}
}