.card,
.card-horizontal {
	border-style: $card-border-style;

	@include box-shadow($card-box-shadow);

	margin-bottom: $card-margin-bottom;
	position: relative;
	// Will be safe to remove once https://github.com/twbs/bootstrap/pull/22740 is merged
	word-wrap: break-word;

	@if ($card-border-radius > 0) {
		.card-col-content,
		.card-col-field {
			// Will be renamed to $card-inner-border-radius once https://github.com/twbs/bootstrap/pull/22741 is merged
			&:first-child {
				@include border-left-radius($card-border-radius-inner);
			}

			&:last-child {
				@include border-right-radius($card-border-radius-inner);
			}
		}
	}
}

.card-divider {
	background-color: $card-divider-bg;
	height: $card-divider-height;
	margin-bottom: $card-divider-spacer-y;
	margin-left: $card-divider-spacer-x;
	margin-right: $card-divider-spacer-x;
	margin-top: $card-divider-spacer-y;
}

// Will need to revisit if https://github.com/twbs/bootstrap/pull/22722 doesn't make it

.card-link {
	color: $card-link-color;
}

// Card Simple Flexbox Grid
// Pros: fits with BS4 flexbox pattern
// 		 easier to make columns wrap
// Cons: hard to make all columns equal height without setting fixed height on container

.card-flex-row {
	align-items: center;
	display: flex;
	width: 100%;
}

.card-flex-col-content {
	flex-grow: 1;
	min-width: 100px;
	padding-left: 8px;
	padding-right: 8px;
}

// Card Simple Grid
// Pros: easy to make columns equal height
// Cons: Can't make columns wrap

.card-col-content {
	display: table-cell;
	max-width: 10px;
	position: relative;
	vertical-align: middle;
	width: auto;
}

.card-col-field {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	width: 1%;
}

.card-col-gutters {
	padding-left: 10px;
	padding-right: 10px;

	.card-divider {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.card-row {
	display: table;
	height: 100%;
	width: 100%;
}

.card-row-layout-fixed {
	table-layout: fixed;

	.card-col-field {
		width: auto;
	}
}

// Card Row Content Alignment

.card-col-content,
.card-col-field {
	.align-bottom & {
		vertical-align: bottom;
	}

	.align-middle & {
		vertical-align: middle;
	}

	.align-top & {
		vertical-align: top;
	}

	.text-center & {
		text-align: center;
	}

	.text-left & {
		text-align: left;
	}

	.text-right & {
		text-align: right;
	}
}

// Card Border Helpers

.card-col-content,
.card-col-field {
	&:first-child {
		.rounded & {
			border-bottom-left-radius: calc(#{$rounded-border-radius} - #{$card-border-width});
			border-top-left-radius: calc(#{$rounded-border-radius} - #{$card-border-width});
		}

		.rounded-0 & {
			@if ($rounded-0-border-radius > $card-border-width) {
				border-bottom-left-radius: calc(#{$rounded-0-border-radius} - #{$card-border-width});
				border-top-left-radius: calc(#{$rounded-0-border-radius} - #{$card-border-width});
			}
			@else {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}

		.rounded-circle & {
			border-bottom-left-radius: calc(#{$rounded-circle-border-radius} - #{$card-border-width});
			border-top-left-radius: calc(#{$rounded-circle-border-radius} - #{$card-border-width});
		}
	}

	&:last-child {
		.rounded & {
			border-bottom-right-radius: calc(#{$rounded-border-radius} - #{$card-border-width});
			border-top-right-radius: calc(#{$rounded-border-radius} - #{$card-border-width});
		}

		.rounded-0 & {
			@if ($rounded-0-border-radius > $card-border-width) {
				border-bottom-right-radius: calc(#{$rounded-0-border-radius} - #{$card-border-width});
				border-top-right-radius: calc(#{$rounded-0-border-radius} - #{$card-border-width});
			}
			@else {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.rounded-circle & {
			border-bottom-right-radius: calc(#{$rounded-circle-border-radius} - #{$card-border-width});
			border-top-right-radius: calc(#{$rounded-circle-border-radius} - #{$card-border-width});
		}
	}
}

// Checkbox and Radio Cards

.form-check-card {
	margin-bottom: 0;
	margin-top: 0;

	.form-check-input {
		margin-left: 0;
		margin-top: 0;
		position: absolute;
		z-index: 1;
	}

	.form-check-label {
		color: $body-color;
		cursor: pointer;
		display: inline;
		padding-left: 0;
	}
}

.form-check-bottom-left,
.form-check-middle-left,
.form-check-top-left {
	.card-horizontal {
		> .card-block {
			padding-left: $checkbox-left-card-padding;
		}
	}
}

.form-check-bottom-right,
.form-check-middle-right,
.form-check-top-right {
	.card-horizontal {
		> .card-block {
			padding-right: $checkbox-right-card-padding;
		}
	}
}

.form-check-bottom-left .form-check-input {
	bottom: $checkbox-position;
	left: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-bottom-right .form-check-input {
	bottom: $checkbox-position;
	right: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-middle-left .form-check-input {
	left: $checkbox-position;
	margin-top: 0;
	top: 50%;

	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-check-middle-right .form-check-input {
	margin-top: 0;
	right: $checkbox-position;
	top: 50%;

	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-check-top-left .form-check-input {
	left: $checkbox-position;
	top: $checkbox-position;

	-ms-transform: none;
	transform: none;
}

.form-check-top-right .form-check-input {
	right: $checkbox-position;
	top: $checkbox-position;

	-ms-transform: none;
	transform: none;
}