.input-group .form-control:focus {
	z-index: $zindex-input-group-focus;
}

// Input Group Btn

.input-group-btn .btn:hover {
	z-index: $zindex-input-group-hover;
}

.input-group-btn .btn:focus {
	z-index: $zindex-input-group-focus;
}

.input-group-btn {
	> .btn + .btn {
		margin-left: 0;
	}

	&:first-child {
		text-align: right;

		> .btn {
			@if ($input-btn-border-width > 1) {
				margin-right: -($input-btn-border-width);
			}
		}
	}

	&:last-child > .btn {
		margin-left: -$input-btn-border-width;
	}
}

// Input Group Addon

.input-group .input-group-addon {
	&:first-child {
		border-bottom-left-radius: $input-group-addon-border-radius;
		border-top-left-radius: $input-group-addon-border-radius;
	}

	&:last-child {
		border-bottom-right-radius: $input-group-addon-border-radius;
		border-top-right-radius: $input-group-addon-border-radius;
	}
}

.input-group-addon {
	border-width: $input-border-width;
	color: $input-group-addon-color;

	@if (variable-exists(atlas-theme)) {
		input[type="checkbox"],
		input[type="radio"] {
			display: block;
		}
	}
}

@if (variable-exists(atlas-theme)) {
	.input-group .form-control {
		padding-right: 10px;
	}

	.input-group-addon,
	.input-group-btn {
		+ .form-control {
			padding-left: 10px;
		}
	}
}

// Input Group Input

.input-group-input {
	display: flex;

	.form-control {
		display: block;
	}
}

// Input Group Constrain

.input-group-constrain {
	border-bottom-width: 0;
	line-height: $input-height - $input-border-bottom-width - $input-border-top-width;
	max-width: 150px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 0 $input-border-bottom-width 0;

	@include media-breakpoint-up(md) {
		max-width: 300px;
	}
}

.input-group-constrain-text {
	padding-left: $input-btn-padding-x;
	padding-right: $input-btn-padding-x;
}

// Input Group Insert

.input-group-insert {
	border-left-width: 0;
	border-right-width: 0;

	> .btn {
		border-radius: 0;
		margin-right: -($input-btn-border-width);
	}
}

// Input Group Default

.input-group-default {
	.form-control:not(:first-child):not(:last-child) {
		@include border-radius($input-border-radius);
	}

	&.input-group-lg .form-control:not(:first-child):not(:last-child) {
		@include border-radius($input-border-radius-lg);
	}

	&.input-group-sm .form-control:not(:first-child):not(:last-child) {
		@include border-radius($input-border-radius-lg);
	}

	.input-group-addon {
		background-color: transparent;
		border-width: 0;
		padding: 0 10px;

		@if (variable-exists(atlas-theme)) {
			color: $input-group-secondary-addon-color;
			position: relative;
		}

		&:first-child .input-group-addon-content {
			margin-left: -10px;
		}

		&:last-child .input-group-addon-content {
			margin-right: -10px;
		}
	}

	.help-icon {
		@include monospace(28px);
	}
}

.input-group-addon-content {
	display: inline-block;

	@if (variable-exists(atlas-theme)) {
		border-bottom: $input-group-secondary-addon-content-border-bottom-width solid $input-group-secondary-addon-border-color;
		height: $input-height;
		line-height: $input-height;
		width: 30px;

		@if ($enable-mobile-desktop-sizes) {
			@include media-breakpoint-up($mobile-desktop-breakpoint) {
				height: $input-height-desktop;
				line-height: $input-height-desktop;
			}
		}
	}
}

// Input Group Sizes

.input-group-lg {
	> .input-group-addon {
		&:first-child {
			border-bottom-left-radius: $input-group-addon-border-radius-lg;
			border-top-left-radius: $input-group-addon-border-radius-lg;
		}

		&:last-child {
			border-bottom-right-radius: $input-group-addon-border-radius-lg;
			border-top-right-radius: $input-group-addon-border-radius-lg;
		}
	}

	.input-group-addon.input-group-constrain {
		height: auto;
		line-height: $input-height-lg - $input-border-bottom-width - $input-border-top-width;
		padding: 0 0 $input-border-bottom-width 0;
	}

	@if (variable-exists(atlas-theme)) {
		> .input-group-btn {
			&:first-child > .btn:first-child {
				border-bottom-left-radius: $btn-border-radius-lg;
				border-top-left-radius: $btn-border-radius-lg;
			}

			&:last-child > .btn:last-child {
				border-bottom-right-radius: $btn-border-radius-lg;
				border-top-right-radius: $btn-border-radius-lg;
			}
		}

		&.input-group-default {
			.input-group-addon-content {
				height: $input-height-lg;
				line-height: $input-height-lg;
				width: 40px;

				@if ($enable-mobile-desktop-sizes) {
					@include media-breakpoint-up($mobile-desktop-breakpoint) {
						height: $input-height-lg-desktop;
						line-height: $input-height-lg-desktop;
					}
				}
			}
		}
	}

	.help-icon {
		@include monospace(35px);
	}
}

.input-group-sm {
	> .input-group-addon {
		&:first-child {
			border-bottom-left-radius: $input-group-addon-border-radius-sm;
			border-top-left-radius: $input-group-addon-border-radius-sm;
		}

		&:last-child {
			border-bottom-right-radius: $input-group-addon-border-radius-sm;
			border-top-right-radius: $input-group-addon-border-radius-sm;
		}
	}

	.input-group-addon.input-group-constrain {
		height: auto;
		line-height: $input-height-sm - $input-border-bottom-width - $input-border-top-width;
		padding: 0 0 $input-border-bottom-width 0;
	}

	@if (variable-exists(atlas-theme)) {
		> .input-group-btn {
			&:first-child > .btn:first-child {
				border-bottom-left-radius: $btn-border-radius-sm;
				border-top-left-radius: $btn-border-radius-sm;
			}

			&:last-child > .btn:last-child {
				border-bottom-right-radius: $btn-border-radius-sm;
				border-top-right-radius: $btn-border-radius-sm;
			}
		}

		&.input-group-default {
			.input-group-addon-content {
				height: $input-height-sm;
				line-height: $input-height-sm;

				@if ($enable-mobile-desktop-sizes) {
					@include media-breakpoint-up($mobile-desktop-breakpoint) {
						height: $input-height-sm-desktop;
						line-height: $input-height-sm-desktop;
					}
				}
			}
		}
	}

	.help-icon {
		@include monospace(20px);
	}
}