.sidebar {
	height: 100%;
	overflow: auto;

	-webkit-overflow-scrolling: touch;

	.management-bar-default,
	.navbar-default,
	.navbar-inverse {
		border-left-width: 0;
		border-radius: 0;
		border-right-width: 0;
		margin-bottom: 0;
	}

	.navbar {
		> .container-fluid {
			@if (variable-exists(atlas-theme)) {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		> .navbar-nav {
			@if (variable-exists(atlas-theme)) {
				margin-left: 10px;
				margin-right: 10px;
			}
			@else {
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}

	.navbar-no-collapse > .container-fluid > .navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}
}

.sidebar-header {
	margin: 0;
	padding: 24px;

	a {
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.sidebar-header-actions {
	float: right;

	@include list-unstyled;

	> li {
		display: inline-block;
	}
}

.sidebar-body {
	font-size: 14px;
	overflow: auto;

	-webkit-overflow-scrolling: touch;

	padding: 24px;
}

.sidebar-footer {
	padding: 24px;

	a {
		text-decoration: none;
	}
}

.sidebar-panel {
	height: 155px;
	overflow: hidden;
	position: relative;
}

// Skins

.sidebar-default {
	background-color: $sidebar-default-bg;
	border-left: 1px solid $sidebar-default-border;
	color: $sidebar-default-color;

	a.sidenav-close,
	.sidebar-header-actions > li a {
		color: $sidebar-default-header-actions-link-color;

		&:focus,
		&:hover {
			color: $sidebar-default-header-actions-link-hover-color;
		}
	}

	.sidebar-panel {
		background-color: $sidebar-default-panel-bg;
	}
}

.sidebar-inverse {
	background-color: $sidebar-inverse-bg;
	color: $sidebar-inverse-color;

	a.sidenav-close,
	.sidebar-header-actions > li a {
		color: $sidebar-inverse-header-actions-link-color;

		&:focus,
		&:hover {
			color: $sidebar-inverse-header-actions-link-hover-color;
		}
	}

	.sidebar-panel {
		background-color: $sidebar-inverse-panel-bg;
	}

	@if (variable-exists(atlas-theme)) {
		input {
			@include placeholder($brand-default);
		}

		.form-control {
			background-color: $sidebar-inverse-input-bg;
			border-width: 0;
			color: $brand-default;
			padding: 8px 12px;
		}
	}
}