/**
* Clay 2.0.0-alpha.9
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$help-icon-secondary-bg: $gray-200 !default;
$help-icon-secondary-color: $gray-400 !default;
$help-icon-secondary-color-hover: $help-icon-secondary-color !default;

$icon-monospaced-size: 2rem !default; // 32px