.btn-landing {
	@include button-variant($btn-landing-color, $btn-landing-bg, $btn-landing-border);

	background-color: $btn-landing-bg;
	border: $btn-landing-border-width solid $btn-landing-border;
	border-radius: $btn-landing-border-radius;
	color: $btn-landing-color;
	font-size: $btn-landing-font-size;
	font-weight: 700;
	padding: $btn-landing-padding;

	&:hover, &:focus, &:active, &:active:focus {
		background-color: $btn-landing-bg;
		border-color: $btn-landing-hover-border;
		color: $btn-landing-hover-color;
	}

	img {
		max-height: 42px;
	}
}
