.landing {
	font-size: 1.25rem;
	min-height: 100vh;

	h1 {
		font-size: 3rem;
	}

	header, section {
		padding: 80px 0;

		p {
			margin: 40px 0;
		}

		em {
			font-weight: bold;
		}
	}

	.section-inverted {
		background-color: $brand-dark;
		color: #FFF;
	}

	.section-lighten {
		background-color: $brand-lighten;
	}

	.footer {
		margin-top: 0;
		padding: 47px 20px;
	}
}
