code {
	color: $cadmin-code-color;
	font-size: $cadmin-code-font-size;
	word-wrap: break-word;

	// Streamline the style when inside anchors to avoid broken underline and more

	a > & {
		color: inherit;
	}
}

kbd {
	background-color: $cadmin-kbd-bg;

	@include border-radius($cadmin-border-radius-sm);
	@include box-shadow($cadmin-kbd-box-shadow);

	color: $cadmin-kbd-color;
	font-size: $cadmin-kbd-font-size;
	padding: $cadmin-kbd-padding-y $cadmin-kbd-padding-x;

	kbd {
		@include box-shadow(none);

		font-size: 100%;
		font-weight: $cadmin-nested-kbd-font-weight;
		padding: 0;
	}
}

pre {
	color: $cadmin-pre-color;
	display: block;
	font-size: $cadmin-code-font-size;

	code {
		color: inherit;
		font-size: inherit;
		word-break: normal;
	}
}

.pre-scrollable {
	max-height: $cadmin-pre-scrollable-max-height;
	overflow-y: scroll;
}
