//Dropdowns
.dropdown-header {
	line-height: 1;
	padding: 3px 12px;
}

.dropdown-menu {
	@include arrow-top-left($dropdown-arrow-color, 8px, 9px);
	@include arrow-top-left-border($dropdown-border, 9px, 9px);

	border: $dropdown-border-width solid $dropdown-fallback-border; // IE8 fallback
	border: $dropdown-border-width solid $dropdown-border;

	@include box-shadow($dropdown-box-shadow);

	margin-top: 0;
	padding: 6px 0 12px;

	&.dropdown-menu-right, .navbar-right & {
		@include arrow-top-right($dropdown-arrow-color, 8px, 9px);
		@include arrow-top-right-border($dropdown-border, 9px, 9px);
	}

	&.dropdown-menu-top {
		@include arrow-bottom-left($dropdown-arrow-color, 8px, 9px);
		@include arrow-bottom-left-border($dropdown-border, 9px, 9px);
	}

	&.dropdown-menu-top-right {
		@include arrow-bottom-right($dropdown-arrow-color, 8px, 9px);
		@include arrow-bottom-right-border($dropdown-border, 9px, 9px);
	}

	> li > a {
		padding: 3px 12px;
	}
}

// Dropdown Inverse
.dropdown-menu.dropdown-menu-inverse, .navbar-inverse .dropdown-menu {
	background-color: $dropdown-inverse-bg;
	border-color: $dropdown-inverse-border;

	@include box-shadow($dropdown-inverse-box-shadow);

	&, &.dropdown-menu-right {
		&:after {
			border-bottom-color: $dropdown-inverse-arrow-color;
		}

		&:before {
			border-bottom-color: $dropdown-inverse-border;
		}
	}

	&.dropdown-menu-top, &.dropdown-menu-top-right {
		&:after {
			border-top-color: $dropdown-inverse-arrow-color;
		}

		&:before {
			border-top-color: $dropdown-inverse-border;
		}
	}

	> li > a {
		color: $dropdown-inverse-link-color;

		&:focus, &:hover {
			color: $dropdown-inverse-link-hover-color;
		}
	}

	> li.active > a {
		&, &:focus, &:hover {
			color: $dropdown-inverse-link-active-color;
		}
	}

	@extend %disabled-selector;

	.divider {
		@include nav-divider($dropdown-inverse-divider-bg);
	}

	.dropdown-header, .link-list-heading {
		color: $dropdown-inverse-header-color;
	}

	.inline-scroller, .link-list {
		li a {
			color: $dropdown-inverse-link-color;
		}

		@extend %disabled-selector;
	}
}

.dropdown-menu-top, .dropup .dropdown-menu {
	margin-bottom: $box-shadow-default-y;
}

.dropdown-menu-top-right, .dropup .dropdown-menu-right {
	margin-bottom: $box-shadow-default-y;
}

// Dropdown inline-scroller
.dropdown-menu {
	.inline-scroller, .link-list {
		li a {
			padding: 3px 12px;
		}
	}

	.link-list .link-list-heading {
		padding: 3px 12px;
	}
}