/* ---------- Switches ---------- */

// must all be same units--start
$switch-button-width: 18px;
$switch-bar-padding: 4px; // space between button and bar, can be negative value

$switch-bar-width: 50px; // width of switch bar
$switch-bar-height: ($switch-bar-padding * 2) + $switch-button-width;
// must all be same units--end

$switch-bar-border-radius: 20px;
$switch-button-border-radius: 50%;
$switch-button-off-border-radius: $switch-button-border-radius;
$switch-button-on-border-radius: $switch-button-border-radius;

$switch-bar-border-width: 2px;
$switch-bar-font-size: 12px;
$switch-button-border-width: 1px;
$switch-button-font-size: $switch-bar-font-size;

$switch-bar-bg: #65B6F0;
$switch-bar-border-color: #60A7D8;
$switch-bar-icon-color: #FFF;
$switch-button-bg: #FFF;
$switch-button-border-color: #FFF;
$switch-button-icon-color: #34ADAB;

@function set-data-label-text-position($switch-width, $switch-padding) {
	@if $switch-padding < 0 {
		@return $switch-width + abs($switch-padding);
	}
	@else {
		@return $switch-width;
	}
}

@mixin color-switch-bar($off-bg, $off-border: $off-bg, $on-bg: $off-bg, $on-border: $off-border) {
	&:empty ~ .switch-bar {
		&:before {
			background-color: $off-bg;
			border: $switch-bar-border-width solid $off-border;
		}
	}

	&:checked ~ .switch-bar {
		&:before {
			background-color: $on-bg;
			border: $switch-bar-border-width solid $on-border;
		}
	}
}

@mixin color-switch-button($button-bg-off, $button-border-off: $button-bg-off, $button-bg-on: $button-bg-off, $button-border-on: $button-border-off) {
	&:empty ~ .switch-bar {
		&:after {
			background-color: $button-bg-off;
			border: $switch-button-border-width solid $button-border-off;
		}
	}

	&:checked ~ .switch-bar {
		&:after {
			background-color: $button-bg-on;
			border: $switch-button-border-width solid $button-border-on;
		}
	}
}

@mixin color-switch-bar-icon($off-color, $on-color: $off-color) {
	&:empty ~ .switch-bar .switch-icon {
		color: $off-color;
	}

	&:checked ~ .switch-bar .switch-icon {
		color: $on-color;
	}
}

@mixin color-switch-button-icon($off-color, $on-color: $off-color) {
	&:empty ~ .switch-bar .switch-icon.button-icon {
		color: $off-color;
	}

	&:checked ~ .switch-bar .switch-icon.button-icon {
		color: $on-color;
	}
}

.switch-bar {
	.switch-toggle {
		display: block;
		float: left;
		text-transform: uppercase;
		width: $switch-bar-width;
	}

	.switch-icon {
		font-size: $switch-bar-font-size;
	}

	.button-icon {
		font-size: $switch-button-font-size;
	}
}

input.switch {
	font-size: 62.5%;
	opacity: 0;
	position: absolute;

	@include color-switch-bar(#FFF, #D1D6D9, $switch-bar-bg, $switch-bar-border-color);
	@include color-switch-button(#869CAD, #869CAD, $switch-button-bg, $switch-button-border-color);
	@include color-switch-bar-icon(#869CAD, $switch-bar-icon-color);
	@include color-switch-button-icon(#FFF, $switch-bar-bg);

	&:empty ~ .switch-bar {
		cursor: pointer;
		display: block;
		font-size: 1.2rem;
		line-height: $switch-bar-height;
		min-height: $switch-bar-height;
		position: relative;
		text-indent: set-data-label-text-position($switch-bar-width, $switch-bar-padding);

		@include user-select(none);

		&:after, &:before {
			bottom: 0;
			content: ' ';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: $switch-bar-width;
		}

		&:after {
			border-radius: $switch-button-off-border-radius;
			bottom: $switch-bar-padding;
			height: $switch-button-width;
			left: $switch-bar-padding;
			top: $switch-bar-padding;
			width: $switch-button-width;
		}

		&:before {
			border-radius: $switch-bar-border-radius;
		}

		.switch-toggle:after {
			content: attr(data-label-off);
			margin-left: 6px;
		}

		.switch-icon {
			left: $switch-bar-padding;
			line-height: $switch-button-width;
			position: absolute;
			text-align: center;
			text-indent: 0;
			top: $switch-bar-padding;
			width: $switch-button-width;
			z-index: 1;
		}

		.button-icon-on, .switch-icon-on {
			opacity: 0;
		}

		.switch-icon-on {
			left: $switch-bar-padding;
		}

		.switch-icon-off {
			left: $switch-bar-width - $switch-bar-padding - $switch-button-width;
		}
	}

	&:checked ~ .switch-bar {
		&:after {
			border-radius: $switch-button-on-border-radius;
			left: $switch-bar-width - $switch-bar-padding - $switch-button-width;
		}

		&:before {
			border-radius: $switch-bar-border-radius;
		}

		.switch-toggle:after {
			content: attr(data-label-on);
			margin-left: 6px;
		}

		.button-icon {
			left: $switch-bar-width - $switch-bar-padding - $switch-button-width;
		}

		.button-icon-on, .switch-icon-on {
			opacity: 1;
		}

		.button-icon-off, .switch-icon-off {
			opacity: 0;
		}
	}

	&:disabled, &.disabled {
		~ .switch-bar {
			cursor: not-allowed;
			opacity: 0.4;
		}
	}

	&:focus ~ .switch-bar:before {
		box-shadow: 0 0 3px 2px #66AFE6;
	}
}

input.switch {
	&:empty ~ .switch-bar {
		&:after, &:before, .switch-icon, .switch-toggle:after, .switch-toggle:before {
			@include transition(all 100ms ease-in);
		}
	}
}