.toolbar {
	@include clearfix-hack();

	.toolbar-group, .toolbar-group-right {
		float: none;
	}
}

.toolbar-no-break {
	@include clearfix-hack();

	.toolbar-group {
		float: left;
	}

	.toolbar-group-right {
		float: right;
	}
}

.toolbar-group, .toolbar-group, .toolbar-group-right {
	@extend %equal-height-columns;

	width: auto;
}

.toolbar-group-row {
	@extend %equal-height-column-row;
}

.toolbar-group-field, .toolbar-group-content {
	@extend %equal-height-column-cell;

	padding: 0 5px;
	vertical-align: middle;

	&.active a {
		color: $gray-light;
		cursor: default;

		&:focus, &:hover {
			text-decoration: none;
		}
	}

	&.disabled a {
		color: $gray-lighter;
		cursor: not-allowed;
	}
}

.toolbar-group-field {
	width: 1%;
}

// toolbar base styles
.toolbar-group, .toolbar-group-expand, .toolbar-group-right {
	height: $input-height-base;
	margin-bottom: 5px;
}

.toolbar-group, .toolbar-group-left, .toolbar-group-right {
	a {
		color: $navbar-default-link-color;

		&:focus, &:hover {
			color: $navbar-default-link-active-color;
			text-decoration: none;
		}
	}

	.active a {
		color: $navbar-default-link-hover-color;
	}
}

.toolbar-group-expand {
	line-height: $input-height-base;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

form.toolbar-group-expand {
	display: table-cell;
	line-height: normal;
	vertical-align: middle;
}

@media screen and (min-width: $screen-xs-min) {
	.toolbar {
		margin-bottom: 10px;

		.toolbar-group {
			float: left;
			padding-right: 10px;
		}

		.toolbar-group-right {
			float: right;
			padding-left: 10px;
		}
	}
}

@media screen and (max-width: 319px) {
	.toolbar-group-expand {
		padding: 0;
		width: 100%;
	}

	form.toolbar-group-expand {
		display: block;
	}

	.toolbar {
		.toolbar-group, .toolbar-group-right {
			display: inline;

			.toolbar-group-content {
				display: block;
				float: left;
				margin-bottom: 5px;
			}
		}
	}

	.toolbar-group-content {
		&.dropdown > .dropdown-toggle {
			display: table-cell;
			height: $input-height-base;
			vertical-align: middle;
		}
	}

	.toolbar-group, .toolbar-group-right {
		a {
			line-height: $input-height-base;
		}

		input[type="checkbox"], input[type="radio"] {
			height: $input-height-base - 4;
		}
	}
}