@mixin clay-tbar-variant($map) {
	$border-color: map-get($map, border-color);
	$border-style: map-get($map, border-style);
	$border-width: map-get($map, border-width);
	$color: map-get($map, color);
	$height: map-get($map, height);

	border-color: $border-color;
	border-style: $border-style;
	border-width: $border-width;
	color: $color;
	height: $height;
}