.lexicon-icon-list {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}

	li span {
		margin-left: 4px;
	}
}

@media (min-width: $screen-xs) {
	.lexicon-icon-list li {
		float: left;
		padding: 5px;
		width: 33%;
	}
}
