.landing {
	.lead {
		color: $brand-dark-active;
		font-size: $base-size * 2;
		font-weight: 400;
		margin-bottom: 2rem;
	}

	.clay-logo {
		display: flex;
		margin: 40px 0 60px;

		img {
			max-height: 186px;
			max-width: 160px;
		}

		.logo-title {
			padding: 0 28px;
		}

		h1 {
			font-size: 80px;
			line-height: 0.7;
			margin: 50px 0 0;
		}
	}
}
