table {
	//@extend .table;

	margin-bottom: 1.5rem;

	& > tbody > tr > td, & > thead > tr > th {
		border-bottom: 1px solid $brand-border-color;
		line-height: $base-size * 0, 75;
		padding: $base-size / 2;
	}

	thead th {
		border-bottom: 2px solid $brand-border-color;
		color: $brand-secondary;
		font-size: $base-size / 2;
		font-weight: 600;
		text-transform: uppercase;
		vertical-align: bottom;
	}
}
