$list-group-header-bg: $navbar-default-bg;
$list-group-header-font-weight: $headings-font-weight;

$list-group-header-icon-closed: '\f105';
$list-group-header-icon-open: '\f107';

$list-group-header-icon-font-size: $font-size-large;