		</section>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script src="<%= rootPath %>/js/site/toggle_css.js"></script>
	<script src="<%= rootPath %>/js/svg4everybody.js" type="text/javascript"></script>

	<script>
		svg4everybody({
			polyfill: true
		});

		$(function() {
			var body = $('body');
			var headerTopBar = $('#headerTopBar');

			headerTopBar.find('.navbar-toggle').on(
				'click',
				function(event) {
					var $this = $(this);

					var transitionEnd = 'webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend';

					var mainNavContainer = $('.main-nav-container');
					var wrapper = $this.closest('#wrapper');

					var isNavOpen = (function() {
						if (wrapper.hasClass('main-nav-open')) {
							return true;
						}

						return false;
					})();

					var forceReflow = function(el) {
						el.css({
							display: 'table'
						});

						setTimeout(function() {
							el.css({
								display: ''
							});
						}, 0);
					};

					event.preventDefault();

					mainNavContainer.on(
						transitionEnd,
						function(event) {
							if ($(event.target).is('#mainNav')) {
								mainNavContainer.removeClass('main-nav-transition');
								forceReflow($('html'));

								if (isNavOpen) {
									body.removeClass('lexicon-site-body-fixed');
								}

								$(this).off(transitionEnd);
							}
						}
					);

					mainNavContainer.addClass('main-nav-transition');

					if (isNavOpen) {
						wrapper.removeClass('main-nav-open');
					}
					else {
						body.addClass('lexicon-site-body-fixed');
						wrapper.addClass('main-nav-open');
					}
				}
			);
		});

		hljs.initHighlightingOnLoad();
	</script>
	</body>
</html>