		</section>
	</div>
<script>
	YUI().use('node', 'transition', function(A) {
		A.one('#headerTopBar .menu-toggle').on('click', function(event) {
			var currentTarget = event.currentTarget;
			var mainContent = A.one('#mainContent');
			var sideNavigationContainer = A.one('.side-navigation-container');

			event.preventDefault();

			sideNavigationContainer.addClass('transition');

			mainContent.addClass('transition');

			sideNavigationContainer.on('transitionend', function() {
				sideNavigationContainer.removeClass('transition');

				mainContent.removeClass('transition');

				this.detach('transitionend');
			});

			setTimeout(function() {
				currentTarget.ancestor('#wrapper').toggleClass('main-nav-open').toggleClass('main-nav-closed');
			}, 50);
		});

		A.all('.side-navigation').each(
			function(item, index) {
				item.delegate('click', function(event) {
					event.preventDefault();
					event.currentTarget.next('.collapse').toggleClass('in');
				}, 'li.side-navigation-dropdown-container > a');
			}
		);
	});
</script>
  </body>
</html>