<nav class="side-navigation" id="mainNav">
		<%
		var createMainNavList = function(nav, path, parent) {
			var buffer = ['<ul class="nav nav-stacked">'];

			nav.forEach(
				function(item, index) {
					var cssClass = ((path + '/index.html') == item.path ? 'active' : '');
					var url = rootPath + '/' + item.path;

					if (item.children) {
						url = 'javascript:;'
						cssClass = 'side-navigation-dropdown-container';
					}

					var tplObj = {
						cssClass: cssClass,
						title: item.title,
						url: url
					};

					buffer.push(Y.Lang.sub('<li class="{cssClass}"><a href="{url}">{title}</a>', tplObj));

					if (item.children) {
						var sectionNav = createMainNavList(item.children, path, item);

						buffer.push('<a class="side-navigation-dropdown" href="#"><span class="caret"></span></a>');

						var collapseCssClass = 'collapse';

						var hasActiveChild = Y.Array.some(
							item.children,
							function(item, index) {
								return item.path === path;
							}
						);

						if (hasActiveChild) {
							collapseCssClass += ' in';
						}

						buffer.push('<div class="', collapseCssClass,'">');

						buffer.push(sectionNav);

						buffer.push('</div>');
					}

					buffer.push('</li>');
				}
			);

			buffer.push('</ul>');

			return buffer.join('\n');
		};
		var createMainNavList2 = function(navObj, path, parent) {
			var buffer = ['<ul class="nav nav-stacked">'];
			Y.Object.each(
				navObj,
				function(item, index) {
					if (index.indexOf('_') === 0) {
						return;
					}

					var hasSections = !!item._sections;

					var cssClass = ((path + '/index.html') == item._path ? 'active' : '');
					var url = item._path;

					if (hasSections) {
						url = 'javascript:;'
						cssClass = 'side-navigation-dropdown-container';
					}
					else {
						if (path && item._path.indexOf(path) === 0 && parent) {
							parent._active = path;
						}

						// console.log(item, navObj._active);
						// console.log(path == item, );
						if (rootPath != '.') {
							url = rootPath + '/' + url;
						}
					}

					if (hasSections) {
						Y.Object.each(
							item._sections,
							function(section, sectionIndex) {
								if (sectionIndex.indexOf('_') === 0) {
									return;
								}

								if (path && section._path.indexOf(path) === 0) {
									item._sections._active = path;
								}
								else if (section._file.subNav) {
									Y.Object.each(
										section._file.subNav,
										function(subSectionItem, subSectionIndex) {
											if (path && subSectionItem._path.indexOf(path) === 0) {
												item._sections._active = path;
												item._active = path;
											}
										}
									);

									// console.log(section, path);
								}
							}
						);

						if (item._sections._active === path) {
							cssClass += ' child-active'
						}
					}

					var tplObj = {
						cssClass: cssClass,
						title: item._file ? item._file.title : toTitleCase(index),
						url: url
					};

					buffer.push(Y.Lang.sub('<li class="{cssClass}"><a href="{url}">{title}</a>', tplObj));

					if (hasSections) {
						var sectionNav = createMainNavList(item._sections, path, item);

						buffer.push('<a class="side-navigation-dropdown" href="#"><span class="caret"></span></a>');

						var collapseCssClass = 'collapse';

						if (item._active == path) {
							collapseCssClass += ' in';
						}

						buffer.push('<div class="', collapseCssClass,'">');
						buffer.push(sectionNav);
						// console.log(item);
						buffer.push('</div>');
					}

					buffer.push('</li>');
				}
			);

			buffer.push('</ul>');

			return buffer.join('\n');
		};
		%>
	<%- createMainNavList(nav, path) %>
</nav>