<div class="dropdown" id="siteConfig">
	<button class="btn btn-primary btn-sm" data-toggle="dropdown"><i class="icon-cog"></i></button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li class="dropdown-header">Site Settings</li>
		<li>
			<form>
				<div class="form-group">
					<label>
						<input checked="checked" id="toggleAtlas" type="checkbox">
						Show Atlas Theme
					</label>
				</div>
				<div class="form-group">
					<label>
						<input checked="checked" id="toggleSiteCss" type="checkbox">
						Show Site CSS
					</label>
				</div>

				<div class="form-group">
					<button class="btn btn-default btn-block" id="resetSiteConfig">Reset Settings</button>
				</div>
			</form>
		</li>
	</ul>
</div>