<div class="dropdown" id="siteConfig">
	<button class="btn btn-primary btn-sm" data-toggle="dropdown">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
			<use xlink:href="<%= rootPath %>/images/icons/icons.svg#cog"></use>
		</svg>
	</button>
	<div class="dropdown-menu dropdown-menu-right">
		<div class="dropdown-header">Site Settings</div>
		<form>
			<div class="dropdown-item">
				<label class="custom-control custom-checkbox">
					<input checked class="custom-control-input" id="toggleAtlas" type="checkbox">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Show Atlas</span>
				</label>
			</div>
			<div class="dropdown-item">
				<label class="custom-control custom-checkbox">
					<input checked class="custom-control-input" id="toggleSiteCss" type="checkbox">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Show Site CSS</span>
				</label>
			</div>

			<div class="dropdown-section">
				<button class="btn btn-secondary btn-block" id="resetSiteConfig">Reset Settings</button>
			</div>
		</form>
	</div>
</div>