// Loading Animation

.loading-icon,
.loadingmask-message .loadingmask-message-content {
	animation: loading-icon 1.2s infinite ease-out;
	border-radius: 50%;
	display: block;
	height: $loading-icon-ball-size;
	margin: ($loading-icon-size - $loading-icon-ball-size * 2) auto;
	position: relative;
	width: $loading-icon-ball-size;
}

@keyframes loading-icon {
	0%,
	100% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1;
	}
	16.6% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2;
	}
	33.3% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3;
	}
	50% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4;
	}
	66.6% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5;
  	}
  	83% {
		box-shadow:
		0 (-$loading-icon-ball-spacer) 0 $loading-icon-ball-scale-5 $loading-icon-ball-alpha-5,
		$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-4 $loading-icon-ball-alpha-4,
		$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-3 $loading-icon-ball-alpha-3,
		0 $loading-icon-ball-spacer 0 $loading-icon-ball-scale-2 $loading-icon-ball-alpha-2,
		-$loading-icon-ball-spacer $loading-icon-ball-spacer/2 0 $loading-icon-ball-scale-1 $loading-icon-ball-alpha-1,
		-$loading-icon-ball-spacer (-$loading-icon-ball-spacer/2) 0 $loading-icon-ball-scale-0 $loading-icon-ball-alpha-0;
  	}
}

// Linear Spinner

.loading-icon.linear {
	&, &:before, &:after {
		border-radius: 50%;
		box-shadow: none;
	}

	& {
		animation: none;
		height: 1em;
		margin: 0 auto;
		position: relative;
		transform: translateZ(0);
		width: 1em;
	}

	&:before, &:after {
		animation: 2s ease-out infinite both;
		border: 0.15em solid transparent;
		border-left-color: $loading-icon-linear-color;
		border-radius: 50%;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(270deg);
		transform-origin: 50%;
		width: 100%;
	}

	&:before {
		animation-name: loading-icon-linear;
	}

	&:after {
		animation-name: loading-icon-spin;
	}
}

@keyframes loading-icon-linear {
	0% {
		transform: rotate(0deg);
	}

	10.99% {
		border-bottom-color: transparent;
	}

	11% {
		border-bottom-color: $loading-icon-linear-color;
	}

	66% {
		border-bottom-color: $loading-icon-linear-color;
	}

	66.6% {
		border-bottom-color: transparent;
	}

	66.6%, 100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-icon-linear {
	0% {
		transform: rotate(0deg);
	}

	10.99% {
		border-bottom-color: transparent;
	}

	11% {
		border-bottom-color: $loading-icon-linear-color;
	}

	66% {
		border-bottom-color: $loading-icon-linear-color;
	}

	66.6% {
		border-bottom-color: transparent;
	}

	66.6%, 100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-icon-spin {
	0%, 22% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// Variations

a.btn,
button {
	> .loading-icon {
		// This is specifically in a less specific selector
		// to allow the size to be set via the
		// `loading-icon-{size}` classes
		& {
			margin-right: 0.8em;
			margin-top: 0;
			transform: scale(0.5);
		}

		&.linear {
			margin-right: 0.2em;
			margin-top: -0.2em;
		}

		&, &.linear {
			display: none;
			margin-bottom: 0;
			vertical-align: middle;
		}
	}

	&.loading {
		> .loading-icon {
			&, &.linear {
				display: inline-block;
			}
		}
	}
}

.loading-icon {
	&.loading-icon-xs {
		transform: scale(0.5);
	}

	&.loading-icon-sm {
		transform: scale(1);
	}

	&.loading-icon-md {
		transform: scale(1.5);
	}

	&.loading-icon-lg {
		transform: scale(2);
	}
}

// Backwards compatability

.loading-animation {
	@extend .loading-icon;

	&.loading-animation-xs {
		@extend .loading-icon-xs;
	}

	&.loading-animation-sm {
		@extend .loading-icon-sm;
	}

	&.loading-animation-md {
		@extend .loading-icon-md;
	}

	&.loading-animation-lg {
		@extend .loading-icon-lg;
	}
}