.sidebar {
	height: 100%;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
}

// Sidebar Header

.sidebar-header {
	@include clearfix;

	margin: 0;
	padding: $sidebar-padding;
	word-wrap: break-word;
}

// Sidebar Body

.sidebar-body {
	overflow: auto;

	-webkit-overflow-scrolling: touch;

	padding: $sidebar-padding;

	> .sidebar-section {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Sidebar Footer

.sidebar-footer {
	padding: $sidebar-padding;
}

// Sidebar Section

.sidebar-section {
	position: relative;
	word-wrap: break-word;
}

.sidebar-section-flex {
	display: flex;

	.flex-col {
		justify-content: center;
		min-height: 40px;
	}
}

// Sidebar List

.sidebar-list-item {
	border-color: transparent;
	border-style: solid;
	border-width: $sidebar-list-item-border-top-width $sidebar-list-item-border-right-width $sidebar-list-item-border-bottom-width $sidebar-list-item-border-left-width;
	display: flex;
	margin-bottom: -$sidebar-list-item-border-bottom-width;

	.flex-col {
		justify-content: center;
		padding-bottom: $sidebar-list-item-flex-col-padding-y;
		padding-left: $sidebar-list-item-flex-col-padding-x;
		padding-right: $sidebar-list-item-flex-col-padding-x;
		padding-top: $sidebar-list-item-flex-col-padding-y;
	}
}

// Sidebar Panel

.sidebar-panel {
	margin-bottom: $sidebar-panel-margin-bottom;
	position: relative;
}

// Sidebar Actions

.sidebar-actions {
	flex-wrap: nowrap;
}

// Sidebar Title, Subtitle, Caption

.sidebar-title {
	display: block;
	font-size: $sidebar-title-font-size;
	font-weight: $sidebar-title-font-weight;
	margin-bottom: 0;
}

.sidebar-subtitle {
	font-size: $sidebar-subtitle-font-size;
	font-weight: $sidebar-subtitle-font-weight;
	text-transform: $sidebar-subtitle-text-transform;
}

.sidebar-caption {
	font-size: $sidebar-caption-font-size;
	font-weight: $sidebar-caption-font-weight;
	text-transform: $sidebar-caption-text-transform;
}

// Sidebar Definition List (dl dt dd)

.sidebar-dl {
	.label {
		@include label-size(lg);
	}
}

.sidebar-dt {
	font-size: $sidebar-dt-font-size;
	font-weight: $sidebar-dt-font-weight;
	margin-bottom: $sidebar-dt-margin-bottom;
	text-transform: $sidebar-dt-text-transform;
}

.sidebar-dd {
	font-size: $sidebar-dd-font-size;
	font-weight: $sidebar-dd-font-weight;
	margin-bottom: $sidebar-dd-margin-bottom;
	text-transform: $sidebar-dd-text-transform;
}

// Sidebar Link

.sidebar-link {
	color: $sidebar-link-color;

	@include hover-focus {
		color: $sidebar-link-hover-color;
	}
}

// Skins

.sidebar-light {
	color: $sidebar-light-color;

	.sidebar-link {
		color: $sidebar-light-link-color;

		@include hover-focus {
			color: $sidebar-light-link-hover-color;
		}
	}

	.sidebar-header {
		.sidebar-title {
			color: $sidebar-light-header-title-color;
		}

		.sidebar-title.sidebar-link,
		.sidebar-title .sidebar-link {
			color: $sidebar-light-header-title-color;
			text-decoration: none;

			@include hover-focus {
				color: $sidebar-light-header-title-hover-color;
			}
		}
	}

	.sidebar-actions .sidebar-link {
		color: $sidebar-light-actions-link-color;
		text-decoration: none;

		@include hover-focus {
			color: $sidebar-light-actions-link-hover-color;
		}
	}

	.sidebar-list-item {
		border-color: $sidebar-light-list-item-border-color;
	}
}

.sidebar-light-bg {
	background-color: $sidebar-light-bg;
	border-left: 1px solid $sidebar-light-border-color;

	.sidebar-panel {
		background-color: $sidebar-light-panel-bg;
	}
}

.sidebar-dark {
	color: $sidebar-dark-color;

	.sidebar-link {
		color: $sidebar-dark-link-color;

		@include hover-focus {
			color: $sidebar-dark-link-hover-color;
		}
	}

	.sidebar-header {
		.sidebar-title {
			color: $sidebar-dark-header-title-color;
		}

		.sidebar-title.sidebar-link,
		.sidebar-title .sidebar-link {
			color: $sidebar-dark-header-title-color;
			text-decoration: none;

			@include hover-focus {
				color: $sidebar-dark-header-title-hover-color;
			}
		}
	}

	.sidebar-actions .sidebar-link {
		color: $sidebar-dark-actions-link-color;
		text-decoration: none;

		@include hover-focus {
			color: $sidebar-dark-actions-link-hover-color;
		}
	}
}

.sidebar-dark-bg {
	background-color: $sidebar-dark-bg;
	border-color: $sidebar-dark-border-color;

	.sidebar-panel {
		background-color: $sidebar-dark-panel-bg;
	}
}