/**
* Lexicon 1.0.3
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$badge-font-size: $label-font-size !default;
$badge-padding-bottom: $label-padding-bottom !default;
$badge-padding-left: $label-padding-left !default;
$badge-padding-right: $label-padding-right !default;
$badge-padding-top: $label-padding-top !default;

$badge-lg-font-size: $label-lg-font-size !default;
$badge-lg-padding-bottom: $label-lg-padding-bottom !default;
$badge-lg-padding-left: $label-lg-padding-left !default;
$badge-lg-padding-right: $label-lg-padding-right !default;
$badge-lg-padding-top: $label-lg-padding-top !default;

$badge-sm-font-size: $label-sm-font-size !default;
$badge-sm-padding-bottom: $label-sm-padding-bottom !default;
$badge-sm-padding-left: $label-sm-padding-left !default;
$badge-sm-padding-right: $label-sm-padding-right !default;
$badge-sm-padding-top: $label-sm-padding-top !default;