/**
* Lexicon 1.0.7
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$dropdown-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !default;

$dropdown-checkbox-label-spacer: 40px !default;
$dropdown-radio-label-spacer: $dropdown-checkbox-label-spacer !default;

$dropdown-link-padding: 3px 20px !default;

$dropdown-wide-width: 500px !default;