/**
* Lexicon 1.0.3
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$list-group-header-font-weight: 500 !default; // Shared

$tabular-list-group-border-width: 1px !default; // Shared

$tabular-list-group-item-height: 100px !default;

// Skins

$list-group-card-active-bg: $component-active-bg !default;
$list-group-card-active-color: $component-active-color !default;
$list-group-card-checkbox-hidden-icon: '\f00c' !default;