/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$loading-icon-color: lighten($btn-primary-bg, 15%) !default;
$loading-icon-linear-color: lighten($btn-primary-bg, 10%) !default;
$loading-icon-size: 64px !default;