/**
* Lexicon 1.0.3
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$panel-blank-border: transparent !default;
$panel-blank-heading-bg: transparent !default;
$panel-blank-text: $panel-default-text !default;

$panel-border-bottom-width: 1px !default;
$panel-border-left-width: 1px !default;
$panel-border-right-width: 1px !default;
$panel-border-top-width: 1px !default;

$panel-title-font-size: 1em !default;
$panel-title-font-weight: 500 !default;