/**
* Lexicon 1.0.32
*
* Copyright 2021, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$sidenav-transition: all 0.5s ease !default;
$sidenav-width: 320px !default;
$zindex-sidenav: $zindex-navbar-fixed + 5 !default;