/**
* Lexicon 0.1.25
*
* Copyright 2015, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$sticker-color: $badge-color !default;
$sticker-font-size: $font-size-base !default;
$sticker-gutter-width: $grid-gutter-width / 2 !default;
$sticker-monospaced-size: $badge-monospaced-size !default;

$sticker-lg-font-size: $font-size-large !default;
$sticker-lg-monospaced-size: $badge-lg-monospaced-size !default;

$sticker-sm-font-size: $font-size-small !default;
$sticker-sm-monospaced-size: $badge-sm-monospaced-size !default;