@mixin alert-variant($background, $border, $color) {
	@include gradient-bg($background);

	border-color: $border;
	color: $color;

	hr {
		border-top-color: darken($border, 5%);
	}

	.alert-link {
		color: darken($color, 10%);
	}
}
