@mixin clay-button-size($map) {
	$breakpoint-down: map-get($map, breakpoint-down);

	$border-color: map-get($map, border-color);
	$border-radius: map-get($map, border-radius);
	$border-style: map-get($map, border-style);
	$border-width: map-get($map, border-width);
	$display: map-get($map, display);
	$font-size: map-get($map, font-size);
	$font-weight: map-get($map, font-weight);
	$height: map-get($map, height);
	$line-height: map-get($map, line-height);
	$padding-bottom: map-get($map, padding-bottom);
	$padding-left: map-get($map, padding-left);
	$padding-right: map-get($map, padding-right);
	$padding-top: map-get($map, padding-top);
	$transition: map-get($map, transition);
	$user-select: map-get($map, user-select);
	$vertical-align: map-get($map, vertical-align);
	$white-space: map-get($map, white-space);
	$width: map-get($map, width);
	$word-wrap: map-get($map, word-wrap);

	$inline-item-font-size: map-get($map, inline-item-font-size);

	$section-font-size: map-get($map, section-font-size);
	$section-font-weight: map-get($map, section-font-weight);
	$section-line-height: map-get($map, section-line-height);

	$font-size-mobile: map-get($map, font-size-mobile);
	$height-mobile: map-get($map, height-mobile);
	$padding-bottom-mobile: map-get($map, padding-bottom-mobile);
	$padding-left-mobile: map-get($map, padding-left-mobile);
	$padding-right-mobile: map-get($map, padding-right-mobile);
	$padding-top-mobile: map-get($map, padding-top-mobile);
	$width-mobile: map-get($map, width-mobile);

	border-color: $border-color;
	border-radius: $border-radius;
	border-style: $border-style;
	border-width: $border-width;
	display: $display;
	font-size: $font-size;
	font-weight: $font-weight;
	height: $height;
	line-height: $line-height;
	padding-bottom: $padding-bottom;
	padding-left: $padding-left;
	padding-right: $padding-right;
	padding-top: $padding-top;
	transition: $transition;
	user-select: $user-select;
	vertical-align: $vertical-align;
	white-space: $white-space;
	width: $width;

	@if ($breakpoint-down) {
		@include media-breakpoint-down($breakpoint-down) {
			font-size: $font-size-mobile;
			height: $height-mobile;
			padding-bottom: $padding-bottom-mobile;
			padding-left: $padding-left-mobile;
			padding-right: $padding-right-mobile;
			padding-top: $padding-top-mobile;
			width: $width-mobile;
		}
	}

	.inline-item {
		font-size: $inline-item-font-size;
	}

	.btn-section {
		font-size: $section-font-size;
		font-weight: $section-font-weight;
		line-height: $section-line-height;
	}
}

@mixin clay-button-variant($map) {
	$bg: map-get($map, bg);
	$border-color: map-get($map, border-color);
	$color: map-get($map, color);
	$hover-bg: map-get($map, hover-bg);
	$hover-border-color: map-get($map, hover-border-color);
	$hover-color: map-get($map, hover-color);
	$focus-bg: setter(map-get($map, focus-bg), $hover-bg);
	$focus-border-color: setter(map-get($map, focus-border-color), $hover-border-color);
	$focus-box-shadow: map-get($map, focus-box-shadow);
	$focus-color: map-get($map, focus-color);
	$disabled-bg: map-get($map, disabled-bg);
	$disabled-border-color: map-get($map, disabled-border-color);
	$disabled-color: map-get($map, disabled-color);
	$active-bg: map-get($map, active-bg);
	$active-border-color: map-get($map, active-border-color);
	$active-box-shadow: map-get($map, active-box-shadow);
	$active-color: map-get($map, active-color);
	$active-focus-box-shadow: setter(map-get($map, active-focus-box-shadow), $focus-box-shadow);
	$loading-animation: setter(map-get($map, loading-animation), $clay-unset-placeholder);

	background-color: $bg;
	border-color: $border-color;
	color: $color;

	&:hover {
		background-color: $hover-bg;
		border-color: $hover-border-color;
		color: $hover-color;
	}

	&:focus,
	&.focus {
		background-color: $focus-bg;
		border-color: $focus-border-color;
		box-shadow: $focus-box-shadow;
		color: $focus-color;
	}

	&:disabled,
	&.disabled {
		background-color: $disabled-bg;
		border-color: $disabled-border-color;
		color: $disabled-color;
	}

	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled).active,
	.show > &.dropdown-toggle {
		background-color: $active-bg;
		border-color: $active-border-color;
		box-shadow: $active-box-shadow;
		color: $active-color;

		&:focus {
			box-shadow: $active-focus-box-shadow;
		}
	}

	.loading-animation {
		@extend %#{$loading-animation} !optional;
	}
}