$application-bar-size: () !default;
$application-bar-size: map-merge((
	title-font-size: 1.125rem // 18px
), $application-bar-size);

$application-bar-dark: () !default;
$application-bar-dark: map-merge((
	bg: lighten(desaturate(adjust-hue($dark, 1), 0.77), 3.92),
	link-border-radius: $border-radius,
	link-font-weight: $font-weight-semi-bold,
	link-hover-bg: rgba(255, 255, 255, 0.03),
	link-active-bg: rgba(255, 255, 255, 0.06),
	link-disabled-bg: transparent,
	link-disabled-opacity: 0.5
), $application-bar-dark);