// Menubar Vertical MD

$menubar-vertical-transparent-md: (
	bg-mobile: #FFF,
	link-active-font-weight: $font-weight-semi-bold,
	toggler-font-size-mobile: 0.875rem,
	toggler-font-weight-mobile: $font-weight-semi-bold
) !default;

// Menubar Vertical LG

$menubar-vertical-transparent-lg: (
	bg-mobile: #FFF,
	link-active-font-weight: $font-weight-semi-bold,
	toggler-font-size-mobile: 0.875rem,
	toggler-font-weight-mobile: $font-weight-semi-bold
) !default;