// Menubar Vertical MD

$menubar-vertical-transparent-md: () !default;
$menubar-vertical-transparent-md: map-deep-merge(
	(
		mobile: (
			background-color: $white,
		),
		link: (
			border-radius: 0.375rem,
			transition: #{color 0.15s ease-in-out,
			background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out},
			hover: (
				background-color: rgba($primary, 0.04),
				color: $gray-900,
			),
			focus: (
				background-color: rgba($primary, 0.04),
				box-shadow:
					clay-enable-shadows($component-focus-inset-box-shadow),
				color: $gray-900,
				outline: 0,
			),
			active-class: (
				background-color: rgba($primary, 0.06),
				color: $gray-900,
				font-weight: $font-weight-semi-bold,
			),
			disabled: (
				box-shadow: clay-enable-shadows(none),
			),
			show: (
				background-color: c-unset,
				color: $gray-900,
				font-weight: $font-weight-semi-bold,
			),
		),
		link-mobile: (
			hover: (
				background-color: rgba($primary, 0.04),
			),
			focus: (
				background-color: rgba($primary, 0.04),
			),
			active: (
				background-color: c-unset,
				color: c-unset,
			),
			active-class: (
				background-color: rgba($primary, 0.06),
				color: c-unset,
			),
		),
		toggler-mobile: (
			color: $gray-900,
			font-size: 0.875rem,
			font-weight: $font-weight-semi-bold,
			transition: box-shadow 0.15s ease-in-out,
			focus: (
				box-shadow: clay-enable-shadows($component-focus-box-shadow),
				outline: 0,
			),
			disabled: (
				box-shadow: clay-enable-shadows(none),
			),
		),
	),
	$menubar-vertical-transparent-md
);

// Menubar Vertical LG

$menubar-vertical-transparent-lg: () !default;
$menubar-vertical-transparent-lg: map-deep-merge(
	(
		mobile: (
			background-color: $white,
		),
		link: (
			border-radius: 0.375rem,
			transition: #{color 0.15s ease-in-out,
			background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out},
			hover: (
				background-color: rgba($primary, 0.04),
				color: $gray-900,
			),
			focus: (
				background-color: rgba($primary, 0.04),
				box-shadow:
					clay-enable-shadows($component-focus-inset-box-shadow),
				color: $gray-900,
				outline: 0,
			),
			active-class: (
				background-color: rgba($primary, 0.06),
				color: $gray-900,
				font-weight: $font-weight-semi-bold,
			),
			disabled: (
				box-shadow: clay-enable-shadows(none),
			),
			show: (
				background-color: c-unset,
				color: $gray-900,
				font-weight: $font-weight-semi-bold,
			),
		),
		link-mobile: (
			hover: (
				background-color: rgba($primary, 0.04),
			),
			focus: (
				background-color: rgba($primary, 0.04),
			),
			active: (
				background-color: c-unset,
				color: c-unset,
			),
			active-class: (
				background-color: rgba($primary, 0.06),
				color: $gray-900,
			),
		),
		toggler-mobile: (
			color: $gray-900,
			font-size: 0.875rem,
			font-weight: $font-weight-semi-bold,
			transition: box-shadow 0.15s ease-in-out,
			focus: (
				box-shadow: clay-enable-shadows($component-focus-box-shadow),
				outline: 0,
			),
			disabled: (
				box-shadow: clay-enable-shadows(none),
			),
		),
	),
	$menubar-vertical-transparent-lg
);
