$popover-border-color: transparent !default;
$popover-border-radius: $border-radius !default; // 4px
$popover-box-shadow: 0 1px 15px -2px rgba(0, 0, 0, 0.2) !default;
$popover-max-width: $font-size-base * 14.5 !default; // 232px
$popover-inline-scroller-max-height: $font-size-base * 14.875 !default; // 238px

$popover-arrow-outer-color: transparent !default;
$popover-arrow-height: $font-size-base * 0.3 !default;
$popover-arrow-offset: $font-size-base * 0.625 !default; // 10px
$popover-arrow-width: $popover-arrow-height * 2 !default;

$popover-inner-padding: 0 !default;

$popover-header-bg: #FFF !default;
$popover-header-border-color: lighten(saturate(adjust-hue($secondary, 3), 6.13), 46.08) !default;
$popover-header-color: $body-color !default;
$popover-header-font-size: $font-size-base * 0.875 !default; // 14px
$popover-header-margin-x: $font-size-base !default; // 16px
$popover-header-margin-y: 0 !default;
$popover-header-padding-x: 0 !default;
$popover-header-padding-y: $font-size-base * 0.75 !default; // 12px

$popover-body-color: $secondary !default;
$popover-body-padding-x: $font-size-base !default; // 16px
$popover-body-padding-y: $font-size-base * 0.75 !default; // 12px
