$sticker-font-size: 0.625rem !default; // 10px
$sticker-font-weight: $font-weight-bold !default;

$sticker-inline-item-font-size: 1rem !default; // 16px

// Sticker Sizes

$sticker-sm: () !default;
$sticker-sm: map-merge((
	font-size: 0.5625rem, // 9px
	inline-item-font-size: 0.75rem // 14px
), $sticker-sm);

$sticker-lg: () !default;
$sticker-lg: map-merge((
	font-size: 0.9375rem, // 15px
	inline-item-font-size: 1.25rem // 20px
), $sticker-lg);

$sticker-xl: () !default;
$sticker-xl: map-merge((
	font-size: 1.0625rem, // 17px
	inline-item-font-size: 1.5rem // 24px
), $sticker-xl);

// Sticker Positions

$sticker-inside-offset: 1rem !default; // 16px

// Sticker Variants

$sticker-light-color: $dark !default;