$tooltip-bg: $gray-900 !default;
$tooltip-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.4) !default;
$tooltip-font-size: 0.875rem !default; // 14px
$tooltip-max-width: 230px !default;
$tooltip-opacity: 1 !default;
$tooltip-padding-x: 0.75rem !default; // 12px
$tooltip-padding-y: 0.75rem !default; // 12px

$tooltip-arrow-offset: 0.5rem !default; // 8px