// BS3 Button Size mixin

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}

// Labels

@mixin label-variant($color) {
  background-color: $color;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

// BS3 Navbar Vertical Align mixin

@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-height - $element-height) / 2);
  margin-bottom: (($navbar-height - $element-height) / 2);
}

// BS3 Panel Variant mixin

@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
	border-color: $border;

	& > .panel-heading {
		color: $heading-text-color;
		background-color: $heading-bg-color;
		border-color: $heading-border;

		+ .panel-collapse > .panel-body {
			border-top-color: $border;
		}

		.badge {
			color: $heading-bg-color;
			background-color: $heading-text-color;
		}
	}

	& > .panel-footer {
		+ .panel-collapse > .panel-body {
			border-bottom-color: $border;
		}
	}
}

// BS3 Placeholder mixin

@mixin placeholder($color: $input-color-placeholder) {
	&::-moz-placeholder { // Firefox
		color: $color;
		opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}

	&:-ms-input-placeholder { // Internet Explorer 10+
		color: $color;
	}

	&::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

// BS3 Text Overflow mixin

@mixin text-overflow() {
	@include text-truncate();
}

// BS3 User Select mixin

@mixin user-select($select) {
	-webkit-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select; // IE10+
	user-select: $select;
}