@mixin breadcrumb-right-border($breadcrumb-border, $breadcrumb-bg) {
	&:after {
		border-bottom: 14px solid transparent;
		border-left: 14px solid $breadcrumb-bg;
		border-top: 14px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: 100%;
		margin-left: -1px;
		margin-top: -14px;
		position: absolute;
		top: 50%;
		width: 0;
		z-index: 3;
	}

	&:before {
		border-bottom: 15px solid transparent;
		border-left: 15px solid $breadcrumb-border;
		border-top: 15px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: 100%;
		margin-left: 0;
		margin-top: -15px; 
		position: absolute;
		top: 50%;
		width: 0;
		z-index: 3;
	}
}

@mixin breadcrumb-left-border($breadcrumb-border, $breadcrumb-bg) {
	&:after {
		border-bottom: 14px solid transparent;
		border-left: 14px solid $breadcrumb-bg;
		border-top: 14px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: -1px;
		margin-top: -14px;
		position: absolute;
		top: 50%;
		width: 0;
		z-index: 1;
	}

	&:before {
		border-bottom: 15px solid transparent;
		border-left: 15px solid $breadcrumb-border;
		border-top: 15px solid transparent;
		content: "";
		display: block;
		height: 0;
		left: 0;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		width: 0;
		z-index: 1;
	}
}

.breadcrumb.breadcrumb-default {
	background-color: $breadcrumb-default-bg;
	border-radius: $border-radius-base;

	@include clearfix-hack();

	padding: 0;

	> li {
		display: block;
		float: left;
		margin-bottom: 3px;
		margin-right: 5px;
		position: relative;

		@include breadcrumb-right-border($breadcrumb-default-border, $breadcrumb-default-link-bg);

		&:first-child {
			a {
				border-left: 1px solid $breadcrumb-default-border;

				&:after {
					border-left: transparent;
				}

				&:before {
					border-left: transparent;
				}
			}
		}

		+ li:before {
			content: "";
			padding: 0;
		}

		a, span {
			background-color: $breadcrumb-default-link-bg;
			border: 1px solid $breadcrumb-default-border;
			color: $breadcrumb-default-link-color;
			display: block;
			float: left;
			padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal $breadcrumb-padding-vertical $breadcrumb-padding-horizontal + 11;
			position: relative;
			text-decoration: none;
			white-space: nowrap;

			@include breadcrumb-left-border($breadcrumb-default-border, $breadcrumb-default-bg);
		}
	}

	> li.active {
		z-index: 0;

		@include breadcrumb-right-border($breadcrumb-default-active-border, $breadcrumb-default-active-link-bg);

		a, span {
			background-color: $breadcrumb-default-active-link-bg;
			border-color: $breadcrumb-default-active-border;
			color: $breadcrumb-default-active-color;

			&:before {
				border-bottom: 15px solid transparent;
				border-left: 15px solid $breadcrumb-default-active-border;
				border-top: 15px solid transparent;
				content: "";
				display: block;
				height: 0;
				left: 0;
				margin-top: -15px;
				position: absolute;
				top: 50%;
				width: 0;
				z-index: 1;
			}
		}
	}
}

.breadcrumb.breadcrumb-inverse {
	background-color: $breadcrumb-inverse-bg;
	border-radius: $border-radius-base;

	@include clearfix-hack();

	padding: 0;

	> li {
		display: block;
		float: left;
		margin-bottom: 3px;
		margin-right: 5px;
		position: relative;

		@include breadcrumb-right-border($breadcrumb-inverse-border, $breadcrumb-inverse-link-bg);

		&:first-child {
			a {
				border-left: 1px solid $breadcrumb-inverse-border;

				&:after {
					border-left: transparent;
				}

				&:before {
					border-left: transparent;
				}
			}
		}

		+ li:before {
			content: "";
			padding: 0;
		}

		a, span {
			background-color: $breadcrumb-inverse-link-bg;
			border: 1px solid $breadcrumb-inverse-border;
			color: #FFF;
			display: block;
			float: left;
			padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal $breadcrumb-padding-vertical $breadcrumb-padding-horizontal + 11;
			position: relative; 
			text-decoration: none; 
			white-space: nowrap;

			@include breadcrumb-left-border($breadcrumb-inverse-border, $breadcrumb-inverse-bg);
		}
	}

	> li.active {
		z-index: 0;

		@include breadcrumb-right-border($breadcrumb-inverse-active-border, $breadcrumb-inverse-active-link-bg);

		a, span {
			background-color: $breadcrumb-inverse-active-link-bg;
			border-color: $breadcrumb-inverse-active-border;
			color: $breadcrumb-inverse-active-color;

			&:before {
				border-bottom: 15px solid transparent;
				border-left: 15px solid $breadcrumb-inverse-active-border;
				border-top: 15px solid transparent;
				content: "";
				display: block;
				height: 0;
				left: 0;
				margin-top: -15px;
				position: absolute;
				top: 50%;
				width: 0;
				z-index: 1;
			}
		}
	}
}

.breadcrumb.breadcrumb-borderless {
	background-color: $breadcrumb-borderless-bg;
	border-radius: $breadcrumb-borderless-border-radius;

	@include clearfix-hack();

	> li {
		display: block;
		float: left;
		margin-right: 5px;
		padding-left: 15px;
		position: relative;

		&:first-child {
			padding-left: 0;
		}

		&.active {
			a, span {
				color: $breadcrumb-borderless-active-color;
			}
		}

		+ li {
			// custom/_bourbon_mixins.scss
			@include angle-bracket-right($font-size-base, $breadcrumb-borderless-separator-color, $breadcrumb-borderless-separator-bg);
		}

		a, span {
			background-color: $breadcrumb-borderless-link-bg;
			color: $breadcrumb-borderless-link-color;
			display: block;
			vertical-align: text-bottom;
		}
	}
}