.label {
	display: inline-block;
	font-size: $badge-font-size;
	line-height: $badge-height;
	padding: $badge-padding-vertical $badge-padding-horizontal;

	@media screen and (min-width: $grid-float-breakpoint) {
		font-size: $badge-desktop-font-size;
	}
}

.label-lg {
	&.label {
		font-size: 85%;
		line-height: $badge-lg-height;
		padding: $badge-lg-padding-vertical $badge-lg-padding-horizontal;

		@media screen and (min-width: $grid-float-breakpoint) {
			font-size: 100%;
		}
	}
}

.label-sm {
	&.label {
		font-size: 75%;
		line-height: $badge-sm-height;
		padding: $badge-sm-padding-vertical $badge-sm-padding-horizontal;
	}
}