.modal-body {
	&.inline-scroller {
		height: 230px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 15px;
	}

	&.iframe-full {
		overflow: auto;
		padding: 0;
	}

	&.iframe-scroller {
		float: left;
		height: 230px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		width: 100%;

		iframe {
			float: left;
			height: 100%;
			overflow: auto;
		}
	}

	iframe {
		border-width: 0;
		float: left;
		height: auto;
		width: 100%;
	}
}

.modal-fluid {
	&.modal-dialog {
		margin: 2% auto;
		max-width: 600px;
		width: 96%;
	}

	&.modal-lg {
		margin: 2% auto;
		max-width: 900px;
		width: 96%;
	}

	&.modal-sm {
		margin: 2% auto;
		max-width: 300px;
		width: 96%;
	}
}

.modal-footer {
	clear: both;
	text-align: left;
}

.modal-open {
	left: 0;
	position: fixed;
	right: 0;
}

.modal-backdrop.in {
	@include opacity($modal-backdrop-opacity);
}

.modal-content {
	@include box-shadow($modal-box-shadow);
}

.modal-header {
	background-color: $modal-header-bg;
	color: $modal-header-color;

	.close {
		color: $modal-header-close-color;

		@include opacity(1);
	}
}

// Modal Full Screen

.modal-full-screen {
	bottom: 0;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;

	.modal-body {
		background-color: #FFF;
		bottom: 0;
		left: 0;
		overflow: auto;
		position: absolute;
		right: 0;
		top: 48px;
	}

	.modal-body-iframe {
		padding: 0;

		iframe {
			height: 100%;
		}
	}

	.modal-content {
		border-radius: 0;
		border-width: 0;
		height: 100%;
	}

	.modal-footer {
		background-color: $text-color;
		border-width: 0;
		color: #FFF;
		left: 0;
		padding: 8px;
		position: absolute;
		right: 0;
		top: 0;

		.modal-title {
			line-height: 32px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.modal-footer-left {
		float: left;
		margin-right: 10px
	}

	.modal-footer-right {
		float: right;
		margin-left: 10px;
	}

	.modal-header {
		border-color: #E4E6E8;
		display: none;
	}
}

.modal-full-screen.modal-inverse {
	.modal-body {
		background-color: #111314;
		color: #A7A7A7;
	}
}

@media screen and (min-width: $grid-float-breakpoint) { // min-width: 768px
	.modal-full-screen {
		bottom: 45px;
		left: 45px;
		right: 45px;
		top: 45px;

		.modal-body {
			background-color: #F5F8FA;
			bottom: 80px;
			top: 60px;
		}

		.modal-footer {
			background-color: #FFF;
			bottom: 0;
			box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.15);
			padding: 16px 24px;
			top: auto;

			.modal-title {
				display: none;
			}
		}

		.modal-footer-left,
		.modal-footer-right {
			display: inline-block;
			float: none;
		}

		.modal-footer-left {
			margin-right: 0;
		}

		.modal-footer-right {
			margin-left: 0;
		}

		.modal-header {
			display: block;
			padding: 12px;

			&,
			.modal-title {
				font-size: 19px;
				line-height: 35px;
				text-align: center;
			}

			.close-modal {
				font-size: 19px;
				margin-top: 5px;
			}
		}
	}
}

@media screen and (max-width: $grid-float-breakpoint-max) { // max-width: 767px
	.modal-full-screen {
		.modal-footer {
			.btn {
				background-color: transparent;
				border-color: transparent;
				color: $brand-primary;
				padding: 4px 8px;

				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}