@mixin color-user-icon($bg-color: #999, $color: #FFF) {
	background-color: $bg-color;
	color: $color;
}

@mixin size-user-icon($size) {
	height: $size;
	line-height: $size;
	width: $size;
}

.nameplate {
	@extend %equal-height-columns;

	margin: 10px 0;
}

.nameplate-checkbox, .nameplate-icon, .nameplate-field {
	@extend %equal-height-column-cell;

	padding: 0 0.3em;
	width: 1%;
}

.nameplate-content {
	@extend %equal-height-column-cell;

	padding: 0 0.3em;
	word-break: break-word;

	h1, h2, h3 {
		margin-top: 0;
	}

	h4, h5, h6 {
		margin-top: 2px;
	}

	small {
		color: $brand-default;
		display: block;
	}
}

// Nameplate Label

.nameplate-label {
	@extend .nameplate;

	border-radius: 20px;
	background-color: #EEE;
	font-size: 11px;
	margin: 0 5px 2px 0;
	padding: 3px;
	width: auto;

	a[class*="icon-"] {
		color: #999;
		margin-left: 5px;
		text-decoration: none;

		&:focus, &:hover {
			color: #555;
		}
	}

	.nameplate-content, .nameplate-field, .nameplate-icon {
		vertical-align: middle;
		width: auto;
	}

	.nameplate-content {
		padding: 3px 5px 2px;
	}
}

// Nameplate List

.nameplate-list {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;

	> li, > .nameplate {
		@extend .nameplate;

		border-left-width: 0;
		margin: 0;
		padding: 0.8em;

		&:hover {
			background-color: #DDD;
		}
	}

	> .nameplate-list-heading {
		background-color: #F6F6F6;

		&:hover {
			background-color: #F6F6F6;
		}
	}

	.nameplate-content, .nameplate-icon, .nameplate-field {
		padding: 0 0.3em;
		vertical-align: middle;
	}

	.nameplate-field .icon-remove {
		background-color: #DDD;
		text-align: center;
		border-radius: 50%;
		display: block;
		line-height: 19px;
		padding: 0 3px 0 4px;
		text-decoration: none;
	}
}

// User Icons

.user-icon {
	border-radius: $user-icon-border-radius;

	@include color-user-icon(#999, $text-color);

	height: 60px;
	line-height: 60px;
	text-align: center;
	overflow: hidden;
	width: 60px;

	&.user-icon-circle, .user-icon-circle & {
		border-radius: 50%;
	}

	&.user-icon-rounded, .user-icon-rounded & {
		border-radius: 5px;
	}

	&.user-icon-square, .user-icon-square & {
		border-radius: 0;
	}
}

.user-icon-xl {
	@include size-user-icon(120px);

	font-size: 50px;
}

.user-icon-lg {
	@include size-user-icon(80px);

	font-size: 31px
}

.user-icon-sm {
	@include size-user-icon(40px);
}

.user-icon-xs {
	@include size-user-icon(20px);

	font-size: 10px;
}

.user-icon-danger {
	@include color-user-icon($user-icon-danger-bg);
}

.user-icon-default {
	@include color-user-icon($user-icon-default-bg);
}

.user-icon-info {
	@include color-user-icon($user-icon-info-bg);
}

.user-icon-primary {
	@include color-user-icon($user-icon-primary-bg);
}

.user-icon-success {
	@include color-user-icon($user-icon-success-bg);
}

.user-icon-warning {
	@include color-user-icon($user-icon-warning-bg);
}

// Profile Header

.profile-header {
	max-width: 300px;

	.nameplate, &.nameplate {
		margin: 0;
	}

	.nameplate-content {
		padding: 10px;
	}

	.nameplate-field {
		padding: 10px;
	}
}