.pagination-bar {
	@include clearfix();

	.pagination {
		float: right;
		width: 100%;

		> li {
			display: block;
			float: left;
			text-align: center;
			width: 16.66667%;

			&:first-child,
			&:last-child {
				> a,
				> span {
					border-radius: $pagination-border-radius;
				}
			}

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}
	}
}

.pagination {
	> li {
		&:first-child,
		&:last-child {
			> a,
			> span {
				border-radius: $pagination-border-radius;
			}
		}

		> a,
		> span {
			display: inline-block;
			float: none;
			margin: 0 auto;
			border-radius: $pagination-border-radius;
			border: $pagination-border-width solid $pagination-border;
			height: $pagination-item-height;
			line-height: $pagination-item-height - ($pagination-border-width * 2);
			padding: 0;
			text-align: center;
			width: $pagination-item-width;
		}
	}

	> .disabled {
		> a,
		> span {
			&,
			&:focus,
			&:hover {
				@include opacity(0.5);
			}
		}
	}

	> .dropdown,
	> .ellipsis {
		> a,
		> span {
			border-width: 0;

			&:focus,
			&:hover {
				background-color: $pagination-ellipsis-hover-bg;
				color: $pagination-ellipsis-hover-color;
			}
		}
	}

	.dropdown-menu-top-center {
		margin-bottom: 10px;
	}
}

.pagination-items-per-page {
	float: left;
	line-height: $pagination-item-height;

	[class*="icon-"] {
		margin-left: 10px;
	}

	a {
		color: $pagination-items-per-page-color;
		display: block;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

.pagination-results {
	color: $pagination-results-color;
	float: right;
	line-height: $pagination-item-height;
}

.pagination-lg {
	&.pagination-items-per-page,
	&.pagination-results,
	.pagination-items-per-page,
	.pagination-results {
		font-size: $pagination-lg-font-size;
		line-height: $pagination-lg-item-height;
	}

	&.pagination > li,
	.pagination > li {
		> a,
		> span {
			font-size: $pagination-lg-font-size;
			height: $pagination-lg-item-height;
			line-height: $pagination-lg-item-height - ($pagination-border-width * 2);
			width: $pagination-lg-item-width;
		}
	}
}

.pagination-sm {
	&.pagination-items-per-page,
	&.pagination-results,
	.pagination-items-per-page,
	.pagination-results {
		font-size: $pagination-sm-font-size;
		line-height: $pagination-sm-item-height;
	}

	&.pagination > li,
	.pagination > li {
		> a,
		> span {
			font-size: $pagination-sm-font-size;
			height: $pagination-sm-item-height;
			line-height: $pagination-sm-item-height - ($pagination-border-width * 2);
			width: $pagination-sm-item-height;
		}
	}
}

@media screen and (min-width: $grid-float-breakpoint) {
	.pagination-bar .pagination {
		margin: 0;
		width: auto;

		> li {
			display: inline-block;
			float: none;
			width: auto;
		}
	}

	.pagination > li {
		> a,
		> span {
			margin: 0 2px;
		}
	}

	.pagination-results {
		float: left;
		margin-left: 25px;
	}
}