$golden-ratio: 1.6180339;

$body-bg:                                  #FFF;
$gray-darker:                              lighten(#000, 13.5%) !default; // #222
$gray-dark:                                lighten(#000, 20%) !default;   // #333
$gray:                                     lighten(#000, 33.5%) !default; // #555
$gray-light:                               lighten(#000, 46.7%) !default; // #777
$gray-lighter:                             lighten(#000, 93.5%) !default; // #eee

$brand-default: #869CAD;
$brand-default-active: darken($brand-default, 12%);
$brand-default-hover: darken($brand-default, 8%);

$brand-primary: #65B6F0;
$brand-primary-active: darken($brand-primary, 12%);
$brand-primary-hover: darken($brand-primary, 8%);

$brand-success: #76BD4A;
$brand-success-active: darken($brand-success, 12%);
$brand-success-hover: darken($brand-success, 8%);

$brand-info:                               #1e5ec8;
$brand-info-active: darken($brand-info, 12%);
$brand-info-hover: darken($brand-info, 8%);

$brand-warning: #F5984C;
$brand-warning-active: darken($brand-warning, 12%);
$brand-warning-hover: darken($brand-warning, 8%);

$brand-danger: #CC6677;
$brand-danger-active: darken($brand-danger, 12%);
$brand-danger-hover: darken($brand-danger, 8%);

$text-color:                               #29353D;
$text-muted:                               lighten($text-color, 55%);

//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:                      $brand-primary;
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:                   #FFF;

$font-family-sans-serif:                   "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:                         1.4286;

$padding-base-vertical:     6px;
$padding-base-horizontal:   16px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$link-hover-color:                         $brand-primary-hover;

//States for Form and alert
$state-default-text: #868896;
$state-default-bg: lighten($state-default-text, 40%);
$state-default-border: $state-default-text;

$state-primary-text: $brand-primary;
$state-primary-bg: lighten($state-primary-text, 40%);
$state-primary-border: $state-primary-text;

$state-success-text:             #34ADAB;
$state-success-bg:               lighten($state-success-text, 50%);
$state-success-border:           $state-success-text;

$state-info-text:                #1D5EC7;
$state-info-bg:                  lighten($state-info-text, 50%);
$state-info-border:              $state-info-text;

$state-warning-text:             #FFB103;
$state-warning-bg:               lighten($state-warning-text, 40%);
$state-warning-border:           $state-warning-text;

$state-danger-text:              #E8295A;
$state-danger-bg:                lighten($state-danger-text, 40%);
$state-danger-border:            $state-danger-text;

//== Border Radius
//## Defines global border-radius
$border-radius-default: 2px;
$border-radius-base:                       $border-radius-default;
$border-radius-large:                      $border-radius-default * 1.5;
$border-radius-small:                      $border-radius-default * 0.75;

//== Box Shadow
//## Defines global box-shadows
$box-shadow-default-x: 0;
$box-shadow-default-y: 0;
$box-shadow-default-blur: 3px;
$box-shadow-default-spread: 1px;
$box-shadow-default-bg: rgba(0, 0, 0, 0.2);
$box-shadow-default: $box-shadow-default-x $box-shadow-default-y $box-shadow-default-blur $box-shadow-default-spread $box-shadow-default-bg;

//== Buttons
//## Buttons: border radius
$btn-border-radius: 20px;
$btn-border-radius-lg: round($btn-border-radius * 1.5);
$btn-border-radius-sm: round($btn-border-radius * 0.75);
$btn-border-radius-xs: round($btn-border-radius * 0.5);

//## Buttons: padding, borders, font-size
/*** When changing any settings below, make sure to match the corresponding 
		input-height to the button height. ***/
$btn-border-width: 2px;
$btn-font-size: 14px;
$btn-padding-vertical: 6px;
$btn-padding-horizontal: round($btn-padding-vertical * 2.4);
$btn-lg-font-size: 18px;
$btn-lg-padding-vertical: 10px;
$btn-lg-padding-horizontal: round($btn-lg-padding-vertical * 2.4);
$btn-sm-font-size: 12px;
$btn-sm-padding-vertical: 4px;
$btn-sm-padding-horizontal: round($btn-sm-padding-vertical * 2.4);
$btn-xs-font-size: 10px;
$btn-xs-padding-vertical: 2px;
$btn-xs-padding-horizontal: round($btn-xs-padding-vertical * 2.4);

//## Buttons: colors
$btn-default-color:                        $brand-default;
$btn-default-bg:                           #FFF;
$btn-default-border:                       $brand-default;
$btn-default-hover-color: $btn-default-color;
$btn-default-hover-bg: $btn-default-bg;
$btn-default-hover-border: $brand-primary;
$btn-default-active-color: $btn-default-color;
$btn-default-active-bg: $btn-default-bg;
$btn-default-active-border: darken($btn-default-hover-border, 8%);

$btn-primary-color:                        #FFF;
$btn-primary-bg:                           $brand-primary;
$btn-primary-border:                       $btn-primary-bg;
$btn-primary-hover-color: $btn-primary-color;
$btn-primary-hover-bg: darken($btn-primary-bg, 8%);
$btn-primary-hover-border: $btn-primary-hover-bg;
$btn-primary-active-color: $btn-primary-color;
$btn-primary-active-bg: darken($btn-primary-hover-bg, 12%);
$btn-primary-active-border: $btn-primary-active-bg;


$btn-success-color:                        #FFF;
$btn-success-bg:                           $brand-success;
$btn-success-border:                       $btn-success-bg;
$btn-success-hover-color: $btn-success-color;
$btn-success-hover-bg: darken($btn-success-bg, 8%);
$btn-success-hover-border: $btn-success-hover-bg;
$btn-success-active-color: $btn-success-color;
$btn-success-active-bg: darken($btn-success-hover-bg, 12%);
$btn-success-active-border: $btn-success-active-bg;

$btn-info-color:                           #FFF;
$btn-info-bg:                              $brand-info;
$btn-info-border:                          $btn-info-bg;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: darken($btn-info-bg, 8%);
$btn-info-hover-border: $btn-info-hover-bg;
$btn-info-active-color: $btn-info-color;
$btn-info-active-bg: darken($btn-info-hover-bg, 12%);
$btn-info-active-border: $btn-info-active-bg;

$btn-warning-color:                        #FFF;
$btn-warning-bg:                           $brand-warning;
$btn-warning-border:                       $btn-warning-bg;
$btn-warning-hover-color: $btn-warning-color;
$btn-warning-hover-bg: darken($btn-warning-bg, 8%);
$btn-warning-hover-border: $btn-warning-hover-bg;
$btn-warning-active-color: $btn-warning-color;
$btn-warning-active-bg: darken($btn-warning-hover-bg, 12%);
$btn-warning-active-border: $btn-warning-active-bg;

$btn-danger-color:                         #FFF;
$btn-danger-bg:                            $brand-danger;
$btn-danger-border:                        $btn-danger-bg;
$btn-danger-hover-color: $btn-danger-color;
$btn-danger-hover-bg: darken($btn-danger-bg, 8%);
$btn-danger-hover-border: $btn-danger-hover-bg;
$btn-danger-active-color: $btn-danger-color;
$btn-danger-active-bg: darken($btn-danger-hover-bg, 12%);
$btn-danger-active-border: $btn-danger-active-bg;

$btn-link-disabled-color:                  #FFF;

//== Forms
$form-control-border-radius: 0;

$form-control-box-shadow: none;
$form-control-focus-box-shadow: none;
$input-box-shadow: none;

$label-font-size: 15px;

$input-bg:                                 #FFF;

$input-border-disabled: #CFD7DE;
$input-bg-disabled:                        #FFF;
$input-color-placeholder-disabled: #EBEEF0;

$input-color:                              $text-color;
$input-border:                             $brand-default;
$input-border-focus:                       $brand-primary;
$input-color-placeholder:                  #D7D9DD;

$input-font-size-base: 16px;
$input-font-size-large: 18px;
$input-font-size-small: 13px;

/*** When changing input, make sure to match the corresponding
		 btn settings to the input height. ***/
$input-height-base:                        36px;
$input-height-large:                       48px;
$input-height-small:                       29px;

$legend-border-color:                      #B0B4BB;

$input-group-addon-bg:                     $brand-default;
$input-group-addon-border-color:           $input-group-addon-bg;

$input-danger: $brand-danger;
$input-success: $brand-success;
$input-warning: $brand-warning;

$checkbox-color: $brand-primary;
$checkbox-bg: #FFF;
$checkbox-border: #B0B4BB;
$checkbox-border-focus: $brand-default;
$checkbox-check: "\f00c";

$checkbox-active-color: #2B4259;
$checkbox-active-bg: #FFF;
$checkbox-active-border: $checkbox-active-color;
$checkbox-checked-border: $checkbox-active-border;
$checkbox-checked-color: $checkbox-color;
$checkbox-disabled-color: #FFF;
$checkbox-disabled-bg: lighten(#B0B4BB, 20%);
$checkbox-disabled-border: $checkbox-disabled-bg;
$checkbox-hover-color: lighten($brand-primary, 20%);
$checkbox-hover-bg: #FFF;
$checkbox-hover-border: $checkbox-hover-color;

$radio-color: $checkbox-color;
$radio-bg: $checkbox-bg;
$radio-border: $checkbox-border;
$radio-check-color: $checkbox-color;
$radio-active-color: #2B4259;
$radio-active-bg: $radio-bg;
$radio-active-border: $checkbox-active-color;
$radio-checked-border: $checkbox-active-border;
$radio-checked-color: $checkbox-color;
$radio-disabled-color: $checkbox-disabled-color;
$radio-disabled-bg: $checkbox-disabled-bg;
$radio-disabled-border: $checkbox-disabled-border;
$radio-focus-color: #2B4259;
$radio-focus-border: #2B4259;
$radio-focus-bg: #FFF;
$radio-hover-color: lighten($brand-primary, 20%);
$radio-hover-bg: #FFF;
$radio-hover-border: $radio-hover-color;

// Cards
$card-border-radius: 10px;
$card-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.9);

//== Dropdowns
$dropdown-box-shadow: 0 2px 4px 0 rgba(228, 235, 240, 0.3);
$dropdown-bg:                              #FFF;
$dropdown-border:                          #DCE0E3;
$dropdown-border-width: 1px;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:                 #DCE0E3;
$dropdown-divider-bg:                      $dropdown-border;

$dropdown-wide-width: 500px;

$dropdown-font-size-desktop: floor($font-size-base * 1.2);
$dropdown-font-size-mobile: $font-size-base;

$dropdown-link-padding: 8px 12px;

$dropdown-link-color:                      $brand-default;
$dropdown-link-hover-color:                $brand-default;
$dropdown-link-hover-bg:                   #F7FAFA;

$dropdown-link-active-color:               $brand-primary;
$dropdown-link-active-bg:                  $dropdown-link-hover-bg;

$dropdown-link-disabled-color:             #CACDD2;

$dropdown-header-color:                    #B0B4BB;

$dropdown-arrow-color: $dropdown-bg;

// Toolbars
$header-toolbar-default-bg: #29343D;
$header-toolbar-default-color: #FFF;
$header-toolbar-default-link-color: #FFF;
$header-toolbar-default-link-hover-bg: #869CAD;

$header-toolbar-secondary-bg: $header-toolbar-default-bg;
$header-toolbar-secondary-color: $header-toolbar-default-color;
$header-toolbar-secondary-link-color: $header-toolbar-default-link-color;
$header-toolbar-secondary-link-hover-bg: $header-toolbar-default-link-hover-bg;

// Nameplates
$nameplate-list-border-color: $brand-default;
$user-icon-default-bg: #869CAD;
$user-icon-primary-bg: #65B3F0;
$user-icon-success-bg: #75BD4A;
$user-icon-info-bg: #083781;
$user-icon-warning-bg: #F5984C;
$user-icon-danger-bg: #CC6677;

$user-icon-border-radius: 50%;

//== Navbar Default
$navbar-default-color:                     $brand-default;
$navbar-default-bg:                        #FFF;
$navbar-default-border:                    #D8D8D8;

$navbar-default-link-color:                #2B4259;
$navbar-default-link-hover-color:          $brand-primary;
$navbar-default-link-hover-bg:             transparent;

$navbar-default-link-active-color:         #2B4259;
$navbar-default-link-active-bg:            #FFF;
$navbar-default-link-active-highlight: $brand-primary;

$navbar-default-link-disabled-color:       #CACDD2;
$navbar-default-link-disabled-bg:          transparent;

$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg:            transparent;

$navbar-default-link-open-bg: $brand-primary;
$navbar-default-link-open-color: #FFF;

//== Navbar Inverse
$navbar-inverse-color:                     #FFF;
$navbar-inverse-bg:                        $brand-default;
$navbar-inverse-border:                    $brand-default;

$navbar-inverse-link-color:                #FFF;
$navbar-inverse-link-hover-color:          $brand-primary;
$navbar-inverse-link-active-color:         $brand-primary;
$navbar-inverse-link-active-bg:            transparent;
$navbar-inverse-link-disabled-color:       #122F51;
$navbar-inverse-brand-color:               $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:         $brand-primary;
$navbar-inverse-toggle-border-color:       #18293D;
$navbar-inverse-toggle-hover-bg:           #426384;

$navbar-inverse-link-open-bg: $brand-primary;
$navbar-inverse-link-open-color: #FFF;

//== Pagination
$pagination-border-radius: 20px;
$pagination-padding-base-vertical: 4px;
$pagination-padding-base-horizontal: 20px;
$pagination-padding-large-vertical: $pagination-padding-base-vertical * 1.25;
$pagination-padding-large-horizontal: $pagination-padding-base-horizontal * 1.25;
$pagination-padding-small-vertical: $pagination-padding-base-vertical * 0.75;
$pagination-padding-small-horizontal: $pagination-padding-base-horizontal * 0.75;

$pagination-color:                         $brand-default;
$pagination-bg:                            #FFF;
$pagination-border:                        $brand-default;

$pagination-hover-color:                   #FFF;
$pagination-hover-bg:                      $brand-primary;
$pagination-hover-border:                  $brand-default;

$pagination-active-color:                  $brand-primary;
$pagination-active-bg:                     #FFF;
$pagination-active-border:                 $brand-default;

$pagination-disabled-color:                #D2D2D2;
$pagination-disabled-bg:                   #FFF;
$pagination-disabled-border:               $brand-default;

//Pagination Inverse
$pagination-inverse-color: #FFF;
$pagination-inverse-bg: $brand-default;
$pagination-inverse-border: $brand-default;

$pagination-inverse-hover-color: #FFF;
$pagination-inverse-hover-bg: $brand-primary;
$pagination-inverse-hover-border: $brand-default;

$pagination-inverse-active-color: $brand-primary;
$pagination-inverse-active-bg: $brand-default;
$pagination-inverse-active-border: $brand-default;

$pagination-inverse-disabled-color: $brand-default-hover;
$pagination-inverse-disabled-bg: $brand-default;
$pagination-inverse-disabled-border: $brand-default;

//Pagination Borderless1
$pagination-borderless1-border-radius: 0;
$pagination-borderless1-color: #C4C3C8;
$pagination-borderless1-bg: transparent;
$pagination-borderless1-border: transparent;

$pagination-borderless1-controls-color: $pagination-borderless1-color;
$pagination-borderless1-controls-bg: $pagination-borderless1-bg;
$pagination-borderless1-controls-border: $pagination-borderless1-border;

$pagination-borderless1-hover-color: $brand-default;
$pagination-borderless1-hover-bg: transparent;
$pagination-borderless1-hover-border: transparent;

$pagination-borderless1-active-color: $brand-primary;
$pagination-borderless1-active-bg: $pagination-borderless1-bg;
$pagination-borderless1-active-border: $pagination-borderless1-border;

$pagination-borderless1-disabled-color: #EEE;
$pagination-borderless1-disabled-bg: $pagination-borderless1-bg;
$pagination-borderless1-disabled-border: $pagination-borderless1-border;

//Pagination Borderless2
$pagination-borderless2-border-radius: 20px;
$pagination-borderless2-color: #C4C3C8;
$pagination-borderless2-bg: transparent;
$pagination-borderless2-border: transparent;

$pagination-borderless2-controls-color: #FFF;
$pagination-borderless2-controls-bg: $brand-primary;
$pagination-borderless2-controls-border: $brand-primary;

$pagination-borderless2-hover-color: $brand-default;
$pagination-borderless2-hover-bg: $pagination-borderless2-bg;
$pagination-borderless2-hover-border: $pagination-borderless2-border;

$pagination-borderless2-active-color: $brand-default;
$pagination-borderless2-active-bg: $pagination-borderless2-bg;
$pagination-borderless2-active-border: $pagination-borderless2-border;

$pagination-borderless2-disabled-color: #EEE;
$pagination-borderless2-disabled-bg: $pagination-borderless2-bg;
$pagination-borderless2-disabled-border: $pagination-borderless2-border;

//Pagination Borderless3
$pagination-borderless3-border-radius: 0;
$pagination-borderless3-padding-base-vertical: 4px;
$pagination-borderless3-padding-base-horizontal: 10px;
$pagination-borderless3-padding-large-vertical: $pagination-borderless3-padding-base-vertical * 1.25;
$pagination-borderless3-padding-large-horizontal: $pagination-borderless3-padding-base-horizontal * 1.25;
$pagination-borderless3-padding-small-vertical: $pagination-borderless3-padding-base-vertical * 0.75;
$pagination-borderless3-padding-small-horizontal: $pagination-borderless3-padding-base-horizontal * 0.75;

$pagination-borderless3-color: $brand-default;
$pagination-borderless3-bg: transparent;
$pagination-borderless3-border: transparent;

$pagination-borderless3-controls-color: #FFF;
$pagination-borderless3-controls-bg: #B0B4BB;
$pagination-borderless3-controls-border: #B0B4BB;

$pagination-borderless3-hover-color: $brand-default;
$pagination-borderless3-hover-bg: $pagination-borderless3-bg;
$pagination-borderless3-hover-border: $pagination-borderless3-border;

$pagination-borderless3-active-color: $brand-default;
$pagination-borderless3-active-bg: #E7E8EA;
$pagination-borderless3-active-border: #E7E8EA;

$pagination-borderless3-disabled-color: #EEE;
$pagination-borderless3-disabled-bg: $pagination-borderless3-bg;
$pagination-borderless3-disabled-border: $pagination-borderless3-border;

//Pager
$pager-bg:                                 #FFF;
$pager-color: $brand-default;
$pager-border:                             #D2D6DF;
$pager-border-radius:                      20px;
$pager-border-width: 2px;

$pager-hover-bg:                           $pagination-hover-bg;
$pager-hover-color: #FFF;
$pager-hover-border: $brand-primary;

$pager-disabled-bg: #FFF;
$pager-disabled-color:                     $pagination-disabled-color;
$pager-disabled-border: $pager-border;

//Pager Inverse
$pager-inverse-bg: #D2D6DF;
$pager-inverse-color: #FFF;
$pager-inverse-border: #D2D6DF;
$pager-inverse-border-radius: 20px;
$pager-inverse-border-width: 2px;

$pager-inverse-hover-bg: $brand-primary;
$pager-inverse-hover-color: #FFF;
$pager-inverse-hover-border: $pager-inverse-hover-bg;

$pager-inverse-disabled-bg: #EEE;
$pager-inverse-disabled-color: $pagination-disabled-color;
$pager-inverse-disabled-border: $pager-disabled-bg;

//Pager Borderless1
$pager-borderless1-bg: transparent;
$pager-borderless1-color: $brand-primary;
$pager-borderless1-border: transparent;
$pager-borderless1-border-radius: 0;
$pager-borderless1-border-width: 0;

$pager-borderless1-hover-bg: $pager-borderless1-bg;
$pager-borderless1-hover-color: #D2D6DF;
$pager-borderless1-hover-border: $pager-borderless1-border;

$pager-borderless1-disabled-bg: $pager-borderless1-bg;
$pager-borderless1-disabled-color: $pagination-disabled-color;
$pager-borderless1-disabled-border: $pager-borderless1-border;

//Popovers
$popover-border-radius: $border-radius-default;

//** Popover box shadow settings (Default is global box shadow settings)
$popover-box-shadow-x: $box-shadow-default-x;
$popover-box-shadow-y: $box-shadow-default-y;
$popover-box-shadow-blur: $box-shadow-default-blur;
$popover-box-shadow-spread: $box-shadow-default-spread;
$popover-box-shadow-bg: $box-shadow-default-bg;
$popover-box-shadow: $popover-box-shadow-x $popover-box-shadow-y $popover-box-shadow-blur $popover-box-shadow-spread $popover-box-shadow-bg;

$popover-bg:                                      #FFF;
$popover-max-width:                               276px;
$popover-border-color:                            #AEB7BD;
$popover-fallback-border-color:                   #AEB7BD;
$popover-title-color: $text-color;
$popover-title-bg:                                #FFF;
$popover-arrow-width:                             8px;
$popover-arrow-color:                             #FFF;

//== Tooltips
$tooltip-border-radius: $border-radius-default;

//** Tooltip box shadow settings (Default is global box shadow settings)
$tooltip-box-shadow-x: $box-shadow-default-x;
$tooltip-box-shadow-y: $box-shadow-default-y;
$tooltip-box-shadow-blur: $box-shadow-default-blur;
$tooltip-box-shadow-spread: $box-shadow-default-spread;
$tooltip-box-shadow-bg: $box-shadow-default-bg;
$tooltip-box-shadow: $tooltip-box-shadow-x $tooltip-box-shadow-y $tooltip-box-shadow-blur $tooltip-box-shadow-spread $tooltip-box-shadow-bg;

$tooltip-bg:                                      #29353D;
$tooltip-opacity:                                 1;

//Modals
$modal-box-shadow: $box-shadow-default;

$modal-backdrop-opacity:                          .75 !default;

$modal-header-bg: lighten($brand-default, 40%);
$modal-header-color: $text-color;
$modal-header-close-color: $text-color;

//== Alerts
$alert-padding:                                   18px;
$alert-border-radius:                             4px;

//** For top only border use: 2px 0 0 0
$alert-border-width: 0;

$alert-link-font-weight:                          bold;

$alert-default-bg: $state-default-bg;
$alert-default-text: #9698A4;
$alert-default-text-bold: darken($alert-default-text, 6%);
$alert-default-border: lighten($alert-default-text, 12%);

$alert-success-bg:                                #DDF3D5;
$alert-success-text:                              #97C783;
$alert-success-text-bold: darken($alert-success-text, 6%);
$alert-success-border: lighten($alert-success-text, 12%);

$alert-info-bg:                                   #E7F1F9;
$alert-info-text:                                 #86BADA;
$alert-info-text-bold: darken($alert-info-text, 6%);
$alert-info-border: lighten($alert-info-text, 12%);

$alert-warning-bg:                                #F8F4D5;
$alert-warning-text:                              #D6B679;
$alert-warning-text-bold: darken($alert-warning-text, 6%);
$alert-warning-border: lighten($alert-warning-text, 12%);

$alert-danger-bg:                                 #F1D1D8;
$alert-danger-text:                               #D77C8A;
$alert-danger-text-bold: darken($alert-danger-text, 6%);
$alert-danger-border: lighten($alert-danger-text, 12%);

//Breadcrumbs
$breadcrumb-separator: '\f105';
$breadcrumb-padding-vertical:                     4px;
$breadcrumb-padding-horizontal:                   15px;

$breadcrumb-bg:                                   $body-bg;
//** breadcrumb-separator color
$breadcrumb-color:                                #D4DADF;

$breadcrumb-active-color:                         #C1CBD1;

$breadcrumb-link-color: #4A5E6A;

//Breadcrumb Default
$breadcrumb-default-bg: $body-bg;
$breadcrumb-default-border: $brand-default;
$breadcrumb-default-link-color: $brand-default;
$breadcrumb-default-link-bg: #FFF;
$breadcrumb-default-active-border: $brand-primary;
$breadcrumb-default-active-color: #FFF;
$breadcrumb-default-active-link-bg: $brand-primary;

//Breadcrumb Inverse
$breadcrumb-inverse-bg: $body-bg;
$breadcrumb-inverse-border: $brand-default;
$breadcrumb-inverse-link-color: $brand-default;
$breadcrumb-inverse-link-bg: $brand-default;
$breadcrumb-inverse-active-border: $brand-primary;
$breadcrumb-inverse-active-color: $brand-default;
$breadcrumb-inverse-active-link-bg: #FFF;

//Breadcrumb Borderless
$breadcrumb-borderless-border-radius: 0;
$breadcrumb-borderless-bg: #FFF;
$breadcrumb-borderless-link-color: $brand-default;
$breadcrumb-borderless-link-bg: transparent;
$breadcrumb-borderless-active-color: $brand-primary;
$breadcrumb-borderless-separator-bg: $breadcrumb-borderless-bg;
$breadcrumb-borderless-separator-color: #D2D6DF;

//Navs
$nav-link-color: #2B4259;
$nav-link-padding-horizontal: 16px;
$nav-link-padding-vertical: 9px;
$nav-link-padding:                                $nav-link-padding-vertical $nav-link-padding-horizontal;
$nav-link-active-bg: transparent;
$nav-link-active-color: $brand-primary;
$nav-link-hover-bg:                               transparent;
$nav-link-hover-color: $brand-primary;

$nav-disabled-link-color:                         #C5CDD0;
$nav-disabled-link-hover-color:                   #C5CDD0;

$nav-collapse-icon-closed: "\f0da";
$nav-collapse-icon-open: "\f0d7";

//Tabs
$nav-tabs-border-radius: $border-radius-base $border-radius-base 0 0;

$nav-tabs-border-color:                           #D8D8D8;
$nav-tabs-link-hover-border-color:                transparent;
$nav-tabs-border-width: 1px;

$nav-tabs-active-link-hover-color:                $brand-primary;
$nav-tabs-active-link-hover-border-color:         #D8D8D8;

$nav-tabs-justified-link-border-color:            $nav-tabs-border-color;

//Pills
$nav-pills-border-radius:                         5px;

$nav-pills-link-bg: transparent;
$nav-pills-link-color: $text-color;

$nav-pills-link-hover-bg: $gray-lighter;
$nav-pills-link-hover-color: $text-color;

$nav-pills-active-link-bg: $state-primary-border;
$nav-pills-active-link-hover-bg:                  $nav-pills-active-link-bg;
$nav-pills-active-link-hover-color:               #FFF;

//Tab Group
$tab-group-top-border-radius: $border-radius-base $border-radius-base 0 0;
$tab-group-bottom-border-radius: 0 0 $border-radius-base $border-radius-base;
$tab-group-left-border-radius: $border-radius-base 0 0 $border-radius-base;
$tab-group-right-border-radius: 0 $border-radius-base $border-radius-base 0;

//Side Nav
$sidenav-width: 220px;