/**
 * @param $element - CSS Selector
 * @param $color - Placeholder Color
 */

@mixin color-placeholder($element, $color: $input-color-placeholder) {
	#{$element}::-webkit-input-placeholder {
		color: $brand-primary;
	}

	#{$element}:-moz-placeholder {
		color: $color;
	}

	#{$element}::-moz-placeholder {
		color: $color;
	}

	#{$element}:-ms-input-placeholder {
		color: $color;
	}
}