// Globals

$font-size-base: 0.875rem !default; // 14px
$font-size-large: 1.125rem !default; // 18px
$font-size-small: 0.75rem !default; // 12px

$font-size-lg: 1.125rem !default;
$font-size-sm: 0.75rem !default;

$font-size-desktop-base: 1rem !default; // 16px
$font-size-desktop-large: 1.25rem !default; // 20px
$font-size-desktop-small: 0.875rem !default; // 14px

$font-size-h1: 1.75rem !default; // 28px
$font-size-h2: 1.5rem !default; // 24px
$font-size-h3: 1.3125rem !default; // 21px
$font-size-h4: 1rem !default; // 16px
$font-size-h5: 0.875rem !default; // 14px
$font-size-h6: 0.6875rem !default; // 11px

$font-size-desktop-h1: 1.625rem !default; // 26px
$font-size-desktop-h2: 1.375rem !default; // 22px
$font-size-desktop-h3: 1.1875rem !default; // 19px
$font-size-desktop-h4: 1rem !default; // 16px
$font-size-desktop-h5: 0.875rem !default; // 14px
$font-size-desktop-h6: 0.8125rem !default; // 13px