$badge-font-size: $font-size-base / 1.166667 !default;
$badge-font-size-desktop: $font-size-base !default; // 16px
$badge-font-weight: 500 !default;
$badge-padding-x: 12px !default;
$badge-padding-y: 9px !default;

$badge-font-size-lg: $font-size-lg / 1.166667 !default;
$badge-font-size-lg-desktop: $font-size-lg !default;
$badge-padding-x-lg: 20px !default;
$badge-padding-y-lg: 14px !default;

$badge-font-size-sm: $font-size-sm / 1.166667 !default;
$badge-font-size-sm-desktop: $font-size-sm !default;
$badge-sm-padding-bottom: 4px !default; // 4px
$badge-sm-padding-left: 10px !default; // 10px
$badge-sm-padding-right: 10px !default; // 10px
$badge-sm-padding-top: 4px !default; // 4px

// Skin

$badge-default-bg: #E7F1F9 !default;
$badge-default-color: $brand-primary !default;

// Deprecated `$badge-default-link-color` as of v1.0.16 and will be removed in v2.0.0
$badge-default-hover-color: $badge-default-color !default;
$badge-default-link-color: $badge-default-color !default;