$badge-font-size: $font-size-base / 1.166667 !default;
$badge-font-size-desktop: $font-size-base !default; // 16px
$badge-font-weight: 500 !default;
$badge-padding-x: 12px !default;
$badge-padding-y: 9px !default;

$badge-font-size-lg: $font-size-lg / 1.166667 !default;
$badge-font-size-lg-desktop: $font-size-lg !default;
$badge-padding-x-lg: 20px !default;
$badge-padding-y-lg: 14px !default;

$badge-font-size-sm: $font-size-sm / 1.166667 !default;
$badge-font-size-sm-desktop: $font-size-sm !default;
$badge-padding-x-sm: 10px !default;
$badge-padding-y-sm: 4px !default;

// Skin

$badge-default-bg: #E7F1F9 !default;
$badge-default-color: $brand-primary !default;
$badge-default-hover-color: $badge-default-color !default;