$breadcrumb-bg: transparent !default;
$breadcrumb-font-size: 0.875rem !default; // 14px
$breadcrumb-font-weight: 400 !default;
$breadcrumb-text-transform: none !default;

$breadcrumb-link-color: lighten(map-get($theme-colors, secondary), 7%) !default;

$breadcrumb-active-color: $body-color !default;


$breadcrumb-divider-color: $breadcrumb-link-color !default;
$breadcrumb-divider-svg-icon-height: 0.6em !default;