$modal-backdrop-bg: map-get($theme-colors, secondary) !default;
$modal-backdrop-opacity: 1 !default;

$modal-content-box-shadow-xs: 0 0 3px 1px rgba(0, 0, 0, 0.2) !default;
$modal-content-border-color: transparent !default;

$modal-inner-padding-x: 24px !default;
$modal-inner-padding-y: 16px !default;
$modal-inner-padding: $modal-inner-padding-y $modal-inner-padding-x !default;

$modal-header-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$modal-header-padding: $modal-inner-padding !default;

$modal-title-font-size: 1.25rem !default; // 20px

$modal-btn-monospaced-color: $body-color !default;
$modal-btn-monospaced-font-size: 0.875rem !default; // 14px
$modal-btn-monospaced-opacity: 1 !default;
$modal-btn-monospaced-hover-opacity: 1 !default;

// Modal Info

$modal-info-header-color: map-get($theme-colors, info) !default;
$modal-info-header-bg: lighten($modal-info-header-color, 53%) !default;
$modal-info-header-border-color: lighten($modal-info-header-color, 28%) !default;
$modal-info-header-close-color: $modal-info-header-color !default;
$modal-info-body-bg: #FFF !default;
$modal-info-footer-bg: #FFF !default;
$modal-info-footer-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$modal-info-footer-color: $body-color !default;

// Modal Success

$modal-success-header-color: map-get($theme-colors, success) !default;
$modal-success-header-bg: lighten($modal-success-header-color, 63%) !default;
$modal-success-header-border-color: lighten($modal-success-header-color, 25%) !default;
$modal-success-header-close-color: $modal-success-header-color !default;
$modal-success-body-bg: #FFF !default;
$modal-success-footer-bg: #FFF !default;
$modal-success-footer-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$modal-success-footer-color: $body-color !default;

// Modal Warning

$modal-warning-header-color: map-get($theme-colors, warning) !default;
$modal-warning-header-bg: lighten($modal-warning-header-color, 57%) !default;
$modal-warning-header-border-color: lighten($modal-warning-header-color, 24%) !default;
$modal-warning-header-close-color: $modal-warning-header-color !default;
$modal-warning-body-bg: #FFF !default;
$modal-warning-footer-bg: #FFF !default;
$modal-warning-footer-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$modal-warning-footer-color: $body-color !default;

// Modal Danger

$modal-danger-header-color: map-get($theme-colors, danger) !default;
$modal-danger-header-bg: lighten($modal-danger-header-color, 49.5%) !default;
$modal-danger-header-border-color: lighten($modal-danger-header-color, 28%) !default;
$modal-danger-header-close-color: $modal-danger-header-color !default;
$modal-danger-body-bg: #FFF !default;
$modal-danger-footer-bg: #FFF !default;
$modal-danger-footer-border-color: lighten(map-get($theme-colors, secondary), 46%) !default;
$modal-danger-footer-color: $body-color !default;