$nav-link-color: #2B4259 !default;
$nav-link-hover-color: inherit !default;
$nav-link-active-color: map-get($theme-colors, primary) !default;
$nav-link-disabled-color: #C5CDD0 !default;

$nav-link-hover-bg: transparent !default;

$nav-link-padding-x: 1rem !default; // 16px
$nav-link-padding-y: 0.625rem !default; // 10px

$nav-collapse-icon-closed: "\f0da" !default;
$nav-collapse-icon-open: "\f0d7" !default;

$nav-nested-spacer-x: 0.75rem !default; // 12px

$nav-pills-border-radius: 5px !default;

$nav-pills-active-link-bg: map-get($theme-colors, secondary) !default;
$nav-pills-active-link-color: #FFF !default;