// Structure

$nav-tabs-default-height: 60px !default; // 60px
$nav-tabs-default-height-mobile: 48px !default; // 48px
$nav-tabs-default-line-height: 28px !default; // 28px
$nav-tabs-default-line-height-mobile: 24px !default; // 24px
$nav-tabs-default-padding-x: 0 !default;
$nav-tabs-default-padding-x-mobile: 0 !default;
$nav-tabs-default-padding-y: ($nav-tabs-default-height - $nav-tabs-default-line-height) / 2 !default;
$nav-tabs-default-padding-y-mobile: ($nav-tabs-default-height-mobile - $nav-tabs-default-line-height-mobile) / 2 !default;

// Skin

$nav-tabs-border-color: #D8D8D8 !default;
$nav-tabs-link-hover-border-color: transparent !default;

$nav-tabs-active-link-color: map-get($theme-colors, primary) !default;

$nav-tabs-justified-link-border-color: $nav-tabs-border-color !default;