// Structure

$nav-link-padding-horizontal: 16px !default; // Atlas
$nav-link-padding-vertical: 9px !default; // Atlas
$nav-link-padding:                                $nav-link-padding-vertical $nav-link-padding-horizontal !default;

// Skin

$nav-link-color: #2B4259 !default; // Atlas

$nav-link-hover-bg:                               transparent !default;

$nav-disabled-link-color:                         #C5CDD0 !default;
$nav-disabled-link-hover-color:                   $nav-disabled-link-color !default;

$nav-collapse-icon-closed: "\f0da" !default; // Atlas
$nav-collapse-icon-open: "\f0d7" !default; // Atlas