// Sidebar Light

$sidebar-light-bg: #F5F8FA !default;
$sidebar-light-border-color: #DFE0E3 !default;
$sidebar-light-color: map-get($theme-colors, secondary) !default;
$sidebar-light-panel-bg: #DFE6EB !default;

$sidebar-light-actions-link-color: map-get($theme-colors, secondary) !default;
$sidebar-light-actions-link-hover-color: $sidebar-light-actions-link-color !default;

$sidebar-light-header-title-color: $body-color !default;
$sidebar-light-header-title-hover-color: $body-color !default;

// Sidebar Inverse

$sidebar-dark-bg: $inverse-bg !default;
$sidebar-dark-border-color: $inverse-border !default;
$sidebar-dark-color: $inverse-color !default;
$sidebar-dark-panel-bg: $inverse-header-bg !default;

$sidebar-dark-actions-link-color: $sidebar-dark-color !default;
$sidebar-dark-actions-link-hover-color: $sidebar-dark-actions-link-color !default;

$sidebar-dark-header-title-color: #FFF !default;
$sidebar-dark-header-title-hover-color: $sidebar-dark-header-title-color !default;