$sidebar-default-bg: #F5F8FA;
$sidebar-default-border: #DFE0E3;

$sidebar-fixed-width: 240px;
$sidebar-fixed-desktop-width: 320px;

$sidebar-inverse-bg: #1F282E;
$sidebar-inverse-color: #FFF;
$sidebar-inverse-input-bg: #1B2228;