// must all be same units--start
$toggle-switch-bar-padding: 4px !default; // space between button and bar, can be negative value
$toggle-switch-button-width: 16px !default;

$toggle-switch-bar-height: ($toggle-switch-bar-padding * 2) + $toggle-switch-button-width !default;
$toggle-switch-bar-width: 44px !default; // width of switch bar

$toggle-switch-bar-padding-desktop: 4px !default; // space between button and bar, can be negative value
$toggle-switch-button-width-desktop: 24px !default;

$toggle-switch-bar-height-desktop: ($toggle-switch-bar-padding-desktop * 2) + $toggle-switch-button-width-desktop !default;
$toggle-switch-bar-width-desktop: 60px !default; // width of switch bar
// must all be same units--end

$toggle-switch-bar-bg: #FFF !default;
$toggle-switch-bar-border-color: #D1D6D9 !default;
$toggle-switch-bar-border-radius: 20px !default;
$toggle-switch-bar-border-width: 2px !default;
$toggle-switch-bar-font-size: 0.625rem !default;
$toggle-switch-bar-icon-color: #869CAD !default;

$toggle-switch-button-bg: #869CAD !default;
$toggle-switch-button-border-color: #869CAD !default;
$toggle-switch-button-border-radius: 50% !default;
$toggle-switch-button-border-width: 1px !default;
$toggle-switch-button-font-size: $toggle-switch-bar-font-size !default;
$toggle-switch-button-icon-color: #FFF !default;

$toggle-switch-bar-font-size-desktop: 0.75rem !default;
$toggle-switch-button-font-size-desktop: $toggle-switch-bar-font-size-desktop !default;

// Toggle Switch On
$toggle-switch-bar-on-bg: #65B6F0 !default;
$toggle-switch-bar-on-border-color: #60A7D8 !default;
$toggle-switch-bar-on-icon-color: #FFF !default;

$toggle-switch-button-on-bg: #FFF !default;
$toggle-switch-button-on-border-color: #FFF !default;
$toggle-switch-button-on-border-radius: $toggle-switch-button-border-radius !default;
$toggle-switch-button-on-icon-color: $toggle-switch-bar-on-bg !default;