// Structure

$toolbar-height: 48px !default; // Atlas
$toolbar-desktop-height: 64px !default; // Atlas

// Header Toolbars
$header-bar-height: $toolbar-height !default; // Atlas
$header-bar-desktop-height: 64px !default; // Atlas

// Skin

$header-toolbar-default-bg: #29343D !default; // Atlas
$header-toolbar-default-color: #FFF !default; // Atlas

$header-toolbar-default-link-color: #FFF !default; // Atlas
$header-toolbar-default-link-hover-bg: transparent !default; // Atlas
$header-toolbar-default-link-hover-color: $header-toolbar-default-link-color !default; // Atlas