// Structure

$tooltip-font-size: 14px !default;

$tooltip-max-width: 230px !default;

$tooltip-padding-x: 24px !default;
$tooltip-padding-y: 8px !default;

// Skin

$tooltip-border-radius: $border-radius !default;

$tooltip-box-shadow-x: 0 !default; // 0
$tooltip-box-shadow-y: 0 !default; // 0

$tooltip-box-shadow-blur: 3px !default; // 3px
$tooltip-box-shadow-spread: 1px !default; // 1px

$tooltip-box-shadow-bg: rgba(0, 0, 0, 0.2) !default; // rgba(0, 0, 0, 0.2)

$tooltip-box-shadow: $tooltip-box-shadow-x $tooltip-box-shadow-y $tooltip-box-shadow-blur $tooltip-box-shadow-spread $tooltip-box-shadow-bg !default;

$tooltip-bg: #0E191D !default;
$tooltip-opacity: 1 !default;