$cadmin-spinner-border-width: 0.25em !default;
$cadmin-spinner-width: 2rem !default;

$cadmin-spinner-height: $cadmin-spinner-width !default;

// Spinner Sm

$cadmin-spinner-border-width-sm: 0.2em !default;
$cadmin-spinner-width-sm: 1rem !default;

$cadmin-spinner-height-sm: $cadmin-spinner-width-sm !default;
