.dropdown-header {
	font-size: $dropdown-header-font-size;
	overflow: hidden;
	padding: $dropdown-link-padding;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-menu form {
	> .checkbox-default,
	> .radio-default {
		label {
			padding: $dropdown-link-padding;
			padding-left: 32px;
		}
	}

	.form-group {
		padding: $dropdown-link-padding;
	}
}

// Dropdown inline-scroller

.dropdown-menu {
	border: $dropdown-border-width solid $dropdown-border;
	border: $dropdown-border-width solid $dropdown-fallback-border; // IE8 fallback
	box-shadow: $dropdown-box-shadow;
	font-size: $dropdown-font-size;
	margin-top: 0;
	max-width: 230px;
	min-height: 40px;
	padding: 6px 0;

	> li > a {
		overflow: hidden;
		padding: $dropdown-link-padding;
		text-overflow: ellipsis;
	}

	.inline-scroller,
	.link-list {
		li a {
			padding: $dropdown-link-padding;
		}

		> .active > a {
			&,
			&:focus,
			&:hover {
				background-color: $dropdown-link-active-bg;
				color : $dropdown-link-active-color;
			}
		}
	}

	.inline-scroller {
		li a {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.link-list .link-list-heading {
		line-height: $line-height-base;
		padding: $dropdown-link-padding;
	}
}

// Arrows and dropdown-menu positions
// ($arrow-size, $border-width, $offset, $arrow-color, $border-color)

.dropdown-menu,
.dropdown-menu-center,
.dropdown-menu-right,
.navbar-right .dropdown-menu {
	margin-top: $dropdown-margin-vertical;
}

.dropdown-menu {
	@include arrow("top-left", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-center {
	@include arrow("top-center", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-right,
.navbar-right .dropdown-menu {
	@include arrow("top-right", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-top,
.dropdown-menu-top-center,
.dropdown-menu-top-right,
.dropup .dropdown-menu {
	bottom: 100%;
	margin-bottom: $dropdown-margin-vertical;
	top: auto;
}

.dropdown-menu-top,
.dropup .dropdown-menu {
	@include arrow("bottom-left", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-top-center {
	@include arrow("bottom-center", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);

	left: 50%;

	@include transform(translateX(-50%));
}

.dropdown-menu-top-right {
	@include arrow("bottom-right", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);

	left: auto;
	right: 0;
}

.dropdown-menu-left-side,
.dropdown-menu-left-side-bottom,
.dropdown-menu-left-side-middle {
	margin: 0 $dropdown-margin-horizontal 0 0;

	.inline-scroller {
		margin-right: 3px;
	}
}

.dropdown-menu-left-side {
	@include arrow("right-top", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-left-side-bottom {
	@include arrow("right-bottom", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-left-side-middle {
	@include arrow("right-middle", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-right-side,
.dropdown-menu-right-side-bottom,
.dropdown-menu-right-side-middle {
	margin: 0 0 0 $dropdown-margin-horizontal;
}

.dropdown-menu-right-side {
	@include arrow("left-top", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-right-side-bottom {
	@include arrow("left-bottom", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-right-side-middle {
	@include arrow("left-middle", 8px, 1px, 9px, $dropdown-arrow-color, $dropdown-border);
}

.dropdown-menu-no-arrow,
.dropdown-menu-no-arrow .dropdown-menu,
.navbar-right .dropdown-menu-clear-arrow {
	&:after,
	&:before {
		content: none;
	}
}

// Dropup Menus

.dropup .dropdown-menu-right {
	&:after,
	&:before {
		left: auto;
	}
}

.link-list {
	.link-list-heading {
		font-size: $dropdown-header-font-size;
	}
}

.dropdown-wide,
.dropdown-full {
	.dropdown-menu {
		max-width: none;
	}
}

@media (min-width: $grid-float-breakpoint) { // min-width: 768px

	.dropdown-header {
		font-size: $dropdown-header-font-size-desktop;
	}

	.dropdown-menu {
		font-size: $dropdown-font-size-desktop;
		max-width: 300px;
		min-height: 40px;
	}

	.link-list .link-list-heading {
		font-size: $dropdown-header-font-size-desktop;
	}
}