.nav {
	a {
		color: $nav-link-color;
	}
}

.nav-heading {
	color: $brand-default;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}

.nav-nested {
	@include make-nav-nested(12px);
}

.nav-equal-height-heading {
	> a,
	> span {
		padding-right: 0;
	}
}