.sidebar {
	.management-bar-default,
	.navbar-default {
		border-width: $navbar-default-border-width;
	}
}

.sidebar-inverse {
	input {
		@include placeholder($brand-default);
	}

	.form-control {
		background-color: $sidebar-inverse-input-bg;
		border-width: 0;
		color: $brand-default;
		padding: 8px 12px;
	}
}