$single-link-font-weight: var(
	--single-link-font-weight,
	$font-weight-semi-bold
) !default;

$component-link: () !default;
$component-link: map-deep-merge(
	(
		border-radius: var(--component-link-border-radius, 1px),
		color: var(--component-link-color, $gray-600),
		transition:
			var(--component-link-transition, box-shadow 0.15s ease-in-out),
		hover: (
			color:
				var(--component-link-hover-color, clay-darken($gray-600, 15%)),
			box-shadow:
				var(
					--component-link-hover-box-shadow,
					$component-focus-box-shadow
				),
			outline: var(--component-link-hover-outline, 0),
		),
	),
	$component-link
);

$link-primary: () !default;
$link-primary: map-deep-merge(
	(
		border-radius: var(--link-primary-border-radius, 1px),
		color: var(--link-primary-color, $primary),
		transition: var(--link-primary-transition, box-shadow 0.15s ease-in-out),
		hover: (
			color: var(--link-primary-hover-color, clay-darken($primary, 15%)),
			box-shadow:
				var(
					--link-primary-hover-box-shadow,
					$component-focus-box-shadow
				),
			outline: var(--link-primary-hover-outline, 0),
		),
	),
	$link-primary
);

$link-secondary: () !default;
$link-secondary: map-deep-merge(
	(
		border-radius: var(--link-secondary-border-radius, 1px),
		color: var(--link-secondary-color, $secondary),
		transition:
			var(--link-secondary-transition, box-shadow 0.15s ease-in-out),
		hover: (
			color: var(--link-secondary-hover-color, $gray-900),
		),
		focus: (
			color: var(--link-secondary-focus-color, $gray-900),
			box-shadow:
				var(
					--link-secondary-focus-box-shadow,
					$component-focus-box-shadow
				),
			outline: var(--link-secondary-focus-outline, 0),
		),
	),
	$link-secondary
);

// Link Outline

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-border-radius: $btn-border-radius !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-border-width: $btn-border-width !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-font-size: $btn-font-size-sm !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-font-weight: $font-weight-semi-bold !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-line-height: $btn-line-height-sm !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-padding-x: $btn-padding-x-sm !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-padding-y: $btn-padding-y-sm !default;

/// @deprecated as of v3.4.0 use the Sass map `$link-outline` instead

$link-outline-transition: $btn-transition !default;

$link-outline: () !default;
$link-outline: map-deep-merge(
	(
		align-items: var(--link-outline-align-items, center),
		background-color: var(--link-outline-background-color, transparent),
		border-color: var(--link-outline-border-color, transparent),
		border-radius:
			var(--link-outline-border-radius, $link-outline-border-radius),
		border-style: var(--link-outline-border-style, solid),
		border-width:
			var(--link-outline-border-width, $link-outline-border-width),
		display: var(--link-outline-display, inline-flex),
		font-size: var(--link-outline-font-size, $link-outline-font-size),
		font-weight: var(--link-outline-font-weight, $link-outline-font-weight),
		justify-content: var(--link-outline-justify-content, center),
		line-height: var(--link-outline-line-height, $link-outline-line-height),
		padding-bottom:
			var(--link-outline-padding-bottom, $link-outline-padding-y),
		padding-left: var(--link-outline-padding-left, $link-outline-padding-x),
		padding-right:
			var(--link-outline-padding-right, $link-outline-padding-x),
		padding-top: var(--link-outline-padding-top, $link-outline-padding-y),
		transition: var(--link-outline-transition, $link-outline-transition),
		vertical-align: var(--link-outline-vertical-align, middle),
		hover: (
			text-decoration: var(--link-outline-hover-text-decoration, none),
		),
		disabled: (
			active: (
				pointer-events:
					var(--link-outline-disabled-active-pointer-events, none),
			),
		),
		lexicon-icon: (
			margin-top: var(--link-outline-lexicon-icon-margin-top, 0),
		),
	),
	$link-outline
);

$link-outline-primary: () !default;
$link-outline-primary: map-deep-merge(
	(
		border-color: var(--link-outline-primary-border-color, $primary),
		color: var(--link-outline-primary-color, $primary),
		hover: (
			background-color:
				var(--link-outline-primary-hover-background-color, $primary-l3),
			color: var(--link-outline-primary-hover-color, $primary),
		),
		focus: (
			background-color:
				var(--link-outline-primary-focus-background-color, $primary-l3),
			box-shadow:
				var(
					--link-outline-primary-focus-box-shadow,
					map-get($btn-outline-primary, focus-box-shadow)
				),
			color: var(--link-outline-primary-focus-color, $primary),
			outline: var(--link-outline-primary-focus-outline, 0),
		),
		btn-focus-box-shadow: map-get($btn-outline-primary, focus-box-shadow),
		btn-focus-outline: 0,
		active: (
			background-color:
				var(
					--link-outline-primary-active-background-color,
					clay-lighten(clay-desaturate($primary, 42.05), 41.76)
				),
			color: var(--link-outline-primary-active-color, $primary),
		),
		disabled: (
			background-color:
				var(
					--link-outline-primary-disabled-background-color,
					transparent
				),
			box-shadow: var(--link-outline-primary-disabled-box-shadow, none),
			color: var(--link-outline-primary-disabled-color, $primary),
			cursor:
				var(
					--link-outline-primary-disabled-cursor,
					$btn-disabled-cursor
				),
			opacity:
				var(
					--link-outline-primary-disabled-opacity,
					$btn-disabled-opacity
				),
		),
	),
	$link-outline-primary
);

$link-outline-secondary: () !default;
$link-outline-secondary: map-deep-merge(
	(
		border-color: var(--link-outline-secondary-border-color, $secondary-l2),
		color: var(--link-outline-secondary-color, $secondary),
		hover: (
			background-color:
				var(
					--link-outline-secondary-hover-background-color,
					rgba($gray-900, 0.03)
				),
			color: var(--link-outline-secondary-hover-color, $gray-900),
		),
		focus: (
			background-color:
				var(
					--link-outline-secondary-focus-background-color,
					rgba($gray-900, 0.03)
				),
			box-shadow:
				var(
					--link-outline-secondary-focus-box-shadow,
					map-get($btn-outline-secondary, focus-box-shadow)
				),
			color: var(--link-outline-secondary-focus-color, $gray-900),
			outline: var(--link-outline-secondary-focus-outline, 0),
		),
		btn-focus-box-shadow: map-get($btn-outline-secondary, focus-box-shadow),
		btn-focus-outline: 0,
		active: (
			background-color:
				var(
					--link-outline-secondary-active-background-color,
					rgba($gray-900, 0.06)
				),
			color: var(--link-outline-secondary-active-color, $gray-900),
		),
		disabled: (
			background-color:
				var(
					--link-outline-secondary-disabled-background-color,
					transparent
				),
			box-shadow: var(--link-outline-secondary-disabled-box-shadow, none),
			color: var(--link-outline-secondary-disabled-color, $secondary),
			cursor:
				var(
					--link-outline-secondary-disabled-cursor,
					$btn-disabled-cursor
				),
			opacity:
				var(
					--link-outline-secondary-disabled-opacity,
					$btn-disabled-opacity
				),
		),
	),
	$link-outline-secondary
);

// Link Monospaced

/// @deprecated as of v3.4.0 use the Sass map `$link-monospaced` instead

$link-monospaced-size: $btn-monospaced-size-sm !default;

$link-monospaced: () !default;
$link-monospaced: map-deep-merge(
	(
		align-items: var(--link-monospaced-align-items, center),
		display: var(--link-monospaced-display, inline-flex),
		height: var(--link-monospaced-height, $link-monospaced-size),
		justify-content: var(--link-monospaced-justify-content, center),
		overflow: var(--link-monospaced-overflow, hidden),
		padding-bottom: var(--link-monospaced-padding-bottom, 0),
		padding-left: var(--link-monospaced-padding-left, 0),
		padding-right: var(--link-monospaced-padding-right, 0),
		padding-top: var(--link-monospaced-padding-top, 0),
		vertical-align: var(--link-monospaced-vertical-align, middle),
		width: var(--link-monospaced-width, $link-monospaced-size),
		lexicon-icon: (
			margin-top: var(--link-monospaced-lexicon-icon-margin-top, 0),
		),
	),
	$link-monospaced
);

// .component-title

$component-title: () !default;
$component-title: map-deep-merge(
	(
		color: var(--component-title-color, $gray-900),
		font-size: var(--component-title-font-size, 1rem),
		font-weight: var(--component-title-font-weight, $headings-font-weight),
		line-height: var(--component-title-line-height, 1.25),
		margin-bottom:
			var(
				--component-title-margin-bottom,
				calc((#{$dropdown-action-toggle-size} - (1em * 1.25)) / 2)
			),
		margin-top:
			var(
				--component-title-margin-top,
				calc((#{$dropdown-action-toggle-size} - (1em * 1.25)) / 2)
			),
	),
	$component-title
);

$component-title-link: () !default;
$component-title-link: map-deep-merge(
	(
		border-radius: var(--component-title-href-border-radius, 1px),
		color: var(--component-title-href-color, $gray-900),
		transition:
			var(--component-title-href-transition, box-shadow 0.15s ease-in-out),
		hover: (
			color:
				var(
					--component-title-href-hover-color,
					clay-darken($gray-900, 15%)
				),
		),
		focus: (
			color:
				var(
					--component-title-href-focus-color,
					clay-darken($gray-900, 15%)
				),
			box-shadow:
				var(
					--component-title-href-focus-box-shadow,
					$component-focus-box-shadow
				),
			outline: var(--component-title-href-focus-outline, 0),
		),
	),
	$component-title-link
);

$component-title: map-deep-merge(
	$component-title,
	(
		href: $component-title-link,
	)
);

// .component-subtitle

$component-subtitle: () !default;
$component-subtitle: map-deep-merge(
	(
		color: var(--component-subtitle-color, $gray-600),
		font-weight:
			var(--component-subtitle-font-weight, $font-weight-semi-bold),
		line-height: var(--component-subtitle-line-height, 1.45),
		margin-bottom: var(--component-subtitle-margin-bottom, 0),
	),
	$component-subtitle
);

$component-subtitle-link: () !default;
$component-subtitle-link: map-deep-merge(
	(
		border-radius: var(--component-subtitle-href-border-radius, 1px),
		color: var(--component-subtitle-href-color, $gray-600),
		transition:
			var(
				--component-subtitle-href-transition,
				box-shadow 0.15s ease-in-out
			),
		hover: (
			color: var(--component-subtitle-href-hover-color, $gray-900),
		),
		focus: (
			color: var(--component-subtitle-href-focus-color, $gray-900),
			box-shadow:
				var(
					--component-subtitle-href-focus-box-shadow,
					$component-focus-box-shadow
				),
			outline: var(--component-subtitle-href-focus-outline, 0),
		),
	),
	$component-subtitle-link
);

$component-subtitle: map-deep-merge(
	$component-subtitle,
	(
		href: $component-subtitle-link,
	)
);

// .component-action

$component-action: () !default;
$component-action: map-deep-merge(
	(
		align-items: var(--component-action-align-items, center),
		background-color: var(--component-action-background-color, transparent),
		border-color: var(--component-action-border-color, transparent),
		border-radius: var(--component-action-border-radius, $border-radius),
		border-width: var(--component-action-border-width, 0),
		color: var(--component-action-color, $secondary),
		display: var(--component-action-display, inline-flex),
		font-size: var(--component-action-font-size, 1rem),
		height:
			var(--component-action-height, map-get($link-monospaced, height)),
		justify-content: var(--component-action-justify-content, center),
		overflow: var(--component-action-overflow, hidden),
		padding: var(--component-action-padding, 0),
		transition: var(--component-action-transition, $btn-transition),
		vertical-align: var(--component-action-vertical-align, middle),
		width: var(--component-action-width, map-get($link-monospaced, width)),
		hover: (
			background-color:
				var(
					--component-action-hover-background-color,
					rgba($gray-900, 0.03)
				),
			color: var(--component-action-hover-color, $gray-900),
		),
		focus: (
			background-color:
				var(
					--component-action-focus-background-color,
					rgba($gray-900, 0.03)
				),
			box-shadow:
				var(
					--component-action-focus-box-shadow,
					map-get($btn-secondary, focus-box-shadow)
				),
			color: var(--component-action-focus-color, $gray-900),
			outline: var(--component-action-focus-outline, 0),
		),
		btn-focus-box-shadow: map-get($btn-secondary, focus-box-shadow),
		btn-focus-outline: 0,
		active: (
			background-color:
				var(
					--component-action-active-background-color,
					rgba($gray-900, 0.06)
				),
			color: var(--component-action-active-color, $gray-900),
		),
		disabled: (
			background-color:
				var(--component-action-disabled-background-color, transparent),
			box-shadow: var(--component-action-disabled-box-shadow, none),
			color: var(--component-action-disabled-color, $secondary),
			cursor: var(--component-action-disabled-cursor, $disabled-cursor),
			opacity:
				var(--component-action-disabled-opacity, $btn-disabled-opacity),
			active: (
				pointer-events:
					var(--component-action-disabled-active-pointer-events, none),
			),
		),
		lexicon-icon: (
			margin-top: var(--component-action-lexicon-icon-margin-top, 0),
		),
	),
	$component-action
);

// .component-text

$component-text: () !default;

// .component-icon

$component-icon: () !default;
$component-icon: map-deep-merge(
	(
		align-items: var(--component-icon-align-items, center),
		display: var(--component-icon-display, inline-flex),
		height: var(--component-icon-height, 32px),
		justify-content: var(--component-icon-justify-content, center),
		width: var(--component-icon-width, 32px),
		lexicon-icon: (
			margin-top: var(--component-icon-lexicon-icon-margin-top, 0),
		),
	),
	$component-icon
);
