// .sticker

$sticker-border-color: transparent !default;
$sticker-border-radius: $border-radius !default;
$sticker-border-style: solid !default;
$sticker-border-width: 0 !default;
$sticker-color: null !default;
$sticker-font-size: 1rem !default; // 16px
$sticker-font-weight: $font-weight-bold !default;
$sticker-size: 2rem !default; // 32px

$sticker-inline-item-font-size: $sticker-font-size !default;

$sticker: () !default;
$sticker: map-deep-merge(
	(
		align-items: center,
		border-color: transparent,
		border-radius:
			var(
				--sticker-border-radius,
				clay-enable-rounded($sticker-border-radius)
			),
		border-style: solid,
		border-width: var(--sticker-border-width, $sticker-border-width),
		color: $sticker-color,
		height: var(--sticker-size, $sticker-size),
		line-height: var(--sticker-size, $sticker-size),
		display: inline-flex,
		font-size: var(--sticker-font-size, $sticker-font-size),
		font-weight: var(--sticker-font-weight, $sticker-font-weight),
		justify-content: center,
		position: relative,
		text-align: center,
		vertical-align: middle,
		width: var(--sticker-size, $sticker-size),
		inline-item: (
			font-size:
				var(
					--sticker-inline-item-font-size,
					$sticker-inline-item-font-size
				),
			justify-content: center,
			lexicon-icon: (
				margin-top: 0,
			),
		),
		lexicon-icon: (
			margin-top: 0,
		),
	),
	$sticker
);

// .sticker-overlay

$sticker-overlay: () !default;
$sticker-overlay: map-merge(
	(
		align-items: center,
		border-radius: inherit,
		bottom: 0,
		display: flex,
		justify-content: center,
		left: 0,
		overflow: hidden,
		position: absolute,
		right: 0,
		top: 0,
	),
	$sticker-overlay
);

// .sticker-sm

$sticker-sm: () !default;
$sticker-sm: map-deep-merge(
	(
		font-size: var(--sticker-sm-font-size, 0.75rem),
		height: var(--sticker-sm-size, 1.5rem),
		line-height: var(--sticker-sm-size, 1.5rem),
		width: var(--sticker-sm-size, 1.5rem),
		inline-item: (
			font-size: var(--sticker-inline-item-font-size, inherit),
		),
		sticker-outside: (
			left: var(--sticker-sm-sticker-outside-left, -0.75rem),
			top: var(--sticker-sm-sticker-outside-top, -0.75rem),
			sticker-bottom-left: (
				bottom:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-left-bottom,
						-0.75rem
					),
				top:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-left-top,
						auto
					),
			),
			sticker-bottom-right: (
				bottom:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-right-bottom,
						-0.75rem
					),
				left:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-right-left,
						auto
					),
				right:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-right-right,
						-0.75rem
					),
				top:
					var(
						--sticker-sm-sticker-outside-sticker-bottom-right-top,
						auto
					),
			),
			sticker-top-right: (
				left:
					var(
						--sticker-sm-sticker-outside-sticker-top-right-left,
						auto
					),
				right:
					var(
						--sticker-sm-sticker-outside-sticker-top-right-right,
						-0.75rem
					),
			),
		),
	),
	$sticker-sm
);

// .sticker-lg

$sticker-lg: () !default;
$sticker-lg: map-deep-merge(
	(
		font-size: var(--sticker-lg-font-size, 1.125rem),
		height: var(--sticker-lg-size, 2.5rem),
		line-height: var(--sticker-lg-size, 2.5rem),
		width: var(--sticker-lg-size, 2.5rem),
		sticker-outside: (
			left: var(--sticker-lg-sticker-outside-left, -1.25rem),
			top: var(--sticker-lg-sticker-outside-top, -1.25rem),
			sticker-bottom-left: (
				bottom:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-left-bottom,
						-1.25rem
					),
				top:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-left-top,
						auto
					),
			),
			sticker-bottom-right: (
				bottom:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-right-bottom,
						-1.25rem
					),
				left:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-right-left,
						auto
					),
				right:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-right-right,
						-1.25rem
					),
				top:
					var(
						--sticker-lg-sticker-outside-sticker-bottom-right-top,
						auto
					),
			),
			sticker-top-right: (
				left:
					var(
						--sticker-lg-sticker-outside-sticker-top-right-left,
						auto
					),
				right:
					var(
						--sticker-lg-sticker-outside-sticker-top-right-right,
						-1.25rem
					),
			),
		),
	),
	$sticker-lg
);

// .sticker-xl

$sticker-xl: () !default;
$sticker-xl: map-deep-merge(
	(
		font-size: var(--sticker-xl-font-size, 1.25rem),
		height: var(--sticker-xl-size, 3rem),
		line-height: var(--sticker-xl-size, 3rem),
		width: var(--sticker-xl-size, 3rem),
		sticker-outside: (
			left: var(--sticker-xl-sticker-outside-left, -1.5rem),
			top: var(--sticker-xl-sticker-outside-top, -1.5rem),
			sticker-bottom-left: (
				bottom:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-left-bottom,
						-1.5rem
					),
				top:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-left-top,
						auto
					),
			),
			sticker-bottom-right: (
				bottom:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-right-bottom,
						-1.5rem
					),
				left:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-right-left,
						auto
					),
				right:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-right-right,
						-1.5rem
					),
				top:
					var(
						--sticker-xl-sticker-outside-sticker-bottom-right-top,
						auto
					),
			),
			sticker-top-right: (
				left:
					var(
						--sticker-xl-sticker-outside-sticker-top-right-left,
						auto
					),
				right:
					var(
						--sticker-xl-sticker-outside-sticker-top-right-right,
						-1.5rem
					),
			),
		),
	),
	$sticker-xl
);

$sticker-sizes: () !default;
$sticker-sizes: map-deep-merge(
	(
		sticker-sm: $sticker-sm,
		sticker-lg: $sticker-lg,
		sticker-xl: $sticker-xl,
	),
	$sticker-sizes
);

// Sticker Positions

$sticker-inside-offset: $grid-gutter-width * 0.5 !default;

// .sticker-bottom-left

$sticker-bottom-left: () !default;
$sticker-bottom-left: map-merge(
	(
		bottom: var(--sticker-bottom-left-bottom, $sticker-inside-offset),
		left: var(--sticker-bottom-left-left, $sticker-inside-offset),
		position: absolute,
		right: auto,
		top: auto,
	),
	$sticker-bottom-left
);

// .sticker-bottom-right

$sticker-bottom-right: () !default;
$sticker-bottom-right: map-merge(
	(
		bottom: var(--sticker-bottom-right-bottom, $sticker-inside-offset),
		left: auto,
		position: absolute,
		right: var(--sticker-bottom-right-right, $sticker-inside-offset),
		top: auto,
	),
	$sticker-bottom-right
);

// .sticker-top-left

$sticker-top-left: () !default;
$sticker-top-left: map-merge(
	(
		left: var(--sticker-top-left-left, $sticker-inside-offset),
		position: absolute,
		top: var(--sticker-top-left-top, $sticker-inside-offset),
	),
	$sticker-top-left
);

// .sticker-top-right

$sticker-top-right: () !default;
$sticker-top-right: map-merge(
	(
		left: auto,
		position: absolute,
		right: var(--sticker-top-right-right, $sticker-inside-offset),
		top: var(--sticker-top-right-top, $sticker-inside-offset),
	),
	$sticker-top-right
);

// .sticker-outside

$sticker-outside-offset: math-sign($sticker-size * 0.5) !default;

$sticker-outside: () !default;
$sticker-outside: map-deep-merge(
	(
		left: var(--sticker-outside-left, $sticker-outside-offset),
		top: var(--sticker-outside-top, $sticker-outside-offset),
		sticker-bottom-left: (
			bottom:
				var(
					--sticker-outside-sticker-bottom-left,
					$sticker-outside-offset
				),
			top: auto,
		),
		sticker-bottom-right: (
			bottom:
				var(
					--sticker-outside-sticker-bottom-right-bottom,
					$sticker-outside-offset
				),
			left: auto,
			right:
				var(
					--sticker-outside-sticker-bottom-right-right,
					$sticker-outside-offset
				),
			top: auto,
		),
		sticker-top-right: (
			left: auto,
			right:
				var(
					--sticker-outside-sticker-top-right-right,
					$sticker-outside-offset
				),
		),
	),
	$sticker-outside
);

// .sticker-circle

$sticker-circle-border-radius: $rounded-circle-border-radius !default;

$sticker-circle: () !default;
$sticker-circle: map-deep-merge(
	(
		border-radius:
			var(
				--sticker-circle-border-radius,
				clay-enable-rounded($sticker-circle-border-radius)
			),
	),
	$sticker-circle
);

// .sticker-user-icon

$sticker-user-icon: () !default;
$sticker-user-icon: map-deep-merge(
	(
		background-color:
			var(--sticker-user-icon-background-color, var(--white)),
		border-radius:
			var(
				--sticker-user-icon-border-radius,
				$rounded-circle-border-radius
			),
		box-shadow:
			var(
				--sticker-user-icon-box-shadow,
				0 0 0 1px rgba(var(--black-rgb), 0.125)
			),
	),
	$sticker-user-icon
);

// .sticker-primary

$sticker-primary-bg: $primary !default;
$sticker-primary-border-color: transparent !default;
$sticker-primary-color: color-yiq($sticker-primary-bg) !default;

$sticker-primary: () !default;
$sticker-primary: map-deep-merge(
	(
		background-color:
			var(--sticker-primary-background-color, var(--primary)),
		border-color: var(--sticker-primary-border-color, transparent),
		color: var(--sticker-primary-color, var(--white)),
	),
	$sticker-primary
);

// .sticker-secondary

$sticker-secondary-bg: $secondary !default;
$sticker-secondary-border-color: transparent !default;
$sticker-secondary-color: color-yiq($sticker-secondary-bg) !default;

$sticker-secondary: () !default;
$sticker-secondary: map-deep-merge(
	(
		background-color:
			var(--sticker-secondary-background-color, var(--secondary)),
		border-color: var(--sticker-secondary-border-color, transparent),
		color: var(--sticker-secondary-color, var(--white)),
	),
	$sticker-secondary
);

// .sticker-info

$sticker-info-bg: $info !default;
$sticker-info-border-color: transparent !default;
$sticker-info-color: color-yiq($sticker-info-bg) !default;

$sticker-info: () !default;
$sticker-info: map-deep-merge(
	(
		background-color: var(--sticker-info-background-color, var(--info)),
		border-color: var(--sticker-info-border-color, transparent),
		color: var(--sticker-info-color, var(--white)),
	),
	$sticker-info
);

// .sticker-success

$sticker-success-bg: $success !default;
$sticker-success-border-color: transparent !default;
$sticker-success-color: color-yiq($sticker-success-bg) !default;

$sticker-success: () !default;
$sticker-success: map-deep-merge(
	(
		background-color:
			var(--sticker-success-background-color, var(--success)),
		border-color: var(--sticker-success-border-color, transparent),
		color: var(--sticker-success-color, var(--white)),
	),
	$sticker-success
);

// .sticker-warning

$sticker-warning-bg: $warning !default;
$sticker-warning-border-color: transparent !default;
$sticker-warning-color: color-yiq($sticker-warning-bg) !default;

$sticker-warning: () !default;
$sticker-warning: map-deep-merge(
	(
		background-color:
			var(--sticker-warning-background-color, var(--warning)),
		border-color: var(--sticker-warning-border-color, transparent),
		color: var(--sticker-warning-color, var(--white)),
	),
	$sticker-warning
);

// .sticker-danger

$sticker-danger-bg: $danger !default;
$sticker-danger-border-color: transparent !default;
$sticker-danger-color: color-yiq($sticker-danger-bg) !default;

$sticker-danger: () !default;
$sticker-danger: map-deep-merge(
	(
		background-color: var(--sticker-danger-background-color, var(--danger)),
		border-color: var(--sticker-danger-border-color, transparent),
		color: var(--sticker-danger-color, var(--white)),
	),
	$sticker-danger
);

// .sticker-light

$sticker-light-bg: $light !default;
$sticker-light-border-color: transparent !default;
$sticker-light-color: color-yiq($sticker-light-bg) !default;

$sticker-light: () !default;
$sticker-light: map-deep-merge(
	(
		background-color: var(--sticker-light-background-color, var(--light)),
		border-color: var(--sticker-light-border-color, transparent),
		color: var(--sticker-light-color, var(--gray-900)),
	),
	$sticker-light
);

// .sticker-dark

$sticker-dark-bg: $dark !default;
$sticker-dark-border-color: transparent !default;
$sticker-dark-color: color-yiq($sticker-dark-bg) !default;

$sticker-dark: () !default;
$sticker-dark: map-deep-merge(
	(
		background-color: var(--sticker-dark-background-color, var(--dark)),
		border-color: var(--sticker-dark-border-color, transparent),
		color: var(--sticker-dark-color, var(--white)),
	),
	$sticker-dark
);

$sticker-palette: () !default;
$sticker-palette: map-deep-merge(
	(
		primary: $sticker-primary,
		secondary: $sticker-secondary,
		success: $sticker-success,
		info: $sticker-info,
		warning: $sticker-warning,
		danger: $sticker-danger,
		light: $sticker-light,
		dark: $sticker-dark,
	),
	$sticker-palette
);
