<% include includes/header %>

	<div id="mainContent">
		<h1 class="page-title">
			<%= title %>

			<%
			if (subHeading) {
			%>
				<small><%= subHeading %></small>
			<%
			}
			%>
		</h1>

		<%- contents %>
	</div>

<% include includes/footer %>