<% include includes/header %>
	<div id="mainContent">
		<h1 class="col-md-12 page-title">
			<%= title %>
			<small>sub heading</small>
		</h1>

		<%- contents %>
	</div>
<% include includes/footer %>