$alert-padding-x: 1.125rem !default; // 18px
$alert-padding-y: 1.125rem !default; // 18px

// For top only border use: 2px 0 0 0
$alert-border-width: 0 !default;

$alert-close-opacity: 1 !default;
$alert-close-padding-bottom: 5px !default;
$alert-close-padding-left: 0 !default;
$alert-close-padding-right: 0 !default;
$alert-close-padding-top: 0 !default;
$alert-close-position-right: 0 !default;
$alert-close-position-top: 0 !default;

$alert-font-size: $font-size-base-desktop !default; // 16px

$alert-lead-font-size: $alert-font-size !default;
$alert-lead-font-weight: bold !default;
$alert-lead-margin-right: 16px !default;

$alert-link-decoration: underline !default;
$alert-link-hover-decoration: none !default;

$alert-primary-bg: #65B6F0 !default;
$alert-primary-border-color: darken($alert-primary-bg, 12%) !default;
$alert-primary-color: #FFF !default;
$alert-primary-close-color: $alert-primary-color !default;
$alert-primary-lead-color: $alert-primary-color !default;
$alert-primary-link-color: $alert-primary-lead-color !default;

$alert-secondary-bg: #F5F8FA !default;
$alert-secondary-border-color: darken($alert-secondary-bg, 12%) !default;
$alert-secondary-color: #869CAD !default;
$alert-secondary-close-color: darken($alert-secondary-color, 6%) !default;
$alert-secondary-lead-color: darken($alert-secondary-color, 6%) !default;
$alert-secondary-link-color: $alert-secondary-lead-color !default;

$alert-danger-bg: #F1D1D8 !default;
$alert-danger-border-color: darken($alert-danger-bg, 12%) !default;
$alert-danger-color: #D77C8A !default;
$alert-danger-close-color: darken($alert-danger-color, 6%) !default;
$alert-danger-lead-color: darken($alert-danger-color, 6%) !default;
$alert-danger-link-color: $alert-danger-lead-color !default;

$alert-info-bg: #E7F1F9 !default;
$alert-info-border-color: darken($alert-info-bg, 12%) !default;
$alert-info-color: #86BADA !default;
$alert-info-close-color: darken($alert-info-color, 6%) !default;
$alert-info-lead-color: darken($alert-info-color, 6%) !default;
$alert-info-link-color: $alert-info-lead-color !default;

$alert-success-bg: #DDF3D5 !default;
$alert-success-border-color: darken($alert-success-bg, 12%) !default;
$alert-success-color: #97C783 !default;
$alert-success-close-color: darken($alert-success-color, 6%) !default;
$alert-success-lead-color: darken($alert-success-color, 6%) !default;
$alert-success-link-color: $alert-success-lead-color !default;

$alert-warning-bg: #F8F4D5 !default;
$alert-warning-border-color: darken($alert-warning-bg, 12%) !default;
$alert-warning-color: #D6B679 !default;
$alert-warning-close-color: darken($alert-warning-color, 6%) !default;
$alert-warning-lead-color: darken($alert-warning-color, 6%) !default;
$alert-warning-link-color: $alert-warning-lead-color !default;

$alert-light-bg: #FCFEFF !default;
$alert-light-border-color: #E3E6E8 !default;
$alert-light-color: #869CAD !default;
$alert-light-close-color: darken($alert-light-color, 6%) !default;
$alert-light-lead-color: darken($alert-light-color, 6%) !default;
$alert-light-link-color: $alert-light-lead-color !default;

$alert-dark-bg: #869CAD !default;
$alert-dark-border-color: darken($alert-dark-bg, 12%) !default;
$alert-dark-color: #FFF !default;
$alert-dark-close-color: darken($alert-dark-color, 6%) !default;
$alert-dark-lead-color: darken($alert-dark-color, 6%) !default;
$alert-dark-link-color: $alert-dark-lead-color !default;