$badge-font-size: $font-size-base / 1.166667 !default;
$badge-font-size-desktop: $font-size-base !default; // 16px
$badge-font-weight: 500 !default;
$badge-padding-x: 12px !default;
$badge-padding-y: 9px !default;

$badge-font-size-lg: $font-size-lg / 1.166667 !default;
$badge-font-size-lg-desktop: $font-size-lg !default;
$badge-padding-x-lg: 20px !default;
$badge-padding-y-lg: 14px !default;

$badge-font-size-sm: $font-size-sm / 1.166667 !default;
$badge-font-size-sm-desktop: $font-size-sm !default;
$badge-padding-x-sm: 10px !default;
$badge-padding-y-sm: 4px !default;

// Badge Variants

$badge-primary-bg: map-get($theme-colors, primary) !default;
$badge-primary-hover-bg: $badge-primary-bg !default;
$badge-primary-color: #FFF !default;
$badge-primary-hover-color: $badge-primary-color !default;

$badge-secondary-bg: #E7F1F9 !default;
$badge-secondary-hover-bg: $badge-secondary-bg !default;
$badge-secondary-color: map-get($theme-colors, primary) !default;
$badge-secondary-hover-color: $badge-secondary-color !default;

$badge-success-bg: map-get($theme-colors, success) !default;
$badge-success-hover-bg: $badge-success-bg !default;
$badge-success-color: #FFF !default;
$badge-success-hover-color: $badge-success-color !default;

$badge-info-bg: map-get($theme-colors, info) !default;
$badge-info-hover-bg: $badge-info-bg !default;
$badge-info-color: #FFF !default;
$badge-info-hover-color: $badge-info-color !default;

$badge-warning-bg: map-get($theme-colors, warning) !default;
$badge-warning-hover-bg: $badge-warning-bg !default;
$badge-warning-color: #FFF !default;
$badge-warning-hover-color: $badge-warning-color !default;

$badge-danger-bg: map-get($theme-colors, danger) !default;
$badge-danger-hover-bg: $badge-danger-bg !default;
$badge-danger-color: #FFF !default;
$badge-danger-hover-color: $badge-danger-color !default;