$list-group-border-radius: 0 !default;

$list-group-border-color: lighten($brand-secondary, 30%) !default;
$list-group-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) !default;

$list-group-active-bg: #FCFEFF !default;
$list-group-active-border-color: $list-group-border-color !default;
$list-group-active-color: $body-color !default;

$list-group-link-color: $body-color !default;
$list-group-link-hover-color: $list-group-link-color !default;
$list-group-link-active-color: $list-group-link-color !default;

$list-group-dropdown-toggle-color: $brand-secondary !default;