// Structure

$modal-inner-padding: 16px 24px !default;
$modal-title-padding: $modal-inner-padding !default;

// Skin

$modal-border-radius: $border-radius-default !default;

$modal-box-shadow: $box-shadow-default !default;

$modal-backdrop-opacity:                          0.75 !default;

$modal-header-bg: #FCFEFF !default;
$modal-header-color: $text-color !default;
$modal-header-close-color: $text-color !default;

$modal-body-bg: #F5F8F8 !default;
$modal-body-color: $text-color !default;

$modal-footer-bg: $modal-header-bg !default;
$modal-footer-color: $modal-header-color !default;

$modal-full-screen-body-bg: #FFF !default;
$modal-full-screen-desktop-body-bg: $modal-body-bg !default;

$modal-full-screen-footer-bg: #29353D !default;
$modal-full-screen-footer-desktop-bg: $modal-footer-bg !default;
$modal-full-screen-footer-color: #FFF !default;
$modal-full-screen-footer-desktop-color: $text-color !default;

$modal-inverse-body-bg: #111314 !default;
$modal-inverse-body-color: #A7A7A7 !default;

$modal-btn-icon-color: #FFF !default;