// Structure

$nav-pills-border-radius:                         5px !default;

// Skin

$nav-pills-active-link-hover-bg:                  $state-primary-border !default;
$nav-pills-active-link-hover-color:               #FFF !default;