$pager-border:                             $pagination-border;
$pager-border-radius:                      $pagination-border-radius;
$pager-border-width: $pagination-border-width;

$pager-item-height: $pagination-item-height - ($pager-border-width * 2);

$pager-padding-base-horizontal: 20px;
$pager-padding-base-vertical: 0;

$pager-lg-font-size: $pagination-lg-font-size;
$pager-lg-item-height: $pagination-lg-item-height - ($pager-border-width * 2);
$pager-lg-padding-horizontal: 48px;
$pager-lg-padding-vertical: $pager-padding-base-vertical;

$pager-sm-font-size: $pagination-sm-font-size;
$pager-sm-item-height: $pagination-sm-item-height - ($pager-border-width * 2);
$pager-sm-padding-horizontal: 12px;
$pager-sm-padding-vertical: $pager-padding-base-vertical;

$pager-color: $pagination-color;

$pager-hover-bg: $pagination-hover-bg;
$pager-hover-border: $pagination-hover-border;
$pager-hover-color: $pagination-hover-color;

$pager-disabled-bg: $pagination-disabled-bg;
$pager-disabled-border: $pagination-disabled-border;
$pager-disabled-color:                     $pagination-disabled-color;