$portlet-topper-bg: $brand-default !default;
$portlet-topper-border: $portlet-topper-bg !default;
$portlet-topper-color: #FFF !default;
$portlet-topper-link-color: #FFF !default;
$portlet-topper-link-hover-color: $portlet-topper-link-color !default;

$portlet-topper-border-radius: 4px 4px 0 0 !default;
$portlet-content-border-radius: 0 0 2px 2px !default;