$sticker-font-size: 0.75rem !default; // 12px
$sticker-font-weight: bold !default;

$sticker-font-size-lg: 0.875rem !default; // 14px

// Sticker Variants

$sticker-secondary-color: $body-color !default;
$sticker-secondary-bg: lighten(map-get($theme-colors, secondary), 22%) !default;

$sticker-light-color: $body-color !default;