$sticker-font-size: 0.75rem !default; // 12px
$sticker-font-weight: bold !default;

// Sticker Variants

$sticker-secondary-color: $body-color !default;
$sticker-secondary-bg: lighten(map-get($theme-colors, secondary), 46%) !default;

$sticker-light-color: $body-color !default;