/**
* Lexicon 1.0.3
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
/**
 * @param $element - CSS Selector
 * @param $color - Placeholder Color
 */

@mixin color-placeholder($element, $color: $input-color-placeholder) {
	#{$element}::-webkit-input-placeholder {
		color: $color;
	}

	#{$element}:-moz-placeholder {
		color: $color;
	}

	#{$element}::-moz-placeholder {
		color: $color;
	}

	#{$element}:-ms-input-placeholder {
		color: $color;
	}
}

// str-replace and svg-url functions from http://codepen.io/jakob-e/pen/doMoML

// Function to replace characters in a string
// @param $string - the string to operate on
// @param $search - the character to replace
// @param $replace - the character to replace $search with

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) +
		$replace +
		str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Function to encode SVG and provide back a data url
// @param $svg - The SVG markup to encode

@function svg-url($svg) {
	$encoded: '';
	$index: 0;
	$slice: 2000;

	$loops: ceil(str-length($svg)/$slice);

	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);

		$chunk: str-replace($chunk, '"', '\'');
		$chunk: str-replace($chunk, ' ', '%20');
		$chunk: str-replace($chunk, '<', '%3C');
		$chunk: str-replace($chunk, '>', '%3E');
		$chunk: str-replace($chunk, '&', '%26');
		$chunk: str-replace($chunk, '#', '%23');

		$encoded: #{$encoded}#{$chunk};

		$index: $index + $slice;
	}

	@return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

/**
 * @param $color - Icon Color
 */

@mixin select-box-icon($color) {
	background-image: svg-url("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' viewBox='0 0 512 512'><path d='M347.913 199.336l-81.538-85c-5.413-5.642-14.188-5.642-19.6 0l-81.538 85c-8.73 9.1-2.548 24.664 9.8 24.664h163.077c12.348 0 18.53-15.563 9.8-24.664zM165.236 312.664l81.538 85c5.412 5.642 14.188 5.642 19.6 0l81.538-85c8.73-9.1 2.548-24.664-9.8-24.664H175.035c-12.347 0-18.53 15.563-9.8 24.664z' fill='#{$color}'></path></svg>");
}