$cadmin-breadcrumb-bg: transparent !default;
$cadmin-breadcrumb-font-size: 0.875rem !default; // 14px
$cadmin-breadcrumb-margin-bottom: 0 !default;
$cadmin-breadcrumb-padding-x: 0.125rem !default; // 2px
$cadmin-breadcrumb-padding-y: 0.59375rem !default;

$cadmin-breadcrumb-link-color: $cadmin-gray-600 !default;
$cadmin-breadcrumb-link-hover-color: $cadmin-breadcrumb-link-color !default;

$cadmin-breadcrumb-link: () !default;
$cadmin-breadcrumb-link: map-deep-merge(
	(
		border-radius: 1px,
		transition: box-shadow 0.15s ease-in-out,
		focus-box-shadow: $cadmin-component-focus-box-shadow,
		focus-outline: 0,
	),
	$cadmin-breadcrumb-link
);

$cadmin-breadcrumb-active-color: $cadmin-gray-900 !default;
$cadmin-breadcrumb-active-font-weight: $cadmin-font-weight-semi-bold !default;

$cadmin-breadcrumb-divider-color: $cadmin-breadcrumb-link-color !default;
$cadmin-breadcrumb-divider-svg-icon-height: 0.6em !default;
