////
/// @group customForms
////

$cadmin-custom-control-indicator-bg: $cadmin-white !default;
$cadmin-custom-control-indicator-border-color: $cadmin-gray-400 !default;
$cadmin-custom-control-indicator-border-style: solid !default;
$cadmin-custom-control-indicator-border-width: 1px !default; // 1px
$cadmin-custom-control-indicator-box-shadow: none !default;
$cadmin-custom-control-indicator-position-top: 2px !default;

$cadmin-custom-control-indicator-focus-border-color: $cadmin-custom-control-indicator-border-color !default;
$cadmin-custom-control-indicator-focus-box-shadow: $cadmin-component-focus-box-shadow !default;

$cadmin-custom-control-indicator-active-bg: $cadmin-white !default;
$cadmin-custom-control-indicator-active-border-color: $cadmin-custom-control-indicator-border-color !default;
$cadmin-custom-control-indicator-active-box-shadow: inset 0 0 0 1px
	rgba(0, 0, 0, 0.1) !default;

$cadmin-custom-control-indicator-disabled-bg: $cadmin-input-disabled-bg !default;
$cadmin-custom-control-indicator-disabled-border-color: $cadmin-input-disabled-border-color !default;

// Custom Control Indicator Checked

// @deprecated as of v2.2.1 use `$cadmin-custom-control-indicator-checked-active-bg` instead

$cadmin-custom-control-indicator-active-checked-bg: $cadmin-component-active-bg !default;
$cadmin-custom-control-indicator-checked-active-bg: $cadmin-custom-control-indicator-active-checked-bg !default;

// @deprecated as of v2.2.1 use `$cadmin-custom-control-indicator-checked-active-border-color` instead

$cadmin-custom-control-indicator-active-checked-border-color: $cadmin-custom-control-indicator-checked-active-bg !default;
$cadmin-custom-control-indicator-checked-active-border-color: $cadmin-custom-control-indicator-active-checked-border-color !default;

$cadmin-custom-control-indicator-checked-border-color: $cadmin-custom-control-indicator-checked-active-bg !default;

$cadmin-custom-control-indicator-checked-color: $cadmin-component-active-color !default;

// @deprecated as of v2.2.1 use `$cadmin-custom-control-indicator-checked-disabled-bg` instead

$cadmin-custom-control-indicator-disabled-checked-bg: lighten(
	$cadmin-component-active-bg,
	32.94
) !default;
$cadmin-custom-control-indicator-checked-disabled-bg: $cadmin-custom-control-indicator-disabled-checked-bg !default;

// @deprecated as of v2.2.1 use `$cadmin-custom-control-indicator-checked-disabled-border-color` instead

$cadmin-custom-control-indicator-disabled-checked-border-color: $cadmin-custom-control-indicator-disabled-checked-bg !default;
$cadmin-custom-control-indicator-checked-disabled-border-color: $cadmin-custom-control-indicator-disabled-checked-border-color !default;

// Custom Control Indicator Indeterminate

$cadmin-custom-control-indicator-indeterminate-border-color: $cadmin-custom-control-indicator-checked-active-bg !default;

// Custom Control

// @deprecated after of v3.5.0 use the Sass map `$cadmin-custom-control` instead

$cadmin-custom-control-margin-bottom: 16px !default;

$cadmin-custom-control: () !default;
$cadmin-custom-control: map-deep-merge(
	(
		line-height: 1,
	),
	$cadmin-custom-control
);

// Custom Control Description

// @deprecated as of v2.19.0 use the Sass map `$cadmin-custom-control-label` instead

$cadmin-custom-control-description-font-size: $cadmin-input-label-font-size !default; // 13px

// @deprecated as of v2.19.0 use the Sass map `$cadmin-custom-control-label` instead

$cadmin-custom-control-description-font-weight: $cadmin-font-weight-normal !default;

/// @deprecated as of v2.19.0 use the Sass map `$cadmin-custom-control-label-disabled-color` instead. This variable is not used in Clay CSS.

$cadmin-custom-control-description-disabled-color: $cadmin-input-label-disabled-color !default;
$cadmin-custom-control-label-disabled-color: $cadmin-custom-control-description-disabled-color !default;

// @deprecated as of v2.19.0 use the Sass map `$cadmin-custom-control-label-text-small` instead

$cadmin-custom-control-description-small-font-size: 100% !default;

$cadmin-custom-control-label: () !default;
$cadmin-custom-control-label: map-deep-merge(
	(
		font-size: $cadmin-custom-control-description-font-size,
		font-weight: $cadmin-custom-control-description-font-weight,
	),
	$cadmin-custom-control-label
);

$cadmin-custom-control-label-text-small: () !default;
$cadmin-custom-control-label-text-small: map-deep-merge(
	(
		font-size: $cadmin-custom-control-description-small-font-size,
	),
	$cadmin-custom-control-label-text-small
);

// Custom Checkbox

$cadmin-custom-checkbox-indicator-icon-checked: clay-icon(
	check-small,
	$cadmin-white
) !default;
$cadmin-custom-checkbox-indicator-icon-checked-bg-size: 100% !default;
$cadmin-custom-checkbox-indicator-icon-indeterminate-bg-size: 100% !default;

$cadmin-custom-checkbox-indicator-indeterminate-bg: $cadmin-component-active-bg !default;
$cadmin-custom-checkbox-indicator-indeterminate-color: $cadmin-custom-control-indicator-checked-color !default;

$cadmin-custom-checkbox-indicator-icon-indeterminate: clay-icon(
	hr,
	$cadmin-custom-checkbox-indicator-indeterminate-color
) !default;

$cadmin-custom-checkbox-indicator-border-radius: 2px !default; // 2px

// Custom Radio

$cadmin-custom-radio-indicator-icon-checked: clay-icon(
	circle,
	$cadmin-white
) !default;
$cadmin-custom-radio-indicator-icon-checked-bg-size: 50% !default;

$cadmin-custom-radio-indicator-disabled-border-color: $cadmin-custom-control-indicator-disabled-bg !default;

// @deprecated as of v2.2.1 use `$cadmin-custom-radio-indicator-checked-disabled-border-color` instead

$cadmin-custom-radio-indicator-disabled-checked-border-color: $cadmin-custom-control-indicator-disabled-checked-border-color !default;
$cadmin-custom-radio-indicator-checked-disabled-border-color: $cadmin-custom-radio-indicator-disabled-checked-border-color !default;
