$cadmin-management-bar-base: () !default;
$cadmin-management-bar-base: map-deep-merge(
	(
		link-border-radius: $cadmin-border-radius,
		link-outline: 0,
		link-transition: box-shadow 0.15s ease-in-out,
		link-focus-box-shadow: $cadmin-btn-focus-box-shadow,
		link-disabled-box-shadow: none,
	),
	$cadmin-management-bar-base
);

$cadmin-management-bar-light: () !default;
$cadmin-management-bar-light: map-deep-merge(
	(
		bg: $cadmin-white,
		link-font-weight: $cadmin-font-weight-semi-bold,
		link-hover-color: $cadmin-gray-900,
		link-hover-bg: rgba($cadmin-gray-900, 0.03),
		link-focus-color: $cadmin-gray-900,
		link-focus-bg: rgba($cadmin-gray-900, 0.03),
		link-active-bg: rgba($cadmin-gray-900, 0.06),
		link-disabled-bg: transparent,
	),
	$cadmin-management-bar-light
);

$cadmin-management-bar-primary: () !default;
$cadmin-management-bar-primary: map-deep-merge(
	(
		link-border-radius: $cadmin-border-radius,
		link-font-weight: $cadmin-font-weight-semi-bold,
		link-hover-color: $cadmin-gray-900,
		link-hover-bg: rgba($cadmin-gray-900, 0.03),
		link-focus-color: $cadmin-gray-900,
		link-focus-bg: rgba($cadmin-gray-900, 0.03),
		link-active-bg: rgba($cadmin-gray-900, 0.06),
		link-disabled-bg: transparent,
	),
	$cadmin-management-bar-primary
);
