////
/// @group pagination
////

$cadmin-pagination-font-size: 14px !default; // 14px
$cadmin-pagination-line-height: 1 !default;

// Pagination Item

$cadmin-pagination-item-height: 32px !default; // 32px

// @deprecated as of v2 use the Sass map `$cadmin-pagination-item` instead

$cadmin-pagination-item-margin-x: 4px !default; // 4px

// Pagination Link

// @deprecated as of v2 use the Sass map `$cadmin-pagination-link` instead

$cadmin-pagination-link-border-radius: 4px !default;

// @deprecated as of v2 use the Sass map `$cadmin-pagination-link` instead

$cadmin-pagination-link-transition: box-shadow 0.15s ease-in-out !default;

$cadmin-pagination-link-first-border-radius: $cadmin-pagination-link-border-radius !default;
$cadmin-pagination-link-last-border-radius: $cadmin-pagination-link-border-radius !default;

$cadmin-pagination-bg: transparent !default;
$cadmin-pagination-border-color: $cadmin-pagination-bg !default;
$cadmin-pagination-border-width: 1px !default; // 1px
$cadmin-pagination-color: $cadmin-gray-600 !default;
$cadmin-pagination-padding-x: 10px !default; // 10px
$cadmin-pagination-padding-y: 0 !default;

$cadmin-pagination-hover-bg: rgba(0, 0, 0, 0.02) !default;
$cadmin-pagination-hover-border-color: transparent !default;
$cadmin-pagination-hover-color: $cadmin-gray-900 !default;

$cadmin-pagination-active-bg: rgba(0, 0, 0, 0.04) !default;
$cadmin-pagination-active-border-color: transparent !default;
$cadmin-pagination-active-color: $cadmin-pagination-hover-color !default;

$cadmin-pagination-disabled-bg: transparent !default;
$cadmin-pagination-disabled-border-color: $cadmin-pagination-disabled-bg !default;
$cadmin-pagination-disabled-color: $cadmin-gray-600 !default;

// @deprecated as of v2 use the Sass map `$cadmin-pagination-link-disabled` instead

$cadmin-pagination-disabled-opacity: 0.5 !default;

$cadmin-pagination-link-focus: () !default;
$cadmin-pagination-link-focus: map-deep-merge(
	(
		bg: $cadmin-pagination-hover-bg,
		border-color: $cadmin-pagination-hover-border-color,
		color: $cadmin-pagination-hover-color,
	),
	$cadmin-pagination-link-focus
);

// Pagination Dropdown Menu

$cadmin-pagination-dropdown-menu-spacer-y: 10px !default; // 10px

// Pagination Items Per Page Link

$cadmin-pagination-items-per-page-link-focus: () !default;
$cadmin-pagination-items-per-page-link-focus: map-deep-merge(
	(
		bg: map-get($cadmin-pagination-link-focus, bg),
		border-color: map-get($cadmin-pagination-link-focus, border-color),
		color: map-get($cadmin-pagination-link-focus, color),
	),
	$cadmin-pagination-items-per-page-link-focus
);

// Pagination Results

$cadmin-pagination-results-color: $cadmin-pagination-color !default;

// Sizes

$cadmin-pagination-link-border-radius-sm: 5px !default;
$cadmin-pagination-font-size-sm: 12px !default; // 12px
$cadmin-pagination-item-height-sm: 24px !default; // 24px
$cadmin-pagination-padding-y-sm: 0 !default;

$cadmin-pagination-link-border-radius-lg: 5px !default; // 5px
$cadmin-pagination-font-size-lg: 18px !default; // 18px
$cadmin-pagination-item-height-lg: 44px !default; //44px
$cadmin-pagination-padding-x-lg: 16px !default; // 16px
$cadmin-pagination-padding-y-lg: 0 !default;
