// Panel Header

$cadmin-panel-header-border-bottom-width: 0 !default;
$cadmin-panel-header-font-size: 14px !default; // 14px
$cadmin-panel-header-link-hover-text-decoration: none !default;

$cadmin-panel-header-collapse-icon-font-size: 12px !default; // 12px

$cadmin-panel-header-link: () !default;
$cadmin-panel-header-link: map-deep-merge(
	(
		transition: box-shadow 0.15s ease-in-out,
		focus-box-shadow: $cadmin-component-focus-box-shadow,
		focus-outline: 0,
	),
	$cadmin-panel-header-link
);

$cadmin-panel-header-collapsed-link: () !default;
$cadmin-panel-header-collapsed-link: map-deep-merge(
	(
		border-color: null,
		transition: null,
	),
	$cadmin-panel-header-collapsed-link
);

// Panel Footer

$cadmin-panel-footer-border-top-width: 0 !default;

// Panel Title

$cadmin-panel-title-font-size: 14px !default; // 14px
$cadmin-panel-title-text-transform: uppercase !default;

// Panel Title Small Element

$cadmin-panel-title-small-font-size: 100% !default;
$cadmin-panel-title-small-margin-left: 6px !default; // 6px

// Panel Group Sm

$cadmin-panel-group-sm: () !default;
$cadmin-panel-group-sm: map-deep-merge(
	(
		title-font-size: 12px,
	),
	$cadmin-panel-group-sm
);

// Panel Variants

$cadmin-panel-secondary: () !default;
$cadmin-panel-secondary: map-deep-merge(
	(
		border-color: $cadmin-gray-300,
		color: $cadmin-gray-600,
		header-bg: null,
		header-border-color: $cadmin-gray-300,
		footer-bg: null,
		footer-border-color: $cadmin-gray-300,
	),
	$cadmin-panel-secondary
);

// Panel Unstyled

$cadmin-panel-unstyled-header-link: () !default;
$cadmin-panel-unstyled-header-link: map-deep-merge(
	(
		border-radius: 1px,
		focus-box-shadow: #{0 0 0 4px $cadmin-body-bg, 0 0 0 6px $cadmin-primary-l1},
	),
	$cadmin-panel-unstyled-header-link
);
