$cadmin-popover-border-color: transparent !default;
$cadmin-popover-border-radius: $cadmin-border-radius !default; // 4px
$cadmin-popover-box-shadow: 0 1px 15px -2px rgba(0, 0, 0, 0.2) !default;
$cadmin-popover-max-width: 14.5rem !default; // 232px
$cadmin-popover-inline-scroller-max-height: 14.875rem !default; // 238px

$cadmin-popover-arrow-outer-color: transparent !default;
$cadmin-popover-arrow-height: 0.3rem !default;
$cadmin-popover-arrow-offset: 0.625rem !default; // 10px
$cadmin-popover-arrow-width: $cadmin-popover-arrow-height * 2 !default;

$cadmin-popover-header-bg: $cadmin-white !default;
$cadmin-popover-header-border-color: $cadmin-gray-300 !default;
$cadmin-popover-header-color: $cadmin-gray-900 !default;
$cadmin-popover-header-font-size: 0.875rem !default; // 14px
$cadmin-popover-header-margin-x: 1rem !default; // 16px
$cadmin-popover-header-margin-y: 0 !default;
$cadmin-popover-header-padding-x: 0 !default;
$cadmin-popover-header-padding-y: 0.75rem !default; // 12px

$cadmin-popover-body-color: $cadmin-gray-600 !default;
$cadmin-popover-body-padding-x: 1rem !default; // 16px
$cadmin-popover-body-padding-y: 0.75rem !default; // 12px
