$cadmin-tooltip-bg: $cadmin-gray-900 !default;
$cadmin-tooltip-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.4) !default;
$cadmin-tooltip-font-size: 14px !default; // 14px
$cadmin-tooltip-max-width: 230px !default;
$cadmin-tooltip-opacity: 1 !default;
$cadmin-tooltip-padding-x: 12px !default; // 12px
$cadmin-tooltip-padding-y: 12px !default; // 12px

$cadmin-tooltip-arrow-offset: 8px !default; // 8px
