$cadmin-bg-checkered-fg: $cadmin-gray-300 !default;

// C Focus Inset

$cadmin-c-focus-inset-focus: () !default;
$cadmin-c-focus-inset-focus: map-deep-merge(
	(
		box-shadow: $cadmin-component-focus-inset-box-shadow,
		border-color: $cadmin-primary-l1,
		outline: 0,
	),
	$cadmin-c-focus-inset-focus
);

// Close

$cadmin-close: () !default;
$cadmin-close: map-deep-merge(
	(
		color: $cadmin-gray-900,
		opacity: 1,
		hover-color: $cadmin-gray-900,
		hover-opacity: 1,
		focus-box-shadow: $cadmin-btn-focus-box-shadow,
		focus-opacity: 1,
		focus-outline: 0,
		disabled-color: $cadmin-gray-600,
		disabled-opacity: $cadmin-btn-disabled-opacity,
		btn-focus-box-shadow: $cadmin-btn-focus-box-shadow,
	),
	$cadmin-close
);

$cadmin-page-header-bg: $cadmin-white !default;
