$enable-scaling-components: false !default;
$scaling-breakpoint-down: sm !default;

$rounded-border-radius: $border-radius !default;
$rounded-circle-border-radius: 5000px !default;
$rounded-0-border-radius: 0 !default;

$font-import-url: null !default;

$font-family-serif: Georgia, "Times New Roman", Times, serif !default;

$font-size-base-mobile: $font-size-base !default;
$font-size-lg-mobile: $font-size-lg !default;

$font-weight-semi-bold: 500 !default;
$font-weight-bolder: 900 !default;

$h1-font-size-mobile: null !default;
$h2-font-size-mobile: null !default;
$h3-font-size-mobile: null !default;
$h4-font-size-mobile: null !default;
$h5-font-size-mobile: null !default;
$h6-font-size-mobile: null !default;

// z-index variables

$zindex-input-group-hover: 3 !default;
$zindex-input-group-focus: $zindex-input-group-hover + 1 !default; // 4
$zindex-navbar-collapse-absolute: 500 !default;
$zindex-navbar-overlay: $zindex-dropdown - 1 !default; // 999
$zindex-sidenav: $zindex-fixed + 5 !default;