$pagination-dropdown-menu-spacer-y: null !default;

$pagination-font-size-sm: $font-size-sm !default;
$pagination-line-height-sm: $line-height-sm !default;

$pagination-font-size-lg: $font-size-lg !default;
$pagination-line-height-lg: $line-height-lg !default;

// Skin

$pagination-disabled-opacity: null !default;

$pagination-link-border-radius: null !default;
$pagination-link-border-radius-lg: null !default;
$pagination-link-border-radius-sm: null !default;

$pagination-items-per-page-bg: null !default;
$pagination-items-per-page-border: transparent !default;
$pagination-items-per-page-color: null !default;

$pagination-results-color: null !default;