$sheet-bg: $white !default;
$sheet-border-color: rgba($black, 0.125) !default;
$sheet-border-style: solid !default;
$sheet-border-width: 0.0625rem !default; // 1px

$sheet-border-radius: $border-radius !default;
$sheet-padding-x: 1.5rem !default; // 24px
$sheet-padding-y: 1.5rem !default; // 24px