$table-cell-gutters: $grid-gutter-width / 2 !default; // 15px

$table-head-font-size: null !default;
$table-head-font-weight: null !default;
$table-head-height: 36px !default;

$table-divider-bg: #FFF !default;
$table-divider-color: null !default;
$table-divider-font-weight: null !default;
$table-divider-font-size: null !default;
$table-divider-padding: $table-cell-padding !default;
$table-divider-text-transform: null !default;

$table-quick-action-menu-align-items: flex-start !default;
$table-quick-action-menu-bg: if($table-bg == transparent, $body-bg, $table-bg) !default;
$table-quick-action-menu-accent-bg: #F2F2F2 !default;
$table-quick-action-menu-accent-active-bg: #E0E0E0 !default;
$table-quick-action-menu-active-bg: #DADADA !default;
$table-quick-action-menu-hover-bg: #ECECEC !default;

// Table List

$table-list-bg: #FFF !default;
$table-list-color: null !default;
$table-list-accent-bg: #F2F2F2 !default;
$table-list-hover-bg: #ECECEC !default;
$table-list-active-bg: #DADADA !default;

$table-list-border-color: $table-border-color !default;
$table-list-border-width: 0.0625rem !default; // 1px
$table-list-border-radius: 6px !default;
$table-list-font-size: null !default;
$table-list-margin-bottom: 1.5rem !default;
$table-list-margin-top: 1.5rem !default;

$table-list-link-color: null !default;
$table-list-link-color-hover: null !default;

$table-list-head-bg: null !default;
$table-list-head-font-size: null !default;
$table-list-head-font-weight: null !default;
$table-list-head-height: null !default;
$table-list-head-vertical-alignment: null !default;

$table-list-quick-action-menu-align-items: center !default;
$table-list-quick-action-menu-bg: $table-list-bg !default;
$table-list-quick-action-menu-accent-bg: $table-list-accent-bg !default;
$table-list-quick-action-menu-accent-active-bg: $table-list-active-bg !default;
$table-list-quick-action-menu-active-bg: $table-list-active-bg !default;
$table-list-quick-action-menu-hover-bg: $table-list-hover-bg !default;