.badge {
	a {
		color: $badge-color;

		&:focus,
		&:hover {
			color: $badge-link-hover-color;
			text-decoration: none;
		}
	}
}

.badge-danger {
	background-color: $brand-danger;
}

.badge-info {
	background-color: $brand-info;
}

.badge-primary {
	background-color: $brand-primary;
}

.badge-success {
	background-color: $brand-success;
}

.badge-warning {
	background-color: $brand-warning;
}