figure, .figure {
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

figcaption, .figcaption {
	padding: 5px 2px;
}

.figcaption-bottom {
	@include style-figcaption();

	bottom: 0;
}

.figcaption-full {
	@include style-figcaption();

	height: 100%;
	top: 0;
	width: 100%;
}

.figcaption-top {
	@include style-figcaption();

	top: 0;
}

// Figure helper classes
// -------------------------

.figure-circle {
	border-radius: 50%;
}

.figure-rounded {
	border-radius: 10px;
}

.figure-square {
	border-radius: 0;
}

// Figcaption helper classes
// -------------------------

.figcaption-xl {
	font-size: 1.5em;
}

.figcaption-lg {
	font-size: 1.25em;
}

.figcaption-sm {
	font-size: 0.85em;
}

.figcaption-xs {
	font-size: 0.7em;
}

.figcaption-danger {
	@include color-figcaption($brand-danger, 0.7, #FFF);
}

.figcaption-default {
	@include color-figcaption($gray-light, 0.7, #FFF);
}

.figcaption-info {
	@include color-figcaption($brand-info, 0.7, #FFF);
}

.figcaption-primary {
	@include color-figcaption($brand-primary, 0.7, #FFF);
}

.figcaption-success {
	@include color-figcaption($brand-success, 0.7, #FFF);
}

.figcaption-warning {
	@include color-figcaption($brand-warning, 0.7, #FFF);
}