$slideout-drawer-width: 250px;

.slideout-drawer {
	display: none;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: $slideout-drawer-width;

	&.open {
		.slideout-drawer-content {
			@include transform(translateX(0));
		}

		.slideout-drawer-bottom, .slideout-drawer-top {
			.slideout-drawer-content {
				@include transform(translateY(0));
			}
		}
	}

	.slideout-drawer-close {
		left: auto;
		right: 0;
	}

	&.slideout-drawer-left {
		bottom: auto;
		left: 0;
		right: auto;
		top: 0;
	}

	&.slideout-drawer-right {
		.slideout-drawer-close {
			left: 0;
			right: auto;
		}
	}
}

.slideout-drawer-content {
	background-color: red;
	height: 100%;
	overflow: auto;
	position: absolute;

	@include transform(translateX(-100%));

	width: $slideout-drawer-width - 20;
	z-index: 1001;
	-webkit-overflow-scrolling: touch;
}

.slideout-drawer-transition {
	.slideout-drawer-content, .slideout-drawer-close {
		@include transition(all 0.25s ease);
	}
}

.slideout-drawer-right {
	.slideout-drawer-content {
		@include transform(translateX(100%));
	}
}

.slideout-drawer-bottom {
	.slideout-drawer-content {
		@include transform(translateY(100%));
	}
}

.slideout-drawer-top {
	.slideout-drawer-content {
		@include transform(translateY(-100%));
	}
}

.slideout-drawer-top {
	bottom: auto;
	height: 150px;
	top: 0;
}

.slideout-drawer-bottom {
	bottom: 0;
	height: 150px;
	top: auto;
}

.slideout-drawer-left {
	.slideout-drawer-close {
		left: auto;
		right: 0;
	}
}

.slideout-drawer-right {
	left: auto;
	right: 0;
	top: 0;

	.slideout-drawer-content {
		right: 0;
	}
}

.slideout-drawer-close {
	left: 0;
	position: absolute;
	top: 5px;
}

// Fixed Slideout Drawer

.slideout-drawer-fixed {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 1001;

	&.open {
		.slideout-drawer-content {
			@include transform(translateX(0));
		}

		.slideout-drawer-bottom, .slideout-drawer-top {
			.slideout-drawer-content {
				@include transform(translateY(0));
			}
		}
	}
}

.slideout-drawer-fixed {
	&.slideout-drawer-bottom, &.slideout-drawer-top {
		height: 150px;
	}

	&.slideout-drawer-bottom {
		bottom: 0;
		top: auto;
	}

	&.slideout-drawer-left {
		left: 0;
		right: auto;
	}

	&.slideout-drawer-right {
		left: auto;
		right: 0;
	}

	&.slideout-drawer-top {
		bottom: auto;
		top: 0;
	}

	.slideout-drawer-bottom, .slideout-drawer-top {
		width: 100%;
	}
}