@mixin switch-variant(
	$color: $gray-light,
	$button-color: $gray-lighter,
	$border-color: $btn-default-border,
	$bg-color: #FFF) {
	&:empty {
		~ label {
			&:after, &:before {
				background-color: $bg-color;
			}

			&:after {
				background-color: $button-color;
				border: 1px solid $border-color;
			}

			&:before {
				border: 1px solid $border-color;
			}
		}
	}

	&:checked {
		~ label:before {
			background-color: $bg-color;
		}
	}

	&.edit:empty {
		~ label:after {
			color: $color;
		}
	}
}

@mixin switch-variant-alt(
	$color: $gray-light,
	$button-color: $gray-lighter,
	$border-color: $btn-default-border,
	$bg-color: #FFF) {
	input[type="checkbox"] {
		+ .skin {
			&:after, &:before {
				background-color: $bg-color;
				border: 1px solid $border-color;
			}
		}

		&:empty + .skin:after {
			background-color: $button-color;
		}

		&:checked + .skin:after {
			background-color: $button-color;
		}
	}
}

input.switch:empty {
	margin-left: -999px;

	&:focus ~ label:before {
		@include box-shadow(0 0 3px rgba(102, 175, 233, 1));
	}

	~ label {
		cursor: pointer;
		float: left;
		line-height: 1.6em;
		margin: 0.2em 0;
		position: relative;
		text-indent: 4em;

		@include user-select(none);

		&:after, &:before {
			border-radius: 3px;
			content: ' ';
			display: block;
			height: 23px;

			@include position(absolute, 0 null 0 0);
			@include transition(all 100ms ease-in);

			width: 50px;
		}

		&:after {
			border-radius: 3px 0 0 3px;
			bottom: 0em;
			margin-left: 0em;
			top: 0em;
			width: 26px;
		}
	}
}

input.switch:checked {
	~ label {
		&:after {
			border-radius: 0 3px 3px 0;
			margin-left: 24px;
		}
	}
}

input.switch {
	&[disabled], &.disabled {
		~ label {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}
}

input.switch {
	@include switch-variant();
}

input.switch-primary {
	@include switch-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

input.switch-success {
	@include switch-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

input.switch-info {
	@include switch-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

input.switch-warning {
	@include switch-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

input.switch-danger {
	@include switch-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// On Off Text

input.switch:checked ~ label .off,
input.switch:empty ~ label .on {
	display: none;
}

input.switch:checked ~ label .on {
	display: inline;
}

// Switch Icons

input.switch:empty, .switch input[type="checkbox"]:empty {
	~ label:after, + .skin:after {
		font-family: 'fontawesome-alloy';
		font-size: 14px;
		font-weight: normal;
		text-align: center;
		text-indent: 2px;
		text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	}

	&.icon-glass ~ label:after,
	&.icon-glass + .skin:after {
		content: $glass;
	}

	&.icon-music ~ label:after,
	&.icon-music + .skin:after {
		content: $music;
	}

	&.icon-search ~ label:after,
	&.icon-search + .skin:after {
		content: $search;
	}

	&.icon-envelope-alt ~ label:after,
	&.icon-envelope-alt + .skin:after {
		content: $envelope-alt;
	}

	&.icon-heart ~ label:after,
	&.icon-heart + .skin:after {
		content: $heart;
	}

	&.icon-star ~ label:after,
	&.icon-star + .skin:after {
		content: $star;
	}

	&.icon-star-empty ~ label:after,
	&.icon-star-empty + .skin:after {
		content: $star-empty;
	}

	&.icon-user ~ label:after,
	&.icon-user + .skin:after {
		content: $user;
	}

	&.icon-film ~ label:after,
	&.icon-film + .skin:after {
		content: $film;
	}

	&.icon-th-large ~ label:after,
	&.icon-th-large + .skin:after {
		content: $th-large;
	}

	&.icon-th ~ label:after,
	&.icon-th + .skin:after {
		content: $th;
	}

	&.icon-th-list ~ label:after,
	&.icon-th-list + .skin:after {
		content: $th-list;
	}

	&.icon-ok ~ label:after,
	&.icon-ok + .skin:after {
		content: $ok;
	}

	&.icon-remove ~ label:after,
	&.icon-remove + .skin:after {
		content: $remove;
	}

	&.icon-zoom-in ~ label:after,
	&.icon-zoom-in + .skin:after {
		content: $zoom-in;
	}

	&.icon-zoom-out ~ label:after,
	&.icon-zoom-out + .skin:after {
		content: $zoom-out;
	}

	&.icon-off ~ label:after,
	&.icon-off + .skin:after {
		content: $off;
	}

	&.icon-signal ~ label:after,
	&.icon-signal + .skin:after {
		content: $signal;
	}

	&.icon-cog ~ label:after,
	&.icon-cog + .skin:after {
		content: $cog;
	}

	&.icon-trash ~ label:after,
	&.icon-trash + .skin:after {
		content: $trash;
	}

	&.icon-home ~ label:after,
	&.icon-home + .skin:after {
		content: $home;
	}

	&.icon-file-alt ~ label:after,
	&.icon-file-alt + .skin:after {
		content: $file-alt;
	}

	&.icon-time ~ label:after,
	&.icon-time + .skin:after {
		content: $time;
	}

	&.icon-road ~ label:after,
	&.icon-road + .skin:after {
		content: $road;
	}

	&.icon-download-alt ~ label:after,
	&.icon-download-alt + .skin:after {
		content: $download-alt;
	}

	&.icon-download ~ label:after,
	&.icon-download + .skin:after {
		content: $download;
	}

	&.icon-upload ~ label:after,
	&.icon-upload + .skin:after {
		content: $upload;
	}

	&.icon-inbox ~ label:after,
	&.icon-inbox + .skin:after {
		content: $inbox;
	}

	&.icon-play-circle ~ label:after,
	&.icon-play-circle + .skin:after {
		content: $play-circle;
	}

	&.icon-repeat ~ label:after,
	&.icon-repeat + .skin:after {
		content: $repeat;
	}

	&.icon-refresh ~ label:after,
	&.icon-refresh + .skin:after {
		content: $refresh;
	}

	&.icon-list-alt ~ label:after,
	&.icon-list-alt + .skin:after {
		content: $list-alt;
	}

	&.icon-lock ~ label:after,
	&.icon-lock + .skin:after {
		content: $lock;
	}

	&.icon-flag ~ label:after,
	&.icon-flag + .skin:after {
		content: $flag;
	}

	&.icon-headphones ~ label:after,
	&.icon-headphones + .skin:after {
		content: $headphones;
	}

	&.icon-volume-off ~ label:after,
	&.icon-volume-off + .skin:after {
		content: $volume-off;
	}

	&.icon-volume-down ~ label:after,
	&.icon-volume-down + .skin:after {
		content: $volume-down;
	}

	&.icon-volume-up ~ label:after,
	&.icon-volume-up + .skin:after {
		content: $volume-up;
	}

	&.icon-qrcode ~ label:after,
	&.icon-qrcode + .skin:after {
		content: $qrcode;
	}

	&.icon-barcode ~ label:after,
	&.icon-barcode + .skin:after {
		content: $barcode;
	}

	&.icon-tag ~ label:after,
	&.icon-tag + .skin:after {
		content: $tag;
	}

	&.icon-tags ~ label:after,
	&.icon-tags + .skin:after {
		content: $tags;
	}

	&.icon-book ~ label:after,
	&.icon-book + .skin:after {
		content: $book;
	}

	&.icon-bookmark ~ label:after,
	&.icon-bookmark + .skin:after {
		content: $bookmark;
	}

	&.icon-print ~ label:after,
	&.icon-print + .skin:after {
		content: $print;
	}

	&.icon-camera ~ label:after,
	&.icon-camera + .skin:after {
		content: $camera;
	}

	&.icon-font ~ label:after,
	&.icon-font + .skin:after {
		content: $font;
	}

	&.icon-bold ~ label:after,
	&.icon-bold + .skin:after {
		content: $bold;
	}

	&.icon-italic ~ label:after,
	&.icon-italic + .skin:after {
		content: $italic;
	}

	&.icon-text-height ~ label:after,
	&.icon-text-height + .skin:after {
		content: $text-height;
	}

	&.icon-text-width ~ label:after,
	&.icon-text-width + .skin:after {
		content: $text-width;
	}

	&.icon-align-left ~ label:after,
	&.icon-align-left + .skin:after {
		content: $align-left;
	}

	&.icon-align-center ~ label:after,
	&.icon-align-center + .skin:after {
		content: $align-center;
	}

	&.icon-align-right ~ label:after,
	&.icon-align-right + .skin:after {
		content: $align-right;
	}

	&.icon-align-justify ~ label:after,
	&.icon-align-justify + .skin:after {
		content: $align-justify;
	}

	&.icon-list ~ label:after,
	&.icon-list + .skin:after {
		content: $list;
	}

	&.icon-indent-left ~ label:after,
	&.icon-indent-left + .skin:after {
		content: $indent-left;
	}

	&.icon-indent-right ~ label:after,
	&.icon-indent-right + .skin:after {
		content: $indent-right;
	}

	&.icon-facetime-video ~ label:after,
	&.icon-facetime-video + .skin:after {
		content: $facetime-video;
	}

	&.icon-picture ~ label:after,
	&.icon-picture + .skin:after {
		content: $picture;
	}

	&.icon-pencil ~ label:after,
	&.icon-pencil + .skin:after {
		content: $pencil;
	}

	&.icon-map-marker ~ label:after,
	&.icon-map-marker + .skin:after {
		content: $map-marker;
	}

	&.icon-adjust ~ label:after,
	&.icon-adjust + .skin:after {
		content: $adjust;
	}

	&.icon-tint ~ label:after,
	&.icon-tint + .skin:after {
		content: $tint;
	}

	&.icon-edit ~ label:after,
	&.icon-edit + .skin:after {
		content: $edit;
	}

	&.icon-share ~ label:after,
	&.icon-share + .skin:after {
		content: $share;
	}

	&.icon-check ~ label:after,
	&.icon-check + .skin:after {
		content: $check;
	}

	&.icon-move ~ label:after,
	&.icon-move + .skin:after {
		content: $move;
	}

	&.icon-step-backward ~ label:after,
	&.icon-step-backward + .skin:after {
		content: $step-backward;
	}

	&.icon-fast-backward ~ label:after,
	&.icon-fast-backward + .skin:after {
		content: $fast-backward;
	}

	&.icon-backward ~ label:after,
	&.icon-backward + .skin:after {
		content: $backward;
	}

	&.icon-play ~ label:after,
	&.icon-play + .skin:after {
		content: $play;
	}

	&.icon-pause ~ label:after,
	&.icon-pause + .skin:after {
		content: $pause;
	}

	&.icon-stop ~ label:after,
	&.icon-stop + .skin:after {
		content: $stop;
	}

	&.icon-forward ~ label:after,
	&.icon-forward + .skin:after {
		content: $forward;
	}

	&.icon-fast-forward ~ label:after,
	&.icon-fast-forward + .skin:after {
		content: $fast-forward;
	}

	&.icon-step-forward ~ label:after,
	&.icon-step-forward + .skin:after {
		content: $step-forward;
	}

	&.icon-eject ~ label:after,
	&.icon-eject + .skin:after {
		content: $eject;
	}

	&.icon-chevron-left ~ label:after,
	&.icon-chevron-left + .skin:after {
		content: $chevron-left;
	}

	&.icon-chevron-right ~ label:after,
	&.icon-chevron-right + .skin:after {
		content: $chevron-right;
	}

	&.icon-plus-sign ~ label:after,
	&.icon-plus-sign + .skin:after {
		content: $plus-sign;
	}

	&.icon-minus-sign ~ label:after,
	&.icon-minus-sign + .skin:after {
		content: $minus-sign;
	}

	&.icon-remove-sign ~ label:after,
	&.icon-remove-sign + .skin:after {
		content: $remove-sign;
	}

	&.icon-ok-sign ~ label:after,
	&.icon-ok-sign + .skin:after {
		content: $ok-sign;
	}

	&.icon-question-sign ~ label:after,
	&.icon-question-sign + .skin:after {
		content: $question-sign;
	}

	&.icon-info-sign ~ label:after,
	&.icon-info-sign + .skin:after {
		content: $info-sign;
	}

	&.icon-screenshot ~ label:after,
	&.icon-screenshot + .skin:after {
		content: $screenshot;
	}

	&.icon-remove-circle ~ label:after,
	&.icon-remove-circle + .skin:after {
		content: $remove-circle;
	}

	&.icon-ok-circle ~ label:after,
	&.icon-ok-circle + .skin:after {
		content: $ok-circle;
	}

	&.icon-ban-circle ~ label:after,
	&.icon-ban-circle + .skin:after {
		content: $ban-circle;
	}

	&.icon-arrow-left ~ label:after,
	&.icon-arrow-left + .skin:after {
		content: $arrow-left;
	}

	&.icon-arrow-right ~ label:after,
	&.icon-arrow-right + .skin:after {
		content: $arrow-right;
	}

	&.icon-arrow-up ~ label:after,
	&.icon-arrow-up + .skin:after {
		content: $arrow-up;
	}

	&.icon-arrow-down ~ label:after,
	&.icon-arrow-down + .skin:after {
		content: $arrow-down;
	}

	&.icon-share-alt ~ label:after,
	&.icon-share-alt + .skin:after {
		content: $share-alt;
	}

	&.icon-resize-full ~ label:after,
	&.icon-resize-full + .skin:after {
		content: $resize-full;
	}

	&.icon-resize-small ~ label:after,
	&.icon-resize-small + .skin:after {
		content: $resize-small;
	}

	&.icon-plus ~ label:after,
	&.icon-plus + .skin:after {
		content: $plus;
	}

	&.icon-minus ~ label:after,
	&.icon-minus + .skin:after {
		content: $minus;
	}

	&.icon-asterisk ~ label:after,
	&.icon-asterisk + .skin:after {
		content: $asterisk;
	}

	&.icon-exclamation-sign ~ label:after,
	&.icon-exclamation-sign + .skin:after {
		content: $exclamation-sign;
	}

	&.icon-gift ~ label:after,
	&.icon-gift + .skin:after {
		content: $gift;
	}

	&.icon-leaf ~ label:after,
	&.icon-leaf + .skin:after {
		content: $leaf;
	}

	&.icon-fire ~ label:after,
	&.icon-fire + .skin:after {
		content: $fire;
	}

	&.icon-eye-open ~ label:after,
	&.icon-eye-open + .skin:after {
		content: $eye-open;
	}

	&.icon-eye-close ~ label:after,
	&.icon-eye-close + .skin:after {
		content: $eye-close;
	}

	&.icon-warning-sign ~ label:after,
	&.icon-warning-sign + .skin:after {
		content: $warning-sign;
	}

	&.icon-plane ~ label:after,
	&.icon-plane + .skin:after {
		content: $plane;
	}

	&.icon-calendar ~ label:after,
	&.icon-calendar + .skin:after {
		content: $calendar;
	}

	&.icon-random ~ label:after,
	&.icon-random + .skin:after {
		content: $random;
	}

	&.icon-comment ~ label:after,
	&.icon-comment + .skin:after {
		content: $comment;
	}

	&.icon-magnet ~ label:after,
	&.icon-magnet + .skin:after {
		content: $magnet;
	}

	&.icon-chevron-up ~ label:after,
	&.icon-chevron-up + .skin:after {
		content: $chevron-up;
	}

	&.icon-chevron-down ~ label:after,
	&.icon-chevron-down + .skin:after {
		content: $chevron-down;
	}

	&.icon-retweet ~ label:after,
	&.icon-retweet + .skin:after {
		content: $retweet;
	}

	&.icon-shopping-cart ~ label:after,
	&.icon-shopping-cart + .skin:after {
		content: $shopping-cart;
	}

	&.icon-folder-close ~ label:after,
	&.icon-folder-close + .skin:after {
		content: $folder-close;
	}

	&.icon-folder-open ~ label:after,
	&.icon-folder-open + .skin:after {
		content: $folder-open;
	}

	&.icon-resize-vertical ~ label:after,
	&.icon-resize-vertical + .skin:after {
		content: $resize-vertical;
	}

	&.icon-resize-horizontal ~ label:after,
	&.icon-resize-horizontal + .skin:after {
		content: $resize-horizontal;
	}

	&.icon-bar-chart ~ label:after,
	&.icon-bar-chart + .skin:after {
		content: $bar-chart;
	}

	&.icon-twitter-sign ~ label:after,
	&.icon-twitter-sign + .skin:after {
		content: $twitter-sign;
	}

	&.icon-facebook-sign ~ label:after,
	&.icon-facebook-sign + .skin:after {
		content: $facebook-sign;
	}

	&.icon-camera-retro ~ label:after,
	&.icon-camera-retro + .skin:after {
		content: $camera-retro;
	}

	&.icon-key ~ label:after,
	&.icon-key + .skin:after {
		content: $key;
	}

	&.icon-cogs ~ label:after,
	&.icon-cogs + .skin:after {
		content: $cogs;
	}

	&.icon-comments ~ label:after,
	&.icon-comments + .skin:after {
		content: $comments;
	}

	&.icon-thumbs-up-alt ~ label:after,
	&.icon-thumbs-up-alt + .skin:after {
		content: $thumbs-up-alt;
	}

	&.icon-thumbs-down-alt ~ label:after,
	&.icon-thumbs-down-alt + .skin:after {
		content: $thumbs-down-alt;
	}

	&.icon-star-half ~ label:after,
	&.icon-star-half + .skin:after {
		content: $star-half;
	}

	&.icon-heart-empty ~ label:after,
	&.icon-heart-empty + .skin:after {
		content: $heart-empty;
	}

	&.icon-signout ~ label:after,
	&.icon-signout + .skin:after {
		content: $signout;
	}

	&.icon-linkedin-sign ~ label:after,
	&.icon-linkedin-sign + .skin:after {
		content: $linkedin-sign;
	}

	&.icon-pushpin ~ label:after,
	&.icon-pushpin + .skin:after {
		content: $pushpin;
	}

	&.icon-external-link ~ label:after,
	&.icon-external-link + .skin:after {
		content: $external-link;
	}

	&.icon-signin ~ label:after,
	&.icon-signin + .skin:after {
		content: $signin;
	}

	&.icon-trophy ~ label:after,
	&.icon-trophy + .skin:after {
		content: $trophy;
	}

	&.icon-github-sign ~ label:after,
	&.icon-github-sign + .skin:after {
		content: $github-sign;
	}

	&.icon-upload-alt ~ label:after,
	&.icon-upload-alt + .skin:after {
		content: $upload-alt;
	}

	&.icon-lemon ~ label:after,
	&.icon-lemon + .skin:after {
		content: $lemon;
	}

	&.icon-phone ~ label:after,
	&.icon-phone + .skin:after {
		content: $phone;
	}

	&.icon-check-empty ~ label:after,
	&.icon-check-empty + .skin:after {
		content: $check-empty;
	}

	&.icon-bookmark-empty ~ label:after,
	&.icon-bookmark-empty + .skin:after {
		content: $bookmark-empty;
	}

	&.icon-phone-sign ~ label:after,
	&.icon-phone-sign + .skin:after {
		content: $phone-sign;
	}

	&.icon-twitter ~ label:after,
	&.icon-twitter + .skin:after {
		content: $twitter;
	}

	&.icon-facebook ~ label:after,
	&.icon-facebook + .skin:after {
		content: $facebook;
	}

	&.icon-github ~ label:after,
	&.icon-github + .skin:after {
		content: $github;
	}

	&.icon-unlock ~ label:after,
	&.icon-unlock + .skin:after {
		content: $unlock;
	}

	&.icon-credit-card ~ label:after,
	&.icon-credit-card + .skin:after {
		content: $credit-card;
	}

	&.icon-rss ~ label:after,
	&.icon-rss + .skin:after {
		content: $rss;
	}

	&.icon-hdd ~ label:after,
	&.icon-hdd + .skin:after {
		content: $hdd;
	}

	&.icon-bullhorn ~ label:after,
	&.icon-bullhorn + .skin:after {
		content: $bullhorn;
	}

	&.icon-bell ~ label:after,
	&.icon-bell + .skin:after {
		content: $bell;
	}

	&.icon-certificate ~ label:after,
	&.icon-certificate + .skin:after {
		content: $certificate;
	}

	&.icon-hand-right ~ label:after,
	&.icon-hand-right + .skin:after {
		content: $hand-right;
	}

	&.icon-hand-left ~ label:after,
	&.icon-hand-left + .skin:after {
		content: $hand-left;
	}

	&.icon-hand-up ~ label:after,
	&.icon-hand-up + .skin:after {
		content: $hand-up;
	}

	&.icon-hand-down ~ label:after,
	&.icon-hand-down + .skin:after {
		content: $hand-down;
	}

	&.icon-circle-arrow-left ~ label:after,
	&.icon-circle-arrow-left + .skin:after {
		content: $circle-arrow-left;
	}

	&.icon-circle-arrow-right ~ label:after,
	&.icon-circle-arrow-right + .skin:after {
		content: $circle-arrow-right;
	}

	&.icon-circle-arrow-up ~ label:after,
	&.icon-circle-arrow-up + .skin:after {
		content: $circle-arrow-up;
	}

	&.icon-circle-arrow-down ~ label:after,
	&.icon-circle-arrow-down + .skin:after {
		content: $circle-arrow-down;
	}

	&.icon-globe ~ label:after,
	&.icon-globe + .skin:after {
		content: $globe;
	}

	&.icon-wrench ~ label:after,
	&.icon-wrench + .skin:after {
		content: $wrench;
	}

	&.icon-tasks ~ label:after,
	&.icon-tasks + .skin:after {
		content: $tasks;
	}

	&.icon-filter ~ label:after,
	&.icon-filter + .skin:after {
		content: $filter;
	}

	&.icon-briefcase ~ label:after,
	&.icon-briefcase + .skin:after {
		content: $briefcase;
	}

	&.icon-fullscreen ~ label:after,
	&.icon-fullscreen + .skin:after {
		content: $fullscreen;
	}

	&.icon-group ~ label:after,
	&.icon-group + .skin:after {
		content: $group;
	}

	&.icon-link ~ label:after,
	&.icon-link + .skin:after {
		content: $link;
	}

	&.icon-cloud ~ label:after,
	&.icon-cloud + .skin:after {
		content: $cloud;
	}

	&.icon-beaker ~ label:after,
	&.icon-beaker + .skin:after {
		content: $beaker;
	}

	&.icon-cut ~ label:after,
	&.icon-cut + .skin:after {
		content: $cut;
	}

	&.icon-copy ~ label:after,
	&.icon-copy + .skin:after {
		content: $copy;
	}

	&.icon-paper-clip ~ label:after,
	&.icon-paper-clip + .skin:after {
		content: $paper-clip;
	}

	&.icon-save ~ label:after,
	&.icon-save + .skin:after {
		content: $save;
	}

	&.icon-sign-blank ~ label:after,
	&.icon-sign-blank + .skin:after {
		content: $sign-blank;
	}

	&.icon-reorder ~ label:after,
	&.icon-reorder + .skin:after {
		content: $reorder;
	}

	&.icon-list-ul ~ label:after,
	&.icon-list-ul + .skin:after {
		content: $list-ul;
	}

	&.icon-list-ol ~ label:after,
	&.icon-list-ol + .skin:after {
		content: $list-ol;
	}

	&.icon-strikethrough ~ label:after,
	&.icon-strikethrough + .skin:after {
		content: $strikethrough;
	}

	&.icon-underline ~ label:after,
	&.icon-underline + .skin:after {
		content: $underline;
	}

	&.icon-table ~ label:after,
	&.icon-table + .skin:after {
		content: $table;
	}

	&.icon-magic ~ label:after,
	&.icon-magic + .skin:after {
		content: $magic;
	}

	&.icon-truck ~ label:after,
	&.icon-truck + .skin:after {
		content: $truck;
	}

	&.icon-pinterest ~ label:after,
	&.icon-pinterest + .skin:after {
		content: $pinterest;
	}

	&.icon-pinterest-sign ~ label:after,
	&.icon-pinterest-sign + .skin:after {
		content: $pinterest-sign;
	}

	&.icon-google-plus-sign ~ label:after,
	&.icon-google-plus-sign + .skin:after {
		content: $google-plus-sign;
	}

	&.icon-google-plus ~ label:after,
	&.icon-google-plus + .skin:after {
		content: $google-plus;
	}

	&.icon-money ~ label:after,
	&.icon-money + .skin:after {
		content: $money;
	}

	&.icon-caret-down ~ label:after,
	&.icon-caret-down + .skin:after {
		content: $caret-down;
	}

	&.icon-caret-up ~ label:after,
	&.icon-caret-up + .skin:after {
		content: $caret-up;
	}

	&.icon-caret-left ~ label:after,
	&.icon-caret-left + .skin:after {
		content: $caret-left;
	}

	&.icon-caret-right ~ label:after,
	&.icon-caret-right + .skin:after {
		content: $caret-right;
	}

	&.icon-columns ~ label:after,
	&.icon-columns + .skin:after {
		content: $columns;
	}

	&.icon-sort ~ label:after,
	&.icon-sort + .skin:after {
		content: $sort;
	}

	&.icon-sort-down ~ label:after,
	&.icon-sort-down + .skin:after {
		content: $sort-down;
	}

	&.icon-sort-up ~ label:after,
	&.icon-sort-up + .skin:after {
		content: $sort-up;
	}

	&.icon-envelope ~ label:after,
	&.icon-envelope + .skin:after {
		content: $envelope;
	}

	&.icon-linkedin ~ label:after,
	&.icon-linkedin + .skin:after {
		content: $linkedin;
	}

	&.icon-undo ~ label:after,
	&.icon-undo + .skin:after {
		content: $undo;
	}

	&.icon-legal ~ label:after,
	&.icon-legal + .skin:after {
		content: $legal;
	}

	&.icon-dashboard ~ label:after,
	&.icon-dashboard + .skin:after {
		content: $dashboard;
	}

	&.icon-comment-alt ~ label:after,
	&.icon-comment-alt + .skin:after {
		content: $comment-alt;
	}

	&.icon-comments-alt ~ label:after,
	&.icon-comments-alt + .skin:after {
		content: $comments-alt;
	}

	&.icon-bolt ~ label:after,
	&.icon-bolt + .skin:after {
		content: $bolt;
	}

	&.icon-sitemap ~ label:after,
	&.icon-sitemap + .skin:after {
		content: $sitemap;
	}

	&.icon-umbrella ~ label:after,
	&.icon-umbrella + .skin:after {
		content: $umbrella;
	}

	&.icon-paste ~ label:after,
	&.icon-paste + .skin:after {
		content: $paste;
	}

	&.icon-lightbulb ~ label:after,
	&.icon-lightbulb + .skin:after {
		content: $lightbulb;
	}

	&.icon-exchange ~ label:after,
	&.icon-exchange + .skin:after {
		content: $exchange;
	}

	&.icon-cloud-download ~ label:after,
	&.icon-cloud-download + .skin:after {
		content: $cloud-download;
	}

	&.icon-cloud-upload ~ label:after,
	&.icon-cloud-upload + .skin:after {
		content: $cloud-upload;
	}

	&.icon-user-md ~ label:after,
	&.icon-user-md + .skin:after {
		content: $user-md;
	}

	&.icon-stethoscope ~ label:after,
	&.icon-stethoscope + .skin:after {
		content: $stethoscope;
	}

	&.icon-suitcase ~ label:after,
	&.icon-suitcase + .skin:after {
		content: $suitcase;
	}

	&.icon-bell-alt ~ label:after,
	&.icon-bell-alt + .skin:after {
		content: $bell-alt;
	}

	&.icon-coffee ~ label:after,
	&.icon-coffee + .skin:after {
		content: $coffee;
	}

	&.icon-food ~ label:after,
	&.icon-food + .skin:after {
		content: $food;
	}

	&.icon-file-text-alt ~ label:after,
	&.icon-file-text-alt + .skin:after {
		content: $file-text-alt;
	}

	&.icon-building ~ label:after,
	&.icon-building + .skin:after {
		content: $building;
	}

	&.icon-hospital ~ label:after,
	&.icon-hospital + .skin:after {
		content: $hospital;
	}

	&.icon-ambulance ~ label:after,
	&.icon-ambulance + .skin:after {
		content: $ambulance;
	}

	&.icon-medkit ~ label:after,
	&.icon-medkit + .skin:after {
		content: $medkit;
	}

	&.icon-fighter-jet ~ label:after,
	&.icon-fighter-jet + .skin:after {
		content: $fighter-jet;
	}

	&.icon-beer ~ label:after,
	&.icon-beer + .skin:after {
		content: $beer;
	}

	&.icon-h-sign ~ label:after,
	&.icon-h-sign + .skin:after {
		content: $h-sign;
	}

	&.icon-plus-sign-alt ~ label:after,
	&.icon-plus-sign-alt + .skin:after {
		content: $plus-sign-alt;
	}

	&.icon-double-angle-left ~ label:after,
	&.icon-double-angle-left + .skin:after {
		content: $double-angle-left;
	}

	&.icon-double-angle-right ~ label:after,
	&.icon-double-angle-right + .skin:after {
		content: $double-angle-right;
	}

	&.icon-double-angle-up ~ label:after,
	&.icon-double-angle-up + .skin:after {
		content: $double-angle-up;
	}

	&.icon-double-angle-down ~ label:after,
	&.icon-double-angle-down + .skin:after {
		content: $double-angle-down;
	}

	&.icon-angle-left ~ label:after,
	&.icon-angle-left + .skin:after {
		content: $angle-left;
	}

	&.icon-angle-right ~ label:after,
	&.icon-angle-right + .skin:after {
		content: $angle-right;
	}

	&.icon-angle-up ~ label:after,
	&.icon-angle-up + .skin:after {
		content: $angle-up;
	}

	&.icon-angle-down ~ label:after,
	&.icon-angle-down + .skin:after {
		content: $angle-down;
	}

	&.icon-desktop ~ label:after,
	&.icon-desktop + .skin:after {
		content: $desktop;
	}

	&.icon-laptop ~ label:after,
	&.icon-laptop + .skin:after {
		content: $laptop;
	}

	&.icon-tablet ~ label:after,
	&.icon-tablet + .skin:after {
		content: $tablet;
	}

	&.icon-mobile-phone ~ label:after,
	&.icon-mobile-phone + .skin:after {
		content: $mobile-phone;
	}

	&.icon-circle-blank ~ label:after,
	&.icon-circle-blank + .skin:after {
		content: $circle-blank;
	}

	&.icon-quote-left ~ label:after,
	&.icon-quote-left + .skin:after {
		content: $quote-left;
	}

	&.icon-quote-right ~ label:after,
	&.icon-quote-right + .skin:after {
		content: $quote-right;
	}

	&.icon-spinner ~ label:after,
	&.icon-spinner + .skin:after {
		content: $spinner;
	}

	&.icon-circle ~ label:after,
	&.icon-circle + .skin:after {
		content: $circle;
	}

	&.icon-reply ~ label:after,
	&.icon-reply + .skin:after {
		content: $reply;
	}

	&.icon-github-alt ~ label:after,
	&.icon-github-alt + .skin:after {
		content: $github-alt;
	}

	&.icon-folder-close-alt ~ label:after,
	&.icon-folder-close-alt + .skin:after {
		content: $folder-close-alt;
	}

	&.icon-folder-open-alt ~ label:after,
	&.icon-folder-open-alt + .skin:after {
		content: $folder-open-alt;
	}

	&.icon-expand-alt ~ label:after,
	&.icon-expand-alt + .skin:after {
		content: $expand-alt;
	}

	&.icon-collapse-alt ~ label:after,
	&.icon-collapse-alt + .skin:after {
		content: $collapse-alt;
	}

	&.icon-smile ~ label:after,
	&.icon-smile + .skin:after {
		content: $smile;
	}

	&.icon-frown ~ label:after,
	&.icon-frown + .skin:after {
		content: $frown;
	}

	&.icon-meh ~ label:after,
	&.icon-meh + .skin:after {
		content: $meh;
	}

	&.icon-gamepad ~ label:after,
	&.icon-gamepad + .skin:after {
		content: $gamepad;
	}

	&.icon-keyboard ~ label:after,
	&.icon-keyboard + .skin:after {
		content: $keyboard;
	}

	&.icon-flag-alt ~ label:after,
	&.icon-flag-alt + .skin:after {
		content: $flag-alt;
	}

	&.icon-flag-checkered ~ label:after,
	&.icon-flag-checkered + .skin:after {
		content: $flag-checkered;
	}

	&.icon-terminal ~ label:after,
	&.icon-terminal + .skin:after {
		content: $terminal;
	}

	&.icon-code ~ label:after,
	&.icon-code + .skin:after {
		content: $code;
	}

	&.icon-reply-all ~ label:after,
	&.icon-reply-all + .skin:after {
		content: $reply-all;
	}

	&.icon-mail-reply-all ~ label:after,
	&.icon-mail-reply-all + .skin:after {
		content: $mail-reply-all;
	}

	&.icon-star-half-empty ~ label:after,
	&.icon-star-half-empty + .skin:after {
		content: $star-half-empty;
	}

	&.icon-location-arrow ~ label:after,
	&.icon-location-arrow + .skin:after {
		content: $location-arrow;
	}

	&.icon-crop ~ label:after,
	&.icon-crop + .skin:after {
		content: $crop;
	}

	&.icon-code-fork ~ label:after,
	&.icon-code-fork + .skin:after {
		content: $code-fork;
	}

	&.icon-unlink ~ label:after,
	&.icon-unlink + .skin:after {
		content: $unlink;
	}

	&.icon-question ~ label:after,
	&.icon-question + .skin:after {
		content: $question;
	}

	&.icon-info ~ label:after,
	&.icon-info + .skin:after {
		content: $info;
	}

	&.icon-exclamation ~ label:after,
	&.icon-exclamation + .skin:after {
		content: $exclamation;
	}

	&.icon-superscript ~ label:after,
	&.icon-superscript + .skin:after {
		content: $superscript;
	}

	&.icon-subscript ~ label:after,
	&.icon-subscript + .skin:after {
		content: $subscript;
	}

	&.icon-eraser ~ label:after,
	&.icon-eraser + .skin:after {
		content: $eraser;
	}

	&.icon-puzzle-piece ~ label:after,
	&.icon-puzzle-piece + .skin:after {
		content: $puzzle-piece;
	}

	&.icon-microphone ~ label:after,
	&.icon-microphone + .skin:after {
		content: $microphone;
	}

	&.icon-microphone-off ~ label:after,
	&.icon-microphone-off + .skin:after {
		content: $microphone-off;
	}

	&.icon-shield ~ label:after,
	&.icon-shield + .skin:after {
		content: $shield;
	}

	&.icon-calendar-empty ~ label:after,
	&.icon-calendar-empty + .skin:after {
		content: $calendar-empty;
	}

	&.icon-fire-extinguisher ~ label:after,
	&.icon-fire-extinguisher + .skin:after {
		content: $fire-extinguisher;
	}

	&.icon-rocket ~ label:after,
	&.icon-rocket + .skin:after {
		content: $rocket;
	}

	&.icon-maxcdn ~ label:after,
	&.icon-maxcdn + .skin:after {
		content: $maxcdn;
	}

	&.icon-chevron-sign-left ~ label:after,
	&.icon-chevron-sign-left + .skin:after {
		content: $chevron-sign-left;
	}

	&.icon-chevron-sign-right ~ label:after,
	&.icon-chevron-sign-right + .skin:after {
		content: $chevron-sign-right;
	}

	&.icon-chevron-sign-up ~ label:after,
	&.icon-chevron-sign-up + .skin:after {
		content: $chevron-sign-up;
	}

	&.icon-chevron-sign-down ~ label:after,
	&.icon-chevron-sign-down + .skin:after {
		content: $chevron-sign-down;
	}

	&.icon-html5 ~ label:after,
	&.icon-html5 + .skin:after {
		content: $html5;
	}

	&.icon-css3 ~ label:after,
	&.icon-css3 + .skin:after {
		content: $css3;
	}

	&.icon-anchor ~ label:after,
	&.icon-anchor + .skin:after {
		content: $anchor;
	}

	&.icon-unlock-alt ~ label:after,
	&.icon-unlock-alt + .skin:after {
		content: $unlock-alt;
	}

	&.icon-bullseye ~ label:after,
	&.icon-bullseye + .skin:after {
		content: $bullseye;
	}

	&.icon-ellipsis-horizontal ~ label:after,
	&.icon-ellipsis-horizontal + .skin:after {
		content: $ellipsis-horizontal;
	}

	&.icon-ellipsis-vertical ~ label:after,
	&.icon-ellipsis-vertical + .skin:after {
		content: $ellipsis-vertical;
	}

	&.icon-rss-sign ~ label:after,
	&.icon-rss-sign + .skin:after {
		content: $rss-sign;
	}

	&.icon-play-sign ~ label:after,
	&.icon-play-sign + .skin:after {
		content: $play-sign;
	}

	&.icon-ticket ~ label:after,
	&.icon-ticket + .skin:after {
		content: $ticket;
	}

	&.icon-minus-sign-alt ~ label:after,
	&.icon-minus-sign-alt + .skin:after {
		content: $minus-sign-alt;
	}

	&.icon-check-minus ~ label:after,
	&.icon-check-minus + .skin:after {
		content: $check-minus;
	}

	&.icon-level-up ~ label:after,
	&.icon-level-up + .skin:after {
		content: $level-up;
	}

	&.icon-level-down ~ label:after,
	&.icon-level-down + .skin:after {
		content: $level-down;
	}

	&.icon-check-sign ~ label:after,
	&.icon-check-sign + .skin:after {
		content: $check-sign;
	}

	&.icon-edit-sign ~ label:after,
	&.icon-edit-sign + .skin:after {
		content: $edit-sign;
	}

	&.icon-external-link-sign ~ label:after,
	&.icon-external-link-sign + .skin:after {
		content: $external-link-sign;
	}

	&.icon-share-sign ~ label:after,
	&.icon-share-sign + .skin:after {
		content: $share-sign;
	}

	&.icon-compass ~ label:after,
	&.icon-compass + .skin:after {
		content: $compass;
	}

	&.icon-collapse ~ label:after,
	&.icon-collapse + .skin:after {
		content: $collapse;
	}

	&.icon-collapse-top ~ label:after,
	&.icon-collapse-top + .skin:after {
		content: $collapse-top;
	}

	&.icon-expand ~ label:after,
	&.icon-expand + .skin:after {
		content: $expand;
	}

	&.icon-eur ~ label:after,
	&.icon-eur + .skin:after {
		content: $eur;
	}

	&.icon-gbp ~ label:after,
	&.icon-gbp + .skin:after {
		content: $gbp;
	}

	&.icon-usd ~ label:after,
	&.icon-usd + .skin:after {
		content: $usd;
	}

	&.icon-inr ~ label:after,
	&.icon-inr + .skin:after {
		content: $inr;
	}

	&.icon-jpy ~ label:after,
	&.icon-jpy + .skin:after {
		content: $jpy;
	}

	&.icon-cny ~ label:after,
	&.icon-cny + .skin:after {
		content: $cny;
	}

	&.icon-krw ~ label:after,
	&.icon-krw + .skin:after {
		content: $krw;
	}

	&.icon-btc ~ label:after,
	&.icon-btc + .skin:after {
		content: $btc;
	}

	&.icon-file ~ label:after,
	&.icon-file + .skin:after {
		content: $file;
	}

	&.icon-file-text ~ label:after,
	&.icon-file-text + .skin:after {
		content: $file-text;
	}

	&.icon-sort-by-alphabet ~ label:after,
	&.icon-sort-by-alphabet + .skin:after {
		content: $sort-by-alphabet;
	}

	&.icon-sort-by-alphabet-alt ~ label:after,
	&.icon-sort-by-alphabet-alt + .skin:after {
		content: $sort-by-alphabet-alt;
	}

	&.icon-sort-by-attributes ~ label:after,
	&.icon-sort-by-attributes + .skin:after {
		content: $sort-by-attributes;
	}

	&.icon-sort-by-attributes-alt ~ label:after,
	&.icon-sort-by-attributes-alt + .skin:after {
		content: $sort-by-attributes-alt;
	}

	&.icon-sort-by-order ~ label:after,
	&.icon-sort-by-order + .skin:after {
		content: $sort-by-order;
	}

	&.icon-sort-by-order-alt ~ label:after,
	&.icon-sort-by-order-alt + .skin:after {
		content: $sort-by-order-alt;
	}

	&.icon-thumbs-up ~ label:after,
	&.icon-thumbs-up + .skin:after {
		content: $thumbs-up;
	}

	&.icon-thumbs-down ~ label:after,
	&.icon-thumbs-down + .skin:after {
		content: $thumbs-down;
	}

	&.icon-youtube-sign ~ label:after,
	&.icon-youtube-sign + .skin:after {
		content: $youtube-sign;
	}

	&.icon-youtube ~ label:after,
	&.icon-youtube + .skin:after {
		content: $youtube;
	}

	&.icon-xing ~ label:after,
	&.icon-xing + .skin:after {
		content: $xing;
	}

	&.icon-xing-sign ~ label:after,
	&.icon-xing-sign + .skin:after {
		content: $xing-sign;
	}

	&.icon-youtube-play ~ label:after,
	&.icon-youtube-play + .skin:after {
		content: $youtube-play;
	}

	&.icon-dropbox ~ label:after,
	&.icon-dropbox + .skin:after {
		content: $dropbox;
	}

	&.icon-stackexchange ~ label:after,
	&.icon-stackexchange + .skin:after {
		content: $stackexchange;
	}

	&.icon-instagram ~ label:after,
	&.icon-instagram + .skin:after {
		content: $instagram;
	}

	&.icon-flickr ~ label:after,
	&.icon-flickr + .skin:after {
		content: $flickr;
	}

	&.icon-adn ~ label:after,
	&.icon-adn + .skin:after {
		content: $adn;
	}

	&.icon-bitbucket ~ label:after,
	&.icon-bitbucket + .skin:after {
		content: $bitbucket;
	}

	&.icon-bitbucket-sign ~ label:after,
	&.icon-bitbucket-sign + .skin:after {
		content: $bitbucket-sign;
	}

	&.icon-tumblr ~ label:after,
	&.icon-tumblr + .skin:after {
		content: $tumblr;
	}

	&.icon-tumblr-sign ~ label:after,
	&.icon-tumblr-sign + .skin:after {
		content: $tumblr-sign;
	}

	&.icon-long-arrow-down ~ label:after,
	&.icon-long-arrow-down + .skin:after {
		content: $long-arrow-down;
	}

	&.icon-long-arrow-up ~ label:after,
	&.icon-long-arrow-up + .skin:after {
		content: $long-arrow-up;
	}

	&.icon-long-arrow-left ~ label:after,
	&.icon-long-arrow-left + .skin:after {
		content: $long-arrow-left;
	}

	&.icon-long-arrow-right ~ label:after,
	&.icon-long-arrow-right + .skin:after {
		content: $long-arrow-right;
	}

	&.icon-apple ~ label:after,
	&.icon-apple + .skin:after {
		content: $apple;
	}

	&.icon-windows ~ label:after,
	&.icon-windows + .skin:after {
		content: $windows;
	}

	&.icon-android ~ label:after,
	&.icon-android + .skin:after {
		content: $android;
	}

	&.icon-linux ~ label:after,
	&.icon-linux + .skin:after {
		content: $linux;
	}

	&.icon-dribbble ~ label:after,
	&.icon-dribbble + .skin:after {
		content: $dribbble;
	}

	&.icon-skype ~ label:after,
	&.icon-skype + .skin:after {
		content: $skype;
	}

	&.icon-foursquare ~ label:after,
	&.icon-foursquare + .skin:after {
		content: $foursquare;
	}

	&.icon-trello ~ label:after,
	&.icon-trello + .skin:after {
		content: $trello;
	}

	&.icon-female ~ label:after,
	&.icon-female + .skin:after {
		content: $female;
	}

	&.icon-male ~ label:after,
	&.icon-male + .skin:after {
		content: $male;
	}

	&.icon-gittip ~ label:after,
	&.icon-gittip + .skin:after {
		content: $gittip;
	}

	&.icon-sun ~ label:after,
	&.icon-sun + .skin:after {
		content: $sun;
	}

	&.icon-moon ~ label:after,
	&.icon-moon + .skin:after {
		content: $moon;
	}

	&.icon-archive ~ label:after,
	&.icon-archive + .skin:after {
		content: $archive;
	}

	&.icon-bug ~ label:after,
	&.icon-bug + .skin:after {
		content: $bug;
	}

	&.icon-vk ~ label:after,
	&.icon-vk + .skin:after {
		content: $vk;
	}

	&.icon-weibo ~ label:after,
	&.icon-weibo + .skin:after {
		content: $weibo;
	}

	&.icon-renren ~ label:after,
	&.icon-renren + .skin:after {
		content: $renren;
	}
}

.switch {
	cursor: pointer;
	position: relative;

	@include switch-variant-alt();
	@include user-select(none);

	input[type="checkbox"] {
		opacity: 0;
		position: absolute;

		+ .skin {
			display: inline-block;
			width: 50px;

			&:after, &:before {
				border-radius: 3px;
				content: '';
				display: block;
				height: 23px;

				@include position(absolute, 0 null 0 0);
				@include transition(all 100ms ease-in);

				width: 50px;
			}
		}

		&:empty {
			~ .off {
				display: inline;
			}

			~ .on {
				display: none;
			}

			+ .skin {
				&:after {
					border-radius: 3px 0 0 3px;
					bottom: 0em;
					content: '';
					margin-left: 0em;
					top: 0em;
					width: 26px;
				}
			}
		}

		&:checked {
			~ .off {
				display: none;
			}

			~ .on {
				display: inline;
			}

			+ .skin {
				&:after {
					border-radius: 0 3px 3px 0;
					margin-left: 24px;
				}
			}
		}
	}
}

.switch-primary {
	@include switch-variant-alt($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.switch-success {
	@include switch-variant-alt($btn-success-color, $btn-success-bg, $btn-success-border);
}

.switch-info {
	@include switch-variant-alt($btn-info-color, $btn-info-bg, $btn-info-border);
}

.switch-warning {
	@include switch-variant-alt($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

.switch-danger {
	@include switch-variant-alt($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}