$output-bourbon-deprecation-warnings: false;

$screen-sm: 900px;

$content-max-width: 960px;

$sidebar-width: 376px;

$brand-dark: #B3472D;

$brand-dark-active: #B16D50;
$brand-dark-hover: #C7A47A;
$brand-dark-text: #E0B5AB;
$brand-darker: #B3472D;
$brand-darker-text: $brand-darker;
$brand-lighten: #FBF8F5;

$brand-border-color: #E1E2E8;
$content-header-bg: #F1F3F5;

$base-size: 1.5rem;

// Color

$brand-default: #B3472D !default; // Atlas

$brand-primary: #B16D50 !default;

$text-color: #000 !default;

// Font

$headings-font-weight: 700;

$font-size-base: $base-size / 1.6;
$font-size-large: $base-size / 1.4;
$font-size-small: $base-size / 1.8;

$font-size-desktop-base: $base-size / 1.6;
$font-size-desktop-large: $base-size / 1.4;
$font-size-desktop-small: $base-size / 1.8;

$font-size-h1: $base-size * 1.5;
$font-size-h2: $base-size * 1.4;
$font-size-h3: $base-size * 1.3;
$font-size-h4: $base-size * 1.2;
$font-size-h5: $base-size * 1.1;
$font-size-h6: $base-size;

$font-size-desktop-h1: $base-size * 1.5;
$font-size-desktop-h2: $base-size * 1.4;
$font-size-desktop-h3: $base-size * 1.3;
$font-size-desktop-h4: $base-size * 1.2;
$font-size-desktop-h5: $base-size * 1.1;
$font-size-desktop-h6: $base-size;

$line-height-base: 1.6;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Landing button

$btn-landing-bg: #FFF;
$btn-landing-border: #CCC;
$btn-landing-border-radius: 8px;
$btn-landing-border-width: 1px !default;
$btn-landing-color: $text-color;
$btn-landing-hover-border: $brand-primary !default;
$btn-landing-hover-color: $btn-landing-color !default;

$btn-landing-font-size: $base-size / 1.2;
$btn-landing-padding: 18px 24px;

// Breakpoints

$screen-xs: 768px;
$screen-md: 991px;

$grid-float-breakpoint: $screen-xs;
