.btn-toolbar {
	.btn-group,
	.input-group {
		margin-bottom: $btn-toolbar-spacer-y;
		margin-top: $btn-toolbar-spacer-y;

		&:not(:last-child) {
			margin-right: $btn-toolbar-spacer-x;
		}
	}
}

.btn-group-lg {
	.btn-group > .btn {
		@extend .btn-lg;
	}

	.btn-monospaced {
		padding: 0;
	}
}

.btn-group-sm {
	.btn-group > .btn {
		@extend .btn-sm;
	}

	.btn-monospaced {
		padding: 0;
	}
}