/* -------- Glyphicons -------- */

.glyphicon-class {
	display: block;
}

.glyphicons li {
	float: left;
	height: 110px;
	text-align: center;
	width: 50%;
}

.glyphicons-list {
	list-style: none;
	padding-left: 0;
}

@media (min-width: $screen-xs-min) {
	.glyphicons li {
		width: 25%;
	}
}

@media (min-width: $screen-sm-min) {
	.glyphicons li {
		width: 10%;
	}
}