.nav-justified, .nav-stacked {
	.dropdown-menu {
		width: 100%;
	}
}

.tab-group {
	.tab-content {
		border: 1px solid $nav-tabs-border-color;
		margin-top: -1px;
		padding: 15px;
	}
}

.tab-group-bottom {
	.nav-tabs {
		border-bottom-width: 0;
		border-top: 1px solid $nav-tabs-border-color;
		margin-top: -1px;

		.active > a {
			&, &:focus, &:hover {
				border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
			}
		}

		> li {
			margin-top: -1px;

			> a {
				border-radius: 0 0 $border-radius-base $border-radius-base;

				&:focus, &:hover {
					border-color: $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
				}
			}
		}
	}

	.tab-content {
		border: 1px solid $nav-tabs-border-color;
		margin-top: 0;
		padding: 15px;
	}
}

.tab-group-left, .tab-group-right {
	.nav-tabs {
		display: block;
	}

	.tab-content {
		display: block;
	}
}

.tab-group-right {
	.nav-tabs {
		border-bottom-width: 0;
		border-top: 1px solid transparent;
		margin-top: -1px;

		.active > a {
			&, &:focus, &:hover {
				border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
			}
		}

		> li {
			margin-top: -1px;

			> a {
				border-radius: 0 0 $border-radius-base $border-radius-base;

				&:focus, &:hover {
					border-color: $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
				}
			}
		}
	}
}

@media (min-width: $screen-sm) {
	.tab-group-left,
	.tab-group-right {
		.nav-tabs {
			border-bottom-width: 0;
			display: table-cell;
			vertical-align: top;

			> li {
				float: none;
				margin-bottom: 0;

				> a {
					display: block;
					margin-bottom: 2px;
					margin-right: 0;
					max-width: 10em;
					word-wrap: break-word;
				}
			}
		}

		.tab-content {
			display: table-cell;
			margin-top: 0;
			width: 100%;
		}
	}

	.tab-group-left {
		.nav-tabs {
			border-right: 1px solid $nav-tabs-border-color;

			.active > a {
				&, &:focus, &:hover {
					border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
				}
			}

			> li {
				margin-right: -1px;

				> a {
					border-radius: $border-radius-base 0 0 $border-radius-base;

					&:focus, &:hover {
						border-color: $nav-tabs-link-hover-border-color $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
					}
				}
			}
		}

		.tab-content {
			border: 1px solid $nav-tabs-border-color;
			border-left-width: 0;
		}
	}

	.tab-group-right {
		.nav-tabs {
			border-left: 1px solid $nav-tabs-border-color;

			.active > a {
				&, &:focus, &:hover {
					border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
				}
			}

			> li {
				margin-left: -1px;

				> a {
					border-radius: 0 $border-radius-base $border-radius-base 0;

					&:focus, &:hover {
						border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
					}
				}
			}
		}

		.tab-content {
			border: 1px solid $nav-tabs-border-color;
			border-right-width: 0;
		}
	}
}