/* Panel Heading Align */

// .panel.panel-heading-align {
// 	background-color: transparent;
// 	overflow: hidden;

// 	.panel-body {
// 		background-color: #FFF;
// 	}

// 	.panel-footer, .panel-heading {
// 		display: table;
// 		width: 100%;

// 		> div {
// 			display: table-cell;
// 			text-align: center;
// 			vertical-align: middle;
// 			width: 1%;

// 			&:first-child {
// 				text-align: left;
// 			}

// 			&:last-child {
// 				text-align: right;
// 			}
// 		}
// 	}
// }

/* Panels */

.no-borders .panel {
	border-width: 0;
}

.panel {
	&.no-borders {
		border-width: 0;
	}

	.panel-heading, .panel-body, .panel-footer {
		position: relative;
	}

	.panel-heading:first-child {
		@include border-top-left-radius(3px);
		@include border-top-right-radius(3px);
	}
}

.navbar-danger, .panel-danger > .panel-footer {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}

.navbar-info, .panel-info > .panel-footer {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #31708F;
}

.navbar-primary, .panel-primary > .panel-footer {
	background-color: #428BCA;
	border-color: #428BCA;
	color: #FFF;
}

.navbar-success, .panel-success > .panel-footer {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}

.navbar-warning, .panel-warning > .panel-footer {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
}