body {
	-webkit-font-smoothing: antialiased;
}

header.row {
	margin: 0;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section.row {
	margin-bottom: 45px;
}

.box-copy > h4 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.page-title {
	font-weight: bold;
	margin-bottom: 25px;

	small {
		display: block;
	}
}

.row-spacing {
	margin-bottom: 20px;
}

#headerTopBar {
	background: #0058BA url(../images/back_decoration_nav.png) no-repeat 100% 0;
	position: relative;

	a {
		color: #FFF;
	}

	.title {
		float: left;
		margin-bottom: 14px;
		margin-top: 14px;
	}

	.navbar-toggle {
		float: left;
		margin-left: -10px;

		.icon-bar {
			background-color: #FFF;
		}
	}

	.uxgl-site-config {
		position: absolute;
		right: 15px;
		top: 5px;

		@media screen and (min-width: 768px) {
			top: 3px;
		}

		.dropdown-menu {
			width: 240px;

			a {
				color: initial;
			}
		}
	}
}

.animated-toggle.navbar-toggle .icon-bar {
	position: relative;
	top: 0;

	@include transition-property(background, opacity, top, transform);
	@include transition-duration(0.2s);
	@include transition-timing-function($ease-in-out-circ);
	@include transition-delay(0s 0s 0.2s 0s);
}

#mainNav > .sidenav-menu {
	padding-left: 3px;
	padding-right: 3px;
}

.main-nav-open {
	.animated-toggle.navbar-toggle {
		.icon-bar:nth-of-type(even) {
			top: 6px;

			@include transform(rotate(45deg));
			@include transition-delay(0s 0s 0s 0.2s);
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;

			@include transform(rotate(-45deg));
		}

		.icon-bar:nth-of-type(odd) {
			background-color: transparent;
			opacity: 0;
		}
	}
}


#imageShapes img {
	display: block;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
	width: 100%;
}

// Alerts Page

.uxgl-alerts {
	.alert {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .alert {
		margin-top: 10px;
	}
}

// Blog Actions Page

body.fixed {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#blogActions {
	.management-bar {
		padding-left: 4px;

		@media screen and (min-width: 768px) {
			padding-left: 0;
		}
	}

	.navbar {
		margin-bottom: 0;
		position: relative;
		z-index: 1;
	}

	.tabular-list-group .list-group-item .list-group-item-content:first-child,
	.tabular-list-group .list-group-item .list-group-item-field:first-child {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.uxgl-fullscreen-fixed {
	background-color: #F5F8FA;
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.uxgl-fullscreen-fixed.row {
	margin-left: 0;
	margin-right: 0;
}

.uxgl-fullscreen-fixed.row > .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

// Blog Appearance Page

#blogAppearance {

}

.blog-appearance-current-theme {
	background-color: #FFF;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	min-height: 400px;
	width: 100%;
}

.blog-appearance-current-theme-heading {
	border-bottom: 1px solid #DDD;
	padding: 15px 0 10px;
	margin-bottom: 15px;

	h4 {
		float: left;
		line-height: 26px;
		margin: 0;
	}

	.help-icon {
		float: right;
	}
}

.blog-appearance-left-column {
	img {
		margin-bottom: 15px;
	}
}

.blog-appearance-right-column {
	h4 {
		margin-top: 31px;
	}
}

// Breadcrumbs Page

.uxgl-breadcrumbs {
	.breadcrumb {
		margin-bottom: 5px;
	}

	.uxgl-toggle-code ~ .breadcrumb {
		margin-top: 10px;
	}
}

// Cards Page

.uxgl-vertical-card {
	.card-header, .card-footer {
		background: #EEE;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.card-section {
		padding-bottom: 20px;
		padding-top: 20px;
	}
}

.uxgl-horizontal-card {
	.card-row {
		height: 100px;

		[class*="card-col"] {
			text-align: center;

			&:nth-child(odd) {
				background-color: #EEE;
			}
		}
	}
}

.uxgl-card-section .card {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}

// Control Menu Page

#controlMenuPage .control-menu {
	position: relative;
}

// Documents and Media Example Page

#documentsAndMediaExample {
	#addNewTagButton {
		margin-top: 20px;
	}

	.card-horizontal {
		.card-col-field {
			text-align: center;
		}

		.icon-folder-close-alt {
			background-color: #F1F5FA;
			font-size: 28px;
			line-height: 60px;
			height: 60px;
			width: 60px;
		}
	}
}

#documentsAndMediaRightSidenav {
	background-color: #F5F8FA;

	.breadcrumb {
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.card,
	.card-horizontal {
		background-color: #FFF;
	}

	> .sidenav-content {
		padding-top: 1px;
	}

	.pagination-bar {
		clear: both;
	}
}

@media screen and (min-width: 768px) {
	#documentsAndMediaSidenav .container-fluid-1280.sidenav-container {
		padding-left: 15px;
	}
}

@media screen and (min-width: 1300px) {
	#documentsAndMediaSidenav.closed .container-fluid-1280.sidenav-container {
		padding-right: 15px;
	}
}

// Dropdowns Page

.uxgl-dropdown-display {
	.dropdown-menu {
		display: block;
		position: relative;
	}

	.dropdown-wide-container {
		float: left;
	}

	.mega-menu .dropdown-menu {
		float: left;
		max-width: 100%;
	}
}

// Figures Page

.uxgl-figures .figure {
	max-width: 300px;
}

/* -------- Media Page -------- */

#mediaPage img {
	width: 64px;
}

// Extending Nameplates Page

.uxgl-extending-nameplates {
	.profile-header {
		float: left;
		margin-bottom: 15px;
	}
}

// Icons (Font Awesome Page)

@media screen and (min-width: 321px) {
	.font-awesome-icons-list li {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 768px) {
	.font-awesome-icons-list li {
		float: left;
		width: 33%;
	}

	.glyphicons-list li {
		float: left;
		width: 50%;
	}
}

// Modals Page

#modalDisplays {
	.modal-dialog {
		margin: 0 0 30px 0;
	}

	.modal-lg {
		max-width: 900px;
		width: 100%;
	}
}

#modalsDemo {
	margin: 0 0 30px 0;

	> .btn {
		margin-bottom: 5px;
	}
}

// Nameplates Page

.uxgl-nameplates-page {
	.col-md-2 {
		text-align: center;

		p {
			font-size: 12px;
		}
	}

	.user-icon {
		margin-left: auto;
		margin-right: auto;
	}
}

// Site Main Nav

#wrapper.open {
	padding-left: 400px;
}

[href="#simpleSidenav"] {
	margin-bottom: 15px;
}

body,
html {
	height: 100%;
}

.main-nav-open {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	overflow-x: hidden;
}

.modal-open .main-nav-open {
	-webkit-overflow-scrolling: auto;
}

$sideNavWidth: 220px;

#mainContent {
	display: block;
	position: relative;
	width: 100%;

	@media screen and (min-width: 768px) {
		padding-left: $sideNavWidth + 10;
	}

	pre {
		margin-bottom: 0;
	}
}

.main-nav-open #mainContent {
	left: $sideNavWidth + 10;

	@media screen and (min-width: 768px) {
		left: auto;
	}
}

#mainNav {
	> .sidenav-menu {
		width: $sideNavWidth;
	}
}

.main-nav-open #mainNav {
	width: $sideNavWidth;

	> .sidenav-menu {
		width: $sideNavWidth;
	}
}

.menu-toggle {
	color: #FFF;
	display: block;
	float: left;
	padding: 10px 15px;
	text-align: left;

	.glyphicon {
		font-size: 22px;
	}
}

.side-navigation {
	padding-top: 35px;
	z-index: 1;

	li {
		> a {
			&:hover, &:focus {
				background-color: transparent;
				text-decoration: underline;
			}
		}

		&.child-active, &.active {
			> a {
				font-weight: bold;
			}
		}
	}

	.nav-stacked li {
		> h4 {
			color: #F3F3F3;
			padding: 10px 15px;
		}

		div > .nav-stacked li > a {
			padding-left: 35px;
		}
	}
}

.side-navigation-dropdown-container {
	&:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	> a {
		float: right;
		text-align: center;
		width: 25%;

		&:first-child {
			float: left;
			text-align: left;
			width: 75%;
		}
	}

	.collapse {
		clear: both;
	}
}

/* Styles for side navigation component page */

#mySidebar {
	background-color: #222328;
	box-shadow: -3px 0px 3px -3px #000 inset;
	color: #F8F8F8;

	ul {
		border-top: 1px solid #000;
		border-bottom: 1px solid #3E3E3E;

		li {
			border-top: 1px solid #3E3E3E;
			border-bottom: 1px solid #000;
			margin-top: 0;

			a {
				background-color: #2C2D32;
				box-shadow: -3px 0px 3px -3px #000 inset;

				&, &:hover, &:focus {
					color: #B3B6BC;
					font-weight: 200;
					text-shadow: 0px 1px 0 #000;
				}
			}
		}
	}
}

#mySidebar h3 {
	margin: 0;
	padding: 15px;
}

#sidenavDemo {
	margin-top: 20px;

	h4 {
		border-bottom: 2px dotted #AEAEAE;
		color: #BA3A37;
		padding-bottom: 8px;
		margin: 20px 0;
	}

	.sidenav-main-content h3 {
		@include background-image(linear-gradient(top, #242B39 50%, #1E2639 100%));

		border-bottom: 1px solid #1E2639;
		color: #F8F8F8;
		margin: 0 -20px;
		padding: 15px;
	}
}

/* Media Queries */

@media screen and (min-width: 768px) {
	#wrapper {
		> .sidenav-container.closed {
			> .sidenav-menu-slider {
				width: $sideNavWidth;
			}

			> .sidenav-content {
				padding-left: $sideNavWidth + 35;
			}
		}
	}

	#headerTopBar .title {
		padding-left: 15px;
	}

	#mainContent {
		left: 0;
		margin-left: 7px;
		width: 100%;
	}

	.main-nav-closed .side-navigation-container {
		width: $sideNavWidth;
	}

	.menu-toggle {
		display: none;
	}
}

// Switches Page

.uxgl-switches {
	@include clearfix;

	.form-group {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: $grid-float-breakpoint) {
	.uxgl-switches .form-group {
		width: 115px;
	}
}

// Toolbars

.uxgl-toggle-code {
	clear: both;
	padding-bottom: 5px;

	.btn {
		border-radius: 2px;
		padding: 0 5px;
	}
}

.uxgl-newline-demo blockquote {
	margin-top: 40px;
}

.uxgl-newline-demo h3:first-child + blockquote {
	margin-top: 0;
}

@media screen and (min-width: 1200px) {
	.uxgl-lg-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.uxgl-md-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.uxgl-sm-newline-demo {
		background-color: #FFFEDC;
	}
}

@media screen and (max-width: 768px) {
	.uxgl-xs-newline-demo {
		background-color: #FFFEDC;
	}
}