$icon-font-path: "../fonts/";

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}

@import "custom/bootstrap_overrides.scss";
@import "custom/bourbon_mixins";

@import "bootstrap";

// convert helpers to mixins?
@import "helpers";

@import "accordions";
@import "chat";
@import "dropdowns";
@import "mail_template";
@import "modals";
@import "navbars";
@import "navs";
@import "panels";
@import "profile";
@import "sliders";
@import "switches";
@import "tables";
@import "timelines";

@import "site";
