$input-border-top-width: 0.0625rem !default;
$input-border-right-width: 0.0625rem !default;
$input-border-bottom-width: 0.0625rem !default;
$input-border-left-width: 0.0625rem !default;
$input-border-width: $input-border-top-width $input-border-right-width $input-border-bottom-width $input-border-left-width !default;

$input-font-size: null !default;
$input-font-size-mobile: null !default;
$input-height-mobile: null !default;
$input-height-inner-mobile: null !default;
$input-padding-x: $input-btn-padding-x !default;
$input-padding-y: $input-btn-padding-y !default;

$input-font-size-lg: $font-size-lg !default;
$input-font-size-lg-mobile: null !default;
$input-height-lg-mobile: null !default;
$input-height-inner-lg-mobile: null !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-padding-y-lg: $input-btn-padding-y-lg !default;

$input-font-size-sm: $font-size-sm !default;
$input-font-size-sm-mobile: null !default;
$input-height-sm-mobile: null !default;
$input-height-inner-sm-mobile: null !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-padding-y-sm: $input-btn-padding-y-sm !default;

$input-disabled-border-color: null !default;
$input-disabled-color: null !default;
$input-disabled-opacity: null !default;
$input-placeholder-disabled-color: null !default;

$input-placeholder-focus-color: null !default;

$input-label-color: null !default;
$input-label-focus-color: null !default;
$input-label-disabled-color: null !default;
$input-label-font-size: null !default;
$input-label-font-size-mobile: null !default;
$input-label-font-weight: null !default;
$input-label-margin-bottom: null !default;

$input-label-reference-mark-color: map-get($theme-colors, warning) !default;
$input-label-reference-mark-font-size: null !default;
$input-label-reference-mark-spacer: null !default;
$input-label-reference-mark-vertical-align: null !default;

$input-readonly-bg: null !default;
$input-readonly-border-color: null !default;
$input-readonly-color: null !default;
$input-readonly-cursor: null !default;

$input-textarea-height: 150px !default;

// Input Variants

$form-feedback-warning-color: map-get($theme-colors, warning) !default;

$input-danger-bg: null !default;
$input-danger-focus-bg: null !default;
$input-danger-border-color: $form-feedback-invalid-color !default;
$input-danger-focus-border-color: null !default;
$input-danger-box-shadow: null !default;
$input-danger-focus-box-shadow: 0 0 0 0.2rem rgba($form-feedback-invalid-color, 0.25) !default;
$input-danger-color: null !default;
$input-danger-focus-color: null !default;

$input-danger-checkbox-label-color: $form-feedback-invalid-color !default;
$input-danger-label-color: null !default;
$input-danger-select-icon-color: $input-danger-border-color !default;
$input-danger-select-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$input-danger-select-icon-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$input-success-bg: null !default;
$input-success-focus-bg: null !default;
$input-success-border-color: $form-feedback-valid-color !default;
$input-success-focus-border-color: null !default;
$input-success-box-shadow: null !default;
$input-success-focus-box-shadow: 0 0 0 0.2rem rgba($form-feedback-valid-color, 0.25) !default;
$input-success-color: null !default;
$input-success-focus-color: null !default;

$input-success-checkbox-label-color: $form-feedback-valid-color !default;
$input-success-label-color: null !default;
$input-success-select-icon-color: $input-success-border-color !default;
$input-success-select-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$input-success-select-icon-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$input-warning-bg: null !default;
$input-warning-focus-bg: null !default;
$input-warning-border-color: $form-feedback-warning-color !default;
$input-warning-focus-border-color: null !default;
$input-warning-box-shadow: null !default;
$input-warning-focus-box-shadow: 0 0 0 0.2rem rgba($form-feedback-warning-color, 0.25) !default;
$input-warning-color: null !default;
$input-warning-focus-color: null !default;

$input-warning-checkbox-label-color: $form-feedback-warning-color !default;
$input-warning-label-color: null !default;
$input-warning-select-icon-color: $input-warning-border-color !default;
$input-warning-select-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$input-warning-select-icon-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Select Element

$input-select-bg: null !default;
$input-select-focus-bg: null !default;

$input-select-bg-position: right $input-btn-padding-x center !default;
$input-select-bg-size: $custom-select-bg-size !default;
$input-select-padding-bottom: null !default;
$input-select-padding-left: null !default;
$input-select-padding-right: $custom-select-indicator-padding + $input-btn-padding-x !default;
$input-select-padding-top: null !default;

$input-select-icon-color: $input-color !default;
$input-select-icon: $custom-select-indicator !default;

$input-select-icon-focus-color: null !default;
$input-select-icon-focus: null !default;

$input-select-icon-disabled-color: null !default;
$input-select-icon-disabled: null !default;

// Form Feedback

$form-feedback-font-size: $font-size-sm !default;
$form-feedback-font-weight: null !default;

$form-text-color: $text-muted !default;
$form-text-font-size: $font-size-sm !default;
$form-text-font-weight: null !default;

$form-feedback-success-indicator-icon-color: $form-feedback-valid-color !default;
$form-feedback-success-indicator-icon: lx-icon(check-circle, $form-feedback-success-indicator-icon-color) !default;

$form-feedback-warning-indicator-icon-color: $form-feedback-warning-color !default;
$form-feedback-warning-indicator-icon: lx-icon(info-circle, $form-feedback-warning-indicator-icon-color) !default;

$form-feedback-danger-indicator-icon-color: $form-feedback-invalid-color !default;
$form-feedback-danger-indicator-icon: lx-icon(exclamation-full, $form-feedback-danger-indicator-icon-color) !default;

// Input Group

$input-group-addon-border-radius: null !default;
$input-group-addon-color: null !default;
$input-group-addon-padding-x: $input-padding-x !default;
$input-group-addon-padding-y: 0 !default;

$input-group-addon-border-radius-lg: null !default;
$input-group-addon-padding-x-lg: $input-padding-x-lg !default;
$input-group-addon-padding-y-lg: 0 !default;

$input-group-addon-border-radius-sm: null !default;
$input-group-addon-padding-x-sm: $input-padding-x-sm !default;
$input-group-addon-padding-y-sm: 0 !default;

$input-group-constrain-max-width: 300px !default;
$input-group-constrain-max-width-mobile: 150px !default;

// Input Group Secondary

$input-group-secondary-addon-bg: map-get($theme-colors, secondary) !default;
$input-group-secondary-addon-border-color: map-get($theme-colors, secondary) !default;
$input-group-secondary-addon-border-width: 0.0625rem !default; // 1px

// Input Group Transparent

$input-group-transparent-addon-bg: transparent !default;
$input-group-transparent-addon-border-color: null !default;
$input-group-transparent-addon-border-width: 0 !default;
$input-group-transparent-addon-color: null !default;

// Input Group Inset

$input-group-inset-item-color: $input-group-transparent-addon-color !default;