$modal-content-border-radius: $border-radius-lg !default;

$modal-header-bg: null !default;
$modal-header-color: null !default;
$modal-header-height: 4rem !default; // 64px
$modal-header-height-mobile: null !default;

$modal-body-bg: null !default;
$modal-body-color: null !default;

$modal-footer-bg: null !default;
$modal-footer-box-shadow: null !default;
$modal-footer-color: null !default;
$modal-footer-height: 4.5rem !default; // 72px
$modal-footer-height-mobile: null !default;

$modal-title-font-size: 1.25rem !default;
$modal-title-font-weight: $font-weight-semi-bold !default;
$modal-title-text-align: null !default;
$modal-title-font-size-mobile: null !default;

$modal-btn-monospaced-size: 2rem !default;
$modal-btn-monospaced-color: #000 !default;
$modal-btn-monospaced-font-size: 1rem !default;
$modal-btn-monospaced-opacity: 0.5 !default;
$modal-btn-monospaced-hover-opacity: 0.75 !default;
$modal-btn-monospaced-spacer-x: 0.3125rem !default; // 5px

// Modal Info

$modal-info-header-bg: theme-color-level(info, -10) !default;
$modal-info-header-border-color: theme-color-level(info, -9) !default;
$modal-info-header-color: theme-color-level(info, 6) !default;
$modal-info-header-close-color: theme-color-level(info, 6) !default;
$modal-info-body-bg: null !default;
$modal-info-body-color: null !default;
$modal-info-footer-bg: theme-color-level(info, -10) !default;
$modal-info-footer-border-color: theme-color-level(info, -9) !default;
$modal-info-footer-color: theme-color-level(info, 6) !default;

// Modal Success

$modal-success: () !default;
$modal-success: map-merge((
	header-bg: theme-color-level(success, -10),
	header-border-color: theme-color-level(success, -9),
	header-color: theme-color-level(success, 6),
	header-title-indicator: lx-icon(check-circle, theme-color-level(success, 6))
), $modal-success);

// Modal Warning

$modal-warning: () !default;
$modal-warning: map-merge((
	header-bg: theme-color-level(warning, -10),
	header-border-color: theme-color-level(warning, -9),
	header-color: theme-color-level(warning, 6),
	header-title-indicator: lx-icon(exclamation-full, theme-color-level(warning, 6))
), $modal-warning);

// Modal Danger

$modal-danger: () !default;
$modal-danger: map-merge((
	header-bg: theme-color-level(danger, -10),
	header-border-color: theme-color-level(danger, -9),
	header-color: theme-color-level(danger, 6),
	header-title-indicator: lx-icon(exclamation-full, theme-color-level(danger, 6))
), $modal-danger);

$modal-palette: () !default;
$modal-palette: map-merge((
	success: $modal-success,
	info: (
		header-bg: $modal-info-header-bg,
		header-border-color: $modal-info-header-border-color,
		header-color: $modal-info-header-color,
		header-close-color: $modal-info-header-close-color,
		header-title-indicator: lx-icon(info-circle, $modal-info-header-close-color),
		body-bg: $modal-info-body-bg,
		body-color: $modal-info-body-color,
		footer-bg: $modal-info-footer-bg,
		footer-border-color: $modal-info-footer-border-color,
		footer-color: $modal-info-footer-color
	),
	warning: $modal-warning,
	danger: $modal-danger
), $modal-palette);