$enable-scaling-navbar: $enable-scaling-components !default;

$navbar-border-radius: null !default;

$navbar-underline-active-bg: $component-active-bg !default;

$navbar-title-font-size: 1.25rem !default;
$navbar-title-font-weight: $font-weight-semi-bold !default;
$navbar-title-margin-bottom: 0 !default;
$navbar-title-text-transform: null !default;

$navbar-text-truncate-spacer-right: 25px !default;
$navbar-text-truncate-max-width: 140px !default;

// Navbar Transparent

$navbar-transparent: () !default;
$navbar-transparent: map-merge((
	bg: $body-bg,
	link-color: $navbar-light-color,
	link-hover-color: $navbar-light-hover-color,
	link-active-color: $navbar-light-active-color,
	link-disabled-color: $navbar-light-disabled-color
), $navbar-transparent);

// Navbar Light

$navbar-light: () !default;
$navbar-light: map-merge((
	bg: $light,
	link-color: $navbar-light-color,
	link-hover-color: $navbar-light-hover-color,
	link-active-color: $navbar-light-active-color,
	link-disabled-color: $navbar-light-disabled-color
), $navbar-light);

// Navbar Secondary

$navbar-secondary: () !default;
$navbar-secondary: map-merge((
	bg: $secondary,
	color: #FFF,
	link-color: rgba(255, 255, 255, 0.65),
	link-hover-color: rgba(255, 255, 255, 0.9),
	link-active-color: rgba(255, 255, 255, 0.9),
	link-disabled-color: rgba(255, 255, 255, 0.25),
	brand-color: rgba(255, 255, 255, 0.9),
	brand-hover-color: rgba(255, 255, 255, 0.9)
), $navbar-secondary);

// Navbar Dark

$navbar-dark: () !default;
$navbar-dark: map-merge((
	bg: $dark,
	color: $navbar-dark-color,
	link-color: $navbar-dark-color,
	link-hover-color: $navbar-dark-hover-color,
	link-active-color: $navbar-dark-active-color,
	link-disabled-color: $navbar-dark-disabled-color
), $navbar-dark);

// Navbar Primary

$navbar-primary: () !default;
$navbar-primary: map-merge((
	bg: lighten(saturate($primary, 3.40), 43.14),
	border-color: $primary,
	link-color: $navbar-light-color,
	link-hover-color: $navbar-light-hover-color,
	link-active-color: $navbar-light-active-color,
	link-disabled-color: $navbar-light-disabled-color
), $navbar-primary);