$form-container-bg: $white !default;
$form-container-border-color: rgba($black, 0.125) !default;
$form-container-border-style: solid !default;
$form-container-border-width: 0.0625rem !default; // 1px

$form-container-border-radius: $border-radius !default;
$form-container-padding-x: 1.5rem !default; // 24px
$form-container-padding-y: 1.5rem !default; // 24px