$reference-mark-font-size: 0.75rem !default;
$reference-mark-vertical-align: super !default;

$section-header-border-color: $secondary !default;
$section-header-border-style: solid !default;
$section-header-border-width: 0 0 1px 0 !default;
$section-header-color: $secondary !default;
$section-header-font-size: 0.75rem !default;
$section-header-font-weight: null !default;
$section-header-line-height: 2.5 !default;
$section-header-margin-bottom: 1.5rem !default;
$section-header-padding: null !default;
$section-header-text-transform: uppercase !default;