// Will need to be revisted if https://github.com/twbs/bootstrap/pull/22926 is merged
$enable-dropdown-caret: false !default;

$dropdown-border-style: null !default;
$dropdown-padding-bottom: null !default;
$dropdown-padding-left: null !default;
$dropdown-padding-right: null !default;
$dropdown-padding-top: null !default;

$dropdown-full-wide-header-spacer-y: 20px !default;

$dropdown-wide-width: 500px !default;

$dropdown-font-size: null !default;
$dropdown-font-size-mobile: null !default;

$dropdown-header-font-size: null !default;
$dropdown-header-font-size-mobile: null !default;

$dropdown-sub-header-color: $dropdown-header-color !default;
$dropdown-sub-header-font-size: 0.75rem !default; // 12px
$dropdown-sub-header-font-weight: 500 !default;
$dropdown-sub-header-text-transform: uppercase !default;

$dropdown-caption-color: $dropdown-header-color !default;
$dropdown-caption-font-size: 0.875rem !default; // 14px
$dropdown-caption-font-weight: null !default;

$dropdown-max-height: 320px !default;
$dropdown-max-height-mobile: 295px !default;
$dropdown-min-height: null !default;

$dropdown-max-width: null !default;
$dropdown-max-width-mobile: null !default;

$inline-scroller-height: 125px !default;