$figure-margin-bottom: 1.25rem !default;

$figcaption-font-weight: 300 !default;
$figcaption-padding-bottom: 10px !default;
$figcaption-padding-left: 15px !default;
$figcaption-padding-right: 15px !default;
$figcaption-padding-top: 10px !default;

$figcaption-padding: $figcaption-padding-top $figcaption-padding-right $figcaption-padding-bottom $figcaption-padding-left !default;

// Skin

$figcaption-bg: #000 !default;
$figcaption-bg-alpha: 0.7 !default;
$figcaption-color: #FFF !default;