$enable-mobile-desktop-sizes: false !default;
$mobile-desktop-breakpoint: md !default;

$brand-secondary: $gray-lightest !default; // #F7F7F9

$state-secondary-bg: $gray-lightest !default; // #F7F7F9
$state-secondary-border-color: darken($state-secondary-bg, 5%) !default; // #E8E8EE
$state-secondary-text: $gray-dark !default; // #292B2C