$enable-mobile-desktop-sizes: true !default;
$mobile-desktop-breakpoint: md !default;

$font-size-h1: null !default;
$font-size-h2: null !default;
$font-size-h3: null !default;
$font-size-h4: null !default;
$font-size-h5: null !default;
$font-size-h6: null !default;

$font-size-h1-desktop: null !default;
$font-size-h2-desktop: null !default;
$font-size-h3-desktop: null !default;
$font-size-h4-desktop: null !default;
$font-size-h5-desktop: null !default;
$font-size-h6-desktop: null !default;

$font-size-base-desktop: $font-size-base !default;
$font-size-lg-desktop: $font-size-lg !default;

$brand-secondary: $gray-lightest !default; // #F7F7F9

$state-secondary-bg: $gray-lightest !default; // #F7F7F9
$state-secondary-border-color: darken($state-secondary-bg, 5%) !default; // #E8E8EE
$state-secondary-text: $gray-dark !default; // #292B2C