$collapse-icon-open: '\f0d7' !default; // Shared
$collapse-icon-closed: '\f0da' !default; // Shared
$collapse-icon-font-family: 'fontawesome-alloy' !default; // Shared

$icon-monospaced-size: 32px !default; // Shared