$tabular-list-group-border-width: $list-group-border-width !default;
$tabular-list-group-item-height: 100px !default;
$tabular-list-group-vertical-alignment: middle !default;

// Skins

$list-group-box-shadow: null !default;

$list-group-link-color: null !default;
$list-group-link-hover-color: null !default;
$list-group-link-active-color: $white !default;