$modal-title-font-size: null !default;
$modal-title-font-weight: null !default;
$modal-title-text-align: null !default;

// Skin

$modal-body-bg: null !default;
$modal-body-color: null !default;

$modal-content-border-radius: $border-radius-lg !default;

$modal-header-bg: null !default;
$modal-header-color: null !default;

$modal-header-close-color: $body-color !default;
$modal-header-close-icon-opacity: 0.2 !default;
$modal-header-close-lexicon-icon-opacity: 0.3 !default;
$modal-header-close-opacity-modifier: 2.66667 !default;

$modal-footer-bg: null !default;
$modal-footer-box-shadow: null !default;
$modal-footer-color: null !default;

// Modal Inverse

$modal-inverse-body-bg: null !default;
$modal-inverse-body-color: $navbar-inverse-color !default;

$modal-inverse-content-bg: $brand-inverse !default;
$modal-inverse-content-border-color: transparent !default;

$modal-inverse-header-bg: null !default;
$modal-inverse-header-border-color: transparent !default;
$modal-inverse-header-color: $navbar-inverse-color !default;

$modal-inverse-header-close-color: $navbar-inverse-color !default;

$modal-inverse-footer-bg: null !default;
$modal-inverse-footer-border-color: $modal-inverse-header-border-color !default;
$modal-inverse-footer-color: $modal-inverse-header-color !default;

$modal-inverse-link-color: $navbar-inverse-color !default;
$modal-inverse-link-hover-color: $navbar-inverse-hover-color !default;

// Modal Danger

$modal-danger-header-bg: $state-danger-bg !default;
$modal-danger-header-border-color: $state-danger-border-color !default;
$modal-danger-header-color: $state-danger-text !default;

$modal-danger-header-close-color: $state-danger-text !default;

$modal-danger-body-bg: null !default;
$modal-danger-body-color: null !default;

$modal-danger-footer-bg: $state-danger-bg !default;
$modal-danger-footer-border-color: $state-danger-border-color !default;
$modal-danger-footer-color: $state-danger-text !default;

// Modal Info

$modal-info-header-bg: $state-info-bg !default;
$modal-info-header-border-color: $state-info-border-color !default;
$modal-info-header-color: $state-info-text !default;

$modal-info-header-close-color: $state-info-text !default;

$modal-info-body-bg: null !default;
$modal-info-body-color: null !default;

$modal-info-footer-bg: $state-info-bg !default;
$modal-info-footer-border-color: $state-info-border-color !default;
$modal-info-footer-color: $state-info-text !default;

// Modal Success

$modal-success-header-bg: $state-success-bg !default;
$modal-success-header-border-color: $state-success-border-color !default;
$modal-success-header-color: $state-success-text !default;

$modal-success-header-close-color: $state-success-text !default;

$modal-success-body-bg: null !default;
$modal-success-body-color: null !default;

$modal-success-footer-bg: $state-success-bg !default;
$modal-success-footer-border-color: $state-success-border-color !default;
$modal-success-footer-color: $state-success-text !default;

// Modal Warning

$modal-warning-header-bg: $state-warning-bg !default;
$modal-warning-header-border-color: $state-warning-border-color !default;
$modal-warning-header-color: $state-warning-text !default;

$modal-warning-header-close-color: $state-warning-text !default;

$modal-warning-body-bg: null !default;
$modal-warning-body-color: null !default;

$modal-warning-footer-bg: $state-warning-bg !default;
$modal-warning-footer-border-color: $state-warning-border-color !default;
$modal-warning-footer-color: $state-warning-text !default;