$modal-title-font-size: null !default;
$modal-title-font-weight: null !default;
$modal-title-text-align: null !default;

// Skin

$modal-body-bg: null !default;
$modal-body-color: null !default;

$modal-content-border-radius: $border-radius-lg !default;

$modal-header-bg: null !default;
$modal-header-color: null !default;

$modal-header-close-color: $body-color !default;
$modal-header-close-icon-opacity: 0.2 !default;
$modal-header-close-lexicon-icon-opacity: 0.3 !default;
$modal-header-close-opacity-modifier: 2.66667 !default;

$modal-footer-bg: null !default;
$modal-footer-box-shadow: null !default;
$modal-footer-color: null !default;

// Modal Inverse

$modal-inverse-body-bg: null !default;
$modal-inverse-body-color: $navbar-inverse-color !default;

$modal-inverse-content-bg: $brand-inverse !default;
$modal-inverse-content-border-color: transparent !default;

$modal-inverse-header-bg: null !default;
$modal-inverse-header-border-color: transparent !default;
$modal-inverse-header-color: $navbar-inverse-color !default;

$modal-inverse-header-close-color: $navbar-inverse-color !default;

$modal-inverse-footer-bg: null !default;
$modal-inverse-footer-border-color: $modal-inverse-header-border-color !default;
$modal-inverse-footer-color: $modal-inverse-header-color !default;

$modal-inverse-link-color: $navbar-inverse-color !default;
$modal-inverse-link-hover-color: $navbar-inverse-hover-color !default;

// Modal Full Screen

$modal-full-screen-header-bg: null !default;
$modal-full-screen-header-border-color: null !default;
$modal-full-screen-header-color: null !default;
$modal-full-screen-header-close-color: null !default;

$modal-full-screen-footer-bg: null !default;
$modal-full-screen-footer-border-color: null !default;
$modal-full-screen-footer-color: null !default;

$modal-full-screen-header-bg-desktop: null !default;
$modal-full-screen-header-border-color-desktop: null !default;
$modal-full-screen-header-color-desktop: null !default;
$modal-full-screen-header-close-color-desktop: null !default;

$modal-full-screen-footer-bg-desktop: null !default
$modal-full-screen-footer-border-color-desktop: null !default;
$modal-full-screen-footer-color-desktop: null !default;