$navbar-height: 3.5rem !default; // 56px
$navbar-height-desktop: $navbar-height !default; // 56px

$navbar-border-radius: null !default;

$navbar-border-bottom-width: 0 !default;
$navbar-border-left-width: 0 !default;
$navbar-border-right-width: 0 !default;
$navbar-border-top-width: 0 !default;
$navbar-border-width: $navbar-border-top-width $navbar-border-right-width $navbar-border-bottom-width $navbar-border-left-width !default;

$navbar-form-padding-horizontal: $navbar-padding-x !default;
$navbar-form-padding-vertical: (($navbar-height - $input-height - $navbar-border-bottom-width - $navbar-border-top-width) / 2) !default;

$zindex-basic-search-close: $zindex-input-group-focus + 1 !default; // 5

// Used for computing $navbar-link-padding-y and $navbar-link-padding-y-desktop
$navbar-link-content-height: $font-size-base * $line-height-base !default;
$navbar-link-content-height-desktop: $font-size-base-desktop * $line-height-base !default;

$navbar-link-padding-x: 0.5rem !default;
$navbar-link-padding-y: ($navbar-height - ($navbar-padding-y * 2) - $navbar-link-content-height - $navbar-border-bottom-width - $navbar-border-top-width) / 2 !default;
$navbar-link-padding-x-desktop: $navbar-link-padding-x !default;
$navbar-link-padding-y-desktop: ($navbar-height-desktop - ($navbar-padding-y * 2) - $navbar-link-content-height-desktop - $navbar-border-bottom-width - $navbar-border-top-width) / 2 !default;

$navbar-active-highlight: transparent !default;
$navbar-active-border-bottom-width: 0.125rem !default; // 2px

$navbar-brand-font-size-desktop: $font-size-lg-desktop !default;
$navbar-brand-padding-x: null !default;
$navbar-brand-padding-x-desktop: null !default;
$navbar-brand-padding-y-desktop: ($navbar-height-desktop - ($navbar-padding-y * 2) - ($navbar-brand-font-size-desktop * $line-height-base) - $navbar-border-bottom-width - $navbar-border-top-width) / 2 !default;

$navbar-toggler-height: null !default;
$navbar-toggler-margin-x: null !default;
$navbar-toggler-margin-y: null !default;

$navbar-toggler-page-name-font-size: $font-size-base !default;
$navbar-toggler-page-name-height: ($navbar-height - ($navbar-padding-y * 2) - $navbar-border-bottom-width - $navbar-border-top-width) !default;
$navbar-toggler-page-name-margin-x: null !default;
$navbar-toggler-page-name-margin-y: null !default;
$navbar-toggler-page-name-padding-x: 0 !default;
$navbar-toggler-page-name-padding-y: null !default;

// Skin

$navbar-light-bg: #F7F7F7 !default;
$navbar-light-border-color: transparent !default;

$navbar-light-active-bg: null !default;
$navbar-light-hover-bg: null !default;
$navbar-light-disabled-bg: null !default;

$navbar-light-active-highlight: transparent !default;

$navbar-light-brand-bg: null !default;
$navbar-light-brand-hover-bg: null !default;
$navbar-light-brand-color: null !default;
$navbar-light-brand-hover-color: null !default;

// Navbar Inverse

$navbar-inverse-bg: $gray-dark !default;
$navbar-inverse-border-color: transparent !default;

$navbar-inverse-active-bg: null !default;
$navbar-inverse-hover-bg: null !default;
$navbar-inverse-disabled-bg: null !default;

$navbar-inverse-active-highlight: transparent !default;

$navbar-inverse-brand-bg: null !default;
$navbar-inverse-brand-hover-bg: null !default;
$navbar-inverse-brand-color: null !default;
$navbar-inverse-brand-hover-color: null !default;

$navbar-default-collapsible-search-btn-default-bg: null !default;
$navbar-default-collapsible-search-btn-default-border: null !default;
$navbar-default-collapsible-search-btn-default-color: null !default;

$navbar-default-collapsible-search-input-bg: null !default;
$navbar-default-collapsible-search-input-border: null !default;
$navbar-default-collapsible-search-input-color: null !default;
$navbar-default-collapsible-search-input-placeholder-color: null !default;

$navbar-inverse-collapsible-search-btn-default-bg: null !default;
$navbar-inverse-collapsible-search-btn-default-border: null !default;
$navbar-inverse-collapsible-search-btn-default-color: null !default;

$navbar-inverse-collapsible-search-input-bg: null !default;
$navbar-inverse-collapsible-search-input-border: null !default;
$navbar-inverse-collapsible-search-input-color: null !default;
$navbar-inverse-collapsible-search-input-placeholder-color: null !default;