$panel-heading-icon-font-family: 'fontawesome-alloy' !default; // Shared
$panel-heading-icon-open: '\f107' !default; // Shared
$panel-heading-icon-closed: '\f105' !default; // Shared
$panel-heading-icon-font-size: $list-group-header-icon-font-size !default; // Shared