$toolbar-group-height: 34px !default;

// Deprecated `$toolbar-group-padding-horizontal` as of v1.0.11 and will be removed in v2.0.0
$toolbar-group-padding-horizontal: floor(($grid-gutter-width-base / 2)) !default;

$header-toolbar-height: 50px !default;
$header-toolbar-margin-bottom: 20px !default;

// Deprecated `$header-toolbar-padding-horizontal` as of v1.0.11 and will be removed in v2.0.0
$header-toolbar-padding-horizontal: floor(($grid-gutter-width-base / 2)) !default;

$header-toolbar-default-border-width: 1px !default;

// Skin

$header-toolbar-border-radius: $border-radius !default;

$header-toolbar-default-bg: darken($body-bg, 3%) !default;
$header-toolbar-default-border: darken($header-toolbar-default-bg, 6.5%) !default;
$header-toolbar-default-color: $navbar-light-color !default;

$header-toolbar-default-link-color: $navbar-light-color !default;
$header-toolbar-default-link-hover-bg: darken($header-toolbar-default-bg, 10%) !default;
$header-toolbar-default-link-hover-color: $navbar-light-hover-color !default;