$badge-height: 18px !default; // Shared
$badge-monospaced-size: 32px !default; // Shared

$badge-sm-height: 12px !default; // Shared
$badge-sm-monospaced-size: 22px !default; // Shared

$badge-lg-height: 28px !default; // Shared
$badge-lg-monospaced-size: 44px !default; // Shared