$borderless-portlet-bar-bg: $navbar-default-bg !default;
$borderless-portlet-bar-border: $navbar-default-border !default;
$borderless-portlet-bar-color: $navbar-default-color !default;
$borderless-portlet-bar-link-color: $navbar-default-link-color !default;
$borderless-portlet-bar-link-hover-color: $navbar-default-link-hover-color !default;