$enable-mobile-desktop-sizes: true !default;
$mobile-desktop-breakpoint: md !default;

$container-fluid-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1280px
) !default;

$rounded-border-radius: $border-radius !default;
$rounded-circle-border-radius: 5000px !default;
$rounded-0-border-radius: 0 !default;

$h1-font-size-desktop: null !default;
$h2-font-size-desktop: null !default;
$h3-font-size-desktop: null !default;
$h4-font-size-desktop: null !default;
$h5-font-size-desktop: null !default;
$h6-font-size-desktop: null !default;

$font-size-base-desktop: $font-size-base !default;
$font-size-lg-desktop: $font-size-lg !default;

$brand-secondary: $gray-lightest !default; // #F7F7F9

$state-secondary-bg: $gray-lightest !default; // #F7F7F9
$state-secondary-border-color: darken($state-secondary-bg, 5%) !default; // #E8E8EE
$state-secondary-text: $gray-dark !default; // #292B2C