$collapse-icon-padding-left: null !default;
$collapse-icon-padding-right: 2.28125rem !default; // 45px

$collapse-icon-position-bottom: null !default;
$collapse-icon-position-left: null !default;
$collapse-icon-position-right: 0.9375rem !default; // 15px
$collapse-icon-position-top: 0.75rem !default; // 12px

$help-icon-secondary-bg: $input-group-addon-bg !default;
$help-icon-secondary-color: lx-color-by-lightness($body-color, $help-icon-secondary-bg) !default;
$help-icon-secondary-color-hover: lx-color-by-lightness($body-color, $help-icon-secondary-bg, "secondary") !default;

$icon-monospaced-size: 2rem !default; // 32px

$lexicon-icon-size: 1em !default; // 16px

$lexicon-icon-lg-size: 8rem !default; // 128px
$lexicon-icon-md-size: 2rem !default; // 32px
$lexicon-icon-sm-size: 0.4375rem !default; // 7px