$nav-link-color: null !default;
$nav-link-hover-color: null !default;
$nav-link-active-color: $gray-700 !default;
$nav-link-monospaced-size: $icon-monospaced-size !default;

$nav-nested-margins-spacer-x: $navbar-padding-x !default;
$nav-nested-spacer-x: $navbar-padding-x !default;

$nav-tabs-default-line-height: null !default;
$nav-tabs-default-line-height-mobile: null !default;
$nav-tabs-default-padding-x: null !default;
$nav-tabs-default-padding-x-mobile: null !default;
$nav-tabs-default-padding-y: null !default;
$nav-tabs-default-padding-y-mobile: null !default;