$nav-link-color: null !default;
$nav-link-hover-color: null !default;
$nav-link-active-color: $gray-700 !default;

$nav-link-monospaced-size: $icon-monospaced-size !default;

$nav-nested-margins-spacer-x: $nav-link-padding-x !default;
$nav-nested-spacer-x: $nav-link-padding-x !default;