$pagination-item-padding-bottom: $pagination-padding-y !default;
$pagination-item-padding-left: $pagination-padding-x !default;
$pagination-item-padding-right: $pagination-padding-x !default;
$pagination-item-padding-top: $pagination-padding-y !default;

$pagination-item-padding: $pagination-item-padding-top $pagination-item-padding-right $pagination-item-padding-bottom $pagination-item-padding-left !default;

$pagination-sm-font-size: $font-size-sm !default;
$pagination-sm-line-height: $line-height-sm !default;

$pagination-sm-item-padding-bottom: $pagination-padding-y-sm !default;
$pagination-sm-item-padding-left: $pagination-padding-x-sm !default;
$pagination-sm-item-padding-right: $pagination-padding-x-sm !default;
$pagination-sm-item-padding-top: $pagination-padding-y-sm !default;

$pagination-sm-item-padding: $pagination-sm-item-padding-top $pagination-sm-item-padding-right $pagination-sm-item-padding-bottom $pagination-sm-item-padding-left !default;

$pagination-lg-font-size: $font-size-lg !default;
$pagination-lg-line-height: $line-height-lg !default;

$pagination-lg-item-padding-bottom: $pagination-padding-y-lg !default;
$pagination-lg-item-padding-left: $pagination-padding-x-lg !default;
$pagination-lg-item-padding-right: $pagination-padding-x-lg !default;
$pagination-lg-item-padding-top: $pagination-padding-y-lg !default;

$pagination-lg-item-padding: $pagination-lg-item-padding-top $pagination-lg-item-padding-right $pagination-lg-item-padding-bottom $pagination-lg-item-padding-left !default;

// Skin

$pagination-disabled-opacity: null !default;

$pagination-link-border-radius: null !default;
$pagination-link-border-radius-lg: null !default;
$pagination-link-border-radius-sm: null !default;

$pagination-items-per-page-bg: null !default;
$pagination-items-per-page-border: transparent !default;
$pagination-items-per-page-color: null !default;

$pagination-results-color: null !default;