/**
* Lexicon 0.1.25
*
* Copyright 2015, Liferay, Inc.
* All rights reserved.
* MIT license
*/
// Structure

$nav-pills-border-radius:                         5px !default;

// Skin

$nav-pills-active-link-hover-bg:                  $brand-default !default;
$nav-pills-active-link-hover-color:               #FFF !default;