/**
* Lexicon 0.1.25
*
* Copyright 2015, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$panel-blank-heading-link-color: $text-color !default;
$panel-blank-heading-link-open-color: $brand-primary !default;

$panel-border-bottom-width: 0 !default;
$panel-border-left-width: 0 !default;
$panel-border-right-width: 0 !default;
$panel-border-top-width: 0 !default;
$panel-border-width: 0 !default; // Atlas
$panel-box-shadow: $list-group-box-shadow !default; // Atlas

$panel-border-radius: 0 !default;
$panel-footer-bg: #F5F8FA !default;

$panel-default-border: $brand-primary !default;
$panel-default-heading-bg: #F5F8FA !default;

$panel-primary-border: darken($brand-primary, 25%) !default;