/**
* Lexicon 0.1.25
*
* Copyright 2015, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$multi-step-progress-bar-divider-height: 2px !default;
$multi-step-progress-bar-color: #CAD3DB !default;
$multi-step-progress-bar-complete-color: $brand-default !default;