/**
* Lexicon 1.0.29
*
* Copyright 2018, Liferay, Inc.
* All rights reserved.
* MIT license
*/
$timeline-border: $inverse-color !default;
$timeline-icon-border: #DDD !default;
$timeline-increment-label-color: $brand-default !default;