.content {
	max-width: 869px;
	padding-top: 38px;
}

.main {
	margin-left: 280px;
	padding-left: 64px;
}

@media (max-width: 520px) {
	.main {
		margin-left: inherit;
		padding: 0 20px;
		padding-left: inherit;
	}
}
